{% extends 'account/user_sidebar.html' %}
{% load static %}
{% load hosts %}
{% load business_tags %}
{% block bookingactive %}active{% endblock  %}
{% block information %}
<section class="py-5">
      <div class="container">
        <h1 class="hero-heading mb-4">Your upcoming bookings</h1>
        {% for future in futureBookings %}
            <div class="col-sm-12 mb-5 hover-animate">
              <div class="card h-100 border-0 shadow">
                {% with company=future.company %}
                <div class="card-body">
                  {% comment %} <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                    <div class="badge badge-transparent badge-pill px-3 py-2">{{ company.category.name }}</div>
                  </div> {% endcomment %}
                  <h2 class="text-shadow">{{ future.service }}</h4>
                  <h4 class="text-shadow">{{ company }}</h4>
                  <p class="text-sm text-muted mb-3"> Appointment Time: {{ future.start }}</p>
                </div>
                <div class="card-body text-center">
                    <a class="btn rounded-pill btn-warning" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Book Again</a>
                    {% if company.id|incancellationperiod:future.id %}
                      <a class="btn btn-danger cancelAppt" data-id="{{ future.id }}">Cancel Appointment</a>
                    {% endif %}
                </div>
                {% endwith %}
              </div>
            </div>
        {% empty %}
            <p class="text-muted mb-5">You have no upcoming appointments.</p>
        {% endfor %}
        {% include 'account/pagination/pagination.html' with page=futureBookings %}

        {% if pastBookings %}
            <h2 class="mb-5" id="pbookings">Your past bookings</h2>
            {% for past in pastBookings %}
                <div class="row">
            
                    <div class="col-sm-12 mb-5 hover-animate">
                    <div class="card h-100 border-0 shadow">
                        {% with company=past.company %}
                        <div class="card-body">
                        <h2 class="text-shadow">{{ past.service }}</h4>
                        <h4 class="text-shadow">{{ past.company }}</h4>
                        <p class="text-sm text-muted mb-3"> Appointment Time: {{ past.start }}</p>
                        </div>
                        <div class="card-body text-center">
                            {% if company.id|inonemonth:past.id %}
                              <a class="btn btn-outline-primary writereview" data-id="{{ company.id }}">Write a review</a>
                            {% endif %}
                            <a class="btn rounded-pill btn-warning" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Book Again</a>
                        </div>
                        {% endwith %}
                    </div>
                    </div>

                </div>
            {% empty %}
            
            {% endfor %}

        {% include 'account/pagination/pastpagination.html' with page=pastBookings %}
        {% endif %}
        
      </div>

    </section>
    <script>
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
              return cookieValue;
          }

        $('.cancelAppt').on('click', function(e){
          var booking_id = $(this).data("id")
          Swal.fire({
            customClass:{
              confirmButton: 'btn btn-info',
              denyButton: 'btn btn-link licolorblue',
              cancelButton: 'btn btn-danger',
            },
            confirmButtonText: 'Yes, cancel this appointment',
            cancelButtonText: `No, keep me booked in`,
            buttonsStyling: false,
            showDenyButton: false,
            showCancelButton: true,
            allowOutsideClick: false,
            title:'Are you sure you want to cancel this appointment?',
            icon: 'warning',
          }).then((result) => {
            if (result.isConfirmed){
              var csrftoken = getCookie('csrftoken');
              $.ajax({
                type:'POST',
                url: '{% host_url 'business:cancelAppointment' host 'www' %}',
                async: false,
                headers:{
                  "X-CSRFToken": csrftoken
                },
                data:{
                  booking_id: booking_id
                },
                success: function(data){
                  Swal.fire({
                    customClass:{
                      confirmButton: 'btn btn-info'
                    },
                    buttonsStyling: false,
                    title: 'We have cancelled your appointment.',
                    icon:'success'
                  }).then((result) => {
                    window.location.href='{% host_url 'account:booking_consumer' host 'www' %}'
                  });
                },
                error: function(e){
                  Swal.fire({
                    customClass:{
                      confirmButton: 'btn btn-info'
                    },
                    buttonsStyling: false,
                    title: 'There was an error.',
                    icon:'error'
                  });
                }
              });
            }
            else {
              Swal.fire({
                customClass:{
                  confirmButton: 'btn btn-info'
                },
                buttonsStyling: false,
                title: 'We have not cancelled your appointment.',
                icon:'error'
              });
            }
            
          })
        });
        $('.writereview').on('click', function(e){
          var company_id = $(this).data("id")
          $.ajax({
            url: '{% host_url 'business:get_company' host 'www' %}',
            data:{company_id: company_id},
            success: function(e){
              Swal.fire({
                title:'Write a review on this ' + e.companyname,
                customClass:{
                  confirmButton: 'btn btn-info'
                },
                html: `<p>Submit your review</p>
                      <div class="m-0">
                        <label class="licolorblue pb-0 mb-0">Enter a rating between 1 and 5:</label>
                        <input type="number" style="width:75px;" id="starReview" class="swal2-input pt-0" placeholder="Number of stars">
                      </div>
                      <div class="m-0">
                        <label class="licolorblue pb-0 mb-0">Tell us about your experience at `+ e.companyname +`.</label>
                        <textarea type="text" style="height:150px;" id="wordReview" class="swal2-input" placeholder="Enter your review"></textarea>
                      </div>
                        `,
                buttonsStyling: false,
                preConfirm: () => {
                  const starReview = Swal.getPopup().querySelector('#starReview').value
                  const wordReview = Swal.getPopup().querySelector('#wordReview').value
                  var res = false
                  csrftoken = getCookie('csrftoken');
                  if (starReview < 1 || starReview>5){
                    Swal.showValidationMessage(`The rating should be between 1 and 5`)
                  }
                  else if (!starReview || !wordReview) {
                    Swal.showValidationMessage(`Please enter the review`)
                  }
                  $.ajax({
                    type:'POST',
                    url: '{% host_url 'business:add_review' host 'www' %}',
                    async: false,
                    headers:{
                      "X-CSRFToken": csrftoken
                    },
                    data:{
                      company_id: company_id,
                      starReview: starReview,
                      wordReview: wordReview
                    },
                    success: function(data){
                      if(data.savedReview){
                        return true
                      }
                      else{
                        Swal.showValidationMessage(`Incorrect email or password`)
                        return false
                      }
                    }
                  });
                }
              }).then((result) => {
                if (result.isConfirmed){
                  Swal.fire({
                    title:`Review Submitted`,
                    icon:'success',
                    customClass:{
                      confirmButton: 'btn btn-info'
                    },
                    buttonsStyling: false,
                  }).then((result) => {
                    window.location.href='{% host_url 'account:booking_consumer' host 'www' %}'
                  });
                }
              });
            }
          });
          
        });
    </script>
{% endblock %}