{% extends 'account/user_sidebar.html' %}
{% load static %}
{% load hosts %}
{% block bookingactive %}active{% endblock  %}
{% block information %}
<section class="py-5">
      <div class="container">
        <h1 class="hero-heading mb-4">Your upcoming bookings</h1>
        {% for future in futureBookings %}
            <div class="col-sm-12 mb-5 hover-animate">
              <div class="card h-100 border-0 shadow">
                {% with company=future.company %}
                <div class="card-body">
                  {% comment %} <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                    <div class="badge badge-transparent badge-pill px-3 py-2">{{ company.category.name }}</div>
                  </div> {% endcomment %}
                  <h2 class="text-shadow">{{ future.service }}</h4>
                  <h4 class="text-shadow">{{ company }}</h4>
                  <p class="text-sm text-muted mb-3"> Appointment Time: {{ future.start }}</p>
                </div>
                <div class="card-body text-center">
                    <a class="btn rounded-pill btn-warning" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Book Again</a>
                    <a class="btn btn-danger">Cancel Appointment</a>
                </div>
                {% endwith %}
              </div>
            </div>
        {% empty %}
            <p class="text-muted mb-5">You have no upcoming appointments.</p>
        {% endfor %}
        {% include 'account/pagination/pagination.html' with page=futureBookings %}
        <p class="mb-6"> <img class="img-fluid" src="img/illustration/undraw_trip_dv9f.svg" alt="" style="width: 400px;"></p>

        {% if pastBookings %}
            <h2 class="mb-5" id="pbookings">Your past bookings</h2>
            {% for past in pastBookings %}
                <div class="row">
            
                    <div class="col-sm-12 mb-5 hover-animate">
                    <div class="card h-100 border-0 shadow">
                        {% with company=past.company %}
                        <div class="card-body">
                        <h2 class="text-shadow">{{ past.service }}</h4>
                        <h4 class="text-shadow">{{ past.company }}</h4>
                        <p class="text-sm text-muted mb-3"> Appointment Time: {{ past.start }}</p>
                        </div>
                        <div class="card-body text-center">
                            <a class="btn btn-outline-primary">Write a review</a>
                            <a class="btn rounded-pill btn-warning" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Book Again</a>
                        </div>
                        {% endwith %}
                    </div>
                    </div>

                </div>
            {% empty %}
            
            {% endfor %}

        {% include 'account/pagination/pastpagination.html' with page=pastBookings %}
        {% endif %}
        
      </div>
    </section>
{% endblock %}