{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}

<form method="POST" action="{% host_url 'service_delete' service.id host 'bizadmin' %}" class="js-product-delete-form">
        {% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Remove</h4>
        </div>
        <div class="modal-body">
            <p class="delete-text">Are you sure you want to delete the <strong>{{ service.name }}</strong> service?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Remove Service</button>
        </div>
      </form>