{% load static %}
{% load hosts %}
{% for service in services %}
    <tr>
        <td class="text-center" scope="row">{{ forloop.counter }}</td>
        <td class="text-center">{{ service.name }}</td>
        <td class="text-center">{{ service.price }}</td>
        <td class="text-center">
            <!-- Update Service buttons -->
            <button type="button" class="js-update-product btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'service_update' service.id host 'bizadmin' %}">
                <span class="fa fa-pencil-alt"></span>
            </button>
            <!-- Delete Service buttons -->
            <button type="button" class="js-delete-product btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete" data-url="{% host_url 'service_delete' service.id host 'bizadmin' %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>
{% empty %}
    <td colspan="8" class="text-center">You do not have any services available</td>
{% endfor %}
