{% extends 'welcome/main.html' %}
{% block 'index_signup' %}active{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load hosts %}
{% block businesscontent %}
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-7">
        <!-- Basic registration form-->
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header justify-content-center licolor"><h3 class="font-weight-bold my-4">Create Gibele Business Account</h3></div>
                <div class="card-body">
                    <!-- Registration form-->
                    <form method='post'>
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ user_form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ user_form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ user_form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                <!-- Form Group (last name)-->
                                <div class="form-group">
                                    {{ user_form.phone|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {{ user_form.password1|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ user_form.password2|as_crispy_field }}
                            </div>
                        </div>
                        <!-- Form Group (create account submit)-->
                        <div class="form-group mt-4 mb-0"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a class="licolor" href="{% host_url 'bizadminlogin' host 'bizadmin' %}">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}