Django==3.1
Pillow==7.0.0
djangorestframework
celery==4.4.2
django-crispy-forms==1.9.2
django-widget-tweaks==1.4.8
django-bootstrap-modal-forms
django_taggit==1.2.0
psycopg2-binary==2.8.4
django-hosts==4.0.0
python-slugify