{% extends 'productadmin/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load hosts %}
{% block linescript %}
{% endblock linescript %}
{% block bpageact %}active{%endblock%}
{% block java %}

<script>
$(document).ready(function() {
    $("#inputmain").fileinput({
        ajaxSettings:{
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        },
        uploadUrl: "{% host_url 'imageuploads' host 'bizadmin' %}",
        maxFileCount: 1,
        maxFileSize: 5000,
        browseIcon: '',
        browseLabel: 'Upload new image',
        'showCaption': false,
        'showPreview': false,
        'showRemove': false,
        uploadClass: "btn btn-info",
        uploadLabel: "Confirm Upload",
        uploadExtraData:{'csrfmiddlewaretoken': '{{ csrf_token }}'},
        allowedFileTypes: ['image'],
    }).on('filebatchuploadcomplete', function(event, data) {
        location.reload();
    });
});
</script>
{% endblock java %}
{% block businessadmin %}
                    
                    <!-- Main page content-->
                    <div class="content">
                        <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                        <header class="page-header page-header-compact page-header-light mb-2">
                            <div class="container-fluid">
                                <div class="page-header-content">
                                    <div class="row align-items-center justify-content-between pt-3">
                                        <div class="col-auto">
                                            <h1 class="page-header-title">
                                                Company Details
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <!-- Account page navigation-->
                        <nav class="nav nav-borders">
                            <a class="nav-link activate ml-0" href="{% host_url 'information' host 'bizadmin'%}">Company Info</a>
                            <a class="nav-link" href="{% host_url 'photos' host 'prodadmin'%}">Photo and Gallery</a>
                            <a class="nav-link " href="{% host_url 'amenities' host 'prodadmin'%}">Amenities and Tags</a>
                            <a class="nav-link" href="{% host_url 'bpagecustomization' host 'prodadmin'%}">Customization</a>
                        </nav>
                        <hr class="mt-0 mb-4" />
                        <div class="row">
                            <div class="col-xl-4">
                                <!-- Profile picture card-->
                                <div class="card">
                                    <div class="card-header"><h4>Main Company Header Photo</h4></div>
                                    <div class="card-body text-center">
                                        <!-- Profile picture image-->
                                        <img class="img-account-profile mb-2" width="300px" src="{% if company.image %}{{ company.image.url }}{% else %}{% static 'img/Headshot-Placeholder.png' %}{% endif %}" alt="{{ company.business_name }} Main Image" />
                                        <!-- Profile picture help block-->
                                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                        <!-- Profile picture upload button -->
                                        <form action="{% host_url 'imageuploads' host 'bizadmin' %}" method="POST" enctype="multipart/form-data" id="formUpload">
                                        {% csrf_token %}
                                            <input type="hidden" name="x" id="id_x"><input type="hidden" name="y" id="id_y"><input type="hidden" name="width" id="id_width"><input type="hidden" name="height" id="id_height">
                                            <input type="file" id="inputimage" name="imageFile" accept="image/*" hidden >
                                            <div class="file-loading">
                                                <input id="inputmain" class="btn btn-primary" name="imageFile" type="file">
                                            </div> 
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <!-- Account details card-->
                                <div class="card mb-4">
                                    <div class="card-header"><h4>Account Details</h4></div>
                                    <div class="card-body">
                                        <form id="updatedform">
                                            {% csrf_token %}
                                            <select name="updatecompany-category" class=" form-control" hidden title="Category" id="id_updatecompany-category"><option class="bs-title-option" value=""></option>
                                            <option value="1">Automotive Services</option>

                                            <option value="7">Home Services</option>

                                            <option value="6" selected="">Other</option>

                                            <option value="3">Personal Care</option>

                                            

                                            </select>
                                            <select name="updatecompany-subcategory" hidden class="form-control selectmultiple" multiple="" data-size="5" data-dropdown-align-right="true" title="Subcategories" required="" id="id_updatecompany-subcategory" tabindex="null">
                                                <option value="15" selected="">Vehicle Maintanence</option>

                                                <option value="14">Exterior and Interior Detailing</option>

                                                <option value="16">Collision Repair</option>

                                                <option value="17">Wrapping Services</option>

                                                <option value="18">Mobile Vehicle Services</option>

                                            </select>
                                            <!-- Form Row-->
                                            <div class="form-row">
                                                <!-- Form Group (first name)-->
                                                <div class="form-group col-md-12">
                                                    <label class="small mb-1" for="businessName">Business Name</label>
                                                    {{ updateform.business_name|as_crispy_field }}
                                                    <div class="invalid_name m-0 p-0" style="display:none; color:red!important;"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <!-- Form Group (first name)-->
                                                <div class="form-group col-md-12">
                                                    <label class="small mb-1" for="businessName">About Section</label>
                                                    {{ updateform.description|as_crispy_field }}
                                                </div>
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="inputEmailAddress">Business Contact Email</label>
                                                    {{ updateform.email|as_crispy_field }}
                                                    <div class="invalid_email m-0 p-0" style="display:none; color:red!important;"></div>
                                                </div>
                                                <!-- Form Group (phone number)-->
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="inputPhone">Business Phone Number</label>
                                                    {{ updateform.phone|as_crispy_field }}
                                                    <div class="invalid_phone m-0 p-0" style="display:none; color:red!important;"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="">Business Address</label>
                                                    {{ updateform.address|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="">Postal Code</label>
                                                    {{ updateform.postal|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="">City</label>
                                                    {{ updateform.city|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="">Province</label>
                                                    {{ updateform.state|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="">Personalized Booking Link</label>
                                                    <div class="input-group justify-content-center mb-3" id="id_subdomain">
                                                        <input type="text" class="form-control" id="subdomain" name="subdomain" placeholder="Enter a Subdomain, must only contain letters, numbers and hyphens. No spaces are allowed." aria-label="Users's subdomain" aria-describedby="basic-addon2" value="{{ company.slug }}">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">.shopme.to</span>
                                                        </div>
                                                    </div>
                                                    <div class="invalid_subdomain m-0 p-0" style="display:inline; color:red!important;"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="">Facebook Link</label>
                                                    {{ updateform.fb_link|as_crispy_field }}
                                                    <div class="invalid_fb m-0 p-0" style="display:none; color:red!important;"></div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="">Twitter Link</label>
                                                    {{ updateform.twitter_link|as_crispy_field }}
                                                    <div class="invalid_twitter m-0 p-0" style="display:none; color:red!important;"></div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="">Instagram Link</label>
                                                    {{ updateform.instagram_link|as_crispy_field }}
                                                    <div class="invalid_instagram m-0 p-0" style="display:none; color:red!important;"></div>
                                                </div>
                                            </div>
                                            <div class="form-row text-center">
                                                <label class="small mb-1" style="display:none;" id='error'></label>
                                                <button class="btn btn-info justify-content-center" type="button" id="saveform">Save changes</button>
                                            </div>
                                            <!-- Save changes button-->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script>

                        

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    }

    function openDialog() {
        document.getElementById('inputimage').click();
    }
    
    const businessname = document.querySelector("#id_updatecompany-business_name");
    const businessemail = document.querySelector("#id_updatecompany-email");
    const businessphone = document.querySelector("#id_updatecompany-phone");
    const feedBackName = document.querySelector('.invalid_name');
    const feedBackEmail = document.querySelector('.invalid_email');
    const submitBtn = document.querySelector('#saveform');
    const error = document.querySelector('#error');
    

    const feedBackreasubdomain = document.querySelector(".invalid_subdomain")
    const subdomainField = document.querySelector("#id_subdomain");

    subdomainField.addEventListener('keyup', (e) =>{
        const subdomainVal = e.target.value;
        subdomainField.classList.remove("has-danger");
        subdomainField.classList.add("has-success");
        feedBackreasubdomain.style.display="none";
        var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: "{% host_url 'subdomain' host 'prodadmin' %}",
                data: JSON.stringify({subdomain: subdomainVal}),
                type: "POST",
                dataType: 'json',
                headers:{
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    if (data.email_error) {
                        subdomainField.classList.remove("has-success");
                        subdomainField.classList.add("has-danger");
                        feedBackreasubdomain.style.display="block";
                        feedBackreasubdomain.innerHTML=`<p style="color:red!">${data.email_error}</p>`
                    }
                    else {
                        subdomainField.classList.remove("has-danger");
                        feedBackreasubdomain.style.display="none";
                    }

                },
            });
        
    });

    category = document.querySelector('#id_updatecompany-category')
    subcategory = document.querySelector('#id_updatecompany-subcategory')
    
    submitBtn.addEventListener('click', (e)=>{
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            data: $('#updatedform').serialize(),
            type: "post",
            url: "{% host_url 'saveDetailForm' host 'prodadmin' %}",
            headers:{
                    "X-CSRFToken": csrftoken
                },
            success: function(data){
                if(data.errors){
                    Swal.fire({
                        title:'There was an error in your form. We were unable to save the changes.',
                        icon: 'error',
                        customClass:{
                            confirmButton: 'btn btn-info',
                            cancelButton: 'btn btn-danger',
                       },
                       buttonsStyling: false,
                    });
                }
                if(data.good){
                    $.notify({
                        // options
                        message: 'Your information has been saved'
                    },{
                        // settings
                        type: 'success'
                    });
                }

            }
        });
        return false;
    });

    </script>
{% endblock %}