{% load hosts %}
{% for s in services %}
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="card-header">{{ s.name }}</div>
                                                            <div class="card-body d-lg-flex justify-content-between text-center">
                                                                <div>
                                                                    <p class="subtitle text-left">${{s.price}}</p>
                                                                    <p class="text-muted text-left">{{ s.description }}</p>
                                                                </div>
        
                                                                <div>
                                                                    <button class="btn btn-danger btn-sm trashcan" data-url="{% host_url 'deleteservice' s.id host 'bizadmin' %}"><i class="fas fa-trash"></i></button>
                                                                    <button class="btn btn-primary btn-sm updatebtn" data-url="{% host_url 'updateservice' s.id host 'bizadmin' %}"><i class="fas fa-pencil-alt"></i></button>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <div class="card">
                                                    <div class="card-header">No Services Added</div>
                                                </div>
                                            {% endfor %}

