
{% load crispy_forms_tags %}
<form method="post" class="justify-content-center" id="loginBookMeform" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="authver justify-content-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3>Login with BookMe</h3>
            </div>
            <div class="row cont">
                <div class="col-md-6">
                    {{ account_form.email|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ account_form.password|as_crispy_field }}
                </div>
                <p id="invalidtxt" style="color:red;"></p>
            </div>
            <div class="col-md-12" id="subbtndiv">
                <button id="loginwithbookme" type="submit" data-staff="{{ staff.id }}" data-service="{{ service.id }}" data-month="{{ month }}" data-day="{{ day }}" data-year="{{ year }}" data-time="{{ time }}" data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="g-recaptcha btn btn-outline-primary subbtn">Login and Book Appointment</button>
            </div>
        </div>
        <div class="col-md-12" id="pphone">
            <a data-staff="{{ staff.id }}" data-service="{{ service.id }}" data-month="{{ month }}" data-day="{{ day }}" data-year="{{ year }}" data-time="{{ time }}" class="btn btn-pill btn-warning mb-1 confbtn">Book as a guest</a>
        </div>
    </div>
</form>