
{% load crispy_forms_tags %}
<form method="post" class="justify-content-center pt-1" id="loginBookMeform" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="justify-content-between align-baseline pl-4 row mb-6">
        <div class="row align-middle">
            <h4> Login and Book</h4>
        </div>
        <button class="text-muted clickme btn btn-sm btn-link" data-toggle="modal" data-target="#notesModal">{% if company.shownotes %}Policy{% endif %}</button>
    </div>
    <ul class="progressbar text-left">
        <li class="completedprog" style="left: 0px;"></li>
        <li class="completedprog" style="left: 25%;"></li>
        <li class="completedprog" style="left: 50%;"></li>
        <li class="completedprog" style="left: 75%;"></li>
        <li style="left: 100%;"></li>
        <span style="width: 75%;"></span>
    </ul>
    <div class="status-info information">
        <h6>{{ service.name }}</h6>
        <p>with {% if staff.user %}{{ staff.user.first_name }}{% else %}{{ staff.first_name }}{% endif %}</p>
    </div>
    <div class="row mb-3 mx-auto">
        <div class="col-5 ml-auto mr-1 d-flex align-items-center mb-3 mb-md-0 bg-light rounded text-white">
            <div class="date-tile mr-3">
                <div class="text-uppercase"> <span class="text-sm" id="sm-mon">{{ date|date:'M' }}</span><br><strong class="text-lg" id="numdate">{{ date|date:'j' }}</strong></div>
            </div>
            <p class="text-sm mb-0" id="serDate">{{ date|date:'l' }}<br> {{ time }} </p>
        </div>
        <div class="col-5 mr-auto ml-1 d-flex align-items-left mb-3 mb-md-0 bg-light rounded text-white">
            <p class="text-sm mb-0 text-left" id="serDate"> {% if service.duration_hour > 0 %}{{ service.duration_hour }} hour{% endif %} {% if service.duration_minute > 0 and service.duration_hour > 0 %}and{% endif %} {{ service.duration_minute}} minute service.</p>
        </div>
    </div>
    <div class="authver justify-content-center container-fluid">
        <div class="row">
            <div class="col-12 cont">
                <div class="col-md-6 mx-auto">
                    {{ account_form.email|as_crispy_field }}
                </div>
                <div class="col-md-6 mx-auto">
                    {{ account_form.password|as_crispy_field }}
                </div>
                <p id="invalidtxt" style="color:red;"></p>
            </div>
            <div class="col-md-12" id="subbtndiv">
                <button id="loginwithbookme" type="submit" data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="g-recaptcha btn btn-outline-primary subbtn">Login and Book</button>
            </div>
        </div>
        <div class="col-md-12" id="pphone">
            <a class="btn btn-pill btn-warning mb-1 guestbtn">Book as a guest</a>
        </div>
    </div>
</form>