{% load crispy_forms_tags %}
<form method="post" class="justify-content-center pt-1" id="guestform" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="justify-content-between align-baseline pl-4 row mb-6">
        <div class="row align-middle">
            <h4> Book as a guest</h4>
        </div>
        <button class="text-muted btn btn-sm btn-link" data-toggle="modal" data-target="#notesModal">{% if company.shownotes %}Policy{% endif %}</button>
    </div>
    <ul class="progressbar text-left">
        <li class="completedprog" style="left: 0px;"></li>
        <li class="completedprog" style="left: 25%;"></li>
        <li class="completedprog" style="left: 50%;"></li>
        <li class="completedprog" style="left: 75%;"></li>
        <li style="left: 100%;"></li>
        <span style="width: 75%;"></span>
    </ul>
    <div class="status-info information">
        <h6>{{ service.name }}</h6>
        <p>with {% if staff.user %}{{ staff.user.first_name }}{% else %}{{ staff.first_name }}{% endif %}</p>
        {% comment %} <p><a href="">Restart booking</a></p> {% endcomment %}
        {% if collectpayment %}
            <p><strong>Due Now:</strong> ${{ thepayment|floatformat:2 }}</p>
            <p><strong>Due at the time of appointment:</strong> ${{ paymentduelater|floatformat:2 }}</p>
        {% endif %}
    </div>
    <div class="row mb-3 mx-auto">
        <div class="col-5 ml-auto mr-1 d-flex align-items-center mb-3 mb-md-0 bg-light rounded text-white">
            <div class="date-tile mr-3">
                <div class="text-uppercase"> <span class="text-sm" id="sm-mon">{{ date|date:'M' }}</span><br><strong class="text-lg" id="numdate">{{ date|date:'j' }}</strong></div>
            </div>
            <p class="text-sm mb-0" id="serDate">{{ date|date:'l' }}<br> {{ time }} </p>
        </div>
        <div class="col-5 mr-auto ml-1 d-flex align-items-left mb-3 mb-md-0 bg-light rounded text-white">
            <p class="text-sm mb-0 text-left" id="serDate"> {% if service.duration_hour > 0 %}{{ service.duration_hour }} hour{% endif %} {% if service.duration_minute > 0 and service.duration_hour > 0 %}and{% endif %} {{ service.duration_minute}} minute service.</p>
        </div>
    </div>
    <div class="authver justify-content-center container-fluid">
        <div class="row justify-content-center">
            <div class="row cont">
                <div class="col-md-6 py-0" id="fname">
                    {{ personal_form.first_name|as_crispy_field }}
                </div>
                <div class="col-md-6 py-0" id="lname">
                    {{ personal_form.last_name|as_crispy_field }}
                </div>
                <div class="col-md-6 py-0" id="pemail">
                    {{ personal_form.email|as_crispy_field }}
                    <div class="invalid_feedback m-0 p-0" style="display:none"></div>
                </div>
                <div class="col-md-6 py-0">
                    <label for="">Phone Number</label>
                    <div class="row p-0">
                        <div class="col-3 p-0 my-2">{{ personal_form.phone_code|as_crispy_field }}</div>
                        <div class="col-9 p-0">{{ personal_form.phone|as_crispy_field }}</div>
                    </div>
                </div>
            </div>
            {% if collectpayment %}
                <div class="col-12">
                    <div class="text-block my-2">
                        <h4>Payment Info</h4>
                    </div>
                    <div id="card-element">
                    <!-- Elements will create input elements here -->
                    </div>
                    
                    
                    <!-- We'll put the error messages in this element -->
                    <div id="card-element-errors" role="alert"></div>
                    <button data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="btn btn-outline-primary px-3 my-3" id="collectpayfirst" type="submit">
                    <div class="spinner-border sr-only" id="spinner" role="status">
                        <span class="sr-only">Loading...</span>
                        
                    </div>
                    <span id="button-text">Pay and Secure Spot</span>
                    </button>
                </div>
                    
            {% else %}
            <div class="col-md-12" id="subbtndiv">
                <button id="submitform" type="submit" data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="g-recaptcha btn btn-outline-primary subbtn">Book as a guest</button>
            </div>
            {% endif %}

            {% comment %} <div class="col-md-12" id="pphone">
                <a id="loginGibeleForm" class="btn btn-pill btn-warning mb-1">Log into BookMe</a>
            </div> {% endcomment %}
        </div>
    </div>
</form>