
{% load crispy_forms_tags %}
<form method="post" class="justify-content-center" id="guestform" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="authver justify-content-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3>Submit Your Info</h3>
            </div>
            <div class="row cont">
                <div class="col-md-6 py-0" id="fname">
                    {{ personal_form.first_name|as_crispy_field }}
                </div>
                <div class="col-md-6 py-0" id="lname">
                    {{ personal_form.last_name|as_crispy_field }}
                </div>
                <div class="col-md-6 py-0" id="pemail">
                    {{ personal_form.email|as_crispy_field }}
                    <div class="invalid_feedback m-0 p-0" style="display:none"></div>
                </div>
                <div class="col-md-6 py-0">
                    <label for="">Phone Number</label>
                    <div class="row p-0">
                        <div class="col-3 p-0 my-2">{{ personal_form.phone_code|as_crispy_field }}</div>
                        <div class="col-9 p-0">{{ personal_form.phone|as_crispy_field }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="subbtndiv">
                <button id="submitform" type="submit" data-staff="{{ staff.id }}" data-service="{{ service.id }}" data-month="{{ month }}" data-day="{{ day }}" data-year="{{ year }}" data-time="{{ time }}" data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="g-recaptcha btn btn-outline-primary subbtn">Book as a guest</button>
            </div>
        </div>
        <div class="col-md-12" id="pphone">
            <a id="loginGibeleForm" data-staff="{{ staff.id }}" data-service="{{ service.id }}" data-month="{{ month }}" data-day="{{ day }}" data-year="{{ year }}" data-time="{{ time }}" class="btn btn-pill btn-warning mb-1">Log into BookMe</a>
        </div>
    </div>
</form>