{% extends 'registration/base_password.html' %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block emailcontent %}
    <h3 style="color:black">Change your password</h3>
    <p style="color:black">Enter your e-mail address to obtain a new password.</p>
    <form method="POST" action="{% host_url 'password_reset' host 'bizadmin' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <p><input type="submit" class="btn btn-outline-primary" style="border-radius: 10px;
    background: #854fee !important;
    border: 3px solid transparent;
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6 ease;
    border-color: #854fee;
    text-decoration: none;" value="Send e-mail"></p>
    </form>
{% endblock %}