{% extends 'welcome/main.html' %}
{% load static %}
{% load hosts %}
{% block 'index_faq' %}active{% endblock %}
{% block businesscontent %}
<div class="container text-center">
    <h1>F.A.Q.</h1>
    <p></p>
    <hr>
</div>
<section class="py-6">
      <div class="container">
        <div class="py-4">
          <h2 class="mb-5 licolor">Client First Booking Approach</h2>
          <div class="row">
            <div class="col-md-6">
              <h5>How does Gibele work?</h5>
              <p class="text-muted mb-4">Gibele offers a straightforward web application which allows you to view your booking schedule, add or cancel appointments for any service and offers a platform which your clients can use to stay connected with you.</p>
              <h5>What is a Booking Page URL?</h5>
              <p class="text-muted mb-4">The Booking Page URL refers to the url which Gibele offers to your business which can be put in your Instagram bio's, embedded in your business websites and/or shared to your clients. This URL will take your clients to your booking page where they can view all of the services that you have to offer and schedule an appointment based on the availability of your schedule.</p>
              <p class="text-muted mb-4">This allows your clients to view your availability and schedule themselves in for appointments without having to contact you directly.</p>
              </div>
            <div class="col-md-6">
              <h5>What is a Business Page?</h5>
              <p class="text-muted mb-4">Your business page will be listed on the Gibele marketplace where potential customers can read reviews and look at the services that your business has to offer. You can customize this business page by adding a banner image, up to 10 images to the gallary section of your business and list amenities to showcase to the world what your business has to offer!</p>
              <h5>How do we stay connected with clients?</h5>
              <p class="text-muted mb-4">We offer an online marketplace where potential customers can browse and view all of the services you have to offer from your Booking Page. Depending on the subscription your business has with Gibele, we send out email notifications and text message reminders to your clients to ensure they are ready for their booked appointment.</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="py-4">
          <h2 class="mb-5 licolororange">Payment</h2>
          <div class="row">
            <div class="col-md-6">
              <h5>Stripe</h5>
              <p class="text-muted mb-4">All payments will be handled with Stripe.</p>
              <h5>Payment methods accepted</h5>
              <p class="text-muted mb-4">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.</p>
            </div>
            <div class="col-md-6">
              <h5>Gibele Service Fees</h5>
              <p class="text-muted mb-4">For businesses under the 'BASIC TIER and PREMIUM TIER' plan, there is no Gibele service fee charged to your customers or to the business.</p>
              <p class="text-muted mb-4">For businesses under the 'MID TIER' plan, a service fee will only be charged when Gibele has to process a deposit for a service or process a cancellation fee. The service fee in this case will only be 1% of the processed deposit or cancellation fee. Businesses have the option to forward this cost to their clients.</p>
              <p class="text-muted mb-4">For businesses under all plans, Stripe fees are still included.</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="py-4">
          <h2 class="mb-5 licolorpink">Advertisement</h2>
          <div class="row">
            <div class="col-md-6">
              <h5>Why are there ads on my booking and business page?</h5>
              <p class="text-muted mb-4">Ads are put on booking pages for businesses subscribed under the 'BASIC TIER' subscription plan. For businesses that are subscribed under our 'MID TIER' plan, ads will be placed on your business page. Ads allow Gibele to offer a free booking software for clients.</p>
              <h5>How can I get more views on my business and booking pages</h5>
              <p class="text-muted mb-4">There are plenty of ways to market your pages. One way is to encourage your clients to book appointments using the Gibele web application by sharing your business pages to as many social media platforms. Contact our marketing department and we can work with you to help make your business known. Your success is also our success.</p>
            </div>
            <div class="col-md-6">
              <h5>Why should I remove ads?</h5>
              <p class="text-muted mb-4">Removing ads from your booking and business pages gives your clients a premium user experience. Providing your clients with a premium user experience shows them how much you value their experience and in return can boost your sales!</p>
              <h5>How can I remove ads from my booking and business page?</h5>
              <p class="text-muted mb-4">Removing ads from your booking page can be done by subscribing to Gibele's 'MID TIER' plan.</p>
              <p class="text-muted mb-4">Subscribing to Gibele's 'PREMIUM TIER' plan removes ads from both your booking and business page.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock businesscontent %}