{% extends 'welcome/main.html' %}
{% load static %}
{% load hosts %}
{% block 'index_faq' %}active{% endblock %}


{% block custompath %}
    {% comment %} <path class="cls-1" d="M0,160L48,186.7C96,213,192,267,288,288C384,309,480,299,576,250.7C672,203,768,117,864,106.7C960,96,1056,160,1152,154.7C1248,149,1344,75,1392,37.3L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path> {% endcomment %}
     <g>
  <title>background</title>
  <rect fill="none" id="canvas_background" height="602" width="802" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#linear-gradient)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>backgroundl</title>
  <rect stroke="#000" id="svg_1" height="100" width="2000" y="-13.54687" x="-35.75" stroke-width="1.5" fill="url(#linear-gradient)"/>
  <ellipse stroke="#000" ry="100" rx="1000" id="svg_2" cy="85" cx="650" stroke-opacity="null" stroke-width="0" fill="url(#linear-gradient)"/>
 </g>
{% endblock %}


{% block header %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-container">
                        <h1>Frequently Asked Questions</h1>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
{% endblock header %}

{% block businesscontent %}
<section class="mb-5 z-4 list-item-title" style="z-index: 99999994!important;">
      <div class="container" style="z-index: 99999994!important;">
        <h1 class="mb-5 z-4 list-item-title" style="z-index: 4!important;">Knowledge base coming soon! Contact <a style="color:#854fee;" href="mailto:suppot@bookme.to"><strong>support@bookme.to</strong></a> for any questions or concerns.</h1>
        {% comment %} <div class="py-4">
          <h2 class="mb-5 z-4 list-item-title" style="z-index: 4!important;">Client First Booking Approach</h2>
          <div class="row">
            <div class="col-md-6">
              <h5 class="list-item-title">How does BookMe work?</h5>
              <p class="text-muted mb-4">BookMe offers a straightforward web application which allows you to view your booking schedule, add or cancel appointments for any service and offers a platform which your clients can use to stay connected with you.</p>
              <h5 class="list-item-title">What is a Booking Page URL?</h5>
              <p class="text-muted mb-4">The Booking Page URL refers to the url which BookMe offers to your business which can be put in your Instagram bio's, embedded in your business websites and/or shared to your clients. This URL will take your clients to your booking page where they can view all of the services that you have to offer and schedule an appointment based on the availability of your schedule.</p>
              <p class="text-muted mb-4">This allows your clients to view your availability and schedule themselves in for appointments without having to contact you directly.</p>
              </div>
            <div class="col-md-6">
              <h5 class="list-item-title">What is a Business Page?</h5>
              <p class="text-muted mb-4">Your business page will be listed on the BookMe marketplace where potential customers can read reviews and look at the services that your business has to offer. You can customize this business page by adding a banner image, up to 10 images to the gallary section of your business and list amenities to showcase to the world what your business has to offer!</p>
              <h5 class="list-item-title">How do we stay connected with clients?</h5>
              <p class="text-muted mb-4">We offer an online marketplace where potential customers can browse and view all of the services you have to offer from your Booking Page. Depending on the subscription your business has with BookMe, we send out email notifications and text message reminders to your clients to ensure they are ready for their booked appointment.</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="py-4">
          <h2 class="mb-5 list-item-title">Payment Processing</h2>
          <div class="row">
            <div class="col-md-6">
              <h5 class="list-item-title">Stripe</h5>
              <p class="text-muted mb-4">All payments will be handled with Stripe.</p> {% endcomment %}
              {% comment %} <h5 class="list-item-title">Payment methods accepted</h5>
              <p class="text-muted mb-4">Credit Ca.</p> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="col-md-6">
              <h5 class="list-item-title">BookMe Service Fees</h5>
              <p class="text-muted mb-4">For businesses under the 'BASIC TIER and PREMIUM TIER' plan, there is no BookMe service fee charged to your customers or to the business.</p>
              <p class="text-muted mb-4">For businesses under the 'MID TIER' plan, a service fee will only be charged when BookMe has to process a deposit for a service or process a cancellation fee. The service fee in this case will only be 1% of the processed deposit or cancellation fee. Businesses have the option to forward this cost to their clients.</p>
              <p class="text-muted mb-4">For businesses under all plans, Stripe fees are still included.</p>
            </div> {% endcomment %}
          {% comment %} </div>
        </div>
        <hr> {% endcomment %}
        {% comment %} <div class="py-4">
          <h2 class="mb-5 list-item-title">Advertisement</h2>
          <div class="row">
            <div class="col-md-6">
              <h5 class="list-item-title">Why are there ads on my booking and business page?</h5>
              <p class="text-muted mb-4">There are no ads placed on your booking pages.</p>
              <h5 class="list-item-title">How can I get more views on my business and booking pages</h5>
              <p class="text-muted mb-4">There are plenty of ways to market your pages. One way is to encourage your clients to book appointments using the BookMe web application by sharing your business pages to as many social media platforms. Contact our marketing department and we can work with you to help make your business known. Your success is also our success.</p>
            </div>
            <div class="col-md-6">
              <h5 class="list-item-title">Why should I remove ads?</h5>
              <p class="text-muted mb-4">Removing ads from your booking and business pages gives your clients a premium user experience. Providing your clients with a premium user experience shows them how much you value their experience and in return can boost your sales!</p>
              <h5 class="list-item-title">How can I remove ads from my booking and business page?</h5>
              <p class="text-muted mb-4">Removing ads from your booking page can be done by subscribing to BookMe's 'MID TIER' plan.</p>
              <p class="text-muted mb-4">Subscribing to BookMe's 'PREMIUM TIER' plan removes ads from both your booking and business page.</p>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </section>
{% endblock businesscontent %}