{% load static %}
{% load hosts %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Stephen Donald">
    <meta name="type" content="website">
    <meta name="site_name" content="BookMe">
    <meta name="theme-color" content="#854fee">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon/logo/favicon15.png'%}"/>
    <link rel="apple-touch-icon" href="{% static '/img/favicon/logo/bookme-appiconios.png'%}">
    <meta name="robots" content="index, follow">
    <meta name="description" content="You focus on the services, BookMe will focus on the managing your schedules. BookMe is an online scheduling tool which enables businesses in any category to allow their clients to book appointments. Let BookMe help you maintain a good relationship with your customers while you are busy servicing your clients.">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/businesslanding.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/morphext.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <script src='https://www.google.com/recaptcha/api.js?render=6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="{% static "css/magnific-popup.css"%}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-188806615-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-188806615-1');
    </script>
    <title>BookMe Biz</title>
  </head>
  <body>
    <nav>
    <div id="menuToggle">
        <input id="isAgeSelected" type="checkbox" />

        <!-- Hamburger Icon -->
            <span></span>
            <span></span>
            <span></span>

        {% comment %} <button class="navbar-toggler order-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarBusinessWelcome" aria-controls="navbarBusinessWelcome" aria-expanded="true" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button> {% endcomment %}

            <ul id="menu">
                <li class="nav-item {% block 'index_features' %}{% endblock %}">
                    <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminmain' host 'bizadmin' %}">Features</a>
                </li>
                <li class="nav-item {% block 'index_pricing' %}{% endblock %}">
                    <a class="nav-link d-md-inline-block" href="{% host_url 'pricingBusiness' host 'bizadmin' %}">Pricing</a>
                </li>
                <li class="nav-item {% block 'index_faq' %}{% endblock %}">
                    <a class="nav-link d-md-inline-block" href="{% host_url 'faqbusiness' host 'bizadmin' %}">FAQ</a>
                </li>
            {% if user.is_business %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="{% host_url 'completeprofile' host 'bizadmin' %}">Go to your business page</a>
                    </li>
                    <li class="nav-item pt-1">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminlogout' host 'bizadmin' %}">Log Out</a>
                    </li>
            {% elif user.is_consumer %}
                    <li class="nav-item pb-1">
                        <a class="btn btn-outline-light btn-sm" href="{% host_url 'newbizcreate' host 'bizadmin' %}">Create a business page</a>
                    </li>
                    <li class="nav-item pt-1">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminlogout' host 'bizadmin' %}">Log Out</a>
                    </li>
            {% else %}

                    <li class="nav-item {% block 'index_login' %}{% endblock %}">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminlogin' host 'bizadmin' %}">Log In</a>
                    </li>
                    <li class="nav-item {% block 'index_signup' %}{% endblock %}">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminsignup' host 'bizadmin' %}">Sign Up</a>
                    </li>
            {% endif %}

                </ul>
    </div>
    </nav>
        <!-- Header -->
        <header id="header" class="header mb-6" width="100%">
            {% comment %} <svg class="header-bg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1720.053 1080"><defs><style>.cls-1{fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="190.62" y1="-190.62" x2="1472.363" y2="1091.123" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#41abc7"/><stop offset="0.156" stop-color="#4fb8d2"/><stop offset="0.415" stop-color="#65dff1"/><stop offset="0.742" stop-color="#5ffbf1"/><stop offset="1" stop-color="#6dd5ed"/></linearGradient></defs><title>header-background</title><path class="cls-1" d="M1455.1,1080L72.853,1000.374A73.067,73.067,0,0,1,0,927.521V0H1720.053l-2.3,12.065-189.8,995.082C1520,1050.667,1495.165,1080,1455.1,1080Z"/></svg> {% endcomment %}
            <svg class="header-bg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1300 300"><defs><style>.cls-1{fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="190.62" y1="-190.62" x2="1472.363" y2="110" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff4587"/><stop offset="0.156" stop-color="#ff4e86"/><stop offset="0.415" stop-color="#ff6785"/><stop offset="0.742" stop-color="#fe9082"/><stop offset="1" stop-color="#feb580"/></linearGradient></defs><title>Background</title>
            {% comment %} <path class="cls-1" fill="#0099ff" fill-opacity="1" d="M0,288L48,261.3C96,235,192,181,288,170.7C384,160,480,192,576,186.7C672,181,768,139,864,128C960,117,1056,139,1152,128C1248,117,1344,75,1392,53.3L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path> {% endcomment %}
            {% block custompath %}
            {% endblock %}
            </svg>
            <!-- Image Logo -->
            <div class="logo-image d-inline">
                <a href="{% host_url 'bizadminmain' host 'bizadmin' %}">
                    <img src="{% static "img/favicon/logo/BookMe-whitebrown.svg" %}">
                </a>
            </div>
            {% block buttontxt %}
            {% endblock  %}
            {% block header %}
            {% endblock header %}
        </header>

            <script type="text/javascript" src="https://kit.fontawesome.com/a07c5b9658.js" crossorigin="anonymous"></script>
            {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> {% endcomment %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
            <script src="{% static 'js/vendor/morphext.min.js' %}"></script>
            <script src="{% static 'js/landingpage.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
            
            <script>
            $(document).ready(function() {
                $(document).on('click', '.nav-link a', function (e) {
                    console.log('hello')
                    $(this).parent().addClass('active').siblings().removeClass('active');
                });
            });
            </script>
            <script>
                $('.ls-modal').on('click', function(e){
                    e.preventDefault();
                    $('#myModal').modal('show').find('.modal-body').load($(this).attr('href'));
                });
            </script>

            {% block businesscontent %}
            {% endblock %}
            {% comment %} <button id="BookMePlugin" data-url="{% host_url 'bookingurls' host 'bookingurl' slug='hh5l' %}" data-color="fcdae5"></button>
                <script src="{% static "js/addwebsite.js" %}"></script> {% endcomment %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>About BookMe</h6>
                        <p class="p-small">'You focus on the services, BookMe will focus on managing your schedules.'</p><p class="p-small"> BookMe is an online scheduling tool which enables businesses in any category to allow their clients to book appointments. BookMe was built to help you grow your client base.</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>The Company</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li>Legal: <a href="{% host_url 'business:terms' host 'www'%}">Terms & Conditions</a>, <a href="{% host_url 'business:privacy' host 'www'%}">Privacy Policy</a></li>
                            {% comment %} <li>Useful: <a href="#">Colorpicker</a>, <a href="#">Icon Library</a>, <a href="#">Illustrations</a></li> {% endcomment %}
                            <li>Product: <a href="{% host_url 'bizadminmain' host 'bizadmin'%}">For Businesses</a>{% comment %} , <a href="{% host_url 'business:homepage' host 'www'%}">For Consumers</a>{% endcomment %}</li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/getbookmeto/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/bookme.to/?hl=en" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">We would love to hear from you <a href="mailto:support@bookme.to"><strong>support@bookme.to</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  

    <div class="copyright bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">©2021 Gibele Inc, All rights reserved.</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
  </body>
</html>