{% load static %}
{% load hosts %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Stephen Donald">
    <meta name="type" content="SaaS Website">
    <meta name="site_name" content="Gibele">
    <meta name="theme-color" content="#854fee">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon/logo/gibele57.png'%}"/>
    <link rel="apple-touch-icon" href="{% static 'img/favicon/logo/gibele57.png'%}">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Book appointments online with Gibele. Search for bookable services offered by our partners across many different industries such as Automotive, Healthcare, Mobile Services, Home Services, Personal Care, and other Professional Services">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/bases.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <title>Business - Booking with Gibele</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% host_url 'bizadminmain' host 'bizadmin' %}">
            <img class="mt-2" width="150px"  src="{% static "img/favicon/logo/GibeleLogo.svg" %}">
        </a>

        <button class="navbar-toggler order-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarBusinessWelcome" aria-controls="navbarBusinessWelcome" aria-expanded="true" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarBusinessWelcome">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block 'index_features' %}{% endblock %}">
                    <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminmain' host 'bizadmin' %}">Features</a>
                </li>
                <li class="nav-item {% block 'index_pricing' %}{% endblock %}">
                    <a class="nav-link d-md-inline-block" href="{% host_url 'pricingBusiness' host 'bizadmin' %}">Pricing</a>
                </li>
                <li class="nav-item {% block 'index_faq' %}{% endblock %}">
                    <a class="nav-link d-md-inline-block" href="{% host_url 'faqbusiness' host 'bizadmin' %}">FAQ</a>
                </li>
            </ul>
            {% if user.is_business %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-sm" href="{% host_url 'completeprofile' host 'bizadmin' %}">Go to your business page</a>
                    </li>
                    <li class="nav-item pt-1">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminlogout' host 'bizadmin' %}">Log Out</a>
                    </li>
                </ul>
            {% elif user.is_consumer %}
                <ul class="navbar-nav ml-auto my-auto">
                    <li class="nav-item pb-1">
                        <a class="btn btn-outline-light btn-sm" href="{% host_url 'newbizcreate' host 'bizadmin' %}">Create a business page</a>
                    </li>
                    <li class="nav-item pt-1">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminlogout' host 'bizadmin' %}">Log Out</a>
                    </li>
                </ul>
            {% else %}

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% block 'index_login' %}{% endblock %}">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminlogin' host 'bizadmin' %}">Log In</a>
                    </li>
                    <li class="nav-item {% block 'index_signup' %}{% endblock %}">
                        <a class="nav-link d-md-inline-block" href="{% host_url 'bizadminsignup' host 'bizadmin' %}">Sign Up</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    </nav>
    <div class="alert alert-success alert-dismissible fade show text-center {{ none }}" role="alert">
         You have successfully logged out!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
        <p>ATTENTION!</p>
        <p>Gibele is currently in Beta v1.0! This means that only the free tier version is available.</p>
        <p>Businesses that have signed up during our current Beta release will be eligible to try future paid versions of the web application at reduced pricing forever.</p>
        <p>The subscription plans highlighted in the pricing section are subject to change. Prior to the official release, Gibele will send out an email detailing any changes to prices and services offered.</p> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr>
            <script type="text/javascript" src="https://kit.fontawesome.com/a07c5b9658.js" crossorigin="anonymous"></script>
            {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> {% endcomment %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
            <script>
            $(document).ready(function() {
                $(document).on('click', '.nav-link a', function (e) {
                    console.log('hello')
                    $(this).parent().addClass('active').siblings().removeClass('active');
                });
            });
            </script>
            {% block businesscontent %}
            {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
  <footer class="bg-dark">
    <div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <hr class="light">
            <h5 class="logo">Gibele</h5>
            <hr class="light">
            <li>©2020 Gibele Inc, All rights reserved.</li>
            <br>
            <li><a class="licolor" href="{% host_url 'business:privacy' host 'www'%}">Privacy Policy</a></li>
            <br>
            <li><a class="licolor" href="{% host_url 'business:terms' host 'www'%}">Terms of Service</a></li>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5 class="logo">The Company</h5>
            <hr class="light">
    
                <a class="licolor" href="{% host_url 'bizadminmain' host 'bizadmin'%}">Gibele for Business</a>
                <br>
                <br>
                <a class="licolor" href="{% host_url 'business:homepage' host 'www'%}">Gibele for Consumers</a>
                <br>
                <br>
                <a class="licolor" href="mailto:support@gibele.com">Contact Us</a>
            
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5 class="logo">Contact Information</h5>
            <hr class="light">
                <li>Toronto, Ontario</li>
                <br>
                <li>M1C4W7</li>
                <br>
                <a class="licolor" href="mailto:support@gibele.com">support@gibele.com</a>
        </div>
        
    </div>
    </div>
    </footer>
</html>