{% extends 'welcome/main.html' %}
{% block 'index_pricing' %}active{% endblock %}
{% load static %}
{% load hosts %}

{% block custompath %}
<path class="cls-1" d="M0,160L48,186.7C96,213,192,267,288,288C384,309,480,299,576,250.7C672,203,768,117,864,106.7C960,96,1056,160,1152,154.7C1248,149,1344,75,1392,37.3L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
{% endblock %}
{% block header %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-container">
                        <h1>Subscription Plans</h1>
                        <div class="text-left">
                          <p>Change or cancel your plan at anytime. No hidden fees or surprises.</p>
                        </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
{% endblock header %}
{% block businesscontent %}

<section class="py-2">
      <div class="container-fluid">
        <div class="row justify-content-center">
          
        <div class="ex-cards-4">
          <div class="col mb-3 text-center">
            <!-- pricing card-->
            <div class="card mb-5 b-0 shadow">
              <div class="card-topcol bg-beige"></div>
              <div class="price"><p class="text-muted text-center"><span class="value text-sm" style="font-size: 12px">FREE</p></div>
              <div class="card-body">
                <h2 class="text-pt subtitle text-center py-3">Basic Tier</h2>
                <p class="text-center">Maximum 4 Staff Member</p>
                <hr>
                <ul class="fa-ul my-4">
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span> <p class="text-left"> Individual Staff Member</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span> <p class="text-left"> Unlimited Bookings</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left"> Notify clients with automated email reminders</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left"> Google Calendar and Outlook Integration</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left"> Seemlessly integrate on your website</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left"> Your own web page for clients to book appointments with you</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left"> Listed on the BookMe Marketplace</li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-times"></i></span> <p class="text-left"> Text message reminders for customers</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-times"></i></span><p class="text-left"> Remove BookMe branding from your booking page</p></li>
                </ul>
                <div class="text-center"><a class="btn btn-info" href="{% host_url 'bizadminsignup' host 'bizadmin' %}">Select</a></div>
              </div>
            </div>
            <!-- /pricing card -->
            <!-- pricing card-->
            <div class="card mb-5 b-0 card-highlight shadow-lg">
              <div class="card-topcol bg-purple"></div>
              <div class="price"><p class="text-muted text-center"><span class="value text-sm" style="font-size: 12px">$5/staff</p></div>
              <div class="card-body">
                <h2 class="text-pt subtitle text-center py-3">Mid Tier</h2>
                <p class="text-center">Maximum 8 staff members</p>
                <hr>
                <ul class="fa-ul my-4">
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left">Includes everything in basic tier</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left">Up to 5 company staff members</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left">Unlimited Text message reminders for customers</p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span><p class="text-left">Take security deposits and enforce cancellation fees using Stripe. <p>See FAQ for more information.</p></p></li>
                  <li class="mb-3"><span class="fa-li"><i class="fas fa-times"></i></span><p class="text-left">Remove BookMe branding from your booking page</p></li>
                </ul>
                <div class="text-center"><a class="btn btn-primary" href="{% host_url 'bizadminsignup' host 'bizadmin' %}">Select</a></div>
              </div>
            </div>
            <!-- /pricing card -->
            <!-- pricing card-->
            <div class="card mb-5 b-0 shadow">
              <div class="card-topcol bg-pink"></div>
              <div class="price"><p class="text-center"><span class="value text-sm" style="font-size: 12px">$40/month</p></div>
              <div class="card-body">
                <h2 class="text-pt subtitle text-center licolorpink py-3">Premium Tier</h2>
                <p class="text-center">Unlimited staff members</p>
                <hr>
                <ul class="fa-ul my-4">
                  <li class="mb-3"><span class="fa-li licolorpink"><i class="fas fa-check"></i></span><p class="text-left">Includes everything in basic and mid tier</p></li>
                  <li class="mb-3"><span class="fa-li licolorpink"><i class="fas fa-check"></i></span><p class="text-left">Get a custom made website with your own email(First come first serve basis)</p></li>
                  <li class="mb-3"><span class="fa-li licolorpink"><i class="fas fa-check"></i></span><p class="text-left">Don't show similar companies on your business page in the BookMe marketplace</p></li>
                  <li class="mb-3"><span class="fa-li licolorpink"><i class="fas fa-check"></i></span><p class="text-left">Premium banner shown on your business page in the BookMe marketplace</p></li>
                  <li class="mb-3"><span class="fa-li licolorpink"><i class="fas fa-check"></i></span><p class="text-left">Remove BookMe branding from your booking page</p></li>
                </ul>
                <div class="text-center"><a class="btn btn-success" href="{% host_url 'bizadminsignup' host 'bizadmin' %}">Select</a></div>
              </div>
            </div>

            <div class="card mb-5 b-0 shadow" style="">
              <div class="card-topcol bg-warning"></div>
              <div class="price"><p class="text-center"><span class="value text-sm" style="font-size: 12px">Contact</p></div>
              <div class="card-body">
                <h2 class="text-pt subtitle text-center licolor py-3 text-white">Enterprise Solutions</h2>
                <p>If you have a team of more than 20 staff members or have any additional service requests, please contact our sales department.</p>
                <hr>
                <div class="text-center"><a class="btn btn-warning" href="#">Contact Sales</a></div>
              </div>
            </div>
            <!-- /pricing card -->
          </div>
        </div>
        </div>
      </div>
    </section>

{% endblock  %}