{% extends 'welcome/main.html' %}
{% block businesscontent %}
    <div class="container text-center">
        <h1>Welcome!</h1>
        <p>Our booking software provides you with the best way to stay connected with your clients, reduce no shows and allows you to focus on providing the best services possible for your clients.</p>
        <p>We have a free tier which fits most needs. Try it out today!</p>
        <a href="" class="btn btn-outline-primary">Get Started</a>
        <hr>

    </div>
{% endblock %}