{% extends 'welcome/main.html' %}
{% load static %}
{% load hosts %}
{% block 'index_features' %}active{% endblock %}
{% block custompath %}
<path class="cls-1" d="M0,160L48,186.7C96,213,192,267,288,288C384,309,480,299,576,250.7C672,203,768,117,864,106.7C960,96,1056,160,1152,154.7C1248,149,1344,75,1392,37.3L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
{% endblock %}
{% block header %}
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="logo-text" href="index.html">RIGA</a> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="text-container">
                        <h1>A simple scheduling tool for <span id="js-rotating">barbers, detailers, mechanics, stylists, everyone</span></h1>
                        <div class="">
                        {% if user.is_business %}
                                    <a class="btn-solid-lg" href="{% host_url 'completeprofile' host 'bizadmin' %}">Go to your business page</a>
                        {% elif user.is_consumer %}
                                    <a class="btn-solid-lg" href="{% host_url 'newbizcreate' host 'bizadmin' %}">Create a business page</a>
                        {% else %}
                                <a class="btn-solid-lg" href="{% host_url 'bizadminlogin' host 'bizadmin' %}"><i class="fab fa-start"></i>Sign into BookMe</a>
                                <a class="btn-solid-lg" href="{% host_url 'bizadminsignup' host 'bizadmin' %}"><i class="fab fa-start"></i>Get started for free</a>
                        {% endif %}
                        </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="image-container">
                        {% comment %} <object height="auto" width="100%" id="communicate-welcome" data="{% static 'css/svg-img/bizpage-welcome/business.svg' %}" type="image/svg+xml"></object> {% endcomment %}
                        <img class="img-fluid" src="{% static 'img/business.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
{% endblock header %}

{% block businesscontent %}

    <section class="py-lg-5">
      <div class="container">
        <h1 class="hero-heading mb-0">How can BookMe help your business thrive</h1>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card h-100 border-0 shadow hover-animate">
              <div class="card-body">
                <object height="300px" width="100%" id="marketplace-welcome" data="{% static 'css/svg-img/bizpage-welcome/marketplace.svg' %}" type="image/svg+xml"></object>
                <h5 class="card-title mb-3">Showcase your business on the BookMe marketplace</h5>
                <p class="text-muted card-text text-sm">List your business on the BookMe marketplace for free and increase your exposure to new clients! You can also share your calendars on Facebook, Instagram, email or on your own website</p>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card h-100 border-0 shadow hover-animate">
              <div class="card-body">
                <object height="300px" width="100%" id="quality-welcome" data="{% static 'css/svg-img/bizpage-welcome/booking.svg' %}" type="image/svg+xml"></object>
                <h5 class="card-title mb-3">Spend less time on schedules and more time on quality services</h5>
                <p class="text-muted card-text text-sm">Give your new and returning clients the flexibility to choose when to book an appointment with you for any service that you offer without them having to contact you directly</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card h-100 border-0 shadow hover-animate">
              <div class="card-body">
                <object height="300px" width="100%" id="communicate-welcome" data="{% static 'css/svg-img/bizpage-welcome/communicate.svg' %}" type="image/svg+xml"></object>
                <h5 class="card-title mb-3">Communicate with your clients</h5>
                <p class="text-muted card-text text-sm">Remind your clients of their appointments by sending automated reminder messages using text and email</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card h-100 border-0 shadow hover-animate">
              <div class="card-body">
                <object height="300px" width="100%" id="communicate-welcome" data="{% static 'css/svg-img/bizpage-welcome/payment.svg' %}" type="image/svg+xml"></object>
                <h5 class="card-title mb-3">Process your payments</h5>
                <p class="text-muted card-text text-sm">Protect your business against no shows by taking deposits on services and enforcing cancellation fees using Stripe or PayPal</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card h-100 border-0 shadow hover-animate">
              <div class="card-body">
                <object height="300px" width="100%" id="communicate-welcome" data="{% static 'css/svg-img/bizpage-welcome/schedules.svg' %}" type="image/svg+xml"></object>
                <h5 class="card-title mb-3">Manage your schedule</h5>
                <p class="text-muted card-text text-sm">Change your availability anytime and reschedule appointments easily. Automatically notify clients of changes to appointments. </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card h-100 border-0 shadow hover-animate">
              <div class="card-body">
                <object height="300px" width="100%" id="communicate-welcome" data="{% static 'css/svg-img/bizpage-welcome/charts-demo.svg' %}" type="image/svg+xml"></object>
                <h5 class="card-title mb-3">Track Your Customers</h5>
                <p class="text-muted card-text text-sm">View all of your customers past and future appointments. Take notes on their preferences, save appointment slots for individual customers or book them in yourself, send them legal forms to sign and allow them to write reviews on your business after a service is complete. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}