{% extends 'productadmin/index.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block activedetails%}active{%endblock%}
{% block businessadmin %}
<style>
.stripe-disconnect {
    background: #ec250d;
    display: inline-block;
    height: 38px;
    text-decoration: none;
    width: 180px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
}
.stripe-disconnect:hover {
    background: #fd5d93 !important;
    cursor: pointer;
}
.stripe-disconnect span {
    color: #ffffff;
    display: block;
    font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    padding: 11px 0px 0px 24px;
    position: relative;
    text-align: left;
}
.stripe-disconnect span::after {
    background-image: url("{% static 'img/stripewh.svg' %}");
}
.stripe-disconnect span::after {
    background-repeat: no-repeat;
    background-size: 49.58px;
    content: "";
    height: 20px;
    left: 62%;
    position: absolute;
    top: 28.95%;
    width: 49.58px;
}
</style>
                    <!-- Main page content-->
<div class="content">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <header class="page-header page-header-compact page-header-light mb-2">
                <div class="container-fluid">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto">
                                <h1 class="page-header-title">
                                    Account Settings - Payments
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Account page navigation-->
            <nav class="nav nav-borders">
                <a class="nav-link ml-0" href="{% host_url 'profile' host 'prodadmin'%}">Profile</a>
                <a class="nav-link activate" href="{% host_url 'staff_payments' host 'prodadmin'%}">Process Payments</a>
                <a class="nav-link" href="{% host_url 'security' host 'prodadmin'%}">Security</a>
                <a class="nav-link" href="{% host_url 'notifications' host 'prodadmin'%}">Notifications</a>
            </nav>
            <hr class="mt-0 mb-4"/>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <!-- Security preferences card-->
                    <div class="card mb-4">
                        <div class="card-header"><h4>Payment handling</h4></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 align-items-center my-auto">
                                    {% if not company.stripe_user_id_prod %}
                                        <a href="{% host_url 'stripe_authorize' host 'prodadmin' %}" class="stripe-connect"><span>Connect with</span></a>
                                    {% else %}
                                        <a href="https://dashboard.stripe.com" class="stripe-connect"><span>Dashboard</span></a>
                                        <a class="stripe-disconnect my-1"><span>Disconnect</span></a>
                                    {% endif %}

                                </div>
                            </div>
                                
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><h4>Processing Fees</h4></div>
                        <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p class='mb-0'>Stripe and Platform fees apply when collecting payments.</p>
                                <a class="btn btn-link m-0" href="https://stripe.com/en-ca/pricing#pricing-details" rel="nofollow" target="_blank">See more details</a>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                {% if account_connected %}
                    <div class="col-lg-6 col-12">
                    <div class="card">
                        <div class="card-header"><h4>Stripe Account Information</h4></div>
                        <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <span class="mb-2 text-xs">Display Name: <span class="text-dark font-weight-bold ms-2">{{ account_connected.settings.dashboard.display_name }}</span></span>
                                
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endif %}

                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block java %}
<script>
    $(document).ready(function(){
        
        $(document).on('click', '.stripe-disconnect', function(e){
            var removedropid = $(this).attr('id')
            const swalStyles = Swal.mixin({
                customClass:{
                    confirmButton: 'btn btn-info',
                    cancelButton: 'btn btn-danger',
                },
                buttonsStyling: false
            });
            swalStyles.fire({
                title: 'Are you sure you want to disconnect from stripe?',
                icon: 'warning',
                showCancelButton: true,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type:'POST',
                        dataType: 'json',
                        url: "{% host_url 'stripe_deauthorize' host 'prodadmin' %}",
                        headers:{
                            "X-CSRFToken": csrftoken
                        },
                        cache: false,
                        success: function(data){
                            Swal.fire({
                                title: 'Stripe has been disconnected!',
                                icon: 'success',
                                customClass:{
                                    confirmButton: 'btn btn-info',
                                    cancelButton: 'btn btn-danger',
                                },
                                buttonsStyling: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    location.reload();
                                }
                                else{
                                    location.reload();
                                }
                            });
                            
                        }
                    });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalStyles.fire(
                        'Cancelled',
                        'Your stripe account is still connected! 😊',
                        'error'
                    )
                }
            });
        });
    });
</script>
{% endblock %}
