
.list-group-item {
    /* Changed from padding: 1rem 1rem */
    padding: 0.5rem 0.5rem;
    /* Changed from background-color: #ffffff */
    background-color: transparent;
    border: 0px solid #2b3553;
    ;
}

.white-content .list-group-item {
    /* Changed from padding: 1rem 1rem */
    padding: 0.5rem 0.5rem;
    /* Changed from background-color: #ffffff */
    background-color: #ffffff;
    border: 0px solid #e9ecef;
}

  .form-group .form-control + .input-group-append .input-group-text,
  .input-group .form-control + .input-group-append .input-group-text {
    padding: 0 5px 0 5px; }

    .input-group-append {
        background-color: transparent;
        border: none;
        border-left: 0.5px solid #2b3553;
        border-radius: 0rem;
        color: #ffffff;
        margin: 0;
    }

    .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
        border-top-right-radius: 0.4875rem;
        border-bottom-right-radius: 0.4875rem;
    }

    .fc-theme-standard td, .fc-theme-standard th {
        /* border: 1px solid #ddd; */
        /* border: 1px solid var(--fc-border-color, #ddd); */
        border: 1px solid #1e1e2f !important;
        border: 1px solid var(--fc-border-color, #1e1e2f) !important;
        /* border: green!important; */
    }

    .white-content .fc-theme-standard td, .white-content .fc-theme-standard th {
        border: 1px solid #ddd !important;
        border: 1px solid var(--fc-border-color, #ddd) !important;
        /* border: none; */
    }

    .fc-theme-standard .fc-scrollgrid {
        border: 1px solid #1e1e2f !important;
        border: 1px solid var(--fc-border-color, #1e1e2f) !important;
    }

    .white-content .fc-theme-standard .fc-scrollgrid {
        border: 1px solid #ddd !important;
        border: 1px solid var(--fc-border-color, #ddd) !important;
    }

    .fc .fc-scrollgrid {
        border-collapse: separate;
        border-right-width: thin !important;
        border-bottom-width: thin !important;
    }

    .fc .fc-list-event-dot {
        border: transparent !important;
        display: none;
    }

    .fc .fc-daygrid-event-dot {
        border: transparent !important;
        display: none;
    }

    .fc .fc-more-popover .fc-popover-body {
        overflow-y: auto !important;
        height: 500px !important;
    }

    .fc .fc-scrollgrid-section-body table, .fc .fc-scrollgrid-section-footer table {
        border-bottom-style: hidden;
    }

    .fc-event {
        height: 90px;
        flex-wrap: wrap;
    }

    .fc .fc-more-popover {
        width: auto;
    }

    .fc .fc-daygrid-event {
        flex-wrap: wrap;
        white-space: break-spaces;
        display: list-item;
        cursor: pointer;
        list-style: none;
        padding: 5px;
    }

    .fc, .fc *, .fc *:before, .fc *:after {
        /* padding-right: 6px; */
    }

    .card-calendar .fc td:last-child {
        /* padding-right: 12px !important; */
        overflow: hidden;
    }


.fc .fc-scroller-liquid-absolute .fc-scroller{
    overflow: hidden scroll;
}

.fc-list-event-graphic {
    display: none;
}

    td.day div {
        color: black !important;
    }
    
    td.day.active div {
        color: white !important;
    }

    td.day.old div {
        color: grey !important;
    }

    td.day.new div {
        color: grey !important;
    }

    .card {
        border-radius: 25px;
    }

    .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
        right: 30px !important;
        top: 10px !important;
    }

    /* .white-content .fc-button-group:hover .fc-prev-button, .white-content .fc-button-group:hover .fc-next-button {
        color: #ffffff;
        background: green;
        border: 1px solid #2b3553;
    } */

    .fc-button:hover, .fc-button:focus, .fc-button:active, .fc-button.active, .fc-button:active:focus, .fc-button:active:hover, .fc-button.active:focus, .fc-button.active:hover, .fc-button.btn-warning:hover, .fc-button.btn-warning:focus, .fc-button.btn-warning:active, .fc-button.btn-warning.active, .fc-button.btn-warning:active:focus, .fc-button.btn-warning:active:hover, .fc-button.btn-warning.active:focus, .fc-button.btn-warning.active:hover {
        background-color: #ff8d72 !important;
        background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72) !important;
        background-image: -moz-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72) !important;
        color: black;
        box-shadow: none;
    }

    .pillsize {
        height: 135px;
    }

    .avatar {
        display: inline-block;
        position: relative;
        text-align: center;
        border: #dee2e6;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        line-height: 3rem;
      }

      .fc .fc-list-empty {
        background-color: transparent !important;
        
    }

    #bm {
        position: fixed;
        z-index: 99999;
        width: 300px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

    .fc-event:hover, .fc-event-selected {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .primarybackground {
        background: linear-gradient(90deg, #ff5f6d 0%, #ff5f6d 100%) !important;
        background-color: #ff5f6d;
    }
    .carbonbackground {
        background-color: rgb(32, 32, 32);
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
        background-size: 100% 100%, 20px 20px, 20px 20px, 20px 10px;
        background-position: 0px 0px, 0px 0px, 10px 10px, 0px 0px;
    }
    .hexagonbackground {
        background:
        radial-gradient(circle farthest-side at 0% 50%,#131313 23.5%,rgba(240,166,17,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,rgba(0,0,0,1) 24%,rgba(240,166,17,0) 0)19px 30px,
        linear-gradient(#131313 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#131313 0)0 0,
        linear-gradient(150deg,#131313 24%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 76%,#131313 0)0 0,
        linear-gradient(30deg,#131313 24%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 76%,#131313 0)0 0,
        linear-gradient(90deg,rgba(0,0,0,1) 2%,#131313 0,#131313 98%,rgba(0,0,0,1) 0%)0 0 #131313;
        background-size: 40px 60px;
    }

    .bgcollection {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    .bgcollection > li:not(:target) {
        cursor: pointer;
        background-color: gray;
        border-radius: 150px;
        box-shadow: -3px -3px 10px 2px rgb(0 0 0 / 30%) inset, 0 0 0 15px rgb(255 255 255 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
        -webkit-box-shadow: 0 0 0 15px rgb(255 255 255 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
    }

    .bgcollection > li.applied:not(:target) {
        cursor: pointer;
        background-color: rgb(0,250,154);
        border-radius: 150px;
        box-shadow: -3px -3px 10px 2px rgb(0 0 0 / 30%) inset, 0 0 0 15px rgb(0 250 154 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
        -webkit-box-shadow: 0 0 0 15px rgb(0 250 154 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
    }
    
    .bgcollection > li {
        position: relative;
        width: 150px;
        height: 150px;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        margin: 0px 0px 20px 20px;
        list-style: none;
    }
    @media (min-width: 425px) { 
        .bgcollection > li {
            width: 200px;
            height: 200px;
        }
    }
    @media (min-width: 768px) { 
        .bgcollection > li {
            position: relative;
            width: 300px;
            height: 300px;
            float: left;
            list-style: none;
        }
    }


    .stripe-connect {
        background: #635bff;
        display: inline-block;
        height: 38px;
        text-decoration: none;
        width: 180px;
      
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
      
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      
        -webkit-font-smoothing: antialiased;
      }
      
      .stripe-connect span {
        color: #ffffff;
        display: block;
        font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 14px;
        padding: 11px 0px 0px 24px;
        position: relative;
        text-align: left;
      }
      
      .stripe-connect:hover {
        background: #7a73ff;
      }
      
      .stripe-connect.slate {
        background: #0a2540;
      }
      
      .stripe-connect.slate:hover {
        background: #425466;
      }
      
      .stripe-connect.white {
        background: #ffffff;
      }
      
      .stripe-connect.white span {
        color: #0a2540;
      }
      
      .stripe-connect.white:hover {
        background: #f6f9fc;
      }
      
      .stripe-connect span::after {
        background-repeat: no-repeat;
        background-size: 49.58px;
        content: "";
        height: 20px;
        left: 62%;
        position: absolute;
        top: 28.95%;
        width: 49.58px;
      }
      
      /* Logos */
      .stripe-connect span::after {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 468 222.5' style='enable-background:new 0 0 468 222.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M414,113.4c0-25.6-12.4-45.8-36.1-45.8c-23.8,0-38.2,20.2-38.2,45.6c0,30.1,17,45.3,41.4,45.3 c11.9,0,20.9-2.7,27.7-6.5v-20c-6.8,3.4-14.6,5.5-24.5,5.5c-9.7,0-18.3-3.4-19.4-15.2h48.9C413.8,121,414,115.8,414,113.4z M364.6,103.9c0-11.3,6.9-16,13.2-16c6.1,0,12.6,4.7,12.6,16H364.6z'/%3E%3Cpath class='st0' d='M301.1,67.6c-9.8,0-16.1,4.6-19.6,7.8l-1.3-6.2h-22v116.6l25-5.3l0.1-28.3c3.6,2.6,8.9,6.3,17.7,6.3 c17.9,0,34.2-14.4,34.2-46.1C335.1,83.4,318.6,67.6,301.1,67.6z M295.1,136.5c-5.9,0-9.4-2.1-11.8-4.7l-0.1-37.1 c2.6-2.9,6.2-4.9,11.9-4.9c9.1,0,15.4,10.2,15.4,23.3C310.5,126.5,304.3,136.5,295.1,136.5z'/%3E%3Cpolygon class='st0' points='223.8,61.7 248.9,56.3 248.9,36 223.8,41.3 '/%3E%3Crect x='223.8' y='69.3' class='st0' width='25.1' height='87.5'/%3E%3Cpath class='st0' d='M196.9,76.7l-1.6-7.4h-21.6v87.5h25V97.5c5.9-7.7,15.9-6.3,19-5.2v-23C214.5,68.1,202.8,65.9,196.9,76.7z'/%3E%3Cpath class='st0' d='M146.9,47.6l-24.4,5.2l-0.1,80.1c0,14.8,11.1,25.7,25.9,25.7c8.2,0,14.2-1.5,17.5-3.3V135 c-3.2,1.3-19,5.9-19-8.9V90.6h19V69.3h-19L146.9,47.6z'/%3E%3Cpath class='st0' d='M79.3,94.7c0-3.9,3.2-5.4,8.5-5.4c7.6,0,17.2,2.3,24.8,6.4V72.2c-8.3-3.3-16.5-4.6-24.8-4.6 C67.5,67.6,54,78.2,54,95.9c0,27.6,38,23.2,38,35.1c0,4.6-4,6.1-9.6,6.1c-8.3,0-18.9-3.4-27.3-8v23.8c9.3,4,18.7,5.7,27.3,5.7 c20.8,0,35.1-10.3,35.1-28.2C117.4,100.6,79.3,105.9,79.3,94.7z'/%3E%3C/g%3E%3C/svg%3E");
      }
      
      .stripe-connect.white span::after {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 468 222.5' style='enable-background:new 0 0 468 222.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%230A2540;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M414,113.4c0-25.6-12.4-45.8-36.1-45.8c-23.8,0-38.2,20.2-38.2,45.6c0,30.1,17,45.3,41.4,45.3 c11.9,0,20.9-2.7,27.7-6.5v-20c-6.8,3.4-14.6,5.5-24.5,5.5c-9.7,0-18.3-3.4-19.4-15.2h48.9C413.8,121,414,115.8,414,113.4z M364.6,103.9c0-11.3,6.9-16,13.2-16c6.1,0,12.6,4.7,12.6,16H364.6z'/%3E%3Cpath class='st0' d='M301.1,67.6c-9.8,0-16.1,4.6-19.6,7.8l-1.3-6.2h-22v116.6l25-5.3l0.1-28.3c3.6,2.6,8.9,6.3,17.7,6.3 c17.9,0,34.2-14.4,34.2-46.1C335.1,83.4,318.6,67.6,301.1,67.6z M295.1,136.5c-5.9,0-9.4-2.1-11.8-4.7l-0.1-37.1 c2.6-2.9,6.2-4.9,11.9-4.9c9.1,0,15.4,10.2,15.4,23.3C310.5,126.5,304.3,136.5,295.1,136.5z'/%3E%3Cpolygon class='st0' points='223.8,61.7 248.9,56.3 248.9,36 223.8,41.3 '/%3E%3Crect x='223.8' y='69.3' class='st0' width='25.1' height='87.5'/%3E%3Cpath class='st0' d='M196.9,76.7l-1.6-7.4h-21.6v87.5h25V97.5c5.9-7.7,15.9-6.3,19-5.2v-23C214.5,68.1,202.8,65.9,196.9,76.7z'/%3E%3Cpath class='st0' d='M146.9,47.6l-24.4,5.2l-0.1,80.1c0,14.8,11.1,25.7,25.9,25.7c8.2,0,14.2-1.5,17.5-3.3V135 c-3.2,1.3-19,5.9-19-8.9V90.6h19V69.3h-19L146.9,47.6z'/%3E%3Cpath class='st0' d='M79.3,94.7c0-3.9,3.2-5.4,8.5-5.4c7.6,0,17.2,2.3,24.8,6.4V72.2c-8.3-3.3-16.5-4.6-24.8-4.6 C67.5,67.6,54,78.2,54,95.9c0,27.6,38,23.2,38,35.1c0,4.6-4,6.1-9.6,6.1c-8.3,0-18.9-3.4-27.3-8v23.8c9.3,4,18.7,5.7,27.3,5.7 c20.8,0,35.1-10.3,35.1-28.2C117.4,100.6,79.3,105.9,79.3,94.7z'/%3E%3C/g%3E%3C/svg%3E");
      }

      .StripeElement {
        box-sizing: border-box;
  
        height: 40px;
  
        padding: 10px 12px;
  
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
  
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }
  
      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }
  
      .StripeElement--invalid {
        border-color: #fa755a;
      }
  
      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }
  
      @keyframes spinner-border {
        to { transform: rotate(360deg); }
      } 
      .spinner-border{
          display: inline-block;
          width: 2rem;
          height: 2rem;
          vertical-align: text-bottom;
          border: .25em solid currentColor;
          border-right-color: transparent;
          border-radius: 50%;
          -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
      }
      .spinner-border-sm{
          height: 1rem;
          border-width: .2em;
      }

      .my-gallary-frame-css {
          height: 160px;
      }

      .grid {
        background: transparent;
        max-width: 1200px;
        margin: 0 auto;
      }
      
      .grid-item {
        float: left;
      }
      
      /* grid-item-content is visible, and transitions size */
      .grid-item-content {
        max-width: 250px;
        max-height: 250px;
        border: 2px solid #333;
        border-color: transparent;
        border-radius: 5px;
        -webkit-transition: width 0.4s, height 0.4s;
                transition: width 0.4s, height 0.4s;
        object-fit: contain;
      }
      
      .grid-item:hover .grid-item-content {
        border-color: white;
        cursor: pointer;
      }
      
      /* both item and item content change size */
      .grid-item.is-expanded,
      .grid-item.is-expanded .grid-item-content {
        max-width: 250px;
        max-height: 250px;
      }
      
      .grid-item.is-expanded {
        z-index: 2;
      }
      
      .grid-item.is-expanded .grid-item-content {
        display: block;
      }

      .containergrid {
        position: relative;
      }
      
      .containergrid .mybtns {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        display: none;
      }

      .containergrid.is-expanded .mybtns {
        display: block !important;
      }
      .grid-item:hover .mybtns {
        display: block !important;
      }

      .containergrid .mybtns:hover {
        background: #fd5d93;
        background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
        background-size: 210% 210%;
        background-position: top right;
        background-color: #fd5d93;
        display: block !important;
      }