{% extends 'welcomes/main.html' %}
{% block 'index_signup' %}active{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load hosts %}
{% block descriptiontag %}"SignUp to begin using ShopMe for free and get your own website for free!"{% endblock descriptiontag %} 
{% block header %}
  <header class="header-2">
            <div class="page-header relative" style="height: 100px; background: #141727; background-image: linear-gradient(310deg,#141727,#3a416f);">
            
            </div>
        </header>
{% endblock header %}

{% block businesscontent %}
<div class="container py-4">
<div class="row justify-content-center">
    <div class="col-lg-7">
        <!-- Basic registration form-->
            <div class="card shadow-lg">
                    <div class="card-header bg-gradient-primary p-5 position-relative">
                        <h3 class="text-white mb-0">Join our waitlist!</h3>
                        <p class="text-white opacity-8 mb-4">New vendors will be accepted once our beta release program has completed.</p>
                        <p class="text-white opacity-8 mb-4">Joining the waitlist ensures you have access to reduced transaction fees.</p>
                        <div class="position-absolute w-100 z-index-1 bottom-0 ms-n5">
                        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto" style="height:7vh;min-height:50px;">
                            <defs>
                            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                            </defs>
                            <g class="moving-waves">
                            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
                            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
                            </g>
                        </svg>
                        </div>
                    </div>
                {% comment %} <div class="card-header justify-content-center licolor"><h3 class="font-weight-bold licolor my-4">Create your business account</h3></div> {% endcomment %}
                <div class="card-body">
                    <!-- Registration form-->
                    <form method='post'>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row">
                            {% comment %} <div class="col-md-6">
                                {{ user_form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ user_form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ user_form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                <!-- Form Group (last name)-->
                                <div class="form-group">
                                    {{ user_form.phone|as_crispy_field }}
                                </div>
                            </div>
                            <hr> {% endcomment %}
                            
                        </div>
                        <!-- Form Group (create account submit)-->
                        <div class="form-group mt-4 mb-0"><button class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" type="submit">Join the waitlist</button></div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a class="licolor font-weight-bold" href="{% host_url 'bizadminlogin' host 'bizadmin' %}">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}