{% load static %}
{% load hosts %}
{% load business_tags %}
<script>
    $('.namepickr').datetimepicker({
        format: 'LT',
        icons: {
        time: "fas fa-clock",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'tim-icons icon-minimal-left',
        next: 'tim-icons icon-minimal-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
        }
    });
</script>
<div class="card shadow my-1">
    <div class="row">
        <div class="col-md-8 py-auto" style="overflow:hidden;">
            <nav class="nav nav-borders" >
                <a class="nav-link ml-0" id="detail" data-staff="{{ staff.id }}" href="#detail" data-toggle="tab">Details</a>
                <a class="nav-link" id="services" data-staff="{{ staff.id }}" href="#services" data-toggle="tab">Services</a>
                <a class="nav-link" id="hours" data-staff="{{ staff.id }}" href="#hours" data-toggle="tab">Working Hours</a>
                <a class="nav-link" id="breaks" data-staff="{{ staff.id }}" href="#breaks" data-toggle="tab">Breaks</a>
                <a class="nav-link activate" id="timeoff" data-staff="{{ staff.id }}" href="#timeoff" data-toggle="tab">Time Off</a>
                {% comment %} <a class="nav-link" href="#">Staff Members</a> {% endcomment %}
            </nav>
            
        </div>
        <div class="col-md-4 text-right">
            <div class="card-header p-2">
                    {% if company.staffmembers.count > 1 %}
                        <button class="btn btn-link btn-danger btn-sm categorydelete" type="button" data-catename="{{ category.name }}" data-url="{% host_url 'category_delete_view' staff.id host 'bizadmin' %}">Remove Staff Member <i class="fas fa-trash"></i></button>
                    {% endif %}        
            </div>
        </div>
    </div>

<div class="card-header"> <h4 id="text_service_header">Schedule some time off for {{ staff.first_name }}</h4></div>
    <div class="card-body">
        <div class="justify-content-center my-auto align-items-center">
            <form method="POST" >
                {% csrf_token %}
            </form>
            {% for day in staff.staff_hours.all %}
            <div class="col-md-12 col-lg-12 text-sm-center text-md-left">
                <ul class="list-inline">

                    <li class="list-inline-item" style="width:90px">
                        <strong for="" class="text-danger">{{ day.get_weekday_display }}</strong>
                    </li>
                    <span class="list-inline-item">
                            {% if not day.is_off %}
                                <button class="btn btn-info btn-pills btn-sm mx-3 removeworkingday" type='button' data-workingday='{{ day.weekday }}' data-staff='{{ staff.id }}'> <i class="fas fa-check-circle "></i> Working</button>

                            {% else %}
                                <button class="btn btn-pills btn-sm mx-3 addworkingday" type='button' data-workingday='{{ day.weekday }}' data-staff='{{ staff.id }}'> <i class="fas fa-plus-circle"></i> Off</button>
                         
                            {% endif %}
                    </span>
                        <span class="list-inline-item">
                            <ul class="list-group">
                                <li class="list-group-item"> 
                                    <div class="row m-0 align-items-center {% if day.is_off %}d-none{% endif %}" id="workdaystaff{{ day.weekday }}">
                                        <input type="text" class="hourtimepickr form-control text-center mr-1 workdaystaff" data-workingday='{{ day.weekday }}' data-staff='{{ staff.id }}' data-fromto='from' style="width:90px" value="{{ day.from_hour|time:"h:i A" }}"> to <input type="text" style="width:90px" data-workingday='{{ day.weekday }}' data-fromto='to' data-staff='{{ staff.id }}' class="hourtimepickr form-control text-center ml-1 workdaystaff" value="{{ day.to_hour|time:"h:i A" }}"> 
                                    </div>
                                </li>
                            </ul>
                        </span>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>