{% extends 'bookingpage/onestaff/bookingpage/bookingpage.html'%}
{% load static %}
{% load hosts %}
{% load business_tags %}
{% block title %}{{ company.business_name }} - Gibele.com{% endblock %}
{% block companybizname %}{{ company.business_name }}{% endblock companybizname %}
{% block slideshow %}
    <!-- Hero Section-->
    {% with categoryname=company.category.name %}
    <section class="pt-7 d-flex align-items-end dark-overlay bg-light" >
      <!-- Slider main container-->
      {% if photos %}
      <div class="swiper-container detail-slider slider-gallery">
        <!-- Additional required wrapper-->
        <div class="swiper-wrapper">
          <!-- Slides-->
          {% if categoryname == 'Automotive Services' %}
                <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/automotive-noimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="{{ company.business_name }}"><img class="img-fluid center" style="width:100%;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/automotive-noimage1.jpg" %}{% endif %}" alt="{{ company.business_name }}"></a></div>
          {% endif %}
          {% if categoryname == 'Personal Care' %}
                <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/beauty-noimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="{{ company.business_name }}"><img class="img-fluid center" style="width:100%; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/beauty-noimage1.jpg" %}{% endif %}" alt="{{ company.business_name }}"></a></div>
          {% endif %}
          {% if categoryname == 'Home Services' %}
            <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/home-noimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="{{ company.business_name }}"><img class="img-fluid center" style="width:100%; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/home-noimage1.jpg" %}{% endif %}" alt="{{ company.business_name }}"></a></div>
          {% endif %}
            {% for p in photos %}
                <div class="swiper-slide"><a href="{{ p.photos.url }}" title="{{ company.business_name }}"><img loading="lazy" class="img-fluid center" style="width:100%;" src="{{ p.photos.url }}" alt="{{ company.business_name }}"></a></div>
            {% endfor %}
        </div>
        {% if photos %}
          <div class="swiper-pagination swiper-pagination-white"></div>
          <div class="swiper-button-prev swiper-button-white circle-slide"></div>
          <div class="swiper-button-next swiper-button-white circle-slide"></div>
        {% endif %}
      </div>

        {% endif %}
    </section>
    {% endwith %}
{% endblock slideshow %}
{% block booking %}
    
    <section class="py-0">
      <div class="container liblack">
        <div class="row">
          <div class="col-lg-7">
          <hr>
            <nav class="navbar nav nav-pills nav-borders" id="navlink-page">
                <li class="nav-item"><a class="nav-link active ml-0 service-link" href="#navlink-page" id="aservice">Services</a></li>
                <li class="nav-item"><a class="nav-link about-link" href="#navlink-page" id="aabout">About</a></li>
                <li class="nav-item"><a class="nav-link review-link" href="#navlink-page" id="areview">Reviews</a></li>
                <li class="nav-item"><a class="nav-link gallary-link" href="#navlink-page" id="agallary">Gallary</a></li>
            </nav>
            <hr>
            <div class="text-block" id="serviceList">
            <h2>All Services</h2>

              <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                <div class="card card-plain mb-2">
                {% for categories in company.service_category.all %}
                  <div class="card-header p-2 mb-2" role="tab" id="heading{{ forloop.counter }}">
                    <p class="mb-0 text-sm text-left align-items-center justify-content-center">
                      <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        {{ categories.name }} Services
                        <i class="fas fa-chevron-down text-line"></i>
                      </a>
                    </p>
                  </div>
                  <div id="collapse{{ forloop.counter }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                    <div class="card-body text-left">
                      {% for s in categories.services.all %}
                        {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}                          
                          <div class="row p-0 justify-content-between text-left align-self-center">
                            <div class="col-8 p-0">
                            <p class="mb-1">{{ s.name }}</p>
                            <a id="serv{{ s.id }}" href="{% host_url 'bookingserviceurls' pk=s.id host 'bookingurl' slug=company.slug %}" class="btn btn-outline-primary">Book Now</a>
                            </div>
                            <div class="col-4 p-0 text-right">
                              <strong class="text-header m-1">{% if not hour == 0 %}{{ hour }}h{% endif %} {% if not min == 0 and not hour == 0 %}&amp;{% endif %} {% if not min == 0 %}{{ min }} min{% endif %}</strong>
                              {% if not type == 'dont' %}<p class="m-1">{% if type == "fixed" %}Fixed price of{% elif type == 'start' %}Prices start at{% elif type == 'variable' %}<strong>Prices Varies</strong>{% endif %}{% if type == 'variable' %}{% elif type == 'free' %}<strong>Free</strong> {% else %} <strong>${{ s.price }}</strong>{% endif %}</p>{% endif %}
                            </div>
                          </div>
                          <div class="col-12 p-0 mt-2">
                            <p class="text-muted">{{ s.description }}</p>
                          </div>
                        {% endwith %}  
                            <hr>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
                  <div class="card-header p-2 hover-animate" role="tab" id="headingAll">
                    <p class="mb-0 text-sm text-left align-items-center justify-content-center">
                      <a data-toggle="collapse" href="#collapseAll" aria-expanded="false" aria-controls="collapseAll">
                        All Services
                        <i class="fas fa-chevron-down text-line"></i>
                      </a>
                    </p>
                  </div>
                  <div id="collapseAll" class="collapse" role="tabpanel" aria-labelledby="headingAll" data-parent="#accordion">
                    <div class="card-body text-left">
                      {% for s in services %}
                        {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}                          
                          <div class="row p-0 justify-content-between text-left align-self-center">
                            <div class="col-8 p-0">
                              <p class="mb-1">{{ s.name }}</p>
                              <a id="serv{{ s.id }}" href="{% host_url 'bookingserviceurls' pk=s.id host 'bookingurl' slug=company.slug %}" class="btn btn-outline-primary">Book Now</a>
                            </div>
                            <div class="col-4 p-0 text-right">
                              <strong class="text-header m-1">{% if not hour == 0 %}{{ hour }}h{% endif %} {% if not min == 0 and not hour == 0 %}&amp;{% endif %} {% if not min == 0 %}{{ min }} min{% endif %}</strong>
                              {% if not type == 'dont' %}<p class="m-1">{% if type == "fixed" %}Fixed price of{% elif type == 'start' %}Prices start at{% elif type == 'variable' %}<strong>Prices Varies</strong>{% endif %}{% if type == 'variable' %}{% elif type == 'free' %}<strong>Free</strong> {% else %} <strong>${{ s.price }}</strong>{% endif %}</p>{% endif %}
                            </div>
                          </div>

                          <div class="col-12 p-0 m-0 text-center">
                            <p class="text-muted text-left">{{ s.description }}</p>
                          </div>
                        {% endwith %}  
                            <hr>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

{% comment %} 
                {% if services %}
                    <h2>All Services</h2>
                      <div class="card pb-2">
                        {% for s in services %}
                            {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}
                            <h3 class="mb-3">{{ s.name }}</h3>
                            <strong class="text-header">{% if not hour == 0 %}{{ hour }} hour {% endif %} {% if not min == 0 and not hour == 0 %}&amp;{% endif %} {% if not min == 0 %}{{ min }} min{% endif %}</strong>
                            <p class="text-muted">{{ s.description }}</p>
                            <p>{% if type == "fixed" %}Fixed price of{% elif type == 'start' %}Prices start at{% elif type == 'variable' %}<strong>Prices Varies</strong>{% endif %}{% if type == 'variable' %}{% elif type == 'free' %}<strong>Free</strong> {% elif type == 'dont' %}{% else %} <strong>${{ s.price }}</strong>{% endif %}</p>
                            {% endwith %}
                            <a id="serv{{ s.id }}" href="{% host_url 'bookingserviceurls' pk=s.id host 'bookingurl' slug=company.slug %}" class="btn btn-outline-primary">Book Now</a>
                            <hr>
                        {% endfor %}
                      </div>
                {% else %}
                    <h2>No services offered at this time</h2>
                    <hr>
                {% endif %} {% endcomment %}
                
            </div>
            <!-- Amenities-->
            <div class="d-none" id="aboutList">
                {% if amenities %}
                <div class="text-block">
                <h3 class="mb-4">Amenities Offered</h3>
                <ul class="amenities-list list-inline">
                    {% for a in amenities %}
                    <li class="list-inline-item mb-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span class="text-capitalize">{{ a.amenity }}</span>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                <hr>
                </div>
                {% endif %}

                <div class="text-block">
                {% if company.description %}
                <h3 class="mb-3">About</h3>
                <p class="text-muted text-left"> {{ company.description }}</p>
                <hr>
                {% endif %}
                </div>

                <div class="text-block">
                    <h3 class="mb-3">Location</h3>
                    <div id="map"></div>
                    <hr>
                </div>
            </div>
            
            
            <div class="text-block d-none" id="reviewlist">
                <div class="d-flex justify-content-center">
                    <h3 class="mb-3">Reviews</h3>
                </div>
              {% if reviews %}
              {% for review in reviews %}
              <hr>
              {% with reviewer=review.reviewer %}
              <div class="media d-block d-sm-flex review">
                <div class="text-md-left mr-4 mr-xl-5"><img class="d-block avatar avatar-xl p-2 mb-2" src="{% if reviewer.avatar %}{{ reviewer.avatar.url }}{% else %}https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png{% endif %} " alt="{{ reviewer.first_name }} {{ reviewer.last_name }}"><span class="text-uppercase text-muted text-sm">{{ review.created|date:"M d, Y"}}</span></div>
                <div class="media-body text-left">
                  <h6 class="mt-2 mb-1">{{ reviewer.first_name }} {{ reviewer.last_name }}</h6>
                  <div class="mb-2">{% for x in '12345' %}<i class="fas fa-star {% if forloop.counter <= review.star %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}
                  </div>
                  <p class="text-muted text-sm">{{ review.review }}     </p>
                </div>
              </div>
              {% endwith %}
              {% endfor %}
              {% include 'business/company/pagination_review/pagination.html' with page=reviews %}
              <hr>
              {% else %}
                <h6>Be the first to write a review on this business after you complete a service with them.</h6>
                <hr>
              {% endif %}
            
              
            </div>

            <div class="text-block d-none" id="gallarylist">
              <div class="row text-center justify-content-center" id="galphotos">
                {% for p in photos %}
                  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card hover-animate justify-content-center align-self-center show-image" id="{{ p.id }}">
                      <img width="100%" class="rounded" src="{{ p.photos.url }}" alt="">
                    </div>
                  </div>
                {% empty %}
                  <h6>No images have been uploaded by {{ company.name }}</h6>
                {% endfor %}
              </div>
              <br>
              {% include 'bizadmin/dashboard/reviews/pagination.html' with page=photos%}
            </div>
            
          </div>
          <div class="col-lg-5">
            <div class="pl-xl-4">
              <!-- Opening Hours      -->
              <div class="card border-0 shadow mb-5">
              <div class="card-topcol bg-light"></div>
                
                <div class="card-body">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0">Business Hours </h4>
                    </div>
                  </div>
                  <table class="table text-sm mb-0">
                    <tr>
                      <th class="pl-0 border-0">Sunday</th>
                      {% if sun_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ sun_hour.from_hour|date:'g:i A'}} - {{ sun_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Monday</th>
                      {% if mon_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ mon_hour.from_hour|date:'g:i A' }} - {{ mon_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Tuesday</th>
                      {% if tues_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ tues_hour.from_hour|date:'g:i A' }} - {{ tues_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Wednesday</th>
                      {% if wed_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ wed_hour.from_hour|date:'g:i A' }} - {{ wed_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Thursday</th>
                      {% if thur_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ thur_hour.from_hour|date:'g:i A' }} - {{ thur_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Friday</th>
                      {% if fri_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ fri_hour.from_hour|date:'g:i A' }} - {{ fri_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Saturday</th>
                      {% if sat_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ sat_hour.from_hour|date:'g:i A' }} - {{ sat_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                  </table>
                </div>
              </div>
              <!-- Contact-->
              <div class="card border-0 shadow mb-5">
                <div class="card-topcol bg-light"></div>
                <div class="card-body">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0">Contact Information</h4>
                    </div>
                  </div>
                  <ul class="list-unstyled mb-4">
                    <li class="mb-0 pb-0"> 
                      <a rel="nofollow" class="licolor text-sm text-decoration-none" href="tel:{{ company.phone }}">
                        <div class="row my-0 py-0">
                          <div class="col-2 mb-0 pb-0">
                            <i class="fa fa-phone mr-3"></i>
                          </div>
                          <div class="col-10 pb-0 text-left">
                            <span class="text-muted">{{ company.phone }}</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="mb-2"> 
                      <a rel="nofollow" class="licolor text-sm text-decoration-none" href="mailto:{{ company.email }}">
                        <div class="row my-0 py-0">
                          <div class="col-2 my-0 pb-0">
                            <i class="fa fa-envelope mr-3"></i>
                          </div>
                          <div class="col-10 pb-0 text-left">
                            <span class="text-muted">{{ company.email }}</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    {% if company.website_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-sm text-decoration-none" href="{{ company.website_link }}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fa fa-globe mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">{{ company.website_link }}</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                    {% if company.fb_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-blue text-sm text-decoration-none" href="{{ company.fb_link}}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fab fa-facebook mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">Facebook</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                    {% if company.twitter_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-sm text-decoration-none" href="{{ company.twitter_link}}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fab fa-twitter mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">Twitter</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                    {% if company.instagram_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-sm text-decoration-none" href="{{ company.instagram_link}}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fab fa-instagram licolor mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">Instagram</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        
        {% comment %} <div class="col-lg-12">
              <!-- Gallery-->
              <h3 class="mb-4">Gallery</h3>
              {% if photos %}
                <div class="row gallery ml-n1 mr-n1">
                  <div class="swiper-container gallery-slider">
                    <!-- Additional required wrapper-->
                    <div class="swiper-wrapper">
                      {% for p in photos %}
                      <div class="swiper-slide"><a href="{{ p.photos.url }}"><img loading="lazy" style="height:auto; width:300px;" src="{{ p.photos.url }}" alt="some gallary images"></a></div>
                      {% endfor %}
                  </div>
                      <div class="swiper-pagination swiper-pagination-white"></div>
                      <div class="swiper-button-prev swiper-button-white circle-slide"></div>
                      <div class="swiper-button-next swiper-button-white circle-slide"></div>
                  </div>
                  </div>
              
              {% else %}

              <h6>This business has not uploaded any gallary images yet.</h6>

              {% endif %}
          </div> {% endcomment %}
          </div>
      </div>
    </section>
    <script>
      $(document).ready(function(){
        function checkWidth(){
          var windowWidth = $(window).width();
          if (windowWidth <= 560){
            $('.swiper-button-next').hide()
            $('.swiper-button-prev').hide()
          }
          else{
            $('.swiper-button-next').show()
            $('.swiper-button-prev').show()
          }
        }
        checkWidth();
        $(window).resize(checkWidth);
        $('.about-link').on('click', function(e){
            document.getElementById('aboutList').classList.remove('d-none')
            document.getElementById('serviceList').classList.add('d-none')
            document.getElementById('reviewlist').classList.add('d-none')
            document.getElementById('gallarylist').classList.add('d-none')

            document.getElementById('aabout').classList.add('active')
            document.getElementById('aservice').classList.remove('active')
            document.getElementById('areview').classList.remove('active')
            document.getElementById('agallary').classList.remove('active')
        });
        $('.service-link').on('click', function(e){
            document.getElementById('aboutList').classList.add('d-none')
            document.getElementById('serviceList').classList.remove('d-none')
            document.getElementById('reviewlist').classList.add('d-none')
            document.getElementById('gallarylist').classList.add('d-none')

            document.getElementById('aabout').classList.remove('active')
            document.getElementById('aservice').classList.add('active')
            document.getElementById('areview').classList.remove('active')
            document.getElementById('agallary').classList.remove('active')
        });

        $('.review-link').on('click', function(e){
            document.getElementById('aboutList').classList.add('d-none')
            document.getElementById('serviceList').classList.add('d-none')
            document.getElementById('reviewlist').classList.remove('d-none')
            document.getElementById('gallarylist').classList.add('d-none')

            document.getElementById('aabout').classList.remove('active')
            document.getElementById('aservice').classList.remove('active')
            document.getElementById('areview').classList.add('active')
            document.getElementById('agallary').classList.remove('active')
        });

        $('.gallary-link').on('click', function(e){
            document.getElementById('aboutList').classList.add('d-none')
            document.getElementById('serviceList').classList.add('d-none')
            document.getElementById('reviewlist').classList.add('d-none')
            document.getElementById('gallarylist').classList.remove('d-none')

            document.getElementById('aabout').classList.remove('active')
            document.getElementById('aservice').classList.remove('active')
            document.getElementById('areview').classList.remove('active')
            document.getElementById('agallary').classList.add('active')
        });
      })
    </script>
    <script>
        
        {% comment %} function initMap(){
            var location = {lat: 43.790810, lng: -79.166140}
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map,
            });
            var infowindow = new google.maps.InfoWindow({
                content:"Hello World!"
            });
            google.maps.event.addListener(marker,'click',function() {
                map.setZoom(16);
                map.setCenter(marker.getPosition());

                infowindow.open(map,marker);
            });

        } {% endcomment %}
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: { lat: 43.790810, lng: -79.166140 }
            });
            var geocoder = new google.maps.Geocoder();

            geocodeAddress(geocoder, map);
            
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = '{{ company.address }}, {{ company.state }}, {{ company.city }}, {{ company.postal }}';
            geocoder.geocode({ address: address }, function(results, status) {
                if (status === "OK") {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
                } else {

                }
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaZM_O3d1-xDrecS_fbcbvoT5qDmLmje0&callback=initMap"
    type="text/javascript"></script>
    <script>
      function getRandomSize(min, max) {
        return Math.round(Math.random() * (max - min) + min);
      }

      var allImages = "";
      {% for p in photos %}
        var width = getRandomSize(200, 400);
        var height =  getRandomSize(200, 400);
        allImages += '<div class="swiper-slide"><a href="{{ p.photos.url }}"><img loading="lazy" style="height:auto; width:300px;" src="{{ p.photos.url }}" alt="some gallary images"></a></div>'
  
      {% endfor %}

      $('#photos').append(allImages);
    </script>
    <form>{% csrf_token %} </form>
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                    const cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                                return cookieValue;
                            }
                            var csrftoken = getCookie('csrftoken');
                            
    {% for s in services %}
    
        $('#serv{{ s.id }}').click(function(e){
            var url = $(this).attr('href');
            

            // Prevent default action (e.g. following the link)
            e.preventDefault();

            {% if company.returning %}
                {% if returnClient %}
                    // Open the url in the current window. Set to "_blank" instead of "_self" to open in a new window.
                    window.open(url, "_self");
                {% else %}
                    {% if user.is_authenticated %}
                    Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-info',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                        title: 'This service provider does not accept new clients. ',
                        html: `<p>Click the request button below to get added onto the client list.</p>`,
                        confirmButtonText: 'Get On The List',
                    }).then(function(result){
                        if (result.isConfirmed){
                            csrftoken = getCookie('csrftoken');
                            $.ajax({
                                type:'POST',
                                url: '{% host_url 'requestSpotAsClient' host 'bookingurl' slug=company.slug %}',
                                async:false,
                                data:{company_id:'{{ company.id }}'},
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                success: function(data){
                                    Swal.fire({
                                    customClass:{
                                        confirmButton: 'btn btn-info',
                                        cancelButton: 'btn btn-danger',
                                    },
                                    title: 'Your request has been sent to {{ company.business_name }}.',
                                    html: `<p>We will send you an email once your request has been approved.</p>`,
                                    icon: 'success',
                                    buttonsStyling: false,
                                    })    
                                }
                            });
                        }
                    });
                    {% else %}
                    Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-info',
                            denyButton: 'btn btn-link licolorblue',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                        showDenyButton: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        title: 'This service provider does not accept new clients. ',
                        html: `<p>Please log into Gibele to place a request</p><input type="text" id="login" class="swal2-input" placeholder="Email">
                                <input type="password" id="password" class="swal2-input" placeholder="Password">`,
                        confirmButtonText: 'Sign In',
                        denyButtonText: `Sign Up`,
                        focusConfirm: false,
                        
                        preConfirm: () => {
                            const login = Swal.getPopup().querySelector('#login').value
                            const password = Swal.getPopup().querySelector('#password').value
                            var res = false
                            csrftoken = getCookie('csrftoken');
                            if (!login || !password) {
                                Swal.showValidationMessage(`Please enter your login and password`)
                            }
                            $.ajax({
                                type:'POST',
                                url: '{% host_url 'loginbooking' host 'bookingurl' slug=company.slug %}',
                                async: false,
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                data:{
                                    email: login,
                                    password: password
                                },
                                success: function(data){
                                    if(data.result){
                                        return true
                                    }
                                    else{
                                        Swal.showValidationMessage(`Incorrect email or password`)
                                        return false
                                    }
                                }
                            });
                        }
                        }).then((result) => {
                            if (result.isConfirmed){
                                //Send the request
                                csrftoken = getCookie('csrftoken');
                                $.ajax({
                                    type:'POST',
                                    url: '{% host_url 'checkIfClient' host 'bookingurl' slug=company.slug %}',
                                    async: false,
                                    headers:{
                                        "X-CSRFToken": csrftoken
                                    },
                                    data:{company_id:'{{ company.id }}'},
                                    success: function(data){
                                        if (data.good){
                                            window.open(url, "_self");
                                        }
                                        else if (data.data == 'notclient'){
                                            Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-info',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                        title: 'This service provider does not accept new clients. ',
                        html: `<p>Click the request button below to get added onto the client list.</p>`,
                        confirmButtonText: 'Get On The List',
                    }).then(function(result){
                        if (result.isConfirmed){
                            csrftoken = getCookie('csrftoken');
                            $.ajax({
                                type:'POST',
                                url: '{% host_url 'requestSpotAsClient' host 'bookingurl' slug=company.slug %}',
                                async:false,
                                data:{company_id:'{{ company.id }}'},
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                success: function(data){
                                    Swal.fire({
                                    customClass:{
                                        confirmButton: 'btn btn-info',
                                        cancelButton: 'btn btn-danger',
                                    },
                                    title: 'Your request has been sent to {{ company.business_name }}.',
                                    html: `<p>We will send you an email once your request has been approved.</p>`,
                                    icon: 'success',
                                    buttonsStyling: false,
                                    })    
                                }
                            });
                        }
                    });
                                        }
                                    }
                                })
                            }

                            {% comment %} Just checking if the user is signing up for an account. {% endcomment %}
                            if (result.isDenied){
                                Swal.fire({
                                    customClass:{
                                    confirmButton: 'btn btn-info',
                                    cancelButton: 'btn btn-danger',
                                },
                                showCancelButton: true,
                                buttonsStyling: false,
                                allowOutsideClick: false,
                                title: 'Sign Up for a free Gibele account',
                                html: `<p>Please sign up for Gibele to place a request</p>
                                <div class="row swalPadding">
                                    <div class="col-md-6 swalPadding">
                                        <input type="text" id="first" class="swal2-input" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6 swalPadding">
                                        <input type="text" id="last" class="swal2-input" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-12 swalPadding">
                                        <input type="text" id="login" class="swal2-input" placeholder="Email">
                                    </div>
                                    <div class="col-md-6 swalPadding">
                                        <input type="password" id="password" class="swal2-input" placeholder="Password">
                                    </div>
                                    <div class="col-md-6 swalPadding">
                                        <input type="password" id="confpassword" class="swal2-input" placeholder="Confirm Password">
                                    </div>
                                </div>`,
                                confirmButtonText: 'Create Account',
                                focusConfirm: false,
                                preConfirm: () => {
                                    const login = Swal.getPopup().querySelector('#login').value
                                    const first = Swal.getPopup().querySelector('#first').value
                                    const last = Swal.getPopup().querySelector('#last').value
                                    const password = Swal.getPopup().querySelector('#password').value
                                    const confpassword = Swal.getPopup().querySelector('#confpassword').value
                                    csrftoken = getCookie('csrftoken');
                                    if (password != confpassword) {
                                        Swal.showValidationMessage('The passwords don\'t match.')
                                        return false
                                    }
                                    if (!login || !password || !confpassword || !first || !last ){
                                        Swal.showValidationMessage('Please fill out the form.')
                                        return false
                                    }
                                    $.ajax({
                                        url: '{% host_url "createAccount" host "bookingurl" slug=company.slug %}',
                                        data: {email:login, first:first, last:last, password:password},
                                        type:'POST',
                                        async:false,
                                        headers:{
                                            "X-CSRFToken": csrftoken
                                        },
                                        success: function(data){
                                            if (data.error == 'notanemail' ){
                                                Swal.showValidationMessage('Please enter a proper email.')
                                                return false
                                            }
                                            else if (data.error == 'taken' ){
                                                Swal.showValidationMessage('Email already in use. Try another email address.')
                                                return false
                                            }
                                            else if (data.error){
                                                Swal.showValidationMessage('Please enter a stronger password. Passwords must be atleast 8 characters long that contains atleast 1 digit, a symbol, uppercase and lower case letters.')
                                                return false
                                            }
                                        }
                                    })
                                }
                                }).then(function(result){
                                    if (result.isConfirmed){
                                //Send the request
                                csrftoken = getCookie('csrftoken');
                                $.ajax({
                                    type:'POST',
                                    url: '{% host_url 'checkIfClient' host 'bookingurl' slug=company.slug %}',
                                    async: false,
                                    headers:{
                                        "X-CSRFToken": csrftoken
                                    },
                                    data:{company_id:'{{ company.id }}'},
                                    success: function(data){
                                        if (data.good){
                                            window.open(url, "_self");
                                        }
                                        else if (data.data == 'notclient'){
                                            Swal.fire({
                                            customClass:{
                                                confirmButton: 'btn btn-info',
                                                cancelButton: 'btn btn-danger',
                                            },
                                            buttonsStyling: false,
                                            title: 'This service provider does not accept new clients. ',
                                            html: `<p>Click the request button below to get added onto the client list.</p>`,
                                            confirmButtonText: 'Get On The List',
                                        }).then(function(result){
                                            if (result.isConfirmed){
                                                csrftoken = getCookie('csrftoken');
                                                $.ajax({
                                                    type:'POST',
                                                    url: '{% host_url 'requestSpotAsClient' host 'bookingurl' slug=company.slug %}',
                                                    async:false,
                                                    data:{company_id:'{{ company.id }}'},
                                                    headers:{
                                                        "X-CSRFToken": csrftoken
                                                    },
                                                    success: function(data){
                                                        Swal.fire({
                                                            customClass:{
                                                                confirmButton: 'btn btn-info',
                                                                cancelButton: 'btn btn-danger',
                                                            },
                                                            title: 'Your request has been sent to {{ company.business_name }}.',
                                                            html: `<p>We will send you an email once your request has been approved.</p>`,
                                                            icon: 'success',
                                                            buttonsStyling: false,
                                                        })    
                                                    }
                                                });
                                            }
                                        });
                                        }
                                    }
                                })
                            }
                                    
                        });
                    }
                });
            {% endif %}

        {% endif %}
                
            {% else %}
                // Open the url in the current window. Set to "_blank" instead of "_self" to open in a new window.
                window.open(url, "_self");
            {% endif %}
            
        });
    {% endfor %}

</script>
{% endblock booking %}