{% extends 'productspage/main.html'%}
{% load static %}
{% load hosts %}
{% load business_tags %}
{% block title %}{{ company.business_name }} - BookMe.to{% endblock %}
{% block companybizname %}{{ company.business_name }}{% endblock companybizname %}

{% block booking %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
    function changeheight() {
        var readmore = $('#readmore');
        if (readmore.text() == 'Read more') {
            readmore.text("Read less");
        } else {
            readmore.text("Read more");
        }
        $('.productdescription').toggleClass("showentire");
    };
</script>
<section class="py-0">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col-12 p-0 text-left">
                    <div class="text-block my-2">
                        <h4>Payment Method</h4>
                    </div>
                    <p class="text-muted small">All transactions are secure and encrypted. BookMe won't save your card.</p>
                    <div class="py-3 pr-1 pl-0 rounded mt-2 bordpayment">
                        <div class="d-flex align-items-center">
                            {% comment %} <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256s-18.7 93.3-52.7 127.3S304.1 436 256 436c-48.1 0-93.3-18.7-127.3-52.7S76 304.1 76 256s18.7-93.3 52.7-127.3S207.9 76 256 76m0-28C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z"></path><path d="M363.5 148.5C334.8 119.8 296.6 104 256 104c-40.6 0-78.8 15.8-107.5 44.5C119.8 177.2 104 215.4 104 256s15.8 78.8 44.5 107.5C177.2 392.2 215.4 408 256 408c40.6 0 78.8-15.8 107.5-44.5C392.2 334.8 408 296.6 408 256s-15.8-78.8-44.5-107.5z"></path></svg> {% endcomment %}
                            <div class="w-100 ml-3">
                                <div class="d-flex align-ittems-center justify-content-between">
                                    <p style="font-weight:500">Credit Card</p>
                                    <div class="d-flex align-items-center">
                                        <img alt="visa" src="{% static 'css/svg-img/cards/visa.svg' %}" class="creditcard"></img:alt:src:class>
                                        <img alt="mastercard" src="{% static 'css/svg-img/cards/mc_vrt_rev.svg' %}" class="creditcard"></img:alt:src:class>
                                        <img alt="amex" src="{% static 'css/svg-img/cards/amex.svg' %}" class="creditcard"></img:alt:src:class>
                                        <p class="text-muted small my-auto">&amp; more</p>
                                    </div>
                                </div>
                                <div id="card-element" class="rounded mt-2 borderpayment" style="padding: 12px 8px;">
                                <!-- Elements will create input elements here -->
                                </div>
                                <!-- We'll put the error messages in this element -->
                                <div id="card-element-errors" role="alert"></div>
                                
                            </div>
                        </div>
                        <button data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="btn btn-outline-primary px-3 my-3 mx-1" id="collectpayfirst" type="submit">
                        <div class="spinner-border sr-only" id="spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span id="button-text">Confirm Purchase</span>
                        </button>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5">
                {% for item in cart %}
                    {% with product=item.product %}
                        <div class="d-flex align-items-center pb-2">
                            <div class="">
                                <img class="rounded" style="object-fit: cover; width:90px; height:90px;" src="{{ product.mainimage.url }}" alt="">
                            </div>
                            <div class="ml-3 w-100 text-left">
                                <p class="m-0">{{product}}</p>
                                <div class="d-flex">
                                    <span style="font-weight:600;">${{ product.price }}</span>
                                </div>
                                <div class="d-flex flex-wrap"></div>
                            </div>
                        </div>
                        {% for addon in item.addons %}
                            <div class="d-flex justify-content-between align-items-center mt-0 py-0">
                                <p class="mb-1 text-muted">{{ addon.name }}:</p>
                                <p class=" mb-1 text-muted">${{ addon.price }}</p>
                            </div>
                        {% endfor %}
                        {% for dropdownoptions in item.dropdownoptions %}
                            <div class="d-flex justify-content-between align-items-center mt-0 py-0">
                                <p class="mb-1 text-muted">{{ dropdownoptions.option }}:</p>
                                <p class=" mb-1 text-muted">${{ dropdownoptions.price }}</p>
                            </div>
                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between align-items-center mt-0 py-0">
                            <p class="mb-1 text-muted">Subtotal:</p>
                            <p class=" mb-1 text-muted">${{ item.total_price }}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-0">
                            <p class="mb-1 text-muted">Shipping</p>
                            {% if item.shipping %}
                                <h5>$<span style="font-weight:500">{{ item.shipping }}</span></h5>
                            {% else %}
                                <p class="mb-1 text-muted">Pick up</p>
                            {% endif %}
                            
                        </div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p style="font-weight:600">Total</p>
                            <h5>$<span style="font-weight:600">{{ item.total_price }}</span></h5>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        
        
    });
</script>
{% endblock  %}