{% extends 'productspage/main.html'%}
{% load countries %}
{% load static %}
{% load crispy_forms_tags %}
{% load hosts %}
{% load business_tags %}
{% block title %}{{ company.business_name }} - ShopMe.to{% endblock %}
{% block companybizname %}{{ company.business_name }}{% endblock companybizname %}
{% block linkscript %}
<link rel="stylesheet" type="text/css" id="mce-u0" href="{% static '/tinymce/skins/ui/oxide/skin.min.css' %}">
<script src="{% static '/tinymce/tinymce.min.js' %}"></script>
<script src="{% static '/django_tinymce/init_tinymce.js' %}"></script>
{% endblock  %}
{% block booking %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
    function changeheight() {
        var readmore = $('#readmore');
        if (readmore.text() == 'Read more') {
            readmore.text("Read less");
        } else {
            readmore.text("Read more");
        }
        $('.productdescription').toggleClass("showentire");
    };
</script>
<style>
.custom-file-control:lang(en)::after {
  content: "Select file...";
}

.custom-file-control:lang(en)::before {
  content: "Click me";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
}
.custom-file-control {
  white-space: nowrap;
}
</style>
<section class="py-0">
    <div class="container">
        <div class="row">
            <div class="col-md-7 p-0 p-md-3 order-2 order-md-1">
                <div class="col-12 p-0 text-left">

                    <form method="post" action="{% host_url 'cart_checkout' host 'producturl' slug=company.slug %}" class="justify-content-center pt-1" id="paymentform" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for item in cart %}
                            {% with product=item.product %}
                                {% for question in product.product_questions.all  %}
                                    <div class="p-3 rounded mt-2 bordpayment">
                                        <div class="text-block my-2">
                                            <h4>{{ question.question }}</h4>
                                        </div>
                                        <div class="row p-2">
                                            {% if question.retrievetype == 0 %}
                                            <textarea name="{{ question.id }}" placeholder="{% if question.placeholder %}{{ question.placeholder }}{% endif %}" style="border:1px solid #dadbdd !important; box-shadow: 0 2px 4px rgba(0,0,0,.06); border-radius: 3px; height: 200px;" size="40" class="textarea form-control" {% if question.is_required %}required{% endif %}></textarea>
                                            {% else %}

                                                <div class="custom-file">
                                                        <input type="file" name="{{ question.id }}" accept="image/*" class="custom-file-input">
                                                        <label class="custom-file-label text-truncate">{{ question.placeholder }}</label>
                                                </div>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        {% endfor %}
                        <div class="p-3 rounded mt-2 bordpayment">
                            <div class="text-block my-2">
                                <h4>Personal Information</h4>
                            </div>
                            <div class="col-12 p-0">
                            <div class="row">
                                <div class="col-lg-6 py-0">
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                                <div class="col-lg-6 py-0">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                                <div class="col-lg-6 py-0">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <div class="col-lg-6 py-0">
                                    {{ form.phone|as_crispy_field }}
                                </div>
                                <div class="col-lg-6 py-0">
                                    {{ form.address|as_crispy_field }}
                                </div>
                                <div class="col-lg-6 py-0">
                                    {{ form.city|as_crispy_field }}
                                </div>
                                <div class="col-lg-4 py-0">
                                    {{ form.country|as_crispy_field }}
                                </div>
                                <div class="col-lg-4 py-0">
                                    {{ form.state|as_crispy_field }}
                                </div>
                                <div class="col-lg-4 py-0">
                                    {{ form.postal_code|as_crispy_field }}
                                </div>
                            </div>
                            </div>
                            <button data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="btn btn-outline-primary px-3 my-3 mx-1" id="collectpayfirst" type="submit">
                                <div class="spinner-border sr-only" id="spinner" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <span id="button-text">Continue to Payment Method</span>
                            </button>
                        </div>
                        
                    
                    </form>
                </div>
            </div>
            {% include "productspage/details/summary/sidesummary.html" with cart=cart product=product.request %}
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
            $("#id_country").change(function () {
                var countryId = $(this).val();  // get the selected country ID from the HTML input
                $.ajax({                       // initialize an AJAX request
                    url: "{% host_url 'loadstate' host 'producturl' slug=company.slug %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    data: {
                    'country': countryId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_state").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });
            });
            cleave = new Cleave('#id_phone', {
                delimiters: ['(', ') ', '-'],
                blocks: [0, 3, 3, 4],
                numericOnly: true
            });
            $('.custom-file-input').on('change',function(){
                var fileName = $(this)[0].files[0].name
                $(this).next('.custom-file-label').addClass("selected").html(fileName); 
            })

            
    });
</script>
{% endblock  %}