{% extends 'business/base.html' %}
{% load static %}
{% load hosts %}
{% load business_tags %}
{% block title %}{{ company.business_name }} - Gibele.com{% endblock %}
{% block content %}
    <!-- Hero Section-->
    {% with categoryname=company.category.name %}
    <section class="pt-7 d-flex align-items-end dark-overlay bg-cover" {% if not photos %}style="background-image: url('{% if company.image %}{{ company.image.url }}{% else %} {% if categoryname == 'Automotive Services' %}{% static "img/automotive-noimage1.jpg" %}{% elif categoryname == 'Personal Care' %}{% static "img/beauty-noimage1.jpg" %}{% else %}{% static "img/home-noimage1.jpg" %} {% endif %}{% endif %}'); height:400px; background-repeat:no-repeat; background-size: fit;"{% endif %}>
      <!-- Slider main container-->
      {% if photos %}
      <div class="swiper-container detail-slider slider-gallery">
        <!-- Additional required wrapper-->
        <div class="swiper-wrapper">
          <!-- Slides-->
          {% if categoryname == 'Automotive Services' %}
                <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/automotive-noimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="Header Image"><img class="img-fluid center" style="width:100%;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/automotive-noimage1.jpg" %}{% endif %}" alt="Header Image"></a></div>
          {% endif %}
          {% if categoryname == 'Personal Care' %}
                <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/beauty-noimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="Header Image"><img class="img-fluid center" style="width:100%; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/beauty-noimage1.jpg" %}{% endif %}" alt="Header Image"></a></div>
          {% endif %}
          {% if categoryname == 'Home Services' %}
            <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/home-noimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="Header Image"><img class="img-fluid center" style="width:100%; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/home-noimage1.jpg" %}{% endif %}" alt="Header Image"></a></div>
          {% endif %}
            {% for p in photos %}
                <div class="swiper-slide"><a href="{{ p.photos.url }}"><img loading="lazy" class="img-fluid center" style="width:100%;" src="{{ p.photos.url }}" alt="Images"></a></div>
            {% endfor %}

        </div>
        {% if photos %}
          <div class="swiper-pagination swiper-pagination-white"></div>
          <div class="swiper-button-prev swiper-button-white circle-slide"></div>
          <div class="swiper-button-next swiper-button-white circle-slide"></div>
        {% endif %}
      </div>

         {% endif %}
    </section>
    {% endwith %}
    
    <section class="py-0">
      <div class="container liblack">
        <div class="row">
          <div class="col-lg-7">
          <h1 class="text-shadow verified">{{ company.business_name }}</h1>
                <div class="text-block">
                    <p class="text-block"><i class="fa-map-marker-alt fa mr-1 licolor"></i> {{ company.address }}, {{ company.city }}</p>
                    <p class="mb-0 d-flex align-items-center">{% for x in '12345' %}<i class="fas fa-star {% if forloop.counter|avg_reviews:company.id %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}{{ reviews|length }} Reviews</p>
                </div>
          <hr>
            <nav class="navbar nav nav-pills nav-borders" id="navlink-page">
                <li class="nav-item"><a class="nav-link active ml-0 service-link" href="#navlink-page" id="aservice">Services</a></li>
                <li class="nav-item"><a class="nav-link about-link" href="#navlink-page" id="aabout">About</a></li>
                <li class="nav-item"><a class="nav-link review-link" href="#navlink-page" id="areview">Reviews</a></li>
                <li class="nav-item"><a class="nav-link gallary-link" href="#navlink-page" id="agallary">Gallary</a></li>
            </nav>
            <hr>
            <div class="text-block" id="serviceList">
            <h2>All Services</h2>

              <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                <div class="card card-plain mb-2">
                {% for categories in company.service_category.all %}
                  <div class="card-header p-2 mb-2" role="tab" id="heading{{ forloop.counter }}">
                    <p class="mb-0 text-sm text-left align-items-center justify-content-center">
                      <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        {{ categories.name }} Services
                        <i class="fas fa-chevron-down text-line"></i>
                      </a>
                    </p>
                  </div>
                  <div id="collapse{{ forloop.counter }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                    <div class="card-body text-left">
                      {% for s in categories.services.all %}
                        {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}                          
                          <div class="row p-0 justify-content-between text-left align-self-center">
                            <div class="col-8 p-0">
                            <p class="mb-1">{{ s.name }}</p>
                            <a id="serv{{ s.id }}" href="{% host_url 'bookingserviceurls' pk=s.id host 'bookingurl' slug=company.slug %}" class="btn btn-outline-primary">Book Now</a>
                            </div>
                            <div class="col-4 p-0 text-right">
                              <strong class="text-header m-1">{% if not hour == 0 %}{{ hour }}h{% endif %} {% if not min == 0 and not hour == 0 %}&amp;{% endif %} {% if not min == 0 %}{{ min }} min{% endif %}</strong>
                              {% if not type == 'dont' %}<p class="m-1">{% if type == "fixed" %}Fixed price of{% elif type == 'start' %}Prices start at{% elif type == 'variable' %}<strong>Prices Varies</strong>{% endif %}{% if type == 'variable' %}{% elif type == 'free' %}<strong>Free</strong> {% else %} <strong>${{ s.price }}</strong>{% endif %}</p>{% endif %}
                            </div>
                          </div>
                          <div class="col-12 p-0 mt-2">
                            <p class="text-muted">{{ s.description }}</p>
                          </div>
                        {% endwith %}  
                            <hr>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
                  <div class="card-header p-2 hover-animate" role="tab" id="headingAll">
                    <p class="mb-0 text-sm text-left align-items-center justify-content-center">
                      <a data-toggle="collapse" href="#collapseAll" aria-expanded="false" aria-controls="collapseAll">
                        All Services
                        <i class="fas fa-chevron-down text-line"></i>
                      </a>
                    </p>
                  </div>
                  <div id="collapseAll" class="collapse" role="tabpanel" aria-labelledby="headingAll" data-parent="#accordion">
                    <div class="card-body text-left">
                      {% for s in services %}
                        {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}                          
                          <div class="row p-0 justify-content-between text-left align-self-center">
                            <div class="col-8 p-0">
                              <p class="mb-1">{{ s.name }}</p>
                              <a id="serv{{ s.id }}" href="{% host_url 'bookingserviceurls' pk=s.id host 'bookingurl' slug=company.slug %}" class="btn btn-outline-primary">Book Now</a>
                            </div>
                            <div class="col-4 p-0 text-right">
                              <strong class="text-header m-1">{% if not hour == 0 %}{{ hour }}h{% endif %} {% if not min == 0 and not hour == 0 %}&amp;{% endif %} {% if not min == 0 %}{{ min }} min{% endif %}</strong>
                              {% if not type == 'dont' %}<p class="m-1">{% if type == "fixed" %}Fixed price of{% elif type == 'start' %}Prices start at{% elif type == 'variable' %}<strong>Prices Varies</strong>{% endif %}{% if type == 'variable' %}{% elif type == 'free' %}<strong>Free</strong> {% else %} <strong>${{ s.price }}</strong>{% endif %}</p>{% endif %}
                            </div>
                          </div>

                          <div class="col-12 p-0 m-0 text-center">
                            <p class="text-muted text-left">{{ s.description }}</p>
                          </div>
                        {% endwith %}  
                            <hr>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

{% comment %} 
                {% if services %}
                    <h2>All Services</h2>
                      <div class="card pb-2">
                        {% for s in services %}
                            {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}
                            <h3 class="mb-3">{{ s.name }}</h3>
                            <strong class="text-header">{% if not hour == 0 %}{{ hour }} hour {% endif %} {% if not min == 0 and not hour == 0 %}&amp;{% endif %} {% if not min == 0 %}{{ min }} min{% endif %}</strong>
                            <p class="text-muted">{{ s.description }}</p>
                            <p>{% if type == "fixed" %}Fixed price of{% elif type == 'start' %}Prices start at{% elif type == 'variable' %}<strong>Prices Varies</strong>{% endif %}{% if type == 'variable' %}{% elif type == 'free' %}<strong>Free</strong> {% elif type == 'dont' %}{% else %} <strong>${{ s.price }}</strong>{% endif %}</p>
                            {% endwith %}
                            <a id="serv{{ s.id }}" href="{% host_url 'bookingserviceurls' pk=s.id host 'bookingurl' slug=company.slug %}" class="btn btn-outline-primary">Book Now</a>
                            <hr>
                        {% endfor %}
                      </div>
                {% else %}
                    <h2>No services offered at this time</h2>
                    <hr>
                {% endif %} {% endcomment %}
                
            </div>
            <!-- Amenities-->
            <div class="d-none" id="aboutList">
                {% if amenities %}
                <div class="text-block">
                <h3 class="mb-4">Amenities Offered</h3>
                <ul class="amenities-list list-inline">
                    {% for a in amenities %}
                    <li class="list-inline-item mb-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span class="text-capitalize">{{ a.amenity }}</span>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                <hr>
                </div>
                {% endif %}

                <div class="text-block">
                {% if company.description %}
                <h3 class="mb-3">About</h3>
                <p class="text-muted text-left"> {{ company.description }}</p>
                <hr>
                {% endif %}
                </div>

                <div class="text-block">
                    <h3 class="mb-3">Location</h3>
                    <div id="map"></div>
                    <hr>
                </div>
            </div>
            
            
            <div class="text-block d-none" id="reviewlist">
                <div class="d-flex justify-content-center">
                    <h3 class="mb-3">Reviews</h3>
                </div>
              {% if reviews %}
              {% for review in reviews %}
              <hr>
              {% with reviewer=review.reviewer %}
              <div class="media d-block d-sm-flex review">
                <div class="text-md-left mr-4 mr-xl-5"><img class="d-block avatar avatar-xl p-2 mb-2" src="{% if reviewer.avatar %}{{ reviewer.avatar.url }}{% else %}https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png{% endif %} " alt="{{ reviewer.first_name }} {{ reviewer.last_name }}"><span class="text-uppercase text-muted text-sm">{{ review.created|date:"M d, Y"}}</span></div>
                <div class="media-body text-left">
                  <h6 class="mt-2 mb-1">{{ reviewer.first_name }} {{ reviewer.last_name }}</h6>
                  <div class="mb-2">{% for x in '12345' %}<i class="fas fa-star {% if forloop.counter <= review.star %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}
                  </div>
                  <p class="text-muted text-sm">{{ review.review }}     </p>
                </div>
              </div>
              {% endwith %}
              {% endfor %}
              {% include 'business/company/pagination_review/pagination.html' with page=reviews %}
              <hr>
              {% else %}
                <h6>Be the first to write a review on this business after you complete a service with them.</h6>
                <hr>
              {% endif %}
            
              
            </div>

            <div class="text-block d-none" id="gallarylist">
              <div class="row text-center justify-content-center" id="galphotos">
                {% for p in photos %}
                  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <div class="card hover-animate justify-content-center align-self-center show-image" id="{{ p.id }}">
                      <img width="100%" class="rounded" src="{{ p.photos.url }}" alt="">
                    </div>
                  </div>
                {% empty %}
                  <h6>No images have been uploaded by {{ company.name }}</h6>
                {% endfor %}
              </div>
              <br>
              {% include 'bizadmin/dashboard/reviews/pagination.html' with page=photos%}
            </div>
            
          </div>
          <div class="col-lg-5">
            <div class="pl-xl-4">
              <!-- Opening Hours      -->
              <div class="card border-0 shadow mb-5">
              <div class="card-topcol bg-light"></div>
                
                <div class="card-body">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0">Business Hours </h4>
                    </div>
                  </div>
                  <table class="table text-sm mb-0">
                    <tr>
                      <th class="pl-0 border-0">Sunday</th>
                      {% if sun_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ sun_hour.from_hour|date:'g:i A'}} - {{ sun_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Monday</th>
                      {% if mon_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ mon_hour.from_hour|date:'g:i A' }} - {{ mon_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Tuesday</th>
                      {% if tues_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ tues_hour.from_hour|date:'g:i A' }} - {{ tues_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Wednesday</th>
                      {% if wed_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ wed_hour.from_hour|date:'g:i A' }} - {{ wed_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Thursday</th>
                      {% if thur_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ thur_hour.from_hour|date:'g:i A' }} - {{ thur_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Friday</th>
                      {% if fri_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ fri_hour.from_hour|date:'g:i A' }} - {{ fri_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Saturday</th>
                      {% if sat_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ sat_hour.from_hour|date:'g:i A' }} - {{ sat_hour.to_hour|date:'g:i A' }}</td>
                      {% endif %}
                    </tr>
                  </table>
                </div>
              </div>
              <!-- Contact-->
              <div class="card border-0 shadow mb-5">
                <div class="card-topcol bg-light"></div>
                <div class="card-body">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0">Contact Information</h4>
                    </div>
                  </div>
                  <ul class="list-unstyled mb-4">
                    <li class="mb-0 pb-0"> 
                      <a rel="nofollow" class="licolor text-sm text-decoration-none" href="tel:{{ company.phone }}">
                        <div class="row my-0 py-0">
                          <div class="col-2 mb-0 pb-0">
                            <i class="fa fa-phone mr-3"></i>
                          </div>
                          <div class="col-10 pb-0 text-left">
                            <span class="text-muted">{{ company.phone }}</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="mb-2"> 
                      <a rel="nofollow" class="licolor text-sm text-decoration-none" href="mailto:{{ company.email }}">
                        <div class="row my-0 py-0">
                          <div class="col-2 my-0 pb-0">
                            <i class="fa fa-envelope mr-3"></i>
                          </div>
                          <div class="col-10 pb-0 text-left">
                            <span class="text-muted">{{ company.email }}</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    {% if company.website_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-sm text-decoration-none" href="{{ company.website_link }}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fa fa-globe mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">{{ company.website_link }}</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                    {% if company.fb_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-blue text-sm text-decoration-none" href="{{ company.fb_link}}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fab fa-facebook mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">Facebook</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                    {% if company.twitter_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-sm text-decoration-none" href="{{ company.twitter_link}}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fab fa-twitter mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">Twitter</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                    {% if company.instagram_link %}
                      <li class="mb-2"> 
                        <a rel="nofollow" class="licolor text-sm text-decoration-none" href="{{ company.instagram_link}}">
                          <div class="row my-0 py-0">
                            <div class="col-2 my-0 pb-0">
                              <i class="fab fa-instagram licolor mr-3"></i>
                            </div>
                            <div class="col-10 pb-0 text-left">
                              <span class="text-muted">Instagram</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <div class="text-center">
                  {% with users_like=company.users_like.all %}
                    {% with liked_count=users_like.count %}
                    <p><a class="licolor likes" id="{{ company.id }}" href="#" data-id="{{ company.id }}" data-total={{ liked_count }} data-action="{% if request.user in users_like %}unlike{% else %}like{% endif %}"> <i class="fa fa-heart"></i> {% if request.user in users_like %}Unf{% else %}F{% endif %}avourite this company</a></p>
    
                    {% if liked_count == 1 %}
                      <span id="totalsLikes">{{ liked_count }} person loves this business</span>
                    {% elif liked_count > 1 %}
                      <span id="totalsLikes">{{ liked_count }} people love this business</span>
                    {% else %}
                      <span id="totalsLikes">Be the first to favourite this business</span>
                    {% endif %}
                    {% endwith %}
                  {% endwith %}
                </div>
            </div>
          </div>
        
        {% comment %} <div class="col-lg-12">
              <!-- Gallery-->
              <h3 class="mb-4">Gallery</h3>
              {% if photos %}
                <div class="row gallery ml-n1 mr-n1">
                  <div class="swiper-container gallery-slider">
                    <!-- Additional required wrapper-->
                    <div class="swiper-wrapper">
                      {% for p in photos %}
                      <div class="swiper-slide"><a href="{{ p.photos.url }}"><img loading="lazy" style="height:auto; width:300px;" src="{{ p.photos.url }}" alt="some gallary images"></a></div>
                      {% endfor %}
                  </div>
                      <div class="swiper-pagination swiper-pagination-white"></div>
                      <div class="swiper-button-prev swiper-button-white circle-slide"></div>
                      <div class="swiper-button-next swiper-button-white circle-slide"></div>
                  </div>
                  </div>
              
              {% else %}

              <h6>This business has not uploaded any gallary images yet.</h6>

              {% endif %}
          </div> {% endcomment %}
          </div>
      </div>
    </section>

  {% if similar_companies %}
    <div class="py-6 bg-gray-100"> 
      <div class="container mt-3">
        <h5 class="mb-0">Similar companies</h5>
        <p class="subtitle text-sm licolor mb-4">You may also like</p>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative items-slider">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper pb-5">
            {% for sim_comp in similar_companies %}
              <!-- Slides-->
              <div class="swiper-slide h-auto px-2">
                <!-- venue item-->
                <div class="w-90 h-90">
                  <div class="card h-90 border-0 shadow">
                    <div class="card-img-top overflow-hidden dark-overlay bg-cover"><a class="tile-link" href="{{ sim_comp.get_absolute_url }}"></a>
                      <img style="width:100%;" src="{% if sim_comp.image %}{{ sim_comp.image.url }}{% elif company.category.name == 'Automotive Services' %}{% static "img/automotive-noimage1.jpg" %}{% elif company.category.name == 'Personal Care' %}{% static "img/beautynoimage1.jpg" %}{% endif %}" alt="">
                      <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      {% with users_like=sim_comp.users_like.all %}
                        {% if request.user in users_like %}
                          <a class="card-fav-icon position-relative z-40 like" href="#" id="{{ sim_comp.id }}" data-id="{{ sim_comp.id }}" data-action="unlike"> 
                            <svg class="svg-icon text-danger" style="opacity: 1 !important;">
                              <use xlink:href="#heart-liked"></use>
                            </svg>
                          </a>
                          {% else %}
                          <a class="card-fav-icon position-relative z-40 like" href="#" id="{{ sim_comp.id }}" data-id="{{ sim_comp.id }}" data-action="like"> 
                            <svg class="svg-icon text-white">
                              <use xlink:href="#heart-unliked"></use>
                            </svg>
                          </a>
                        {% endif %}
                      {% endwith %}
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-img-overlay-bottom z-index-20">
                        <p class="mb-2 text-xs">{% for x in '12345' %}<i class="fas fa-star {% if forloop.counter|avg_reviews:sim_comp.id %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}
                        </p>
                      </div>
                      <h4 class="text-shadow"><a href="{{ sim_comp.get_absolute_url }}">{{ sim_comp.business_name }}</a></h4>
                      <p class="text-sm text-muted mb-3">{{ sim_comp.description|slice:"0:40" }}{% if sim_comp.description > 40 %}...{% endif %}</p>
                      <p class="text-sm text-muted text-uppercase mb-1"> <a href="#" class="text-dark"></a></p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            
          </div>
          <!-- If we need pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock content %}

{% block extrascripts %}

{% comment %} MAKE SURE YOU REMOVE YOUR KEY IN PRODUCTION {% endcomment %}
    <script>
        
        {% comment %} function initMap(){
            var location = {lat: 43.790810, lng: -79.166140}
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map,
            });
            var infowindow = new google.maps.InfoWindow({
                content:"Hello World!"
            });
            google.maps.event.addListener(marker,'click',function() {
                map.setZoom(16);
                map.setCenter(marker.getPosition());

                infowindow.open(map,marker);
            });

        } {% endcomment %}
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
            });
            var geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = '{{ company.address }}, {{ company.state }}, {{ company.city }}, {{ company.postal }}';
            geocoder.geocode({ address: address }, function(results, status) {
                if (status === "OK") {
                resultsMap.setCenter(results[0].geometry.location);
                var antennasCircle = new google.maps.Circle({
                  strokeColor: "#854fee",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: "#854fee",
                  fillOpacity: 0.35,
                  map: resultsMap,
                  center: {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()},
                  radius:  1000
                });


                } else {

                }
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaZM_O3d1-xDrecS_fbcbvoT5qDmLmje0&callback=initMap"
    type="text/javascript"></script>
    <script>
      function getRandomSize(min, max) {
        return Math.round(Math.random() * (max - min) + min);
      }

      var allImages = "";
      {% for p in photos %}
        var width = getRandomSize(200, 400);
        var height =  getRandomSize(200, 400);
        allImages += '<div class="swiper-slide"><a href="{{ p.photos.url }}"><img loading="lazy" style="height:auto; width:300px;" src="{{ p.photos.url }}" alt="some gallary images"></a></div>'
  
      {% endfor %}

      $('#photos').append(allImages);
    </script>
    <script>
      $(document).ready(function(){
        function checkWidth(){
          var windowWidth = $(window).width();
          if (windowWidth <= 560){
            $('.swiper-button-next').hide()
            $('.swiper-button-prev').hide()
          }
          else{
            $('.swiper-button-next').show()
            $('.swiper-button-prev').show()
          }
        }
        checkWidth();
        $(window).resize(checkWidth);
      })
    </script>
{% endblock extrascripts %}
{% block ajaxscripts %}
    <script>
      $(document).ready(function(){
        function checkWidth(){
          var windowWidth = $(window).width();
          if (windowWidth <= 560){
            $('.swiper-button-next').hide()
            $('.swiper-button-prev').hide()
          }
          else{
            $('.swiper-button-next').show()
            $('.swiper-button-prev').show()
          }
        }
        checkWidth();
        $(window).resize(checkWidth);
        $('.about-link').on('click', function(e){
            document.getElementById('aboutList').classList.remove('d-none')
            document.getElementById('serviceList').classList.add('d-none')
            document.getElementById('reviewlist').classList.add('d-none')
            document.getElementById('gallarylist').classList.add('d-none')

            document.getElementById('aabout').classList.add('active')
            document.getElementById('aservice').classList.remove('active')
            document.getElementById('areview').classList.remove('active')
            document.getElementById('agallary').classList.remove('active')
        });
        $('.service-link').on('click', function(e){
            document.getElementById('aboutList').classList.add('d-none')
            document.getElementById('serviceList').classList.remove('d-none')
            document.getElementById('reviewlist').classList.add('d-none')
            document.getElementById('gallarylist').classList.add('d-none')

            document.getElementById('aabout').classList.remove('active')
            document.getElementById('aservice').classList.add('active')
            document.getElementById('areview').classList.remove('active')
            document.getElementById('agallary').classList.remove('active')
        });

        $('.review-link').on('click', function(e){
            document.getElementById('aboutList').classList.add('d-none')
            document.getElementById('serviceList').classList.add('d-none')
            document.getElementById('reviewlist').classList.remove('d-none')
            document.getElementById('gallarylist').classList.add('d-none')

            document.getElementById('aabout').classList.remove('active')
            document.getElementById('aservice').classList.remove('active')
            document.getElementById('areview').classList.add('active')
            document.getElementById('agallary').classList.remove('active')
        });

        $('.gallary-link').on('click', function(e){
            document.getElementById('aboutList').classList.add('d-none')
            document.getElementById('serviceList').classList.add('d-none')
            document.getElementById('reviewlist').classList.add('d-none')
            document.getElementById('gallarylist').classList.remove('d-none')

            document.getElementById('aabout').classList.remove('active')
            document.getElementById('aservice').classList.remove('active')
            document.getElementById('areview').classList.remove('active')
            document.getElementById('agallary').classList.add('active')
        });
      })
    </script>
    <script>
      function getCookie(name) {
                            let cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                    const cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                                return cookieValue;
                            }
                            const csrftoken = getCookie('csrftoken');
                            
      $(document).ready(function(){
        $('a.like').click(function(e){
          e.preventDefault()
          var elem = $(this)
          var company = elem.attr("data-id")
          var actions = elem.attr("data-action")
          var inside = document.getElementById(company)
          $.ajax({
                url: "{% host_url 'business:company_like' host 'www' %}",
                data: JSON.stringify({company_id: company, action: actions}),
                type: "POST",
                dataType: 'json',
                headers:{
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    if (!data.good){
                      location.href='{% host_url "login" host "www" %}'
                    }
                    else{
                      if (actions == 'like'){
                        elem.attr("data-action", 'unlike')
                      }
                      else{
                        elem.attr("data-action", 'like')
                      }
                      inside.innerHTML= data.hearts
                    }
                },
            });
        });

        $('a.likes').click(function(e){
          e.preventDefault()
          var elem = $(this)
          var company = elem.attr("data-id")
          var actions = elem.attr("data-action")
          var total_likes = parseInt(elem.attr("data-total"))
          var inside = document.getElementById(company)
          var likedFeedback = document.getElementById('totalsLikes')
          $.ajax({
                url: "{% host_url 'business:company_like' host 'www' %}",
                data: JSON.stringify({company_id: company, action: actions}),
                type: "POST",
                dataType: 'json',
                headers:{
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    if (!data.good){
                      location.href='{% host_url "login" host "www" %}'
                    }
                    else{
                      if (actions == 'like'){
                        elem.attr("data-action", 'unlike')
                        inside.innerHTML= `<i class="fa fa-heart"></i> Unfavourite this company`
                        elem.attr("data-total", total_likes+1)
                        if(total_likes+1==1){
                          likedFeedback.innerHTML = `1 person loves this business`
                        }
                        else {
                          likedFeedback.innerHTML = (total_likes + 1).toString() + ` people love this business`
                        }

                      }
                      else{
                        elem.attr("data-action", 'like')
                        inside.innerHTML= `<i class="fa fa-heart"></i> Favourite this company`
                        elem.attr("data-total", total_likes-1)
                        if(total_likes - 1==0){
                          likedFeedback.innerHTML = `Be the first to favourite this business`
                        }
                        else if(total_likes - 1==1) {
                          likedFeedback.innerHTML = `1 person loves this business`
                        }
                        else {
                          likedFeedback.innerHTML = (total_likes - 1).toString() + ` people love this business`
                        }
                      }
                    }
                },
            });
        });
      });
    </script>
{% endblock  %}
