{% extends 'business/base.html' %}
{% load static %}
{% load hosts %}
{% block title %}{{ company.business_name }} - Gibele.com{% endblock %}
{% block content %}
    <!-- Hero Section-->
    <section class="pt-7 pb-5 d-flex align-items-end dark-overlay bg-cover">
      <!-- Slider main container-->
      {% comment %} style="background-image: url('{% if company.image %}{{ company.image.url }}{% else %}{% static "/img/automotive-noimage1.jpg" %}{% endif %}'); width:auto; height:400px;" {% endcomment %}
      <div class="swiper-container detail-slider slider-gallery">
        <!-- Additional required wrapper-->
        <div class="swiper-wrapper">
          <!-- Slides-->
          {% if comp_categ.name == 'Automotive Services' %}
                <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "/img/automotive-noimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="Header Image"><img class="img-fluid center" style="width:500px;max-height:600px;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "/img/automotive-noimage1.jpg" %}{% endif %}" alt="Header Image"></a></div>
          {% endif %}
          {% if comp_categ.name == 'Personal Care' %}
                <div class="swiper-slide"><a href="{% if company.image %}{{ company.image.url }}{% else %}{% static "/img/beautynoimage1.jpg" %}{% endif %}" data-toggle="gallery-top" title="Header Image"><img class="img-fluid center" style="width:500px;max-height:600px; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "/img/beautynoimage1.jpg" %}{% endif %}" alt="Header Image"></a></div>
          {% endif %}
          {% if photos %}
            {% for p in photos %}
              <div class="swiper-slide"><a href="{{ p.photos.url }}"><img loading="lazy" class="img-fluid center" style="width:500px;max-height:600px;" src="{{ p.photos.url }}" alt="Images"></a></div>
            {% endfor %}

          {% else %}

          <div class="swiper-slide"><img class="img-fluid" src="{% static "/img/white-background-500x500.jpg" %}" alt="No Image"></div>
          <div class="swiper-slide"><img class="img-fluid" src="{% static "/img/white-background-500x500.jpg" %}" alt="No Image"></div>          {% endif %}
        </div>
        {% if photos %}
          <div class="swiper-pagination swiper-pagination-white"></div>
          <div class="swiper-button-prev swiper-button-white circle-slide"></div>
          <div class="swiper-button-next swiper-button-white circle-slide"></div>
        {% endif %}
      </div>
    </section>

    <section class="py-0">
      <div class="container">

        <div class="row">
          <div class="col-lg-7">
            <div class="text-block">
            <div class="d-flex justify-content-between align-items-start flex-column flex-lg-row align-items-lg-end">
            <div class="text-black mb-4 mb-lg-0">
            <div class="badge badge-pill px-3 py-2 mb-4">Automotive Services</div>
            <h1 class="text-shadow verified">{{ company.business_name }}</h1>
            <div class="text-block">
                <p class="licolor text-block"><i class="fa-map-marker-alt fa mr-1"></i> {{ address }}</p>
                <p class="mb-0 d-flex align-items-center"><i class="fa fa-xs fa-star licolor"></i><i class="fa fa-xs fa-star licolor"></i><i class="fa fa-xs fa-star licolor"></i><i class="fa fa-xs fa-star licolor"></i><i class="fa fa-xs fa-star text-gray-200 mr-4">                   </i>{{ reviews|length }} Reviews</p>
            </div>
          </div>
        </div>
        <hr>
            <div class="text-block">
                {% if services %}
                    <h2>Services</h1>
                    {% for s in services %}
                        <h3 class="mb-3">{{ s.name }}</h3>
                        <p class="text-muted">{{ s.description }}</p>
                        <p>${{ s.price }}</p>
                        <a href="{% host_url 'bookingserviceurls' pk=s.id host 'bookingurl' slug=company.slug %}" class="btn btn-outline-primary">Book Now</a>
                        <hr>
                        
                    {% endfor %}
                {% endif %}
            </div>
            {% if company.description %}
              <h3 class="mb-3">About</h3>
              <p class="text-muted"> {{ company.description }}</p>
            {% endif %}
            <hr>
            </div>
            <div class="text-block">
                <h3 class="mb-3">Location</h3>
                <div id="map"></div>
                <hr>
            </div>
            
            <div class="text-block">
              <!-- Gallery-->
              <h3 class="mb-4">Gallery</h3>
              {% if photos %}
                <div class="row gallery ml-n1 mr-n1">
                  <div class="swiper-container gallery-slider">
                    <!-- Additional required wrapper-->
                    <div class="swiper-wrapper" id="photos">
                  </div>
                      <div class="swiper-pagination swiper-pagination-white"></div>
                      <div class="swiper-button-prev swiper-button-white circle-slide"></div>
                      <div class="swiper-button-next swiper-button-white circle-slide"></div>
                  </div>
                  </div>
              
              {% else %}

              <h6>This business has not uploaded any gallary images yet.</h6>

              {% endif %}
            </div>
            <!-- Amenities-->
            {% if amenities %}
            <hr>
            <div class="text-block">
              <h3 class="mb-4">Amenities</h3>
              <ul class="amenities-list list-inline">
                {% for a in amenities %}
                <li class="list-inline-item mb-3">
                  <div class="d-flex align-items-center">
                    <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span>{{ a.amenity }}</span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <hr>
            <div class="text-block">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-4 licolor">Reviews </h5>
                </div>
            
              {% for review in reviews %}
              <div class="media d-block d-sm-flex review">
                <div class="text-md-center mr-4 mr-xl-5"><img class="d-block avatar avatar-xl p-2 mb-2" src="img/avatar/avatar-8.jpg" alt="{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}"><span class="text-uppercase text-muted text-sm">{{ review.created|date:"M d, Y"}}</span></div>
                <div class="media-body">
                  <h6 class="mt-2 mb-1">{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</h6>
                  <div class="mb-2">{% for i in '1234' %}<i class="fa fa-xs fa-star licolor"></i>{% endfor %}{% for i in '1' %}<i class="fa fa-xs fa-star "></i>{% endfor %}
                  </div>
                  <p class="text-muted text-sm">{{ review.review }}     </p>
                </div>
              </div>
              {% empty %}
                <h6>Be the first to write a review on this business after you complete a service with them.</h6>
              {% endfor %}
            
              
            </div>
            <hr>
          </div>
          <div class="col-lg-5">
            <div class="pl-xl-4">
              <!-- Opening Hours      -->
              <div class="card border-0 shadow mb-5">
                <div class="card-header bg-gray-100 py-4 border-0">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0 licolor">Business Hours </h4>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table text-sm mb-0">
                    <tr>
                      <th class="pl-0 border-0">Sunday</th>
                      {% if sun_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ sun_hour.from_hour|date:"g:i a"}} - {{ sun_hour.to_hour|date:"g:i a" }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Monday</th>
                      {% if mon_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ mon_hour.from_hour|date:"g:i a" }} - {{ mon_hour.to_hour|date:"g:i a" }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Tuesday</th>
                      {% if tues_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ tues_hour.from_hour|date:"g:i a" }} - {{ tues_hour.to_hour|date:"g:i a" }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Wednesday</th>
                      {% if wed_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ wed_hour.from_hour|date:"g:i a" }} - {{ wed_hour.to_hour|date:"g:i a" }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Thursday</th>
                      {% if thur_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ thur_hour.from_hour|date:"g:i a" }} - {{ thur_hour.to_hour|date:"g:i a" }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Friday</th>
                      {% if fri_hour.is_closed %}
                        <td class="pl-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ fri_hour.from_hour|date:"g:i a" }} - {{ fri_hour.to_hour|date:"g:i a" }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="pl-0">Saturday</th>
                      {% if sat_hour.is_closed %}
                        <td class="pr-0 text-right border-0">Closed</td>
                      {% else %}
                        <td class="pr-0 text-right border-0">{{ sat_hour.from_hour|date:"g:i a" }} - {{ sat_hour.to_hour|date:"g:i a" }}</td>
                      {% endif %}
                    </tr>
                  </table>
                </div>
              </div>
              <!-- Contact-->
              <div class="card border-0 shadow mb-5">
                <div class="card-header bg-gray-100 py-4 border-0">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0 licolor">Contact Information</h4>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mb-4">

                    <li class="mb-2"> <a class="licolor text-sm text-decoration-none" href="tel:{{ company.phone }}"><i class="fa fa-phone mr-3"></i><span class="text-muted">{{ company.phone }}</span></a></li>
                    <li class="mb-2"> <a class="licolor text-sm text-decoration-none" href="mailto:{{ company.email }}"><i class="fa fa-envelope mr-3"></i><span class="text-muted">{{ company.email }}</span></a></li>
                    {% if company.website_link %}
                      <li class="mb-2"> <a class="licolor text-sm text-decoration-none" href="{{ company.website_link }}"><i class="fa fa-globe mr-3"></i><span class="text-muted">{{ company.website_link }}</span></a></li>
                    {% endif %}
                    {% if company.fb_link %}
                      <li class="mb-2"> <a class="licolor text-blue text-sm text-decoration-none" href="{{ company.fb_link}}"><i class="fab fa-facebook mr-3"></i><span class="text-muted">Facebook</span></a></li>
                    {% endif %}
                    {% if company.twitter_link %}
                      <li class="mb-2"> <a class="licolor text-sm text-decoration-none" href="{{ company.twitter_link}}"><i class="fab fa-twitter mr-3"></i><span class="text-muted">Twitter</span></a></li>
                    {% endif %}
                    {% if company.instagram_link %}
                      <li class="mb-2"> <a class="licolor text-sm text-decoration-none" href="{{ company.instagram_link}}"><i class="fab fa-instagram mr-3"></i><span class="text-muted">Instagram</span></a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <div class="text-center">
                <p><a class="licolor" href="#"> <i class="fa fa-heart"></i> Favourite This Company</a></p><span> people love this business</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="py-6 bg-gray-100"> 
      <div class="container">
        <h5 class="mb-0">Similar places</h5>
        <p class="subtitle text-sm text-primary mb-4">You may also like         </p>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative items-slider">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper pb-5">
            {% for sim_comp in similar_companies %}
              <!-- Slides-->
              <div class="swiper-slide h-auto px-2">
                <!-- venue item-->
                <div class="w-100 h-100">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden dark-overlay bg-cover"><a class="tile-link" href="{{ sim_comp.get_absolute_url }}"></a>
                      <img style="width:100%; max-height:250px;" src="{% if sim_comp.image %}{{ sim_comp.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
                      <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                        <a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                          <svg class="svg-icon text-white">
                            <use xlink:href="#heart-1"> </use>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-img-overlay-bottom z-index-20">
                        <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                    </i>
                        </p>
                      </div>
                      <h4 class="text-shadow"><a href="{{ sim_comp.get_absolute_url }}">{{ sim_comp.business_name }}</a></h4>
                      <p class="text-sm text-muted mb-3">{{ sim_comp.description|slice:"0:40" }}{% if sim_comp.description > 40 %}...{% endif %}</p>
                      <p class="text-sm text-muted text-uppercase mb-1"> <a href="#" class="text-dark"></a></p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            
          </div>
          <!-- If we need pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extrascripts %}

{% comment %} MAKE SURE YOU REMOVE YOUR KEY IN PRODUCTION {% endcomment %}
    <script>
        
        {% comment %} function initMap(){
            var location = {lat: 43.790810, lng: -79.166140}
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map,
            });
            var infowindow = new google.maps.InfoWindow({
                content:"Hello World!"
            });
            google.maps.event.addListener(marker,'click',function() {
                map.setZoom(16);
                map.setCenter(marker.getPosition());

                infowindow.open(map,marker);
            });

        } {% endcomment %}
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: { lat: 43.790810, lng: -79.166140 }
            });
            var geocoder = new google.maps.Geocoder();

            geocodeAddress(geocoder, map);
            
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = '{{ address }}';
            console.log(address)
            geocoder.geocode({ address: address }, function(results, status) {
                if (status === "OK") {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
                } else {
                alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaZM_O3d1-xDrecS_fbcbvoT5qDmLmje0&callback=initMap"
    type="text/javascript"></script>
    <script>
      function getRandomSize(min, max) {
        return Math.round(Math.random() * (max - min) + min);
      }

      var allImages = "";
      {% for p in photos %}
        var width = getRandomSize(200, 400);
        var height =  getRandomSize(200, 400);
        allImages += '<div class="swiper-slide"><a href="{{ p.photos.url }}"><img loading="lazy" style="height:auto; width:300px;" src="{{ p.photos.url }}" alt="some gallary images"></a></div>'
  
      {% endfor %}

      $('#photos').append(allImages);
    </script>
    <script>
      $(document).ready(function(){
        function checkWidth(){
          var windowWidth = $(window).width();
          if (windowWidth <= 560){
            $('.swiper-button-next').hide()
            $('.swiper-button-prev').hide()
          }
          else{
            $('.swiper-button-next').show()
            $('.swiper-button-prev').show()
          }
        }
        checkWidth();
        $(window).resize(checkWidth);
      })
    </script>
{% endblock extrascripts %}
