{% extends 'business/base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center bg-white">
        <h1>{% if category %}{{ category.name }}{% else %}Services{% endif %}</h1>
        <div class="card-deck text-center">
        {% for company in companies %}
            <div class="card mb-4 text-center">
                    <a class="nav-link text-center" href="{{ company.get_absolute_url }}">

                        <img align="left" class="img-responsive list-img" align="left" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        <div class="card-body">
                            <h5>{{ company.business_name }}</h5>
                            <hr>
                            <p class="card-text liblack">{{ company.description }}</p>
                        </div>
                    </a>
            </div>

            {% if forloop.counter|divisibleby:1 %}
                </div>
                
                <div class="card-deck text-center">
            {% endif %}
        {% empty %}
            <h1>There are no services available yet.</h1>
        {% endfor %}
        
        </div>
    </div>
    {% include "business/pagination.html" with page=companies %}
    <hr>
{% endblock %}