{% extends 'business/base.html' %}
{% load static %}
{% load hosts %}
{% load business_tags %}
{% block ogdescription %}Find online services on BookMe{% endblock ogdescription %}
{% block content %}
  <form action="" hidden> {% csrf_token %}</form>
    <div class="container">
        {% if category %}
            <h1 class="text-center">{{ category.name }}</h1>
        {% else %}
            {% comment %} <h1 class="text-center">{% if name %}Results for {{ name }}{% else %}No Results Found{% endif %}</h1> {% endcomment %}
        {% endif %}
        <div class="d-flex justify-content-between align-items-center flex-column flex-md-row my-3 col-md-12">
              <div class="mr-3">
                <p class="mb-3 mb-md-0"><strong>{{ total }}</strong> results found {% if name %}for {{ name }}{% endif %}</p>
              </div>
              <div>
                <label class="form-label mr-2" for="sortCompany">Sort by</label>
                <select class="selectpicker text-black" name="sort" id="sortCompany" data-style="btn-selectpicker" title="">
                  {% comment %} <option value="sortBy_0">Most popular   </option> {% endcomment %}
                  {% comment %} <option value="sortBy_Rec">Recommended   </option> {% endcomment %}
                  {% comment %} <option value="sortBy_2">Newest   </option> {% endcomment %}
                  {% comment %} <option value="sortBy_3">Oldest   </option> {% endcomment %}
                  <option value="sortBy_Closest" selected>Closest   </option>
                </select>
              </div>
            </div>
        <div class="row" id="companyCardList">
            {% for company in companies %}
            {% with users_like=company.users_like.all %}
                <!-- venue item-->
            <div class="col-lg-4 col-md-6 mb-5 hover-animate">
              <div class="card h-100 border-0 shadow">
                
                <div class="card-img-top img-fluid overflow-hidden dark-overlay bg-cover" >

                      {% with gal=company.gallary.all  %}
                      {% if gal %}
                  {% comment %} <img style="width:100%; max-height:250px;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "/img/automotive-noimage1.jpg" %}{% endif %}" alt=""> {% endcomment %}
                  <div class="swiper-container home-slider slider-gallery">
                    <!-- Additional required wrapper-->
                    <div class="swiper-wrapper">
                      <!-- Slides-->
                        {% with cate=company.category.name %}
                        {% if cate == 'Automotive Services' %}
                              <div class="swiper-slide"><img class="img-fluid center rounded" style="width:100%; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/automotive-noimage1.jpg" %}{% endif %}" alt="{{ company.business_name }}"></div>
                        {% endif %}
                        {% if cate == 'Personal Care' %}
                              <div class="swiper-slide"><img class="img-fluid center rounded" style="width:100%; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/beauty-noimage1.jpg" %}{% endif %}" alt="{{ company.business_name }}"></div>
                        {% endif %}
                        {% if cate == 'Home Services' %}
                              <div class="swiper-slide"><img class="img-fluid center rounded" style="width:100%; position: center;" src="{% if company.image %}{{ company.image.url }}{% else %}{% static "img/home-noimage1.jpg" %}{% endif %}" alt="{{ company.business_name }}"></div>
                        {% endif %}
                        {% endwith %}
                          {% for p in gal %}
                            <div class="swiper-slide"><img loading="lazy" class="img-fluid center rounded" style="width:100%; position: center;" src="{{ p.photos.url }}" alt="{{ company.business_name }}"></div>
                          {% endfor %}
                        
                    </div>
                        {% if gal %}
                          <div class="swiper-pagination swiper-pagination-white"></div>
                        {% endif %}
                      
                  </div>
                      {% else %}
                      {% with cate=company.category.name %}
                        <img class="rounded" style="width:100%;" src="{% if company.image %}{{ company.image.url }}{% elif cate == 'Automotive Services' %}{% static "/img/automotive-noimage1.jpg" %}{% elif cate == 'Personal Care' %}{% static "img/beauty-noimage1.jpg" %}{% else %}{% static "img/home-noimage1.jpg" %}{% endif %}" alt="{{ company.business_name }}">
                      {% endwith %}
                      {% endif %}
                      {% endwith %}
                  <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                    {% if request.user in users_like %}
                    <a class="card-fav-icon position-relative z-40 like" href="#" id="{{ company.id }}" data-id="{{ company.id }}" data-action="unlike"> 
                      <svg class="svg-icon text-danger" style="opacity: 1 !important;">
                        <use xlink:href="#heart-liked"></use>
                      </svg>
                    </a>
                    {% else %}
                    <a class="card-fav-icon position-relative z-40 like" href="#" id="{{ company.id }}" data-id="{{ company.id }}" data-action="like"> 
                      <svg class="svg-icon text-white">
                        <use xlink:href="#heart-unliked"> </use>
                      </svg>
                    </a>
                    {% endif %}
                    
                  </div>
                  {% endwith %}
                </div>
                <div class="card-body">
                  <div class=" d-flex justify-content-between">
                    <p class="mb-2">{% for x in '12345' %}<i class="fas fa-star {% if forloop.counter|avg_reviews:company.id %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}
                      ({{company.company_reviews.all|length}})</p>
                      <div class="">{{ company.city}}</div>
                  </div>
                    <h4 class="text-shadow"><a href="{{ company.get_absolute_url }}" class="licolor">{{ company.business_name }}</a></h4>
                    <p class="text-muted">{{ company.description|slice:"0:50"}}{% if company.description|length|get_digit:"-1" > 49 %}...{% endif %} </p>
                  {% comment %} <p class="text-sm text-muted mb-3"> {{ company.description }}</p> {% endcomment %}
                </div>
                <div class="card-footer text-center">
                    <a href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}"class="btn btn-warning">Book Now</a>
                    <a href="{{ company.get_absolute_url }}" class="btn btn-outline-primary">View Details</a>
                </div>
              </div>
            </div>
            {{ sea }}
            {% empty %}

                <object height="300px" width="100%" id="barber-svg-id" data="{% static 'css/svg-img/emptypage.svg' %}" type="image/svg+xml"></object>
                <h1>We could not find what you were searching for..</h1>
            {% endfor %}
        </div>
        {% include "business/pagination.html" with page=companies %}
    </div>

{% endblock %}
{% block ajaxscripts %}
    <script>
                            
                            
      $(document).ready(function(){
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        $('a.like').click(function(e){
          e.preventDefault()
          var elem = $(this)
          var company = elem.attr("data-id")
          var actions = elem.attr("data-action")
          var csrftoken = getCookie('csrftoken');
          var inside = document.getElementById(company)
          $.ajax({
                url: "{% host_url 'business:company_like' host 'www' %}",
                data: JSON.stringify({company_id: company, action: actions}),
                type: "POST",
                dataType: 'json',
                headers:{
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    if (!data.good){
                      location.href='{% host_url "login" host "www" %}'
                    }
                    else{
                      if (actions == 'like'){
                        elem.attr("data-action", 'unlike')
                      }
                      else{
                        elem.attr("data-action", 'like')
                      }
                      inside.innerHTML= data.hearts
                    }
                },
            });
        });
        function checkWidth(){
          var windowWidth = $(window).width();
          if (windowWidth <= 560){
            $('.swiper-button-next').hide()
            $('.swiper-button-prev').hide()
          }
          else{
            $('.swiper-button-next').show()
            $('.swiper-button-prev').show()
          }
        }
        checkWidth();
        $(window).resize(checkWidth);
      });
    </script>
{% endblock  %}