<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block emailSubject %}{% endblock %}</title>
    </head>
    <body style="margin: 0; padding: 0;">
        <img style="height:50px;" src="{% static "business/static/img/favicon/logo/GibeleLogo Long.png" %}">
        {% comment %} <h1 style="color: #854fee;">gibele</h1> {% endcomment %}
        <hr>
        {% block emailcontent %}
        {% endblock %}
    </body>
</html>