@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root{
    --primary-color: #4458dc;
    --primary-color: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color:linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225,0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
    
}

.mybg-img{
    object-fit: fit;
    background-repeat: no-repeat, repeat;
    display: block;
}

a:link {
    text-decoration:none;
    color: black;
}
a:hover {
    text-decoration:none;
    color: black;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.bg-secondary {
    background-color: #854fee !important;
  }
  
  a.bg-secondary:hover, a.bg-secondary:focus,
  button.bg-secondary:hover,
  button.bg-secondary:focus {
    background-color: #854fee !important;
  }

  .icon-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: .5rem;
    line-height: 20px;
  }
  
  .icon-circle i {
    vertical-align: middle;
  }
.hover-animate {
    transition: all 0.2s ease-in-out;
  }
  
  .hover-animate:hover, .hover-animate:focus {
    -webkit-transform: translate3d(0, -2px, 5px);
    transform: translate3d(0, -2px, 5px);
  }

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    color: var(--title-color);
}

.bg-white{
    background-color: white;
}

.noborder{
    border: 0 !important;
}

.top-6{
    padding-top: 6rem
}

.marg-top{
    margin-top: 3rem
}

.padd1{
    padding: 1rem
}
.paddquart{
    padding: 0.25rem
}
paddleft15{
    padding-left: 1.5rem
}




.bg-purple{
    background-color: #6d7fcc;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    background: linear-gradient(45deg,#ffc371 0%, #ff5f6d 100%);
}

.licolor {
    color: #854fee;
    font-weight: bold;
}
a.licolor:hover, a.licolor:focus {
    color: #d52ecd !important;
  }
.liblack {
    color: black;
}

.btn {
    white-space: nowrap;
    text-align: center;
 }

.btn.btn-link:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: #d52ecd;
}

.btn-social {
    position: relative;
    padding-left: 3rem;
  }
  
  .btn-social-icon {
    position: absolute;
    left: 1rem;
    width: 2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.detail-slider img {
    visibility: hidden;
  }
  
  .detail-slider.swiper-container-horizontal img {
    visibility: visible;
  }
  
  .z-index-20 {
    z-index: 20;
  }

.btn{
    position: relative;
    border: 3px solid transparent;
    border-radius:4px;
}
button:active,
.btn.btn-dark{
    opacity: 100%;
    background-color: #854fee;
    border-color: #854fee;
    color: #ffffff;
    border-width: 0.1em;
}
.btn.btn-dark:hover,
.btn.btn-dark:active{
  color: #854fee;
  background-color:#ffffff;
  border-color: #000000;
  border-width: 0.1em;
}
.btn.btn-outline-primary{
    border-radius: 50px;
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6 ease;
    box-shadow: var(--box-shadow);
    border-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    
}
.btn.btn.btn-outline-primary:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
    border-color: #854fee;
}
.btn.btn-outline-primary::after{
    position:absolute;
    top:-2px; left:-2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content:'';
    z-index:-1;
    border-radius: 50px;
}

button:active,
.btn.btn-outline-dark{
    opacity: 100%;
    background-color: #6d7fcc;
    border-color: #6d7fcc;
    color: #ffffff;
    border-width: 0.1em;
}
.btn.btn-outline-dark:hover,
.btn.btn-outline-dark:active{
  color: #6d7fcc;
  background-color:#ffffff;
  border-color: #000000;
  border-width: 0.1em;
} 

.modal-body{
    max-height: calc(80vh - 212px);
    overflow-y: auto;
}

.navbar{
    padding: .8rem;
}
.navbb img {
    height: 100px;
    margin: 5px;
}
.navbar-nav li {
    padding-right: 20px;
    padding-top: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.nav-top-default {
    background: linear-gradient(90deg, #ff5f6d 0%,#ffc371 100%);
}
.bg-light {
    background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
}
.bg-dark {
    background: #1b1b1b;
}
.bg-darks {
    background: rgba(20, 20, 20, 0.5);

} 
.carousel-inner {
    height: 500px;
    width: 200px;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: green;
}

.carousel-caption h1{
    font-size: 500%;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    color: orange;
}

.carousel-caption h3{
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    color: green;
}
.dropdown{
    margin-top: -0.5rem;
    position: relative; 
 }
.dropdown-menu{
    min-width: 1rem;
    position: absolute;
  }

li {
    list-style: none;
}
.list-img{
    width:15vw !important;
    height:15vw !important;
    padding:10px 20px 10px 20px !important;
    float:left !important;
    text-align:center !important;
    line-height:1.2 !important;
    object-fit:contain !important;
    object-position:50% 50% !important;
}

.social a {
    font-size: 1.5em;
    padding: 3rem;

}

.fa-facebook {
    color: #3b5598;
}
.fa-twitter {
    color: #00ACED;
}
.fa-instagram {
    color: #517fa8;
}
.fa-facebook:hover, 
.fa-twitter:hover{
    color: #d5d5d5;
} 

.fa-instagram:hover {
    color: #d5d5d5;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

.search-bar{
    max-width: 500px;
    width:100%
}

.borderdiv{
    border:1px solid #cecece; 
    border-radius: 4px;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .detail-slider {
    overflow: hidden;
    max-height: 300px;
  }
  
  .detail-slider img {
    visibility: hidden;
  }
  
  .detail-slider.swiper-container-horizontal img {
    visibility: visible;
  }
  .gallery-slider{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .subtitle {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #854fee;
    font-weight: bold;
  }

  /*
* ===================================================
*     Pagination theme
* ===================================================
*/

  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #9a6ee2;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #854fee;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(154, 110, 226, 0.25);
  }
  
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
  
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color:  #854fee;
    border-color: #854fee;
  }
  
  .page-item.disabled .page-link {
    color: #868e96;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
  }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }

  /*
* ===================================================
*     Swiper Theme
* ===================================================
*/
.swiper-container-mx-negative {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .swiper-container-mx-negative.items-slider-full {
    margin-right: -15px;
  }
  
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'#9a6ee2'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
    background-color: black;
  }
  
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23#9a6ee2'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
    
  }

  .circle-slide {
    background: #383838;
    padding: 30px;
    border-radius: 50%;
    display:block;
    width:10px;
    height:10px;
  }
  
  .swiper-pagination-white .swiper-pagination-bullet {
    opacity: .6;
    background: #fff;
  }
  
  .swiper-pagination-white .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #9a6ee2!important;
  }
  
  .swiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: #9a6ee2;
  }
  
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #9a6ee2;
  }



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 85px;
    max-width: 85px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .sidebar-header h5,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropfix.dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropfix.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}
/*---End of Sidebar --*/
form{
    width:100%
}
.asteriskField {
    display: none;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    html, body {
        font-size: 20px;
        overflow-x: hidden;
    }
    .card-columns {
        column-count: 3;
    }
    .sear{
        width: 100%
    }
    .list-img{
        width:40vw !important;
        height:40vw !important;
        padding:10px 20px 10px 20px !important;
        float:left !important;
        text-align:center !important;
        line-height:1.2 !important;
        object-fit:contain !important;
        object-position:50% 50% !important;
    }
    
  }
@media (max-width: 768px) {
    html, body {
        font-size: 15px;
    }
    .list-img{
        width:40vw !important;
        height:40vw !important;
        padding:10px 20px 10px 20px !important;
        float:left !important;
        text-align:center !important;
        line-height:1.2 !important;
        object-fit:contain !important;
        object-position:50% 50% !important;
    }
    .card-columns {
        column-count: 3;
    }
    .sear {
        flex-direction: column;
        text-align: center;
    }
    #searchbus {
        width: 100%;
    }

    /* ---------------------------------------------------
    SIDEBAR MEDIA QUERY
    ----------------------------------------------------- */
    #sidebar {
        font-size: 15px;
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropfix.dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
        
    }
    #sidebar .sidebar-header h3,
    #sidebar .sidebar-header h5,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

}
@media (max-width: 576px) {
    .card-content {
        padding: 10px 30px;
    }
    .sear {
        flex-direction: column;
        text-align: center;
    }
    #searchbus {
        width: 100%;
    } 
    .list-img{
        width:30vw !important;
        height:30vw !important;
        padding:10px 20px 10px 20px !important;
        float:left !important;
        text-align:center !important;
        line-height:1.2 !important;
        object-fit:contain !important;
        object-position:50% 50% !important;
    }
}

/*--- Gibele logo  --*/
.logo{
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    text-decoration: none;
    background-size: 15px 15px;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

#foo-head{
    display: block;
}



  #map {
      height: 500px;
      width: 100%;
  }

  /*--- Homepage --*/
  .hero-home {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .hero-home {
      min-height: 600px;
    }
  }

  .hero-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .hero-slider .swiper-slide {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .light-overlay,
.dark-overlay,
.gradient-overlay {
  position: relative;
  overflow: hidden;
}

.light-overlay .overlay-content,
.dark-overlay .overlay-content,
.gradient-overlay .overlay-content {
  position: relative;
  z-index: 20;
}

.light-overlay::after,
.dark-overlay::after,
.gradient-overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  opacity: .3;
  background: #000;
}








 /*--- Copied and pasted --*/


.badge {
    display: inline-block;
    padding: 0.5em 0.7em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.4rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .badge {
      transition: none;
    }
  }
  
  a.badge:hover, a.badge:focus {
    text-decoration: none;
  }
  
  .badge:empty {
    display: none;
  }
  
  .btn .badge {
    position: relative;
    top: -1px;
  }
  
  .badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }
  
  .badge-primary {
    color: #fff;
    background-color: #854fee;
  }
  
  a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #7c44da;
  }
  
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(154, 110, 226, 0.5);
  }
  
  .badge-secondary {
    color: #212529;
    background-color: #46bac5;
  }
  
  a.badge-secondary:hover, a.badge-secondary:focus {
    color: #212529;
    background-color: #349ba4;
  }
  
  a.badge-secondary:focus, a.badge-secondary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(70, 186, 197, 0.5);
  }
  
  .badge-success {
    color: #fff;
    background-color: #28a745;
  }
  
  a.badge-success:hover, a.badge-success:focus {
    color: #fff;
    background-color: #1e7e34;
  }
  
  a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  }
  
  .badge-info {
    color: #fff;
    background-color: #17a2b8;
  }
  
  a.badge-info:hover, a.badge-info:focus {
    color: #fff;
    background-color: #117a8b;
  }
  
  a.badge-info:focus, a.badge-info.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }
  
  .badge-warning {
    color: #212529;
    background-color: #ffc107;
  }
  
  a.badge-warning:hover, a.badge-warning:focus {
    color: #212529;
    background-color: #d39e00;
  }
  
  a.badge-warning:focus, a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .badge-danger {
    color: #fff;
    background-color: #dc3545;
  }
  
  a.badge-danger:hover, a.badge-danger:focus {
    color: #fff;
    background-color: #bd2130;
  }
  
  a.badge-danger:focus, a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  
  .badge-light {
    color: #212529;
    background-color: #f8f9fa;
  }
  
  a.badge-light:hover, a.badge-light:focus {
    color: #212529;
    background-color: #dae0e5;
  }
  
  a.badge-light:focus, a.badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  }
  
  .badge-dark {
    color: #fff;
    background-color: #343a40;
  }
  
  a.badge-dark:hover, a.badge-dark:focus {
    color: #fff;
    background-color: #1d2124;
  }
  
  a.badge-dark:focus, a.badge-dark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }

  .badge-transparent {
    color: #212529;
    background: rgba(248, 249, 250, 0.9);
  }

  .badge-primary-light {
    color: #9a6ee2;
    background-color: #f3eefc;
  }
  
  .badge-secondary-light {
    color: #46bac5;
    background-color: #e9f7f8;
  }
  
  .badge-success-light {
    color: #28a745;
    background-color: #e5f4e9;
  }
  
  .badge-info-light {
    color: #17a2b8;
    background-color: #e3f4f6;
  }
  
  .badge-warning-light {
    color: #ffc107;
    background-color: #fff8e1;
  }
  
  .badge-danger-light {
    color: #dc3545;
    background-color: #fbe7e9;
  }
  
  .badge-light-light {
    color: #f8f9fa;
    background-color: #fefefe;
  }
  
  .badge-dark-light {
    color: #343a40;
    background-color: #e7e7e8;
  }

  /*
     Search bars on the homepage
    ------------------------
*/
.search-bar {
    border-radius: 10rem;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  }
  
  .search-bar .form-group {
    position: relative;
    margin-bottom: 0;
  }
  
  .search-bar .form-group::after {
    display: block;
    width: 1px;
    height: 60%;
    content: '';
    background: #ddd;
    position: absolute;
    top: 20%;
    right: 0;
  }
  
  .search-bar .form-group.no-divider::after, .search-bar .form-group:last-of-type::after {
    display: none;
  }
  
  .search-bar .form-control {
    height: calc(1.5em + 1rem + 2px);
  }
  
  .search-bar .input-label-absolute-right .label-absolute {
    right: 0;
  }
  
  .search-bar.search-bar-with-tabs {
    border-radius: 0.4rem;
  }
  
  @media (max-width: 991.98px) {
    .search-bar {
      border-radius: 20px;
    }
    .search-bar .form-group {
      margin-bottom: 1rem;
    }
    .search-bar .form-group::after {
      display: block;
      width: calc(100% - 4rem);
      height: 1px;
      content: '';
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #dee2e6;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
    }
    .search-bar .form-control {
      height: calc(1.6em + 0.75rem + 2px);
      padding: 10px 20px;
    }
    .search-bar .input-label-absolute-right .label-absolute {
      right: 1rem;
    }
    .search-bar .bootstrap-select {
      display: block !important;
      width: 100% !important;
      padding: 0;
    }
    .search-bar .bootstrap-select button {
      display: block;
      width: 100% !important;
      padding: 10px 20px;
    }
  }
  
  .nav-tabs.search-bar-nav-tabs {
    border-bottom: none;
  }
  
  .nav-tabs.search-bar-nav-tabs .nav-link {
    padding: 1rem 2rem 1.5rem;
    margin-bottom: -10px;
    font-weight: bold;
    border: 1px solid transparent;
    color: #495057;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-out;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  
  .nav-tabs.search-bar-nav-tabs .nav-link:hover, .nav-tabs.search-bar-nav-tabs .nav-link:focus {
    color: #495057;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .nav-tabs.search-bar-nav-tabs .nav-link.active,
  .nav-tabs.search-bar-nav-tabs .nav-item.show .nav-link {
    color: #9a6ee2;
    background-color: #fff;
    border-color: #fff;
  }