
.list-group-item {
    /* Changed from padding: 1rem 1rem */
    padding: 0.5rem 0.5rem;
    /* Changed from background-color: #ffffff */
    background-color: transparent;
    border: 0px solid #2b3553;
    ;
}

.white-content .list-group-item {
    /* Changed from padding: 1rem 1rem */
    padding: 0.5rem 0.5rem;
    /* Changed from background-color: #ffffff */
    background-color: #ffffff;
    border: 0px solid #e9ecef;
}

  .form-group .form-control + .input-group-append .input-group-text,
  .input-group .form-control + .input-group-append .input-group-text {
    padding: 0 5px 0 5px; }

    .input-group-append {
        background-color: transparent;
        border: none;
        border-left: 0.5px solid #2b3553;
        border-radius: 0rem;
        color: #ffffff;
        margin: 0;
    }

    .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
        border-top-right-radius: 0.4875rem;
        border-bottom-right-radius: 0.4875rem;
    }

    .fc-theme-standard td, .fc-theme-standard th {
        /* border: 1px solid #ddd; */
        /* border: 1px solid var(--fc-border-color, #ddd); */
        border: 1px solid #1e1e2f !important;
        border: 1px solid var(--fc-border-color, #1e1e2f) !important;
        /* border: green!important; */
    }

    .white-content .fc-theme-standard td, .white-content .fc-theme-standard th {
        border: 1px solid #ddd !important;
        border: 1px solid var(--fc-border-color, #ddd) !important;
        /* border: none; */
    }

    .fc-theme-standard .fc-scrollgrid {
        border: 1px solid #1e1e2f !important;
        border: 1px solid var(--fc-border-color, #1e1e2f) !important;
    }

    .white-content .fc-theme-standard .fc-scrollgrid {
        border: 1px solid #ddd !important;
        border: 1px solid var(--fc-border-color, #ddd) !important;
    }

    .fc .fc-scrollgrid {
        border-collapse: separate;
        border-right-width: thin !important;
        border-bottom-width: thin !important;
    }

    .fc .fc-list-event-dot {
        border: transparent !important;
        display: none;
    }

    .fc .fc-daygrid-event-dot {
        border: transparent !important;
        display: none;
    }

    .fc .fc-more-popover .fc-popover-body {
        overflow-y: auto !important;
        height: 500px !important;
    }

    .fc .fc-scrollgrid-section-body table, .fc .fc-scrollgrid-section-footer table {
        border-bottom-style: hidden;
    }

    .fc-event {
        height: 90px;
        flex-wrap: wrap;
    }

    .fc .fc-more-popover {
        width: auto;
    }

    .fc .fc-daygrid-event {
        flex-wrap: wrap;
        white-space: break-spaces;
        display: list-item;
        cursor: pointer;
        list-style: none;
        padding: 5px;
    }

    .fc, .fc *, .fc *:before, .fc *:after {
        /* padding-right: 6px; */
    }

    .card-calendar .fc td:last-child {
        /* padding-right: 12px !important; */
        overflow: hidden;
    }


.fc .fc-scroller-liquid-absolute .fc-scroller{
    overflow: hidden scroll;
}

.fc-list-event-graphic {
    display: none;
}

    td.day div {
        color: black !important;
    }
    
    td.day.active div {
        color: white !important;
    }

    td.day.old div {
        color: grey !important;
    }

    td.day.new div {
        color: grey !important;
    }

    .card {
        border-radius: 25px;
    }

    .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
        right: 30px !important;
        top: 10px !important;
    }

    /* .white-content .fc-button-group:hover .fc-prev-button, .white-content .fc-button-group:hover .fc-next-button {
        color: #ffffff;
        background: green;
        border: 1px solid #2b3553;
    } */

    .fc-button:hover, .fc-button:focus, .fc-button:active, .fc-button.active, .fc-button:active:focus, .fc-button:active:hover, .fc-button.active:focus, .fc-button.active:hover, .fc-button.btn-warning:hover, .fc-button.btn-warning:focus, .fc-button.btn-warning:active, .fc-button.btn-warning.active, .fc-button.btn-warning:active:focus, .fc-button.btn-warning:active:hover, .fc-button.btn-warning.active:focus, .fc-button.btn-warning.active:hover {
        background-color: #ff8d72 !important;
        background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72) !important;
        background-image: -moz-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72) !important;
        color: black;
        box-shadow: none;
    }

    .pillsize {
        height: 135px;
    }

    .avatar {
        display: inline-block;
        position: relative;
        text-align: center;
        border: #dee2e6;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        line-height: 3rem;
      }

      .fc .fc-list-empty {
        background-color: transparent !important;
        
    }

    #bm {
        position: fixed;
        z-index: 99999;
        width: 300px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

    .fc-event:hover, .fc-event-selected {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .primarybackground {
        background: linear-gradient(90deg, #ff5f6d 0%, #ff5f6d 100%) !important;
        background-color: #ff5f6d;
    }
    .carbonbackground {
        background-color: rgb(32, 32, 32);
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
        background-size: 100% 100%, 20px 20px, 20px 20px, 20px 10px;
        background-position: 0px 0px, 0px 0px, 10px 10px, 0px 0px;
    }
    .hexagonbackground {
        background:
        radial-gradient(circle farthest-side at 0% 50%,#131313 23.5%,rgba(240,166,17,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,rgba(0,0,0,1) 24%,rgba(240,166,17,0) 0)19px 30px,
        linear-gradient(#131313 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#131313 0)0 0,
        linear-gradient(150deg,#131313 24%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 76%,#131313 0)0 0,
        linear-gradient(30deg,#131313 24%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(0,0,0,1) 0,rgba(0,0,0,1) 76%,#131313 0)0 0,
        linear-gradient(90deg,rgba(0,0,0,1) 2%,#131313 0,#131313 98%,rgba(0,0,0,1) 0%)0 0 #131313;
        background-size: 40px 60px;
    }

    .bgcollection {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    .bgcollection > li:not(:target) {
        cursor: pointer;
        background-color: gray;
        border-radius: 150px;
        box-shadow: -3px -3px 10px 2px rgb(0 0 0 / 30%) inset, 0 0 0 15px rgb(255 255 255 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
        -webkit-box-shadow: 0 0 0 15px rgb(255 255 255 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
    }

    .bgcollection > li.applied:not(:target) {
        cursor: pointer;
        background-color: rgb(0,250,154);
        border-radius: 150px;
        box-shadow: -3px -3px 10px 2px rgb(0 0 0 / 30%) inset, 0 0 0 15px rgb(0 250 154 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
        -webkit-box-shadow: 0 0 0 15px rgb(0 250 154 / 60%) inset, 0 0 0 1px rgb(0 0 0 / 50%), 2px 2px 10px rgb(0 0 0 / 60%);
    }
    
    .bgcollection > li {
        position: relative;
        width: 150px;
        height: 150px;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        margin: 0px 0px 20px 20px;
        list-style: none;
    }
    @media (min-width: 425px) { 
        .bgcollection > li {
            width: 200px;
            height: 200px;
        }
    }
    @media (min-width: 768px) { 
        .bgcollection > li {
            position: relative;
            width: 300px;
            height: 300px;
            float: left;
            list-style: none;
        }
    }