
.list-group-item {
    /* Changed from padding: 1rem 1rem */
    padding: 0.5rem 0.5rem;
    /* Changed from background-color: #ffffff */
    background-color: transparent;
    border: 0px solid #2b3553;
    ;
}

.white-content .list-group-item {
    /* Changed from padding: 1rem 1rem */
    padding: 0.5rem 0.5rem;
    /* Changed from background-color: #ffffff */
    background-color: #ffffff;
    border: 0px solid #e9ecef;
}

  .form-group .form-control + .input-group-append .input-group-text,
  .input-group .form-control + .input-group-append .input-group-text {
    padding: 0 5px 0 5px; }

    .input-group-append {
        background-color: transparent;
        border: none;
        border-left: 0.5px solid #2b3553;
        border-radius: 0rem;
        color: #ffffff;
        margin: 0;
    }

    .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
        border-top-right-radius: 0.4875rem;
        border-bottom-right-radius: 0.4875rem;
    }

    .fc-theme-standard td, .fc-theme-standard th {
        /* border: 1px solid #ddd; */
        /* border: 1px solid var(--fc-border-color, #ddd); */
        border: 1px solid #1e1e2f !important;
        border: 1px solid var(--fc-border-color, #1e1e2f) !important;
        /* border: green!important; */
    }

    .white-content .fc-theme-standard td, .white-content .fc-theme-standard th {
        border: 1px solid #ddd !important;
        border: 1px solid var(--fc-border-color, #ddd) !important;
        /* border: none; */
    }

    .fc-theme-standard .fc-scrollgrid {
        border: 1px solid #1e1e2f !important;
        border: 1px solid var(--fc-border-color, #1e1e2f) !important;
    }

    .white-content .fc-theme-standard .fc-scrollgrid {
        border: 1px solid #ddd !important;
        border: 1px solid var(--fc-border-color, #ddd) !important;
    }

    .fc .fc-scrollgrid {
        border-collapse: separate;
        border-right-width: thin !important;
        border-bottom-width: thin !important;
    }

    .fc .fc-list-event-dot {
        border: transparent !important;
        display: none;
    }

    .fc .fc-daygrid-event-dot {
        border: transparent !important;
        display: none;
    }

    .fc .fc-more-popover .fc-popover-body {
        overflow-y: auto !important;
        height: 500px !important;
    }

    .fc .fc-scrollgrid-section-body table, .fc .fc-scrollgrid-section-footer table {
        border-bottom-style: hidden;
    }

    .fc-event {
        height: 90px;
        flex-wrap: wrap;
    }

    .fc .fc-more-popover {
        width: auto;
    }

    .fc .fc-daygrid-event {
        flex-wrap: wrap;
        white-space: break-spaces;
        display: list-item;
        cursor: pointer;
        list-style: none;
        padding: 5px;
    }

    .fc, .fc *, .fc *:before, .fc *:after {
        /* padding-right: 6px; */
    }

    .card-calendar .fc td:last-child {
        /* padding-right: 12px !important; */
        overflow: hidden;
    }


.fc .fc-scroller-liquid-absolute .fc-scroller{
    overflow: hidden scroll;
}

.fc-list-event-graphic {
    display: none;
}

    td.day div {
        color: black !important;
    }
    
    td.day.active div {
        color: white !important;
    }

    td.day.old div {
        color: grey !important;
    }

    td.day.new div {
        color: grey !important;
    }

    .card {
        border-radius: 25px;
    }

    .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
        right: 30px !important;
        top: 10px !important;
    }

    /* .white-content .fc-button-group:hover .fc-prev-button, .white-content .fc-button-group:hover .fc-next-button {
        color: #ffffff;
        background: green;
        border: 1px solid #2b3553;
    } */

    .fc-button:hover, .fc-button:focus, .fc-button:active, .fc-button.active, .fc-button:active:focus, .fc-button:active:hover, .fc-button.active:focus, .fc-button.active:hover, .fc-button.btn-warning:hover, .fc-button.btn-warning:focus, .fc-button.btn-warning:active, .fc-button.btn-warning.active, .fc-button.btn-warning:active:focus, .fc-button.btn-warning:active:hover, .fc-button.btn-warning.active:focus, .fc-button.btn-warning.active:hover {
        background-color: #ff8d72 !important;
        background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72) !important;
        background-image: -moz-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72) !important;
        color: black;
        box-shadow: none;
    }

    .pillsize {
        height: 135px;
    }

    .avatar {
        display: inline-block;
        position: relative;
        text-align: center;
        border: #dee2e6;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        line-height: 3rem;
      }

      .fc .fc-list-empty {
        background-color: transparent !important;
        
    }