{% extends 'productadmin/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load hosts %}
{% block linkscript %}
    {{ product_form.media }}
{% endblock linkscript %}
{% block linescripe %}

{% endblock linescripe %}
{% block activeprod %}active{%endblock%}
{% block businessadmin %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
      {% comment %} {% for s in company.products_offered.all %}
        $( "#imagereq{{s.id}}" ).sortable();
        $( "#imagereq{{s.id}}" ).disableSelection();
      {% endfor %} {% endcomment %}
    
  } );
  </script>
                    <!-- Main page content-->
                    <div class="content">
                        <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                        <header class="page-header page-header-compact page-header-light mb-2">
                            <div class="container-fluid">
                                <div class="page-header-content">
                                    <div class="row align-items-center justify-content-between pt-3">
                                        <div class="col-auto">
                                            <h1 class="page-header-title">
                                                Products
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <hr class="mt-0 mb-4" />
                        <div class="row">
                            {% comment %} <div class="col-md-4">
                                <div class="text-center mt-2">
                                        <button id="addcategory" class="btn btn-info mb-3" data-toggle="modal" data-target="#modal-category">Add Category</button>
                                    </div>
                                <div class="card shadow mb-4 p-3" id="categorylisttab">
                                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                                        <div class="card card-plain">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <h4>View All Categories
                                                    <i class="fas fa-chevron-up"></i>
                                                    </h4>
                                                </a>
                                            </div>

                                            <div id="collapseOne" class="collapse something" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="card-body p-0 mt-0">
                                                    <ul class="nav nav-pills-neutral flex-column">
                                                        <li class="nav-item"><a class="nav-link active" style="border-radius:10px;" id="allTabs" href="#tabAll" data-toggle="tab">All Products</a></li>
                                                        {% for category in company.product_category.all %}
                                                            <li class="nav-item"><a class="nav-link" style="border-radius:10px;" href="#tab{{ forloop.counter }}" data-toggle="tab">{{ category.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                            </div> {% endcomment %}
                            <div class="col-md-12" id="service-t">
                                <div class="tab-content">

                                    <div class="tab-pane active" id="tabAll">
                                        <div class="card shadow my-1" style="border-radius: 8px !important;">
                                            <div class="row">
                                                <div class="col-6">
                                                    <h4 class="card-header p-2">Category - All Products</h4>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <div class="card-header p-2">
                                                            <button class="btn btn-info btn-sm mb-3 justify-content-center addnewproduct" type="button" data-toggle="modal" data-target="#modal-product" data-url="{% host_url 'createproducts' 0 host 'prodadmin' %}">Add Product <i class="fas fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>       
                                        </div>
                                          <div class="allmyprods">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    {% for s in company.products_offered.all %}
                                                            <div class="col-sm-12 col-md-6 col-lg-4 col-12">
                                                                <div class="card shadow" style="border-radius: 8px !important;">
                                                                    {% comment %} <div class="card-header">{{ s.name }}</div> {% endcomment %}
                                                                    <div class="card-body">
                                                                        <div class="text-center pb-2">
                                                                        {% if s.mainimage %}
                                                                            <img src="{{ s.mainimage.url }}" class="mainproductimages" alt="{{ company.business_name }} Image" style="width: auto;height: 200px;object-fit: cover;">
                                                                        {% else %}
                                                                            <img src="{% static 'img/default-product-image.png' %}" class="mainproductimages" alt="" style="width: 300px;height: 200px;object-fit: cover;">
                                                                        {% endif %}
                                                                        </div>
                                                                        <div class="row px-3 justify-content-between">
                                                                            <div>
                                                                                <h3 class="heading-text-caption text-truncate" style="max-width:175px;">
                                                                                    {{ s.name }}{% if s.request %}<div class="justify-content-right"><span class="badge badge-success">Customizable</span></div>{% endif %}    
                                                                                </h3>
                                                                                <h5>{{ s.currency }} ${{ s.price }}</h5>
                                                                            </div>
                                                                            <div class="text-right">
                                                                                <div class="dropdown justify-content-right">
                                                                                    <a class="three-dots-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:35px; height:35px;">
                                                                                        <i></i>
                                                                                    </a>
                                                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="">
                                                                                        <a type="button" class="dropdown-item addquestion" title="Add extra add ons and options to products" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'adddropdownprod' s.id host 'prodadmin' %}">Add Dropdown Options</a>
                                                                                        <a type="button" class="dropdown-item addquestion"  title="Ask additional questions before a product order is placed" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'addquestionprod' s.id host 'prodadmin' %}">Attach a Question</a>
                                                                                        {% comment %} <a type="button" class="dropdown-item addquestion"  title="Attach multiple pictures to your product" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'addproductgallaryphotos' s.id host 'prodadmin' %}">Attach More Photos</a> {% endcomment %}
                                                                                        <a type="button" class="dropdown-item updatebtn" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'updateproduct' s.id host 'prodadmin' %}">Edit Product</a>
                                                                                        <a type="button" class="dropdown-item trashcan" data-url="{% host_url 'deleteproduct' s.id host 'prodadmin' %}">Delete Product</a>
                                                                                    </div>
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {% if s.product_maindropdown.all.count > 0 or s.product_questions.all.count > 0 %}
                                                                                <div class="accordion" id="accordionExample">
                                                                                    <div class="card">
                                                                                        <div class="card-header p-0">
                                                                                            <h2 class="mb-0" id="headingOne">
                                                                                                <button class="btn btn-link text-left d-flex justify-content-between my-0 descr" type="button" data-toggle="collapse" data-target="#collapseReq{{s.id}}" aria-expanded="true" aria-controls="collapseReq{{s.id}}">
                                                                                                    Additional Requirements
                                                                                                    <i class="fas fa-chevron-down text-line rotatemenow"></i>
                                                                                                </button>
                                                                                            </h2>
                                                                                        </div>
                                                                                        <div id="collapseReq{{s.id}}" class="collapse text-center" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                                                            <div class="row">
                                                                                                <div class="col-12">
                                                                                                    <ul class="px-0" style="list-style:none; text-align:left;" id="dropdownslist{{s.id}}">
                                                                                                        {% for maindropdown in s.product_maindropdown.all %}
                                                                                                        <li style="position:relative; background: white !important;">
                                                                                                            <div class="additional-options">
                                                                                                                <div class="row d-flex">
                                                                                                                    <span class="dropdown-loop-label">Dropdown</span>
                                                                                                                </div>
                                                                                                                <b style="color: #404145;font-size: 14px;line-height: 22px;">{{maindropdown.placeholder}}</b>
                                                                                                                <p class="text-sm" style="color: #7a7d85; font-size: 14px; line-height: 22px;">{% for options in maindropdown.main_dropdown.all %}{{ options.option }}, {% endfor %}</p>
                                                                                                            </div>
                                                                                                            {% comment %} <button tabindex="0" data-staff="{{ staff.id }}" data-weekday="{{ day.weekday }}" class="popover fit-popover fit-popover-bottom fit-popover-clickable popover-actions" role="button" data-toggle="popover" data-trigger="focus" title="Edit?" data-html='true' data-sanitize='false' style="z-index:1 !important;" data-content="Are you sure you want to delete? <button class='btn btn-sm btn-danger removebreak' data-breakid='{{ breakday.id }}' data-staff='{{ staff.id }}' >Delete</button><button class='btn btn-sm '>Edit</button>">
                                                                                                            <span class="fit-popover-content" ><div class="three-dots-link"><i></i></div></span>
                                                                                                            </button> <li class="option editdrop" id="{{maindropdown.id}}"><span>Edit</span></li>{% endcomment %}
                                                                                                            <div class="fit-popover fit-popover-bottom fit-popover-clickable popover-actions" title="" tabindex="0" data-toggle="popover" data-html='true' data-trigger='focus' data-placement="right" data-dropid="{{ maindropdown.id }}" data-content='<ul class="dropdown-list"><li class="option removedrop" id="{{maindropdown.id}}"><span>Remove</span></li></ul>'>
                                                                                                            <span class="fit-popover-content"><div class="three-dots-link"><i></i></div></span>
                                                                                                            </div>
                                                                                                        </li>
                                                                                                        {% endfor %}
                                                                                                    </ul>
                                                                                                    <ul class="px-0" style="list-style:none; text-align:left;" id="imagereq{{s.id}}">
                                                                                                        {% for questions in s.product_questions.all %}
                                                                                                        <li style="position:relative; background: white !important;">
                                                                                                            <div class="additional-options">
                                                                                                                <div class="row d-flex">
                                                                                                                    <span class="dropdown-loop-label">Question - {{ questions.get_retrievetype_display }}</span>
                                                                                                                </div>
                                                                                                                <b style="color: #404145;font-size: 14px;line-height: 22px;">{{questions.question}}</b>
                                                                                                            </div>
                                                                                                            <div class="fit-popover fit-popover-bottom fit-popover-clickable popover-actions" title="" tabindex="0" data-toggle="popover" data-html='true' data-trigger='focus' data-placement="right" data-dropid="{{ questions.id }}" data-content='<ul class="dropdown-list"><li class="option removeques" id="{{questions.id}}"><span>Remove</span></li></ul>'>
                                                                                                                <span class="fit-popover-content"><div class="three-dots-link"><i></i></div></span>
                                                                                                            </div>
                                                                                                        </li>

                                                                                                        {% endfor %}
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    

                                                                                </div>

                                                                                {% endif %}
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                    {% empty %}
                                                        <div class="card shadow" style="border-radius: 8px !important;">
                                                            <div class="card-header">No Products Added</div>
                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                    </div>
                                                </div>
                                                    {% comment %} <div class="card pt-2">
                                                        {% include 'bizadmin/dashboard/reviews/pagination.html' with page=services%}
                                                    </div> {% endcomment %}
                                                    
                                    </div>
                                    {% for category in company.product_category.all  %}

                                        <div class="tab-pane" id="tab{{ forloop.counter }}">
                                            <div class="card shadow my-1" style="border-radius: 8px !important;">
                                                <div class="row">
                                                    <div class="col-6 py-auto">
                                                        <h4 class="card-header p-2">Category - {{ category.name }}</h4>
                                                        
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <div class="card-header p-2">
                                                            <button class="btn btn-info btn-sm justify-content-center addnewservice" type="button" data-toggle="modal" data-target="#modal-product" data-url="{% host_url 'createproducts' category.id host 'prodadmin' %}">Add Product <i class="fas fa-plus"></i></button>
                                                            <button class="btn btn-link btn-danger btn-sm categorydelete" type="button" data-catename="{{ category.name }}" data-url="{% host_url 'category_delete_view' category.id host 'bizadmin' %}">Delete Category <i class="fas fa-trash"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            {% for s in category.products.all %}
                                                <div class="card shadow" style="border-radius: 8px !important;">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="card-body">
                                                                {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}                          
                                                                <div class="row p-2 justify-content-between text-left align-self-center">
                                                                    <div class="col-8 p-0">
                                                                    <p class="mb-1">{{ s.name }} - ${{s.price}}</p>
                                                                    <p class="text-muted">{{ s.description }}</p>
                                                                    </div>
                                                                    <div class="col-4 p-1 text-right">
                                                                    <div class="row">
                                                                    <div class="col-12">
                                                                    <button type="button" class="updatebtn btn btn-sm" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'updateproduct' s.id host 'prodadmin' %}"><i class="fas fa-pencil-alt"></i></button>
                                                                    <button class="btn btn-danger btn-sm trashcan" data-url="{% host_url 'deleteservice' s.id host 'bizadmin' %}"><i class="fas fa-trash"></i></button>
                                                                    </div>
                                                                    </div>
                                                                    </div>
                                                                </div>

                                                                {% endwith %}
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card">
      <div class="modal-header">
        <h5 class="modal-title {% if company.darkmode %}text-white{% endif %}" id="exampleModalLabel">Make some changes to this product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" class="">
            
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info">Save changes</button>
        </div>

        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card">
      <div class="modal-header {% if company.darkmode %}text-white{% endif %}">
        <h5 class="modal-title {% if company.darkmode %}text-white{% endif %}" id="exampleModalLabel">Add your products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form method="POST" action="{% host_url 'product_create' host 'prodadmin' %}" id="prod-create-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form.name|as_crispy_field }}
        <div class="row align-items-center">
            <div class="col-md-6">
                <label for="id_price">Price</label>
                <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                        </div>
                        <input type="number" name="price" step="0.01" class="numberinput form-control" required id="id_price">
                    </div>
                </div>
            <div class="col-md-6">
                <div class="">
                    <label for="id_mainimage">Main Product Image</label>
                    <div>{{ product_form.mainimage }}</div>
                </div>
            
            </div>
            <div class="col-md-6">
                {{ product_form.dispatch|as_crispy_field }}
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="requestedinput" type="checkbox">
                        <span class="form-check-sign"></span>
                        Custom Request
                    </label>
                </div>
            </div>
        </div>
        {{ product_form.description|as_crispy_field }}
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Add Products</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-addcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div class="modal-header">
        <h5 class="modal-title {% if company.darkmode %}text-white{% endif %} font-weight-bold d-flex justify-content-center pr-1 page-header-title" id="exampleModalLabel">Add a new service category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form method="POST" id="createcate">
        {% csrf_token %}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info" id="addCategory">Add Service Category</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block java %}
    <script>
        var data = new FormData();
        var saveFormProduct = function () {
                var form = $(this)
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                        $(".allmyprods").html(data.html_service_list);
                        $("#modal-product").modal("hide");
                        $("#modal-delete").modal("hide");
                        $("#modal-update").modal("hide");
                        $("#allTabs").tab("show")
                        $.notify({
                            // options
                            message: data.view
                            },{
                                // settings
                                type: 'success'
                            });
                        }
                        else {
                        $("#modal-product .modal-content .modal-body").html(data.html_form);
                        }
                    }
                });
                return false;
            };
        $( document ).ready(function() {

            if('{{ errors }}' == 'True'){
                $.notify({
                // options
                message: '{{ errormsg }}'
                },{
                    // settings
                    type: '{{success}}'
                });
            }

            function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
            var w = screen.width;
            if (w>768){
                $('.collapse.something').collapse('show')
            }

                $(document).on('click','.trashcan',function(){
                    var $this = $(this)
                    var urldata = $this.attr('data-url');
                    const swalStyles = Swal.mixin({
                        customClass:{
                            confirmButton: 'btn btn-info',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false
                    });
                    swalStyles.fire({
                        title: 'Are you sure you want to delete the product?',
                        text: 'You will not be able to change this',
                        icon: 'warning',
                        showCancelButton: true,
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type:'POST',
                                dataType: 'json',
                                url: urldata,
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                cache: false,
                                success: function(data){
                                    var htmlcontent = data.html_product_list
                                    var el = document.querySelector('#service-t');
                                    el.innerHTML = htmlcontent
                                    {% comment %} var htmlcontents = data.html_category_list
                                    var catel = document.querySelector('#categorylisttab');
                                    catel.innerHTML = htmlcontents {% endcomment %}
                                    Swal.fire({
                                        title: '{{ s.name }} Product Deleted!', 
                                        text: 'Your product has been deleted.', 
                                        icon: 'success',
                                        customClass:{
                                            confirmButton: 'btn btn-info',
                                            cancelButton: 'btn btn-danger',
                                        },
                                        buttonsStyling: false,
                                    });
                                }
                            });
                        } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalStyles.fire(
                                'Cancelled',
                                'We still have your product saved! 😊',
                                'error'
                            )
                        }
                    });
                });
            
            $(document).on('click', '.addnewservice', function(e){
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-service").modal("show");
                    },
                    success: function (data) {
                        $("#modal-service .modal-body").html(data.html_form);
                    }
                });
            });
            $(function () {   
                $('[data-toggle="popover"]').popover() 
            });
            $(document).on('click', '.editdrop', function(e){
                console.log($(this).attr('id'))
            });
            $(document).on('click', '.removedrop', function(e){
                var removedropid = $(this).attr('id')
                const swalStyles = Swal.mixin({
                    customClass:{
                        confirmButton: 'btn btn-info',
                        cancelButton: 'btn btn-danger',
                    },
                    buttonsStyling: false
                });
                swalStyles.fire({
                    title: 'Are you sure you want to delete the dropdown option?',
                    text: 'You will not be able to change this',
                    icon: 'warning',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        console.log("{% host_url 'removedropdown' pk=0 host 'prodadmin' %}".replace('/0/', '/'+ removedropid))
                        $.ajax({
                            type:'POST',
                            dataType: 'json',
                            url: "{% host_url 'removedropdown' pk=0 host 'prodadmin' %}".replace('/0/', '/'+removedropid+'/'),
                            headers:{
                                "X-CSRFToken": csrftoken
                            },
                            cache: false,
                            success: function(data){
                                var htmlcontent = data.html_product_list
                                var el = document.querySelector('#service-t');
                                el.innerHTML = htmlcontent
                                {% comment %} var htmlcontents = data.html_category_list
                                var catel = document.querySelector('#categorylisttab');
                                catel.innerHTML = htmlcontents {% endcomment %}
                                Swal.fire({
                                    title: 'Dropdown Option Deleted!', 
                                    text: 'The dropdown option has been deleted.', 
                                    icon: 'success',
                                    customClass:{
                                        confirmButton: 'btn btn-info',
                                        cancelButton: 'btn btn-danger',
                                    },
                                    buttonsStyling: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        location.reload();
                                    }
                                    else{
                                        location.reload();
                                    }
                                });
                                
                            }
                        });
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalStyles.fire(
                            'Cancelled',
                            'We still have your dropdown options saved! 😊',
                            'error'
                        )
                    }
                });
            });
            $(document).on('click', '.removeques', function(e){
                var removedropid = $(this).attr('id')
                const swalStyles = Swal.mixin({
                    customClass:{
                        confirmButton: 'btn btn-info',
                        cancelButton: 'btn btn-danger',
                    },
                    buttonsStyling: false
                });
                swalStyles.fire({
                    title: 'Are you sure you want to remove the question?',
                    text: 'You will not be able to change this',
                    icon: 'warning',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        console.log("{% host_url 'removequestion' pk=0 host 'prodadmin' %}".replace('/0/', '/'+ removedropid))
                        $.ajax({
                            type:'POST',
                            dataType: 'json',
                            url: "{% host_url 'removequestion' pk=0 host 'prodadmin' %}".replace('/0/', '/'+removedropid+'/'),
                            headers:{
                                "X-CSRFToken": csrftoken
                            },
                            cache: false,
                            success: function(data){
                                var htmlcontent = data.html_product_list
                                var el = document.querySelector('#service-t');
                                el.innerHTML = htmlcontent
                                {% comment %} var htmlcontents = data.html_category_list
                                var catel = document.querySelector('#categorylisttab');
                                catel.innerHTML = htmlcontents {% endcomment %}
                                Swal.fire({
                                    title: 'Question has been detached!', 
                                    text: 'The question is no longer attached to the product.', 
                                    icon: 'success',
                                    customClass:{
                                        confirmButton: 'btn btn-info',
                                        cancelButton: 'btn btn-danger',
                                    },
                                    buttonsStyling: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        location.reload();
                                    }
                                });
                            }
                        });
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalStyles.fire(
                            'Cancelled',
                            'We still have your question saved! 😊',
                            'error'
                        )
                    }
                });
            });

            $('#createserv').submit(function(e) {
                e.preventDefault();
                {% comment %} btn.attr("data-category") {% endcomment %}
                $.ajax({
                    type:'POST',
                    url: "{% host_url 'createservice' host 'bizadmin' %}",
                    data: $('#createserv').serialize(),
                    headers:{
                        "X-CSRFToken": csrftoken
                    },
                    success:function(data){
                        $('#modal-service').modal('hide');
                        var htmlcontent = data.html_service_list
                        var el = document.querySelector('#service-t');
                        el.innerHTML = htmlcontent
                        var htmlcontents = data.html_category_list
                        var catel = document.querySelector('#categorylisttab');
                        catel.innerHTML = htmlcontents
                        $.notify({
                            // options
                            message: data.view
                        },{
                            // settings
                            type: data.icon
                        });
                    }
                });
            });

            $('#createcate').submit(function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url: "{% host_url 'createservicecate' host 'bizadmin' %}",
                    data: $('#createcate').serialize(),
                    headers:{
                        "X-CSRFToken": csrftoken
                    },
                    success:function(data){
                        $('#modal-addcategory').modal('hide');
                        var htmlcontent = data.html_product_list
                        var el = document.querySelector('#service-t');
                        el.innerHTML = htmlcontent
                        {% comment %} var htmlcontent = data.html_category_list {% endcomment %}
                        {% comment %} var catel = document.querySelector('#categorylisttab'); {% endcomment %}
                        {% comment %} catel.innerHTML = htmlcontent {% endcomment %}
                        $.notify({
                            // options
                            message: data.view
                        },{
                            // settings
                            type: data.icon
                        });
                    }
                });
            });

            $(document).on('click', '.updatebtn', function () { 
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-update").modal("show");
                    },
                    success: function (data) {
                        $("#modal-update .modal-content").html(data.html_form);
                    }
                });
            });

            $(document).on('click', '.addquestion', function () { 
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-update").modal("show");
                    },
                    success: function (data) {
                        $("#modal-update .modal-content").html(data.html_form);
                    }
                });
            });

            $("#modal-update").on("hidden.bs.modal", function(){
                $("#modal-update .modal-content").html("");
            });

            $(document).on('click', '.categorydelete', function(){
                const swalStyles = Swal.mixin({
                        customClass:{
                            confirmButton: 'btn btn-info',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false
                    });
                    var $this = $(this)
                    var urldata = $this.attr('data-url');
                    var category = $this.attr('data-catename');
                    swalStyles.fire({
                        title: 'Are you sure you want to delete the '+ category +' category?',
                        text: 'Your services will still be there',
                        icon: 'question',
                        showCancelButton: true,
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type:'POST',
                                dataType: 'json',
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                url: urldata,
                                cache: false,
                                success: function(data){
                                    var htmlcontent = data.html_product_list
                                    var htmlcategory = data.html_category_list
                                    var el = document.querySelector('#service-t');
                                    {% comment %} var catel = document.querySelector('#categorylisttab'); {% endcomment %}
                                    el.innerHTML = htmlcontent
                                    {% comment %} catel.innerHTML = htmlcategory {% endcomment %}
                                    Swal.fire({
                                        title: 'Category has been removed!', 
                                        text: 'Your category has been removed.', 
                                        icon: 'success',
                                        customClass:{
                                            confirmButton: 'btn btn-info',
                                            cancelButton: 'btn btn-danger',
                                        },
                                        buttonsStyling: false,
                                    });
                                }
                            });
                        } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalStyles.fire(
                                'Cancelled',
                                'We still have your category saved! 😊',
                                'error'
                            )
                        }
                    });

            })

            addcategory = document.querySelector('#addcategory')

            $(document).on('click', '.nav-item', function(){
                var w = screen.width;
                if (w<768){
                    $('.collapse').collapse('hide')
                }
                
            });
            $(window).on('shown.bs.modal', function() { 
                $.ajax({
                    url: '{% host_url "ajax_load_services" host "bizadmin" %}',
                    success: function(data){
                        $('#id_services').empty()
                        $('#id_services').append(data)
                        $('#id_services').selectpicker('refresh')
                    }
                });
            });
            {% comment %} $("#modal-product").on("submit", "#prod-create-form", saveFormProduct); {% endcomment %}
        });
    </script>
{% endblock java %}
