{% extends 'business/base.html' %}
{% load static %}
{% block content %}
<div class="container form-inline flex-col">

    <div class="text-center col-md-12">
        <h1>Become a Partner today</h1>
        <p>Enter your details to register your business:</p>
        <p>If you want to register as a consumer on Gibele, <a href="{% url 'account:consumer_registration'%}">click here</a></p>
        <form class="form-control" method="post">
            {{ user_form.as_p }}
            {% csrf_token %}
            <button class="btn btn-lg btn-outline-primary" type="submit" name="biz_reg">Create my account</button>
        </form>
    </div>
</div>

{% endblock %}