{% load hosts %}
<div>
    <div class="justify-content-between align-baseline pl-4 row mb-6">
        <div class="row align-middle">
            <div class="clickme">
            <a href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}"><svg xlmns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path fill="#181818" d="M12.859 1.49l-7.08 7.39-.097.112c-.232.303-.349.65-.349 1.008 0 .419.16.822.447 1.121l7.079 7.389.098.089c.452.342 1.04.295 1.408-.09l.085-.101.062-.1c.246-.437.186-.962-.147-1.309L7.66 10l6.706-6.999.085-.102c.316-.455.273-1.035-.085-1.409-.413-.431-1.093-.431-1.506 0z"></path>
            </svg></a>
            
            </div>
            <h4> Select Add Ons</h4>
        </div>
        <button class="text-muted btn btn-sm btn-link" data-toggle="modal" data-target="#notesModal">{% if company.shownotes %}Policy{% endif %}</button>
    </div>
    <ul class="progressbar text-left">
        <li class="completedprog" style="left: 0px;"></li>
        <li class="progactive" style="left: 25%;"></li>
        <li style="left: 50%;"></li>
        <li style="left: 75%;"></li>
        <li style="left: 100%;"></li>
        <span style="width: 25%;"></span>
    </ul>
    <div class="status-info information">
        <h6>{{ service.name }}</h6>
    </div>
    <hr class="ulnopadd">
    <ul>
        {% for addons in service.addon_offered.all %}
            <li class="selectAddonService" data-staff="{{ addons.id }}">
                <div class="text-left row">
                    <div class="col-12 p-0">

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input immer" name="requestedinput" data-addons="{{ addons.id }}" type="checkbox">
                                <span class="form-check-sign"></span>
                                {{ addons.name }} - {% if addons.price == 0.00 %}Free{% else %}${{ addons.price }}{% endif %} (+{% if not addons.duration_hour == 0 %}{{ addons.duration_hour }}h{% endif %}{% if not addons.duration_minute == 0 and not addons.duration_hour == 0 %}&amp;{% endif %} {% if not addons.duration_minute == 0 %}{{ addons.duration_minute }}min{% endif %})
                            </label>
                            <p class="text-muted">(Optional)</p>
                        </div>
                        
                    </div>
                </div>
            </li>
            <hr class="ulnopadd">
        {% endfor %}
    </ul>
    <div class="text-center">
        <div class="btn btn-outline-primary grabAllAddons">Continue</div>
    </div>

</div>