<div class="justify-content-between align-baseline pl-4 row mb-6">
    <div class="row align-middle">
        <div class="clickme hovermeclick" data-staff="{{ staff.id }}">
        <svg xlmns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <path fill="#181818" d="M12.859 1.49l-7.08 7.39-.097.112c-.232.303-.349.65-.349 1.008 0 .419.16.822.447 1.121l7.079 7.389.098.089c.452.342 1.04.295 1.408-.09l.085-.101.062-.1c.246-.437.186-.962-.147-1.309L7.66 10l6.706-6.999.085-.102c.316-.455.273-1.035-.085-1.409-.413-.431-1.093-.431-1.506 0z"></path>
        </svg>
        </div>
        <h4> Additional Info</h4>
    </div>
    <button class="text-muted btn btn-sm btn-link" data-toggle="modal" data-target="#notesModal">{% if company.shownotes %}Policy{% endif %}</button>
</div>
<ul class="progressbar text-left">
    <li class="completedprog" style="left: 0px;"></li>
    <li class="completedprog" style="left: 25%;"></li>
    <li class="completedprog" style="left: 50%;"></li>
    <li class="completedprog" style="left: 75%;"></li>
    <li style="left: 100%;"></li>
    <span style="width: 75%;"></span>
</ul>
<div class="status-info information">
    <h6>{{ service.name }}</h6>
    <p>with {% if staff.user %}{{ staff.user.first_name }}{% else %}{{ staff.first_name }}{% endif %}</p>
</div>
<div class="text-block">
<form method="POST" id='fconfirmationform'>
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-5 ml-auto mr-1 d-flex align-items-center mb-3 mb-md-0 bg-light rounded text-white">
            <div class="date-tile mr-3">
                <div class="text-uppercase"> <span class="text-sm" id="sm-mon">{{ date|date:'M' }}</span><br><strong class="text-lg" id="numdate">{{ date|date:'j' }}</strong></div>
            </div>
            <p class="text-sm mb-0" id="serDate">{{ date|date:'l' }}<br> {{ time }} </p>
        </div>
        <div class="col-5 mr-auto ml-1 d-flex align-items-left mb-3 mb-md-0 bg-light rounded text-white">
            <p class="text-sm mb-0 text-left" id="serDate"> {% if service.duration_hour > 0 %}{{ service.duration_hour }} hour{% endif %} {% if service.duration_minute > 0 and service.duration_hour > 0 %}and{% endif %} {{ service.duration_minute}} minute service.</p>
        </div>
    </div>
{% if company.company_forms.all or company.category.name == 'Automotive Services' %}
    <h4>Fill out the following form</h4>
{% endif %}
{% if company.category.name == 'Automotive Services' %}
    <div class="col-12 text-left">
        <label for="">Vehicle Year:</label>
        <select name="car-years" id="car-years" class="vehyearselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Year' required></select>  
    </div>
    <div class="col-12 text-left">
        <label for="">Vehicle Make:</label>
        <select name="car-makes" id="car-makes" class="vehmakeselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Make' required></select> 
    </div>
    <div class="col-12 text-left">
        <label for="">Vehicle Model:</label>
        <select name="car-models" id="car-models" class="vehmodelselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Model' required></select>
    </div>
    <div class="col-12 text-left">
        <label for="">Vehicle Trim:</label>
        <select name="car-model-trims" id="car-model-trims" class="vehtrimselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Trim' required></select>
    </div>
{% endif %}

{% for formfield in service.service_forms.all %}
    <div class="col-12 text-left">
        <label for="">{{ formfield.label }}{% if formfield.is_required == 'y' %}*{% endif %}:</label>
        <input type="text" name="{{ formfield.id }}" class="form-control {{ formfield.id }}" {% if formfield.is_required == 'y' %}required{% endif %}>
    </div>
{% endfor %}

<div class="row form-block flex-column flex-sm-row my-4">
    <div class="col text-center"><button type='submit' data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' class="btn btn-outline-primary px-3 confbtn"> {% if request.user.is_authenticated %}Confirm and Secure Spot{% else %}Proceed to Final Step{% endif %}<i class="fa-chevron-right fa ml-2"></i></button></div>
</div>
</form>
</div>

{% comment %} {% if company.notes %}
    <div class="text-block">
        <h5 class="mb-4">Things to keep in mind</h5>
        <ul class="list-unstyled">
            <li class="mb-2"> 
                <div class="media align-items-center mb-3">
                    <div class="icon-rounded icon-rounded-sm bg-secondary-light mr-4"><i class="fa fas fa-info text-secondary fa-fw text-center"></i></div>
                    <div class="media-body"><span class="text-sm">{{ company.notes }}</span></div>
                </div>
            </li>
        </ul>
    </div>
{% endif %} {% endcomment %}