<h1 class="h2 mb-2"> Confirm To Secure Spot <span class="text-muted"></span></h1>
<div class="text-block">
<form method="POST" id='fconfirmationform'>
    {% csrf_token %}
    <h5 class="mb-4">{{ service.name }}</h5>
    <div class="row mb-3">
        <div class="col-6 m-1 d-flex align-items-center mb-3 mb-md-0 bg-light rounded text-white">
            <div class="date-tile mr-3">
                <div class="text-uppercase"> <span class="text-sm" id="sm-mon">{{ date|date:'M' }}</span><br><strong class="text-lg" id="numdate">{{ date|date:'j' }}</strong></div>
            </div>
            <p class="text-sm mb-0" id="serDate">{{ date|date:'l' }}<br> {{ time }} </p>
        </div>
        <div class="col-5 m-1 d-flex align-items-left mb-3 mb-md-0 bg-light rounded text-white">
            <p class="text-sm mb-0 text-left" id="serDate"> {% if service.duration_hour > 0 %}{{ service.duration_hour }} hour{% endif %} {% if service.duration_minute > 0 and service.duration_hour > 0 %}and{% endif %} {{ service.duration_minute}} minute service.</p>
        </div>
    </div>
{% if company.company_forms.all or company.category.name == 'Automotive Services' %}
    <h6>Fill out the following form</h6>
{% endif %}
{% if company.category.name == 'Automotive Services' %}
    <div class="col-12 text-left">
        <label for="">Vehicle Year:</label>
        <select name="car-years" id="car-years" class="vehyearselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Year' ></select>  
    </div>
    <div class="col-12 text-left">
        <label for="">Vehicle Make:</label>
        <select name="car-makes" id="car-makes" class="vehmakeselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Make'></select> 
    </div>
    <div class="col-12 text-left">
        <label for="">Vehicle Model:</label>
        <select name="car-models" id="car-models" class="vehmodelselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Model'></select>
    </div>
    <div class="col-12 text-left">
        <label for="">Vehicle Trim:</label>
        <select name="car-model-trims" id="car-model-trims" class="vehtrimselect m-1" data-size='6' data-live-search='true' data-live-search-placeholder='Vehicle Trim'></select>
    </div>
{% endif %}

{% for formfield in service.service_forms.all %}
    <div class="col-12 text-left">
        <label for="">{{ formfield.label }}{% if formfield.is_required == 'y' %}*{% endif %}:</label>
        <input type="text" name="{{ formfield.id }}" class="form-control {{ formfield.id }}" {% if formfield.is_required == 'y' %}required{% endif %}>
    </div>
{% endfor %}

<div class="row form-block flex-column flex-sm-row my-4">
    <div class="col text-center"><button type='submit' data-sitekey="6LeimeAZAAAAAE119rtvZivK4DW9csX6QhEo5Yla" data-callback='onSubmit' data-action='submit' data-staff="{{ staff.id }}" data-service="{{ service.id }}" data-month="{{ month }}" data-day="{{ day }}" data-year="{{ year }}" data-time="{{ time }}" class="btn btn-outline-primary px-3 confbtn"> Confirm and Secure Spot<i class="fa-chevron-right fa ml-2"></i></button></div>
</div>
</form>
</div>

{% if company.notes %}
    <div class="text-block">
        <h5 class="mb-4">Things to keep in mind</h5>
        <ul class="list-unstyled">
            <li class="mb-2"> 
                <div class="media align-items-center mb-3">
                    <div class="icon-rounded icon-rounded-sm bg-secondary-light mr-4"><i class="fa fas fa-info text-secondary fa-fw text-center"></i></div>
                    <div class="media-body"><span class="text-sm">{{ company.notes }}</span></div>
                </div>
            </li>
        </ul>
    </div>
{% endif %}