<div class="card pt-3 pagination justify-content-center">
        <ul class="pagination pagination-template d-flex justify-content-center">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}{% if search %}&search_query={{search}}{% endif %}"> <i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% if page.number|add:'-1' > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'-2' }}{% if search %}&search_query={{search}}{% endif %}">&hellip;</a></li>
            {% endif %}
            {% for i in page.paginator.page_range %}
                {% if i == page.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}{% if search %}&search_query={{search}}{% endif %}">{{ i }}</a></li>
                {% elif i > page.number|add:'-2' and i < page.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if search %}&search_query={{search}}{% endif %}">{{ i }}</a></li>
                {% endif %}
                
            {% endfor %}

            {% if page.paginator.num_pages > page.number|add:'1' %}
                <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'2' }}{% if search %}&search_query={{search}}{% endif %}">&hellip;</a></li>
            {% endif %}
            
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}{% if search %}&search_query={{search}}{% endif %}"> <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
</div>