{% extends 'bookingpage/bookingpage.html'%}
{% load hosts %}
{% load crispy_forms_tags %}
{% block booking %}
<div class="text-block dark-overlay justify-content-center align-items-center">
    {% if service %}
        <h2>{{ service.name }}</h2>
        <hr class="hrwhite">
            <div class="row text-center underlay mb-3">
                <form method="POST" class="justify-content-center fform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="col-md-12 d-flex justify-content-center">
                            <h3 class="mb-3">Select Your Preferred Date and Time</h3>
                        </div>
                        <div class="row d-flex justify-content-center mb-3">
                            <div class="pl-6" id="datepicker"></div>
                            <div class="col-md-6">
                                <div class="" id="booking-header"><h4 class="text-center">Available Booking Times</h4></div>
                                <div class="sk-folding-cube d-none">
                                    <div class="sk-cube1 sk-cube"></div>
                                    <div class="sk-cube2 sk-cube"></div>
                                    <div class="sk-cube4 sk-cube"></div>
                                    <div class="sk-cube3 sk-cube"></div>
                                </div>
                                <div class="bookingbutton justify-content-left"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" class="justify-content-center d-none" id="authform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="authver justify-content-center container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <h3>Submit Your Info</h3>
                            </div>
                           <div class="col-md-6" id="fname">
                                {{ personal_form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6" id="lname">
                                {{ personal_form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6" id="pemail">
                                {{ personal_form.email|as_crispy_field}}
                                <div class="invalid_feedback m-0 p-0" style="display:none"></div>
                            </div>
                            <div class="col-md-6" id="pphone">
                                {{ personal_form.phone|as_crispy_field}}
                                <div class="invalid_phone m-0 p-0" style="display:none; color:red;"></div>
                            </div>
                            <div class="col-md-12" id="subbtndiv">
                                <button id="submitGuestForm" type="submit" class="btn btn-outline-primary mb-1 subbtn">Book as a guest</button>
                            </div>
                        </div>
                        <div class="col-md-12" id="pphone">
                            <a id="loginGibeleForm" class="btn btn-outline-primary mb-1">Log into your Gibele Account</a>
                        </div>
                        <div class="col-md-12" id="pphone">
                            <a class="btn btn-primary mb-1 fb">Sign in using Facebook</a>
                        </div>
                        
                    </div>
                </form>

                <form method="post" class="justify-content-center d-none" id="authformGibele">
                    {% csrf_token %}
                    <div class="authver justify-content-center container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <h3>Login using your Gibele Account</h3>
                            </div>
                            <div class="col-md-12 justify-content-center d-none errorGib">Incorrect password and email. Please try again</div>
                            <div class="col-sm-6 justify-content-center">
                                {{ gibele_form|crispy }}
                            </div>
                            <div class="col-md-12">
                                <button id="signInGibeleForm" type="submit" class="btn btn-outline-primary mb-1">Login</button>
                            </div>
                           
                        </div>
                        <div class="col-md-12" id="pphone">
                            <a id="toguestForm" class="btn btn-outline-primary mb-1">Book appointment as a guest</a>
                        </div>
                        <div class="col-md-12" id="pphone">
                            <a class="btn btn-primary mb-1 fb">Sign in using Facebook</a>
                        </div>
                        
                    </div>
                </form>

                <form method="post" class="justify-content-center" id="confirmForm">
                    {% csrf_token %}
                    <div class="sform d-none container">
                        <h3>Confirm Appointment To Secure Slot</h3>
                        <div class="text-block appoint"></div>
                        <a class="btn btn-outline-primary mb-3 confbtn">Confirm and Secure Spot</a>
                    </div>
                    <div class="conffeedback d-none">
                        <h3 class="confheader3">Appointment Confirmed!</h3>
                        <div class="text-block appoints"></div>
                        <div class="text-block message"></div>
                    </div>
                    
                </form>
                
            </div>
            <hr class="hrwhite">
    {% endif %}
</div>
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    jQuery( "#datepicker" ).flatpickr({
        dateFormat: "Y-m-d",
        inline:true,
        defaultHour: 12,
        minDate: 'today',
        position: "center",
    });

    const todays = document.querySelector("#datepicker")._flatpickr.selectedDates
    const dates = document.querySelector("#datepicker");
    const helper = document.querySelector('.bookingbutton');
    const firform = document.querySelector(".fform");
    const secform = document.querySelector(".sform");
    const authenticateform = document.querySelector("#authform");
    const bookingtime = document.querySelector(".appoint");
    const feedbackConf = document.querySelector(".conffeedback");
    const bookingtimes = document.querySelector(".appoints");
    const msg = document.querySelector('.message');
    const authGibeleForm = document.querySelector('#authformGibele');
    var bookingdate = ""
    var bookedtime = ""
    var booktime
    var bookdate
    var serv_id
    var authen
    dates.addEventListener('change', (e) =>{
        const loader = document.querySelector(".sk-folding-cube").classList.remove("d-none")
        const date = document.querySelector("#datepicker")._flatpickr.selectedDates[0];
        const month = date.getMonth();
        const day = date.getDate();
        const year = date.getFullYear();
        const weekday = date.getDay();
        const newdate = date.toJSON().substring(0,10)
        const service_id = '{{ service.id }}'
        fetch("{% host_url 'bookingtimeretrieval' host 'bookingurl' slug=company.slug %}", {
            body: JSON.stringify({month: month, day: day, year: year, id: service_id, weekday:weekday,date}),
            method: 'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
        })
        .then((res) => res.json())
        .then((data) => {
            var i = 0
            var j = 0
            h=``
            astring = ``
            var afternoon = 0
            var evening = 0
            for (d in data.appointment_slots){
                j = i + 1
                h = `<a class="btn btn-outline-primary btn-sm mb-1 show" style="height:auto;" id="show`+j+`">${data.appointment_slots[i]}</a>`
                astring = astring+h
                i = i + 1
            }
            astring = astring+''
            if (j>0){
                authen = data.auth
                helper.innerHTML=astring
                bookingdate = date
            }
            else{
                helper.innerHTML=`<p>No slots available</p>`
            }
            const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
        });              
    });

    $(document).on("click", ".bookingbutton .show", function(){
            const timev = $(this).text();

            firform.innerHTML=""
            
            bookingtime.innerHTML = `<p style="font-size:25px;">You are booking an appointment with <strong>{{ company.business_name }}</strong> at <strong>`+timev+`</strong> on <strong>`+ bookingdate.toDateString()+`</strong> for a <strong>{{ service.name }}</strong>.</p><p style="font-size:25px;">Please confirm your appointment by clicking the confirm button below.</p>`
            secform.classList.remove("d-none");
                        
            booktime = timev
            bookdate = bookingdate
            serv_id = '{{ service.id }}'
            
    });
    const lconf = document.querySelector(".confbtn")
    lconf.addEventListener('click', addBooking, {once:true});
            
    function addBooking(){
        secform.classList.add("d-none");
        const loginGibele = document.querySelector('#loginGibeleForm')
        const guestFormGib = document.querySelector('#toguestForm')
        const signGibForm = document.querySelector("#signInGibeleForm")
        const errGib = document.querySelector('.errorGib')
        if(!(authen)){
            authenticateform.classList.remove("d-none");
            loginGibele.addEventListener('click',function(e){
            authenticateform.classList.add("d-none")
            authGibeleForm.classList.remove("d-none")
            authGibeleForm.reset()
            $(document).off('submit').on('submit', '#authformGibele', function(e){
                const id_email = document.querySelector('#emails')
                const pass = document.querySelector('#id_password')
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url: '{% host_url 'loginbooking' host 'bookingurl' slug=company.slug %}',
                    data:{
                        email: id_email.value,
                        password: pass.value,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data){
                        const confheader3 = document.querySelector(".confheader3")
                            if(data.result){
                                authGibeleForm.classList.add("d-none");
                                bookingCreation()
                            }
                            else{
                                errGib.classList.remove("d-none")
                            }
                            }
                    });
                });
            });
                    
            guestFormGib.addEventListener('click',function(e){
                authenticateform.classList.remove("d-none")
                authGibeleForm.classList.add("d-none")
                authenticateform.reset()
            });
        }
        else{
            bookingCreation();
        }
    }
    $(document).on('submit', '#authform', function(e){
        e.preventDefault()
        guestbookingCreation()
    });
    function guestbookingCreation(){
        let csrftoken = getCookie('csrftoken');

        const first_name = document.querySelector('#id_first_name')
        const last_name = document.querySelector('#id_last_name')
        const emailGuest = document.querySelector('#id_email')
        const phoneGuest = document.querySelector('#id_phone')
                        fetch("{% host_url 'creatingBooking' host 'bookingurl' slug=company.slug %}", {
                            body: JSON.stringify({time:booktime, date:bookingdate.toDateString(), month:bookingdate.getMonth(),
                                                    day:bookingdate.getDate(),year:bookingdate.getFullYear(), s_id:serv_id, first_name:first_name.value, 
                                                    last_name:last_name.value, phone:phoneGuest.value, email:emailGuest.value }),
                            method: 'POST',
                            headers:{
                                'Content-type':'application/json',
                                'X-CSRFToken': csrftoken,
                            },
                        })
                        .then((res) => res.json())
                        .then((data) => {
                            const confheader3 = document.querySelector(".confheader3")
                            if (data.good){
                                console.log('wewe')
                                feedbackConf.classList.remove("d-none");
                                confheader3.innerHTML = 'Confirmed Booking!'
                                bookingtimes.innerHTML = `<p style="font-size:25px;">Thank you for setting an appointment with us! Your appointment with <strong>{{ company.business_name }}</strong> will take place on <strong>`+ data.date +`</strong> at <strong>`+data.time+`</strong> for a <strong>{{ service.name }}</strong>.</p><p style="font-size:25px;">We have sent the additional details of your service to your email.</p>`
                                msg.innerHTML = `<a class="btn btn-outline-primary" href="{% host_url 'business:homepage' host 'www' %}">Book another service</a>`
                            }
                            else{
                                feedbackConf.classList.remove("d-none");
                                confheader3.innerHTML = 'Timeslot has been fully booked out'
                                bookingtimes.innerHTML = `<p style="font-size:25px;">Unfortunately we were unable to secure this spot for you. This timeslot has been fully booked out. Please try another time.</p>`
                                msg.innerHTML = `<a class="btn btn-outline-primary" href="{% host_url 'bookingserviceurls' pk=service.id host 'bookingurl' slug=company.slug %}">Select a different time.</a>`
                            }
                        });
        }
        
        function bookingCreation(){
            let csrftoken = getCookie('csrftoken');
            fetch("{% host_url 'creatingBooking' host 'bookingurl' slug=company.slug %}", {
                body: JSON.stringify({time:booktime, date:bookingdate.toDateString(), month:bookingdate.getMonth(),day:bookingdate.getDate(),year:bookingdate.getFullYear(), s_id:serv_id }),
                method: 'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken': csrftoken,
                },
            })
            .then((res) => res.json())
            .then((data) => {
                const confheader3 = document.querySelector(".confheader3")
                if (data.good){
                    feedbackConf.classList.remove("d-none");
                    confheader3.innerHTML = 'Confirmed Booking!'
                    bookingtimes.innerHTML = `<p style="font-size:25px;">Thank you for setting an appointment with us! Your appointment with <strong>{{ company.business_name }}</strong> will take place on <strong>`+ data.date +`</strong> at <strong>`+data.time+`</strong> for a <strong>{{ service.name }}</strong>.</p><p style="font-size:25px;">We have sent the additional details of your service to your email.</p>`
                    msg.innerHTML = `<a class="btn btn-outline-primary" href="{% host_url 'business:homepage' host 'www' %}">Go to Gibele Website!</a>`
                }
                else{
                    feedbackConf.classList.remove("d-none");
                    confheader3.innerHTML = 'Timeslot has been fully booked out'
                    bookingtimes.innerHTML = `<p style="font-size:25px;">Unfortunately we were unable to secure this spot for you. This timeslot has been fully booked out. Please try another time.</p>`
                }
            });
        }
    
    
</script>

{% endblock %}
