{% extends 'bookingpage/bookingpage.html'%}
{% load hosts %}
{% block booking %}
<div class="text-block dark-overlay justify-content-center align-items-center">
    {% if service %}
        <h2>{{ service.name }}</h2>
        <hr class="hrwhite">
            <div class="row text-center underlay mb-3">
                <form method="POST" class="justify-content-center fform">
                    {% csrf_token %}
                    <div class="container">
                    <div class="col-md-12 d-flex justify-content-center">
                        
                        <h3 class="mb-3">Select The Staff Member</h3>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <h3 class="mb-3">Select Your Preferred Date and Time</h3>
                    </div>
                    
                    <div class="row d-flex justify-content-center mb-3">
                        <div class="pl-6" id="datepicker"></div>
                        
                        <div class="col-md-6 ">
                            <div class="text-center" id="booking-header"><h4 class="text-center">Available Booking Times</h4></div>
                            <div class="bookingbutton"></div>
                        </div>
                    </div>
                    </div>
                    <div id="address"></div>
                </form>
                <form action="post" class="justify-content-center" >
                    {% csrf_token %}
                    <div class="authver justify-content-center container d-none" id="authform">
                        <div class="row">
                            <h3>Enter Your Details or Sign into Gibele</h3>
                            <div class="col-md-6 d-flex">
                                <p><label for="id_first_name">First Name</label>
                                <input type="text" id="id_first_name" name="first_name" maxlength="30"></p>
                            </div>
                            <div class="col-md-6 d-flex">
                                <p><label for="id_last_name">Last Name</label>
                                <input type="text" id="id_last_name" name="last_name" maxlength="30"></p>
                            </div>
                            <div class="col-md-12 d-flex">
                                <p><label for="id_phone">Phone Number</label>
                                <input type="text" id="id_phone" name="phone" maxlength="200"></p>
                                <div class="invalid_phone m-0 p-0" style="display:none; color:red;"></div>
                            </div>
                            <div class="col-md-12 d-flex">
                                <p><label for="id_address">Address</label>
                                <input type="text" id="id_address" name="address" maxlength="200"></p>
                            </div>
                        </div>
                        <a class="btn btn-outline-primary mb-1 person">Submit</a>
                    </div>
                </form>
                <form action="post" class="justify-content-center" id="confirmForm">
                    {% csrf_token %}
                    <div class="sform d-none container">
                        <h3>Confirm Appointment To Secure Slot</h3>
                        <div class="text-block appoint"></div>
                        <a class="btn btn-outline-primary mb-3 confbtn">Confirm and Secure Spot</a>
                    </div>
                    <div class="conffeedback d-none">
                        <h3>Appointment Confirmed!</h3>
                        <div class="text-block appoints"></div>
                    </div>
                    
                </form>
                
            </div>
            <hr class="hrwhite">
    {% endif %}
</div>
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    const bkbtn = document.querySelector("#backbtn");
    bkbtn.classList.remove("d-none");


    jQuery( "#datepicker" ).flatpickr({
        dateFormat: "Y-m-d",
        inline:true,
        defaultHour: 12,
        minDate: 'today',
        position: "center",
        disable: [ { 'from': '2020-09-02'} ],
    });

    const todays = document.querySelector("#datepicker")._flatpickr.selectedDates
    if(todays==undefined){
        
    }
    const dates = document.querySelector("#datepicker");
    const helper = document.querySelector('.bookingbutton');
    const firform = document.querySelector(".fform");
    const secform = document.querySelector(".sform");
    const authenticateform = document.querySelector("#authform");
    const bookingtime = document.querySelector(".appoint");
    const feedbackConf = document.querySelector(".conffeedback");
    const bookingtimes = document.querySelector(".appoints");
    var bookingdate = ""
    var bookedtime = ""
    var count = 0
    var booktime
    var bookdate
    var serv_id
    var authen
    dates.addEventListener('change', (e) =>{
        const date = document.querySelector("#datepicker")._flatpickr.selectedDates[0];
        const month = date.getMonth();
        const day = date.getDate();
        const year = date.getFullYear();
        const weekday = date.getDay();
        const newdate = date.toJSON().substring(0,10)
        const service_id = '{{ service.id }}'
        console.log(newdate)
        fetch("/bookingtime/", {
            body: JSON.stringify({month: month, day: day, year: year, id: service_id, weekday:weekday, date:newdate}),
            method: 'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
        })
        .then((res) => res.json())
        .then((data) => {
            var i = 0
            var j = 0
            h=``
            astring = ``
            for (d in data.appointment_slots){
                j = i + 1
                h = `<a class="btn btn-outline-primary mb-1 show" style="height:auto;" id="show`+j+`">${data.appointment_slots[i]}</a>`
                astring = astring+h
                i = i + 1
            }
            if (j>0){
                authen = data.auth
                helper.innerHTML=astring
                bookingdate = date
            }
            else{
                helper.innerHTML=`<p>No slots available</p>`
            }
            
        });

        $("body").on("click", ".bookingbutton .show", function(){
            const timev = $(this).text();
                if(!(authen)){
                    firform.innerHTML=""
                    authenticateform.classList.remove("d-none");
                }
                else{
                    firform.innerHTML=""
                    authenticateform.innerHTML=""
                    bookingtime.innerHTML = `<p style="font-size:25px;">You are booking an appointment with <strong>{{ company.business_name }}</strong> at <strong>`+timev+`</strong> on <strong>`+ date.toDateString()+`</strong> for a <strong>{{ service.name }}</strong>.</p><p style="font-size:25px;">Please confirm your appointment by clicking the confirm button below.</p>`
                    secform.classList.remove("d-none");
                        
                    booktime = timev
                    bookdate = bookingdate
                    serv_id = service_id
    
                }
                    
                    
            });
        const lconf = document.querySelector(".confbtn")
        lconf.addEventListener('click', addBooking, {once:true});
            
        function addBooking(){
            count = count + 1
                
            if(count==1){
                console.log("hello")
                fetch("{% host_url 'creatingBooking' host 'bookingurl' slug=company.slug %}", {
                    body: JSON.stringify({time:booktime, date:bookdate.toDateString(), month:bookdate.getMonth(),day:bookdate.getDate(),year:date.getFullYear(), s_id:serv_id}),
                    method: 'POST',
                    headers:{
                        'Content-type':'application/json',
                        'X-CSRFToken':csrftoken,
                    },
                })
                .then((res) => res.json())
                .then((data) => {
                    console.log(data.time, '', data.start)
                    if (data.time){
                        secform.classList.add("d-none");
                        feedbackConf.classList.remove("d-none");
                        bookingtimes.innerHTML = `<p style="font-size:25px;">Thank you for setting an appointment with us! Your appointment with <strong>{{ company.business_name }}</strong> will take place on <strong>`+ data.date +`</strong> at <strong>`+data.time+`</strong> for a <strong>{{ service.name }}</strong>.</p><p style="font-size:25px;">We have sent the additional details of your service to your email.</p>`
                    }
                });
                count = count + 1
            }
        }                   
    });
    
    
</script>

{% endblock %}
