{% extends 'bookingpage/bookingpage.html'%}
{% load hosts %}
{% load crispy_forms_tags %}
{% load business_tags %}
{% block booking %}

<div class="container">
        <div class="row">
            <form method="POST" class="justify-content-center fform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container-fluid">
                            <div class="col-md-12 d-flex justify-content-center">
                                <h3 class="mb-3">Select Your Preferred Date and Time</h3>
                            </div>
                            <div class="row d-flex justify-content-center mb-3">
                                <div class="pl-6" id="datepicker"></div>
                                <div class="col-md-6">
                                    <div class="" id="booking-header"><h4 class="text-center">Available Booking Times</h4></div>
                                    <div class="sk-folding-cube d-none">
                                        <div class="sk-cube1 sk-cube"></div>
                                        <div class="sk-cube2 sk-cube"></div>
                                        <div class="sk-cube4 sk-cube"></div>
                                        <div class="sk-cube3 sk-cube"></div>
                                    </div>
                                    <div class="bookingbutton justify-content-left"></div>
                                </div>
                            </div>
                        </div>
            </form>
            
        <form class="sform d-none row" method="post">
          <div class="col-lg-7 text-center">
            <p class="subtitle text-white">Book your service with {{ company.business_name }}</p>
            <h1 class="h2 mb-2"> Confirm To Secure Spot <span class="text-muted float-right"></span>      </h1>
            <div class="text-block">
              <h5 class="mb-4">{{ service.name }}</h5>
              <div class="row mb-3 ">
                <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0 bg-light rounded">
                  <div class="date-tile mr-3">
                    <div class="text-uppercase"> <span class="text-sm" id="sm-mon">Apr</span><br><strong class="text-lg" id="numdate">17</strong></div>
                  </div>
                  <p class="text-sm mb-0" id="serDate"></p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 d-flex align-items-left mb-3 mb-md-0 bg-light rounded">
                  <p class="text-sm mb-0 text-left" id="serDate"> {% if service.duration_hour > 0 %}{{ service.duration_hour }} hour{% endif %} {% if service.duration_minute > 0 and service.duration_hour > 0 %}and{% endif %} {{ service.duration_minute}} minute service.</p>
                </div>
              </div>
            </div>
            <div class="text-block">
              <h5 class="mb-4">Things to keep in mind</h5>
              <ul class="list-unstyled">
                <li class="mb-2"> 
                  <div class="media align-items-center mb-3">
                    <div class="icon-rounded icon-rounded-sm bg-secondary-light mr-4"><i class="fa fas fa-info text-secondary fa-fw text-center"></i></div>
                    <div class="media-body"><span class="text-sm">{{ company.notes }}</span></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="row form-block flex-column flex-sm-row">
              <div class="col text-center text-sm-left">
              </div>
              <div class="col text-center text-sm-right"><a class="btn btn-outline-primary px-3 confbtn"> Confirm and Secure Spot<i class="fa-chevron-right fa ml-2"></i></a></div>
            </div>
          </div>
          <div class="col-lg-5 pl-xl-5">
            <div class="card-dark rounded border-0 shadow">
              <div class="card-body p-4">
                <div class="text-block pb-3">
                  <div class="media align-items-center">
                    <div class="media-body">
                    <h5><a class="text-reset">{{ company.business_name }}</a></h5>
                      <h6> <a class="text-reset">{{ company.category }}</a></h6>
                      <p class="text-muted text-sm mb-0">{{ company.description|slice:50 }}</p>
                      <div class="mt-n1">{% for x in '12345' %}<i class="fas fa-xs fa-star {% if forloop.counter|avg_reviews:company.id %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}</div>
                    </div>
                  </div>
                </div>
                <div class="text-block pt-3 pb-0">
                  <table class="w-100">
                    <tbody>
                      <tr>
                        {% with prctype=service.price_type prc=service.price %}
                        <th class="font-weight-normal py-2">{% if prctype == 'free' %}Free Service{% elif prctype == 'dont' %}Contact {{ company.business_name}} for pricing {% elif prctype == 'variable' %}Prices Varies From {% elif prctype == 'fixed' %}Fixed Price of {% else %}{{ prctype }}{% endif %}</th>
                        <td class="text-right py-2">{% if prctype == 'free' %}Free{% else %}${{ prc }}{% endif %}</td>
                      </tr>
                      {% comment %} <tr>
                        <th class="font-weight-normal pt-2 pb-3">Service fee</th>
                        <td class="text-right pt-2 pb-3">$67.48</td>
                      </tr> {% endcomment %}
                    </tbody>
                    <tfoot>
                      <tr class="border-top">
                        <th class="pt-3">Total</th>
                        <td class="font-weight-bold text-right pt-3">{% if prctype == 'free' %}Free{% elif prctype == 'dont' %}{% else %}${{ prc }}{% endif %}</td>
                        {% endwith %}
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="card-footer bg-primary-light py-4 border-0">
                <div class="media align-items-center">
                  <div class="media-body">
                    <p class="text-sm text-warning opacity-8 mb-0">Taxes and other charges may apply. Payment is collected in person.</p>
                    <h6 class="licolor"> {% if service.cancellation == 0 %}Flexible cancellation policy{% endif %}</h6>
                    <p class="text-sm text-info opacity-8 mb-0">Appointments can be cancelled {% if service.cancellation > 0 %}within {{ service.cancellation }} hours of {% else %}anytime before the{% endif %} appointment.</p>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
          <div class="conffeedback d-none">
                        <div class="sk-folding-cube d-none">
                                    <div class="sk-cube1 sk-cube"></div>
                                    <div class="sk-cube2 sk-cube"></div>
                                    <div class="sk-cube4 sk-cube"></div>
                                    <div class="sk-cube3 sk-cube"></div>
                                </div>
                        <h3 class="confheader3">Appointment Confirmed!</h3>
                        <div class="text-block appoints"></div>
                        <div class="text-block message"></div>
                    </div>
        </div>

        <form method="post" class="justify-content-center d-none" id="authform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="authver justify-content-center container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <h3>Submit Your Info</h3>
                            </div>
                           <div class="col-md-6" id="fname">
                                {{ personal_form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6" id="lname">
                                {{ personal_form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6" id="pemail">
                                {{ personal_form.email|as_crispy_field}}
                                <div class="invalid_feedback m-0 p-0" style="display:none"></div>
                            </div>
                            <div class="col-md-6" id="pphone">
                                {{ personal_form.phone|as_crispy_field}}
                                <div class="invalid_phone m-0 p-0" style="display:none; color:red;"></div>
                            </div>
                            <div class="col-md-12" id="subbtndiv">
                                <button id="submitGuestForm" type="submit" class="btn btn-outline-primary subbtn">Book as a guest</button>
                            </div>
                        </div>
                        <div class="col-md-12" id="pphone">
                            <a id="loginGibeleForm" class="btn btn-pill btn-warning mb-1">Log into your Gibele Account</a>
                        </div>
                    </div>
                </form>

                <form method="post" class="justify-content-center d-none" id="authformGibele">
                    {% csrf_token %}
                    <div class="authver justify-content-center container">
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <h3>Login using your Gibele Account</h3>
                            </div>
                            <div class="col-md-12 justify-content-center d-none errorGib">Incorrect password and email. Please try again</div>
                            <div class="col-sm-6 justify-content-center">
                                {{ gibele_form|crispy }}
                            </div>
                            <div class="col-md-12">
                                <button id="signInGibeleForm" type="submit" class="btn btn-pill btn-warning mb-1">Login</button>
                            </div>
                           
                        </div>
                        <div class="col-md-12" id="pphone">
                            <a id="toguestForm" class="btn btn-outline-primary mb-1">Book appointment as a guest</a>
                        </div>
                    </div>
                </form>

</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    jQuery( "#datepicker" ).flatpickr({
        dateFormat: "Y-m-d",
        inline:true,
        defaultHour: 12,
        minDate: 'today',
        position: "center",
    });

    const todays = document.querySelector("#datepicker")._flatpickr.selectedDates
    const dates = document.querySelector("#datepicker");
    const helper = document.querySelector('.bookingbutton');
    const firform = document.querySelector(".fform");
    const secform = document.querySelector(".sform");
    const authenticateform = document.querySelector("#authform");
    const bookingtime = document.querySelector(".appoint");
    const bookingtimes = document.querySelector(".appoints");
    const msg = document.querySelector('.message');
    const authGibeleForm = document.querySelector('#authformGibele');
    const feedbackConf = document.querySelector(".conffeedback");
    var bookingdate = ""
    var bookedtime = ""
    var booktime
    var bookdate
    var serv_id
    var authen

    dates.addEventListener('change', (e) =>{
        const loader = document.querySelector(".sk-folding-cube").classList.remove("d-none")
        helper.classList.add("d-none")
        const date = document.querySelector("#datepicker")._flatpickr.selectedDates[0];
        const month = date.getMonth();
        const day = date.getDate();
        const year = date.getFullYear();
        const weekday = date.getDay();
        const newdate = date.toJSON().substring(0,10)
        const service_id = '{{ service.id }}'
        csrftoken = getCookie('csrftoken');
        fetch("{% host_url 'bookingtimeretrieval' host 'bookingurl' slug=company.slug %}", {
            body: JSON.stringify({month: month, day: day, year: year, id: service_id, weekday:weekday,date}),
            method: 'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken,
            },
        })
        .then((res) => res.json())
        .then((data) => {
            var i = 0
            var j = 0
            h=``
            astring = ``
            var afternoon = 0
            var evening = 0
            for (d in data.appointment_slots){
                j = i + 1
                h = `<a class="btn btn-info btn-sm mb-1 show" style="height:auto;" id="show`+j+`">${data.appointment_slots[i]}</a>`
                astring = astring+h
                i = i + 1
            }
            astring = astring+''
            if (j>0){
                authen = data.auth
                helper.innerHTML=astring
                bookingdate = date
            }
            else{
                helper.innerHTML=`<p>No slots available</p>`
            }
            helper.classList.remove("d-none")
            const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
        });              
    });

    $(document).on("click", ".bookingbutton .show", function(){
            const timev = $(this).text();
            var longmonthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May","June","July", "Aug", "Sept", "Oct", "Nov","Dec"];
            var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
            firform.innerHTML =""

            const smallMonth = document.querySelector("#sm-mon")
            const numdateNum = document.querySelector('#numdate')
            const serviceDate = document.querySelector('#serDate')

            smallMonth.innerHTML = monthNames[bookingdate.getMonth()]
            numdateNum.innerHTML = bookingdate.getDate()
            serviceDate.innerHTML = dayNames[bookingdate.getDay()] +`<br>` + timev

            secform.classList.remove("d-none");
                        
            booktime = timev
            bookdate = bookingdate
            serv_id = '{{ service.id }}'
            
    });

    const lconf = document.querySelector(".confbtn")
    lconf.addEventListener('click', addBooking, {once:true});
            
    function addBooking(){
        secform.classList.add("d-none");
        const loginGibele = document.querySelector('#loginGibeleForm')
        const guestFormGib = document.querySelector('#toguestForm')
        const signGibForm = document.querySelector("#signInGibeleForm")
        const errGib = document.querySelector('.errorGib')
        if(!(authen)){
            authenticateform.classList.remove("d-none");
            loginGibele.addEventListener('click',function(e){
            authenticateform.classList.add("d-none")
            authGibeleForm.classList.remove("d-none")
            authGibeleForm.reset()
            $(document).off('submit').on('submit', '#authformGibele', function(e){
                const id_email = document.querySelector('#emails')
                const pass = document.querySelector('#id_password')
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url: '{% host_url 'loginbooking' host 'bookingurl' slug=company.slug %}',
                    data:{
                        email: id_email.value,
                        password: pass.value,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data){
                        const confheader3 = document.querySelector(".confheader3")
                            if(data.result){
                                authGibeleForm.classList.add("d-none");
                                bookingCreation()
                            }
                            else{
                                errGib.classList.remove("d-none")
                            }
                    }
                });
            });
            });

            

            guestFormGib.addEventListener('click',function(e){
                authenticateform.classList.remove("d-none")
                authGibeleForm.classList.add("d-none")
                authenticateform.reset()
            });

            
        }
        else{
            bookingCreation();
        }
    }
    $(document).on('submit', '#authform', function(e){
        e.preventDefault();
        authenticateform.classList.add("d-none")
        guestbookingCreation();
    });
    function guestbookingCreation(){
        csrftoken = getCookie('csrftoken');
        const first_name = document.querySelector('#id_first_name')
        const last_name = document.querySelector('#id_last_name')
        const emailGuest = document.querySelector('#id_email')
        const phoneGuest = document.querySelector('#id_phone')
        feedbackConf.classList.remove("d-none");
                        fetch("{% host_url 'creatingBooking' host 'bookingurl' slug=company.slug %}", {
                            body: JSON.stringify({time:booktime, date:bookingdate.toDateString(), month:bookingdate.getMonth(),
                                                    day:bookingdate.getDate(), year:bookingdate.getFullYear(), s_id:serv_id, first_name:first_name.value, 
                                                    last_name:last_name.value, phone:phoneGuest.value, email:emailGuest.value }),
                            method: 'POST',
                            headers:{
                                'Content-type':'application/json',
                                'X-CSRFToken': csrftoken,
                            },
                        })
                        .then((res) => res.json())
                        .then((data) => {
                            const confheader3 = document.querySelector(".confheader3")
                            if (data.emailerr){
                                confheader3.innerHTML = 'Unable to book service as a guest.'
                                bookingtimes.innerHTML = `<p style="font-size:25px;">The email you have provided is already associated with an account. Please sign into Gibele and try booking again.</p>`
                                msg.innerHTML = `<a class="btn btn-outline-primary" href="{% host_url 'business:homepage' host 'www' %}">Go to Gibele Website!</a>`
                                const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
                            }
                            if (data.good){
                                
                                confheader3.innerHTML = 'Confirmed Booking!'
                                bookingtimes.innerHTML = `<p style="font-size:25px;">Thank you for setting an appointment with us! Your appointment with <strong>{{ company.business_name }}</strong> will take place on <strong>`+ data.date +`</strong> at <strong>`+data.time+`</strong> for a <strong>{{ service.name }}</strong>.</p><p style="font-size:25px;">We have sent the additional details of your service to your email.</p>`
                                msg.innerHTML = `<a class="btn btn-outline-primary" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Book another service</a>`
                                const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
                            }
                            else{
                                
                                confheader3.innerHTML = 'Timeslot has been fully booked out'
                                bookingtimes.innerHTML = `<p style="font-size:25px;">Unfortunately we were unable to secure this spot for you. This timeslot has been fully booked out. Please try another time.</p>`
                                msg.innerHTML = `<a class="btn btn-outline-primary" href="{% host_url 'bookingserviceurls' pk=service.id host 'bookingurl' slug=company.slug %}">Select a different time.</a>`
                                const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
                            }
                        });
    }
        
    function bookingCreation(){
            csrftoken = getCookie('csrftoken');
            fetch("{% host_url 'creatingBooking' host 'bookingurl' slug=company.slug %}", {
                body: JSON.stringify({time:booktime, date:bookingdate.toDateString(), month:bookingdate.getMonth(),day:bookingdate.getDate(),year:bookingdate.getFullYear(), s_id:serv_id }),
                method: 'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken': csrftoken,
                },
            })
            .then((res) => res.json())
            .then((data) => {
                const confheader3 = document.querySelector(".confheader3")
                feedbackConf.classList.remove("d-none");
                if (data.emailerr){
                    confheader3.innerHTML = 'Unable to book service as a guest.'
                    bookingtimes.innerHTML = `<p style="font-size:25px;">The email you have provided is already associated with an account. Please sign into Gibele and try booking again.</p>`
                    msg.innerHTML = `<a class="btn btn-outline-primary mt-1" href="{% host_url 'business:homepage' host 'www' %}">Go to Gibele Website</a>`
                    const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
                }
                            if (data.good){
                                
                                confheader3.innerHTML = 'Confirmed Booking!'
                                bookingtimes.innerHTML = `<p style="font-size:25px;">Thank you for setting an appointment with us! Your appointment with <strong>{{ company.business_name }}</strong> will take place on <strong>`+ data.date +`</strong> at <strong>`+data.time+`</strong> for a <strong>{{ service.name }}</strong>.</p><p style="font-size:25px;">We have sent the additional details of your service to your email.</p>`
                                msg.innerHTML = `<a class="btn btn-outline-primary mt-1" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Book another service</a>`
                                const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
                            }
                            else{
                                
                                confheader3.innerHTML = 'Timeslot has been fully booked out'
                                bookingtimes.innerHTML = `<p style="font-size:25px;">Unfortunately we were unable to secure this spot for you. This timeslot has been fully booked out. Please try another time.</p>`
                                msg.innerHTML = `<a class="btn btn-outline-primary mt-1" href="{% host_url 'bookingserviceurls' pk=service.id host 'bookingurl' slug=company.slug %}">Select a different time.</a>`
                                const loader = document.querySelector(".sk-folding-cube").classList.add("d-none")
                            }
            });
    }


    {% if company.returning %}
                {% if returnClient %}
                {% else %}
                    {% if user.is_authenticated %}
                    Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-info',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                        title: 'This service provider does not accept new clients. ',
                        html: `<p>Click the request button below to get added onto the client list.</p>`,
                        confirmButtonText: 'Get On The List',
                        allowOutsideClick: false,
                    }).then(function(result){
                        if (result.isConfirmed){
                            csrftoken = getCookie('csrftoken');
                            $.ajax({
                                type:'POST',
                                url: '{% host_url 'requestSpotAsClient' host 'bookingurl' slug=company.slug %}',
                                async:false,
                                data:{company_id:'{{ company.id }}'},
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                success: function(data){
                                    Swal.fire({
                                    customClass:{
                                        confirmButton: 'btn btn-info',
                                        cancelButton: 'btn btn-danger',
                                    },
                                    title: 'Your request has been sent to {{ company.business_name }}.',
                                    html: `<p>We will send you an email once your request has been approved.</p>`,
                                    icon: 'success',
                                    customClass:{
                                        confirmButton: 'btn btn-info',
                                        cancelButton: 'btn btn-danger',
                                    },
                                }).then(function(){
                                    window.location.href='{% host_url 'business:homepage' host 'www' %}'
                                });
                            }
                        });
                    }
                    if(result.isDismissed){
                        window.location.href='{% host_url 'business:homepage' host 'www' %}'
                    }
                });
                    {% else %}
                    Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-info',
                            denyButton: 'btn btn-link licolorblue',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                        showDenyButton: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        title: 'This service provider does not accept new clients. ',
                        html: `<p>Please log into Gibele to place a request</p><input type="text" id="login" class="swal2-input" placeholder="Email">
                                <input type="password" id="password" class="swal2-input" placeholder="Password">`,
                        confirmButtonText: 'Sign In',
                        denyButtonText: `Sign Up`,
                        focusConfirm: false,
                        
                        preConfirm: () => {
                            const login = Swal.getPopup().querySelector('#login').value
                            const password = Swal.getPopup().querySelector('#password').value
                            var res = false
                            csrftoken = getCookie('csrftoken');
                            if (!login || !password) {
                                Swal.showValidationMessage(`Please enter your login and password`)
                            }
                            $.ajax({
                                type:'POST',
                                url: '{% host_url 'loginbooking' host 'bookingurl' slug=company.slug %}',
                                async: false,
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                data:{
                                    email: login,
                                    password: password
                                },
                                success: function(data){
                                    if(data.result){
                                        return true
                                    }
                                    else{
                                        Swal.showValidationMessage(`Incorrect email or password`)
                                        return false
                                    }
                                }
                            });
                        }
                        }).then((result) => {
                            if (result.isConfirmed){
                                //Send the request
                                csrftoken = getCookie('csrftoken');
                                $.ajax({
                                    type:'POST',
                                    url: '{% host_url 'checkIfClient' host 'bookingurl' slug=company.slug %}',
                                    async: false,
                                    headers:{
                                        "X-CSRFToken": csrftoken
                                    },
                                    data:{company_id:'{{ company.id }}'},
                                    success: function(data){
                                        if (data.good){
                                            
                                        }
                                        else if (data.data == 'notclient'){
                                            Swal.fire({
                                                customClass:{
                                                    confirmButton: 'btn btn-info',
                                                    cancelButton: 'btn btn-danger',
                                                },
                                                buttonsStyling: false,
                                                title: 'This service provider does not accept new clients. ',
                                                html: `<p>Click the request button below to get added onto the client list.</p>`,
                                                confirmButtonText: 'Get On The List',
                                            }).then(function(result){
                                                if (result.isConfirmed){
                                                    csrftoken = getCookie('csrftoken');
                                                    $.ajax({
                                                        type:'POST',
                                                        url: '{% host_url 'requestSpotAsClient' host 'bookingurl' slug=company.slug %}',
                                                        async:false,
                                                        data:{company_id:'{{ company.id }}'},
                                                        headers:{
                                                            "X-CSRFToken": csrftoken
                                                        },
                                                        success: function(data){
                                                            Swal.fire({
                                                            customClass:{
                                                                confirmButton: 'btn btn-info',
                                                                cancelButton: 'btn btn-danger',
                                                            },
                                                            buttonsStyling: false,
                                                            title: 'Your request has been sent to {{ company.business_name }}.',
                                                            html: `<p>We will send you an email once your request has been approved.</p>`,
                                                            icon: 'success',
                                                            customClass:{
                                                                confirmButton: 'btn btn-info',
                                                                cancelButton: 'btn btn-danger',
                                                            },
                                                            }).then(function(){
                                                                window.location.href='{% host_url 'business:homepage' host 'www' %}'
                                                            }); 
                                                        }
                                                    });
                                                }
                                            });
                                        }
                                    }
                                })
                            }

                            if(result.isDismissed){
                        window.location.href='{% host_url 'business:homepage' host 'www' %}'
                    }

                            {% comment %} Just checking if the user is signing up for an account. {% endcomment %}
                            if (result.isDenied){
                                Swal.fire({
                                    customClass:{
                                    confirmButton: 'btn btn-info',
                                    cancelButton: 'btn btn-danger',
                                },
                                showCancelButton: true,
                                buttonsStyling: false,
                                allowOutsideClick: false,
                                title: 'Sign Up for a free Gibele account',
                                html: `<p>Please sign up for Gibele to place a request</p>
                                <div class="row swalPadding">
                                    <div class="col-md-6 swalPadding">
                                        <input type="text" id="first" class="swal2-input" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6 swalPadding">
                                        <input type="text" id="last" class="swal2-input" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-12 swalPadding">
                                        <input type="text" id="login" class="swal2-input" placeholder="Email">
                                    </div>
                                    <div class="col-md-6 swalPadding">
                                        <input type="password" id="password" class="swal2-input" placeholder="Password">
                                    </div>
                                    <div class="col-md-6 swalPadding">
                                        <input type="password" id="confpassword" class="swal2-input" placeholder="Confirm Password">
                                    </div>
                                </div>`,
                                confirmButtonText: 'Create Account',
                                focusConfirm: false,
                                preConfirm: () => {
                                    const login = Swal.getPopup().querySelector('#login').value
                                    const first = Swal.getPopup().querySelector('#first').value
                                    const last = Swal.getPopup().querySelector('#last').value
                                    const password = Swal.getPopup().querySelector('#password').value
                                    const confpassword = Swal.getPopup().querySelector('#confpassword').value
                                    csrftoken = getCookie('csrftoken');
                                    if (password != confpassword) {
                                        Swal.showValidationMessage('The passwords don\'t match.')
                                        return false
                                    }
                                    if (!login || !password || !confpassword || !first || !last ){
                                        Swal.showValidationMessage('Please fill out the form.')
                                        return false
                                    }
                                    $.ajax({
                                        url: '{% host_url "createAccount" host "bookingurl" slug=company.slug %}',
                                        data: {email:login, first:first, last:last, password:password},
                                        type:'POST',
                                        async:false,
                                        headers:{
                                            "X-CSRFToken": csrftoken
                                        },
                                        success: function(data){
                                            if (data.error == 'notanemail' ){
                                                Swal.showValidationMessage('Please enter a proper email.')
                                                return false
                                            }
                                            if (data.error == 'taken' ){
                                                Swal.showValidationMessage('Email already in use. Try another email address.')
                                                return false
                                            }     
                                        }
                                    })
                                }
                                }).then(function(result){
                                    console.log(result)
                                    if (result.isConfirmed){
                                //Send the request
                                csrftoken = getCookie('csrftoken');
                                $.ajax({
                                    type:'POST',
                                    url: '{% host_url 'checkIfClient' host 'bookingurl' slug=company.slug %}',
                                    async: false,
                                    headers:{
                                        "X-CSRFToken": csrftoken
                                    },
                                    data:{company_id:'{{ company.id }}'},
                                    success: function(data){
                                        if (data.good){

                                        }
                                        else if (data.data == 'notclient'){
                                            Swal.fire({
                                            customClass:{
                                                confirmButton: 'btn btn-info',
                                                cancelButton: 'btn btn-danger',
                                            },
                                            buttonsStyling: false,
                                            title: 'This service provider does not accept new clients. ',
                                            html: `<p>Click the request button below to get added onto the client list.</p>`,
                                            confirmButtonText: 'Get On The List',
                                        }).then(function(result){
                                            if (result.isConfirmed){
                                                csrftoken = getCookie('csrftoken');
                                                $.ajax({
                                                    type:'POST',
                                                    url: '{% host_url 'requestSpotAsClient' host 'bookingurl' slug=company.slug %}',
                                                    async:false,
                                                    data:{company_id:'{{ company.id }}'},
                                                    headers:{
                                                        "X-CSRFToken": csrftoken
                                                    },
                                                    success: function(data){
                                                        Swal.fire({
                                                        customClass:{
                                                            confirmButton: 'btn btn-info',
                                                            cancelButton: 'btn btn-danger',
                                                        },
                                                        buttonsStyling: false,
                                                        title: 'Your request has been sent to {{ company.business_name }}.',
                                                        html: `<p>We will send you an email once your request has been approved.</p>`,
                                                        icon: 'success',
                                                        customClass:{
                                                            confirmButton: 'btn btn-info',
                                                            cancelButton: 'btn btn-danger',
                                                        },
                                                        }).then(function(){
                                                            window.location.href='{% host_url 'business:homepage' host 'www' %}'
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                        }
                                    }
                                })
                            }
                            if(result.isDismissed){
                                window.location.href='{% host_url 'business:homepage' host 'www' %}'
                            }
                                    
                                });
                            }
                            if (result.isDismissed){
                                window.location.href='{% host_url 'business:homepage' host 'www' %}'
                            }
                        });
                    {% endif %}

                {% endif %}
                
            {% endif %}
        });


</script>
{% endblock scripts %}