{% extends 'bizadmin/index.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block activecompinfo %}active{%endblock%}
{% block businessadmin %}

<div class="modal fade" id="modal-addstaff" tabindex="-1" role="dialog" aria-labelledby="modal-addstaffLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div class="modal-header">
        <h5 class="">Add staff</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="staffcontents">
        <form method="POST" id="staffcontentform">
            <div class="formstaffcontent">
                {% csrf_token %}
                {{ addstaff|crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Staff</button>
            </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Main page content-->
    <div class="content">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <header class="page-header page-header-compact page-header-light mb-2">
                    <div class="container-fluid">
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto">
                                    <h1 class="page-header-title">
                                        Staff Members
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Account page navigation-->
                <nav class="nav nav-borders">
                    <a class="nav-link ml-0" href="{% host_url 'information' host 'bizadmin'%}">Company Info</a>
                    <a class="nav-link" href="{% host_url 'hours' host 'bizadmin'%}">Business Hours</a>
                    <a class="nav-link activate" href="{% host_url 'staffmemb' host 'bizadmin'%}">Staff Members</a>
                    <a class="nav-link" href="{% host_url 'service_detail' host 'bizadmin' %}">Services</a>
                    <a class="nav-link" href="{% host_url 'client_list' host 'bizadmin' %}">Clients</a>
                    {% comment %} <a class="nav-link" href="#">Staff Members</a> {% endcomment %}
                </nav>
                <hr class="mt-0 mb-4">

                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center mt-2">
                                <button id="addstaff" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal-addstaff">Add Staff Member</button>
                            </div>
                        <div class="card shadow mb-4 p-3" id="categorylisttab">
                            <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                                <div class="card card-plain">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <h4>View All Staff Members
                                            <i class="fas fa-chevron-up"></i>
                                            </h4>
                                        </a>
                                    </div>

                                    <div id="collapseOne" class="collapse something" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="card-body">
                                        <div class="col-12">
                                            <ul class="nav nav-pills nav-pills-neutral flex-column">
                                                {% for staff in company.staffmembers.all %}
                                                    <li class="nav-item">
                                                        <a class="nav-link pillsize stafflist {% if forloop.counter == 1 %}active{% endif %}" style="border-radius:10px;" href="#tab{{ staff.id }}" data-staff="{{ staff.id }}" id="tab{{ forloop.counter }}" data-toggle="tab">
                                                            <span class="align-items-center">
                                                                <img class="avatar" src="{% if staff.image %}{{ staff.image.url }}{% else %}https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png{% endif %} " alt="{{ staff.first_name }}">
                                                                <p>{{ staff.first_name }}</p>
                                                            </span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    <div class="col-md-8" id="staff-information">
                        {% with staff=company.staffmembers.all.0 %}
                            <div class="card shadow my-1">
                                <div class="row">
                                    <div class="col-md-8 py-auto" style="overflow:hidden;">
                                        <nav class="nav nav-borders" >
                                            <a class="nav-link activate ml-0" id="detail" data-staff="{{ staff.id }}" href="#detail" data-toggle="tab">Details</a>
                                            <a class="nav-link" id="services" data-staff="{{ staff.id }}" href="#services" data-toggle="tab">Services</a>
                                            <a class="nav-link" id="hours" data-staff="{{ staff.id }}" href="#hours" data-toggle="tab">Working Hours</a>
                                            <a class="nav-link" id="breaks" data-staff="{{ staff.id }}" href="#breaks" data-toggle="tab">Breaks</a>
                                            {% comment %} <a class="nav-link" id="timeoff" data-staff="{{ staff.id }}" href="#timeoff" data-toggle="tab">Time Off</a> {% endcomment %}
                                            {% comment %} <a class="nav-link" href="#">Staff Members</a> {% endcomment %}
                                        </nav>
                                        
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <div class="card-header p-2">
                                                {% if company.staffmembers.count > 1 %}
                                                    <button class="btn btn-link btn-danger btn-sm staffdelete" type="button" data-staff="{{ staff.id }}">Remove Staff Member <i class="fas fa-trash"></i></button>
                                                {% endif %}        
                                        </div>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <span>
                                        <img class="avatar mx-2" src="{% if staff.image %}{{ staff.image.url }}{% else %}https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png{% endif %} " alt="{{ staff.first_name }}">
                                        <label><h4> {{ staff.first_name }}'s Details</h4></label>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="justify-content-center my-auto align-items-center">
                                        <form method="POST" autocomplete="off">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-4 col-6">
                                                    <label for="first">First Name:</label>
                                                    <input autocomplete="off" data-staff="{{ staff.id }}" id="first_name" type="text" class="form-control" value="{{staff.first_name}}">
                                                </div>
                                                <div class="col-lg-4 col-6">
                                                    <label for="first">Last Name:</label>
                                                    <input autocomplete="off" data-staff="{{ staff.id }}" id="last_name" type="text" class="form-control" value="{{staff.last_name}}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-6">
                                                    <label for="first">Email:</label>
                                                    <input autocomplete="off" data-staff="{{ staff.id }}" id="staff_email" type="text" class="form-control" value="{{staff.email}}">
                                                </div>

                                                <div class="col-lg-4 col-6">
                                                    <label for="first">CC Emails To:</label>
                                                    <input autocomplete="off" data-staff="{{ staff.id }}" id="staff_cc_email" type="text" class="form-control" value=" {% if staff.cc_email %}{{staff.cc_email}}{% endif %}">
                                                </div>


                                                <div class="col-md-6 col-lg-8">
                                                    <label for="first">Phone Number:</label>
                                                    <input autocomplete="off" data-staff="{{ staff.id }}" id="phone_number" type="text" class="form-control" value="{{staff.phone}}">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    {% comment %} const csrftoken = getCookie('csrftoken'); {% endcomment %}

    function my_func(e) {
        e.preventDefault()
    }

    $(document).on("submit", "#staffcontentform", function(e){
        e.preventDefault();
        var form = $('#staffcontentform')

        $.ajax({
            type:'POST',
            url: "{% host_url 'addnewstaffmember' host 'bizadmin' %}",
            data: form.serialize(),
            success:function(data){

                if (!(data.success)){
                    form.replaceWith(data.form_html)
                    $('select').selectpicker();
                }
                else {
                    $('#modal-addstaff').modal('hide')
                    var staffinfo = document.querySelector('#staff-information');
                    staffinfo.innerHTML = data.html_details
                    var stafftab = document.querySelector('#categorylisttab');
                    stafftab.innerHTML = data.html_members
                    Swal.fire({
                        title:'Staff member has been added',
                        icon: 'success',
                        customClass:{
                            confirmButton: 'btn btn-primary',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                    });

                }
                
            }
        });
    });

    var w = screen.width;
    if (w>768){
        $('.collapse.something').collapse('show')
    }

    $(document).on('click', '.nav-item', function(){
        var w = screen.width;
        if (w<768){
            $('.collapse').collapse('hide')
        }        
    });

    $(document).on('click', '.removestaff', function(){
        var staff_id =  $('.removestaff').attr("data-staff")
        $.ajax({
            type:'POST',
            url:"{% host_url 'removestaffromcompany' host 'bizadmin' %}",
            data: {
                'staff_id':staff_id
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                if (data.success){
                    var staffinfo = document.querySelector('#staff-information');
                    staffinfo.innerHTML = data.html_details
                    var stafftab = document.querySelector('#categorylisttab');
                    stafftab.innerHTML = data.html_members
                }
                $.notify({
                    // options
                    message: data.msg
                },{
                    // settings
                    type: data.successor,
                    delay: 50,
                });
                
            }
        })
    })
    

    $(document).on('click', '.staffdelete',function(){
        var staff_id =  $('.staffdelete').attr("data-staff")
        $('.staffdelete').popover({
            trigger: 'focus',
            html: true,
            sanitize: false,
            content: 'Are you sure you want to remove staff? <button class="btn btn-sm btn-danger removestaff" data-staff='+staff_id+' >Remove</button><button class="btn btn-sm">Cancel</button>',
        });
        $('.staffdelete').popover('show')
    });

    $(document).on('click', '#services',function(){
        var staffinfo = document.querySelector('#staff-information');
        var staff_id =  $('#services').attr("data-staff")
        $.ajax({
            type:'GET',
            url: "{% host_url 'getstaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'type': 'services'
            },
            success:function(data){
                staffinfo.innerHTML = data.html_content
            }
        });
    });

    $(document).on('click', '#hours',function(){
        var staffinfo = document.querySelector('#staff-information');
        var staff_id =  $('#hours').attr("data-staff")
        $.ajax({
            type:'GET',
            url: "{% host_url 'getstaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'type': 'hours'
            },
            success:function(data){
                staffinfo.innerHTML = data.html_content
                $('.hourtimepickr').datetimepicker({
                        format: 'LT',
                        icons: {
                        time: "fas fa-clock",
                        up: "fa fa-chevron-up",
                        down: "fa fa-chevron-down",
                        previous: 'tim-icons icon-minimal-left',
                        next: 'tim-icons icon-minimal-right',
                        today: 'fa fa-screenshot',
                        clear: 'fa fa-trash',
                        close: 'fa fa-remove',
                    }
                });
            }
        });
    });

    $(document).on('click', '#breaks',function(){
        var staffinfo = document.querySelector('#staff-information');
        var staff_id =  $('#breaks').attr("data-staff")
        $.ajax({
            type:'GET',
            url: "{% host_url 'getstaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'type': 'breaks'
            },
            success:function(data){
                staffinfo.innerHTML = data.html_content
                $('.breaktimepicker').datetimepicker({
                        format: 'LT',
                        icons: {
                        time: "fas fa-clock",
                        up: "fa fa-chevron-up",
                        down: "fa fa-chevron-down",
                        previous: 'tim-icons icon-minimal-left',
                        next: 'tim-icons icon-minimal-right',
                        today: 'fa fa-screenshot',
                        clear: 'fa fa-trash',
                        close: 'fa fa-remove',
                    }
                });
                
                $('.popoverbreaks').popover({
                    trigger: 'focus',
                    html: true,
                    sanitize: false

                })
            }
        });
    });

    $(document).on('click', '#detail',function(){
        var staffinfo = document.querySelector('#staff-information');
        var staff_id =  $('#detail').attr("data-staff")
        $.ajax({
            type:'GET',
            url: "{% host_url 'getstaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'type': 'detail'
            },

            success:function(data){
                staffinfo.innerHTML = data.html_content
                $('.staffdelete').popover({
                    trigger: 'focus',
                    html: true,
                    sanitize: false,
                    content: 'Are you sure you want to remove staff? <button class="btn btn-sm btn-danger removestaff" data-staff='+staff_id+' >Remove</button><button class="btn btn-sm">Cancel</button>',
                })
            }
        });
    });

    $(document).on('click', '#timeoff',function(){
        var staffinfo = document.querySelector('#staff-information');
        var staff_id =  $('#timeoff').attr("data-staff")
        $.ajax({
            type:'GET',
            url: "{% host_url 'getstaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'type': 'timeoff'
            },

            success:function(data){
                staffinfo.innerHTML = data.html_content
            }
        });
    });

    $(document).on('click', '.stafflist',function(){
        var $this = $(this)
        var staffinfo = document.querySelector('#staff-information');
        var staff_id =  $this.attr('data-staff')
        $.ajax({
            type:'GET',
            url: "{% host_url 'getstaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'type': 'detail'
            },

            success:function(data){
                staffinfo.innerHTML = data.html_content
            }
        });
    });

    {% comment %} $(document).on('focus',"#first_name", function() {
        
    }) {% endcomment %}
    $(document).on('blur','#first_name',function() {
        var $this = $(this)
        name = $this.val()
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'updatestaffdetails' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'content': name, 'type':'first'
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                $.notify({
                    // options
                    message: data.message
                },{
                    // settings
                    type: data.success,
                    delay: 50,
                });
            }
        });
    });

    $(document).on('blur','#last_name',function() {
        var $this = $(this)
        name = $this.val()
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'updatestaffdetails' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'content': name, 'type':'last'
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                $.notify({
                    // options
                    message: data.message
                },{
                    // settings
                    type: data.success,
                    delay: 50,
                });
            }
        });
    });

    $(document).on('blur','#staff_email',function() {
        var $this = $(this)
        name = $this.val()
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'updatestaffdetails' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'content': name, 'type':'email'
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                $.notify({
                    // options
                    message: data.message
                },{
                    // settings
                    type: data.success,
                    delay: 50,
                });
            }
        });
    });

    $(document).on('blur','#staff_cc_email',function() {
        var $this = $(this)
        name = $this.val()
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'updatestaffdetails' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'content': name, 'type':'ccemail'
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                $.notify({
                    // options
                    message: data.message
                },{
                    // settings
                    type: data.success,
                    delay: 50,
                });
            }
        });
    });

    $(document).on('blur','#phone_number',function() {
        var $this = $(this)
        name = $this.val()
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'updatestaffdetails' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'content': name, 'type':'phone'
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                $.notify({
                    // options
                    message: data.message
                },{
                    // settings
                    type: data.success,
                    delay: 50,
                });
            }
        });
    });

    $(document).on('click', '.removefromstaff',function(){
        var $this = $(this)
        serv_id = $this.attr('data-companyserv')
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'removestaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'serv_id': serv_id
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                if (data.success == 'success'){
                    $this[0].classList.remove('removefromstaff')
                    $this[0].classList.add('addtostaff')
                    $this[0].classList.remove('btn-info')
                }
                var el = document.querySelector('#text_service_header');
                el.innerHTML = data.text_service_header
                $this[0].innerHTML = data.innerbtn
                $.notify({
                    // options
                    message: data.message
                },{
                    // settings
                    type: data.success,
                    delay: 50,
                });
            }
        });
    })
    $(document).on('click', '.addtostaff',function(){
        var $this = $(this)
        serv_id = $this.attr('data-companyserv')
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'addstaffservice' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'serv_id': serv_id
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){ 
                $this[0].classList.add('removefromstaff')
                $this[0].classList.remove('addtostaff')
                $this[0].classList.add('btn-info')
                var el = document.querySelector('#text_service_header');
                el.innerHTML = data.text_service_header
                $this[0].innerHTML = data.innerbtn
                $.notify({
                    // options
                    message: 'Staff assigned to service'
                },{
                    // settings
                    type: 'success',
                    delay: 50,
                });

            }
        });
    })

    $(document).on('click', '.removeworkingday',function(){
        var $this = $(this)
        workday = $this.attr('data-workingday')
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'removestaffworkingday' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'workday': workday
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                $this[0].classList.remove('removeworkingday')
                $this[0].classList.add('addworkingday')
                $this[0].classList.remove('btn-info')
                $this[0].innerHTML = data.innerbtn
                var el = document.querySelector(data.hideornot);
                el.classList.add('d-none')
                $.notify({
                    // options
                    message: 'Updated Staff Working Day'
                },{
                    // settings
                    type: 'success',
                    delay: 50,
                });

            }
        });
    });

    $(document).on('click', '.removebreak',function(){
        var $this = $(this)
        staff_id = $this.attr('data-staff')
        breakid = $this.attr('data-breakid')
        $.ajax({
            type:'POST',
            url: "{% host_url 'removebreakday' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'break_id': breakid
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                var el = document.querySelector(data.innerid);
                el.innerHTML = data.html
                $.notify({
                    // options
                    message: 'Removed staff break'
                },{
                    // settings
                    type: 'success',
                    delay: 50,
                });

                $('.breaktimepicker').datetimepicker({
                    format: 'LT',
                    icons: {
                    time: "fas fa-clock",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'tim-icons icon-minimal-left',
                    next: 'tim-icons icon-minimal-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove',
                    
                    }
                });
                $('.popoverbreaks').popover({
                    trigger: 'focus',
                    html: true,
                    sanitize: false,
                })

            }
        });
    }); 

    let countworkday = 1
    $(document).on('blur','.updatebreaktime',function() {
        var $this = $(this)
        breakid = $this.attr('data-breakid')
        staff_id = $this.attr('data-staff')
        time = $this[0].value
        fromto = $this.attr('data-fromto')
        if(countworkday == 2){
            countworkday = 1
            $.ajax({
                type:'POST',
                url: "{% host_url 'savestaffbreakday' host 'bizadmin' %}",
                data: {
                    'staff_id': staff_id, 'break_id': breakid, 'time':time, 'fromto':fromto
                },
                headers:{
                    "X-CSRFToken": csrftoken
                },
            }).done(function(result){
                $.notify({
                        // options
                        message: result.innerbtn
                    },{
                        // settings
                        type: result.success,
                        delay: 50,
                    });
            });
        }
        else {
            countworkday++;
        }
        
    });



    $(document).on('click', '.addworkingday',function(){
        var $this = $(this)
        workday = $this.attr('data-workingday')
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'addstaffworkingday' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'workday': workday
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){ 
                $this[0].classList.add('removeworkingday')
                $this[0].classList.remove('addworkingday')
                $this[0].classList.add('btn-info')
                $this[0].innerHTML = data.innerbtn
                var el = document.querySelector(data.hideornot);
                el.classList.remove('d-none')
                $.notify({
                    // options
                    message: 'Updated Staff Working Day'
                },{
                    // settings
                    type: 'success',
                    delay: 50,
                });

            }
        });
    });


    $(document).on('blur','.workdaystaff',function() {
        var $this = $(this)
        workday = $this.attr('data-workingday')
        staff_id = $this.attr('data-staff')
        time = $this[0].value
        fromto = $this.attr('data-fromto')
        if(countworkday == 2){
            countworkday = 1
            $.ajax({
                type:'POST',
                url: "{% host_url 'savestaffworkingday' host 'bizadmin' %}",
                data: {
                    'staff_id': staff_id, 'workday': workday, 'time':time, 'fromto':fromto
                },
                headers:{
                    "X-CSRFToken": csrftoken
                },
                success:function(data){
                    $.notify({
                        // options
                        message: data.innerbtn
                    },{
                        // settings
                        type: data.success,
                        delay: 50,
                    });

                }
            });
        }
        else {
            countworkday++;
        }
        
    });

    $(document).on('click', '.addbreak',function(){
        var $this = $(this)
        workday = $this.attr('data-weekday')
        staff_id = $this.attr('data-staff')
        $.ajax({
            type:'POST',
            url: "{% host_url 'addbreakday' host 'bizadmin' %}",
            data: {
                'staff_id': staff_id, 'workday': workday
            },
            headers:{
                "X-CSRFToken": csrftoken
            },
            success:function(data){
                var el = document.querySelector(data.innerid);
                el.innerHTML = data.html
                $('.breaktimepicker').datetimepicker({
                    format: 'LT',
                    icons: {
                    time: "fas fa-clock",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'tim-icons icon-minimal-left',
                    next: 'tim-icons icon-minimal-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove',
                    
                    }
                });
                $('.popoverbreaks').popover({
                    trigger: 'focus',
                    html: true,
                    sanitize: false,
                })
                $.notify({
                    // options
                    message: 'Added a new staff break'
                },{
                    // settings
                    type: 'success',
                    delay: 50,
                });

            }
        });
    });

    </script>
{% endblock %}