{% extends 'bizadmin/index.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block bpageact%}active{%endblock%}
{% block businessadmin %}
<!-- Main page content-->
    <div class="content">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <header class="page-header page-header-compact page-header-light mb-4">
                    <div class="container">
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        Business Page - Amenities and tags
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Account page navigation-->
                <nav class="nav nav-borders">
                    <a class="nav-link  ml-0" href="{% host_url 'photos' host 'bizadmin'%}">Photo and Gallery</a>
                    <a class="nav-link activate" href="{% host_url 'amenities' host 'bizadmin'%}">Amenities and Tags</a>
                </nav>
                <hr class="mt-0 mb-4" />
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100 border-left-lg border-left-secondary">
                            <div class="card-header"><p>Add The Amenities You Offer</p> <small>Add some of the amenities you offer to your clients. Type up to 10 amenities in the input section then enter. (Each amenity can be up to 25 characters long)</small> </div>
                            <div class="card-body text-center">
                                <!-- Gallary upload button -->
                                <form method="POST" enctype="multipart/form-data" id="galUpload">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <input id="amenitiestag" type="text" size="20" value="{% for amenity in amenities %}{{ amenity.amenity }},{% endfor %}" class="tagsinput form-control" data-role="tagsinput" data-color="danger">
                                    </div>
                                                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100 border-left-lg border-left-secondary">
                            <div class="card-header"><p>Add Your Tags</p> <small>This helps expand your reach so include up to 20 key words related to your business.</small> </div>
                            <div class="card-body text-center">
                                <!-- Gallary upload button -->
                                <form method="POST" enctype="multipart/form-data" id="galUpload">
                                    {% csrf_token %}
                                    <input id="taggerinput" size="20" type="text" value="{% for tags in company.tags.all %}{{ tags }},{% endfor %}" class="tagsinput" data-role="tagsinput" data-color="danger">                                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $('#taggerinput').tagsinput({
            maxTags: 25,
            maxChars: 15,
            confirmKeys: [13, 188, 32],
        });
        $('#taggerinput').on('itemAdded', function(event){
            var tag = event.item;
            $.ajax({
                type:'POST',
                dataType: 'json',
                url: "{% host_url 'addtag' host 'bizadmin' %}",
                data: JSON.stringify({addedTag: tag}),
                headers:{
                    "X-CSRFToken": csrftoken
                },
                cache: false,
            });
        });
        $('#taggerinput').on('itemRemoved', function(event){
            var tag = event.item;
            $.ajax({
                type:'POST',
                dataType: 'json',
                url: "{% host_url 'removetag' host 'bizadmin' %}",
                data: JSON.stringify({removedTag: tag}),
                headers:{
                    "X-CSRFToken": csrftoken
                },
                cache: false,
            });
        });

        $('#amenitiestag').tagsinput({
            maxTags: 10,
            maxChars: 25,
            confirmKeys: [13, 188],
        });
        $('#amenitiestag').on('itemAdded', function(event){
            var tag = event.item;
            $.ajax({
                type:'POST',
                dataType: 'json',
                url: "{% host_url 'addamenity' host 'bizadmin' %}",
                data: JSON.stringify({addedAmenity: tag}),
                headers:{
                    "X-CSRFToken": csrftoken
                },
                cache: false,
            });
        });
        $('#amenitiestag').on('itemRemoved', function(event){
            var tag = event.item;
            $.ajax({
                type:'POST',
                dataType: 'json',
                url: "{% host_url 'removeamenity' host 'bizadmin' %}",
                data: JSON.stringify({removedAmenity: tag}),
                headers:{
                    "X-CSRFToken": csrftoken
                },
                cache: false,
            });
        });
    </script>
{% endblock %}