{% extends 'bizadmin/index.html' %}
{% load static %}
{% load hosts %}
{% block businessadmin %}
<!-- Main page content-->
    <div class="content">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <header class="page-header page-header-compact page-header-light mb-4">
                    <div class="container">
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        Business Page - Amenities and tags
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Account page navigation-->
                <nav class="nav nav-borders">
                    <a class="nav-link  ml-0" href="{% host_url 'photos' host 'bizadmin'%}">Photo and Gallery</a>
                    <a class="nav-link activate" href="{% host_url 'amenities' host 'bizadmin'%}">Amenities and Tags</a>
                </nav>
                <hr class="mt-0 mb-4" />
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100 border-left-lg border-left-secondary">
                            <div class="card-header">Amenities</div>
                            <div class="card-body text-center">
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                <!-- Profile picture upload button -->
                                <form action="{% host_url 'imageuploads' host 'bizadmin' %}" method="POST" enctype="multipart/form-data" id="formUpload">
                                    {% csrf_token %}
                                    <button type="button" id="btnimage" name="imageFile" class="btn btn-primary">Upload new image</button>        
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100 border-left-lg border-left-secondary">
                            <div class="card-header"><p>Add Your Tags</p> <small>This helps expand your reach so include upto 20 tags</small> </div>
                            <div class="card-body text-center">
                                <!-- Gallary upload button -->
                                <form action="{% host_url 'galleryupload' host 'bizadmin' %}" method="POST" enctype="multipart/form-data" id="galUpload">
                                    {% csrf_token %}
                                    <input id="taggerinput" type="text" value="{% for tags in company.tags.all %}{{ tags }},{% endfor %}" class="tagsinput" data-role="tagsinput" data-color="danger">                                
                                </form>
                                <div class="row">
                                {% for p in photos %}
                                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                                        <div class="card hover-animate">
                                            <p> {% for a in amenities %}<p>{{a}}</p>{% endfor %}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $('#taggerinput').tagsinput({
            maxTags: 25,
            maxChars: 15
        });
        $('#taggerinput').on('itemAdded', function(event){
            var tag = event.item;
            $.ajax({
                type:'POST',
                dataType: 'json',
                url: "{% host_url 'addtag' host 'bizadmin' %}",
                data: JSON.stringify({addedTag: tag}),
                headers:{
                    "X-CSRFToken": csrftoken
                },
                cache: false,
            });
        });
        $('#taggerinput').on('itemRemoved', function(event){
            var tag = event.item;
            $.ajax({
                type:'POST',
                dataType: 'json',
                url: "{% host_url 'removetag' host 'bizadmin' %}",
                data: JSON.stringify({removedTag: tag}),
                headers:{
                    "X-CSRFToken": csrftoken
                },
                cache: false,
            });

        });
    </script>
{% endblock %}