{% extends 'bizadmin/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load hosts %}
{% block linescript %}
{% endblock linescript %}
{% block activecompinfo %}active{%endblock%}
{% block businessadmin %}
                    
                    <!-- Main page content-->
                    <div class="content">
                        <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                        <header class="page-header page-header-compact page-header-light mb-2">
                        <div class="container-fluid">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto">
                                        <h1 class="page-header-title">
                                            Add On Services
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </header>
                        <!-- Account page navigation-->
                        <nav class="nav nav-borders">
                            <a class="nav-link ml-0" href="{% host_url 'information' host 'bizadmin'%}">Company Info</a>
                            <a class="nav-link" href="{% host_url 'hours' host 'bizadmin'%}">Business Hours</a>
                            <a class="nav-link" href="{% host_url 'staffmemb' host 'bizadmin'%}">Staff Members</a>
                            {% comment %} <a class="nav-link" href="{% host_url 'breaks_time' host 'bizadmin'%}">Breaks</a>
                            <a class="nav-link" href="{% host_url 'timeoff_time' host 'bizadmin'%}">Time Off</a> {% endcomment %}
                            <a class="nav-link" href="{% host_url 'service_detail' host 'bizadmin' %}">Services</a>
                            <a class="nav-link activate" href="{% host_url 'addonservice_detail' host 'bizadmin' %}">Add On Services</a>
                            <a class="nav-link" href="{% host_url 'client_list' host 'bizadmin' %}">Clients</a>
                            {% comment %} <a class="nav-link" href="#">Staff Members</a> {% endcomment %}
                        </nav>
                        <hr class="mt-0 mb-4" />
                        <div class="row">
                            <div class="col-md-12" id="service-t">
                                <div class="card shadow my-1" style="border-radius: 8px !important;">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4 class="card-header p-2">All Addon Services</h4>
                                        </div>
                                        <div class="col-6 text-right">
                                            <div class="card-header p-2">
                                                    <button class="btn btn-primary btn-sm mb-3 justify-content-center addnewservice" type="button" data-toggle="modal" data-target="#modal-service">Add Addon Services <i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>       
                                </div>
                                {% for addon in services %}
                                    <div class="card shadow">
                                        <div class="row">
                                            <div class="col-12">
                                                {% comment %} <div class="card-header">{{ s.name }}</div> {% endcomment %}
                                                <div class="card-body">
                                                    {% with hour=addon.duration_hour min=addon.duration_minute %}                          
                                                    <div class="row p-2 justify-content-between text-left align-self-center">
                                                        <div class="col-8 p-0">
                                                        <h4 class="mb-1">{{ addon.name }}</h4>
                                                        <p>Services Attached: <br> {% for s in addon.services.all %}{{s.name}}<br> {% empty %}No Services Attached{% endfor %}</p>
                                                        </div>
                                                        <div class="col-4 p-1 text-right">
                                                        <div class="row">
                                                        <div class="col-12">
                                                        <strong class="text-header text-muted m-1">{% if addon.price == 0.00 %}Free {% else %}${{ addon.price }}{% endif %}</strong>
                                                        </div>
                                                        <div class="col-12">
                                                        <strong class="text-header text-muted m-1">{% if not hour == 0 %}{{ hour }}h{% endif %} {% if not min == 0 and not hour == 0 %}&amp;{% endif %} {% if not min == 0 %}{{ min }} min{% endif %}</strong>
                                                        </div>
                                                        <div class="col-12">
                                                        <button type="button" class="updateaddon btn btn-sm" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'updateaddonservice' addon.id host 'bizadmin' %}"><i class="fas fa-pencil-alt"></i></button>
                                                        <button class="btn btn-danger btn-sm trashcan" data-url="{% host_url 'deleteaddonservice' addon.id host 'bizadmin' %}"><i class="fas fa-trash"></i></button>
                                                        </div>
                                                        </div>
                                                        </div>
                                                    </div>

                                                    {% endwith %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="card">
                                        <div class="card-header">No Services Added</div>
                                    </div>
                                {% endfor %}
                                <div class="card pt-2">
                                    {% include 'bizadmin/dashboard/reviews/pagination.html' with page=services%}
                                </div>
                            </div>
                        </div>
                    </div>

<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card">
      <div class="modal-header">
        <h5 class="modal-title {% if company.darkmode %}text-white{% endif %}" id="exampleModalLabel">Make some changes to this service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="" class="js-product-update-form">
            
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>

        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="modal-service" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card">
      <form method="POST" id="addAddonService">
        {% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title {% if company.darkmode %}text-white{% endif %}">Add on service</h4>
        </div>
        <div class="modal-body">
            {{ service_form.name|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col mb-0">
                    {{ service_form.price|as_crispy_field }}
                </div>
            </div>
            {{ service_form.services|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col mb-0">
                    {{ service_form.duration_hour|as_crispy_field }}
                </div>
                <div class="form-group col mb-0"> 
                    {{ service_form.duration_minute|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Addon Service</button>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block java %}
    <script>
        $( document ).ready(function() {
            function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
            var w = screen.width;
            if (w>768){
                $('.collapse.something').collapse('show')
            }

                $(document).on('click','.trashcan',function(){
                    const swalStyles = Swal.mixin({
                        customClass:{
                            confirmButton: 'btn btn-primary',
                            cancelButton: 'btn btn-danger',
                        },
                        buttonsStyling: false
                    });
                    var $this = $(this)
                    var urldata = $this.attr('data-url');
                    swalStyles.fire({
                        title: 'Are you sure you want to delete the addon service?',
                        text: 'You will not be able to change this',
                        icon: 'warning',
                        showCancelButton: true,
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type:'GET',
                                dataType: 'json',
                                url: urldata,
                                cache: false,
                                success: function(data){
                                    Swal.fire({
                                        title: 'Add On Service has been deleted!', 
                                        text: '', 
                                        icon: 'success',
                                        customClass:{
                                            confirmButton: 'btn btn-primary',
                                            cancelButton: 'btn btn-danger',
                                        },
                                        buttonsStyling: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            location.reload();
                                        }
                                    });
                                }
                            });
                        } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalStyles.fire(
                                'Cancelled',
                                'We still have your service saved! 😊',
                                'error'
                            )
                        }
                    });
                });

            $('#addAddonService').submit(function(e){
                e.preventDefault();
                {% comment %} btn.attr("data-category") {% endcomment %}
                $.ajax({
                    type:'POST',
                    url: "{% host_url 'createaddonservice' host 'bizadmin' %}",
                    data: $('#addAddonService').serialize(),
                    headers:{
                        "X-CSRFToken": csrftoken
                    },
                    success:function(data){
                        if (data.good){
                            $('#modal-service').modal('hide');
                            Swal.fire({
                                title: 'Add On Service has been added!', 
                                text: '', 
                                icon: 'success',
                                customClass:{
                                    confirmButton: 'btn btn-primary',
                                    cancelButton: 'btn btn-danger',
                                },
                                buttonsStyling: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    location.reload();
                                }
                            });
                        }
                        else {
                            $.notify({
                                // options
                                message: 'There was an error with your form. Please try again'
                            },{
                                // settings
                                type: 'danger'
                            });
                        }
                        
                    }
                });
            });

            $(document).on('click', '.updateaddon', function () { 
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-update").modal("show");
                    },
                    success: function (data) {
                        $("#modal-update .modal-content").html(data.html_form);
                    }
                });
            });

            addcategory = document.querySelector('#addcategory')

            $(document).on('click', '.nav-item', function(){
                var w = screen.width;
                if (w<768){
                    $('.collapse').collapse('hide')
                }
                
            });
        });
    </script>
{% endblock java %}
