{% load static %}
{% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            <div class="modal-header bg-light">
                <h3 class="modal-title">Add Service</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body container">
                {{ service_form.name|as_crispy_field }}
                {{ service_form.description|as_crispy_field }}
                <div class="form-row">
                    <div class="form-group col mb-0">
                        {{ service_form.price_type|as_crispy_field }}
                    </div>
                    <div class="form-group col mb-0">
                        {{ service_form.price|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-0">
                        {{ service_form.duration_hour|as_crispy_field }}
                    </div>
                    <div class="form-group col mb-0"> 
                        {{ service_form.duration_minute|as_crispy_field }}
                    </div>
                </div>
                <a class="licolor" href="#simpleCollapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="simpleCollapse">Advanced Options</a>
                <div class="collapse" id="simpleCollapse">
                    {{ service_form.checkintime|as_crispy_field }}
                    <div id="padd">
                        {{ service_form.padding|as_crispy_field }}
                    </div>
                    <div id="show-padding" class="form-row">
                        <div class="form-group col mb-0"> 
                            {{ service_form.paddingtime_hour|as_crispy_field }}
                        </div>
                        <div class="form-group col mb-0"> 
                            {{ service_form.paddingtime_minute|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-primary mb-3" type="submit">Add Service</button>
            </div>
        </form>
