{% extends 'account/business_sidebar.html' %}
{% block information %}
<div class="mt-3"></div>
<h1>{{ company.business_name }} Services</h1>
<button id="createservice" class="btn btn-outline-primary mb-3 form-control" type="submit">Add Service</button>
{% if services %}
  <div class="table-responsive">
    <table id="service-table" class="table table-light table-hover" style="">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Service</th>
          <th class="text-center" scope="col">Service Description</th>
          <th class="text-center" scope="col">Price ($)</th>
          <th class="text-center" scope="col">Available</th>
          <th class="text-center">Update/Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
          <tr>
            <th class="text-center" scope="row">{{ forloop.counter }}</th>
            <td class="text-center">{{ service.name }}</td>
            <td class="text-center">{{ service.description }}</td>
            <td class="text-center">{{ service.price }}</td>
            <td class="text-center">{{ service.available }}</td>
            <td class="text-center">
              <!-- Update Service buttons -->
              <button type="button" class="update-service btn btn-sm btn-outline-primary" data-form-url="{% url 'business:update_service' service.pk company.pk company.slug %}">
                <span class="fa fa-pencil-alt"></span>
              </button>
              <!-- Delete Service buttons -->
              <button type="button" class="bs-modal delete-service btn btn-sm btn-danger" data-form-url="{% url 'business:delete_service' service.pk company.pk company.slug%}">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p class="">You have not created any services yet.</p>
{% endif %}
{% endblock information %}