{% load business_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="http://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/bases.css" %}">
        <link rel="stylesheet" href="{% static "css/calendarmain.css"%}">
        <script src="{% static "js/calendarmain.js" %}"></script>
        <script src="https://kit.fontawesome.com/a07c5b9658.js" crossorigin="anonymous"></script>
        <title>{% block title %}Gibele.com - Bookings Made Easy{% endblock %}</title>
    </head>
    <body id="page-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark nav-box-round bg-light flex-shrink-1 flex-grow-0">
            <div class="container-fluid">
            <a class="logo navbar-brand navbb" href="/"><img src="{% static "img/logo_transparent.png" %}"></a>
            <form method="GET" class="mr-2 my-auto w-100 d-inline-block order-1">
                <div class="input-group">
                    {% csrf_token %}
                    {{ form.Search }}
                    <span class="input-group">
                        <select name="dropdown" class="form-control" style="width:auto;">
                                <option value="All Services">All Services</option>
                                {% for c in categories %}
                                    <option value={{ c.name }}>All {{c.name}}</option>
                                {% endfor %}
                            </select>
                        <button class="btn btn-outline-primary border-left-0" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                    
                </div>
            </form>
            
        <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>

        <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="navbarResponsive">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
                {% if request.user.is_authenticated %}
                    <li>
                    <p class="mx-1">Welcome 
                        <a class="licolor" href="{% if request.user %}{% url 'account:account' %}{% else %}{% url 'business:manage_service_list' %}{% endif %}">
                            {% if user.first_name == None %}
                                {{ user.username }}
                            {% else %}
                                {{ user.first_name }}
                            {% endif %}
                        </a>
                    </p>
                    </li>
                {% endif %}
                <div class="center my-auto mx-1">
                    <a href="" class="btn btn-outline-primary">Post a Service</a>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="my-auto mx-1">
                        <a class="btn btn-outline-primary mt-1" href="{% url 'account:account' %}" ><i class="fas fa-user-circle"></i> Account</a>
                        <a class="btn btn-outline-primary mt-1" href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                {% else %}
                    <div class="my-auto mx-1">
                        <a class="btn btn-outline-primary mt-1" href="{% url 'account:signup' %}" >Sign Up</a>
                        <a class="btn btn-outline-primary mt-1" href="{% url 'login' %}">Login</a>
                    </div>
                {% endif %}
            </ul>
            </div>
        
        </nav>

        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    {% endblock scripts %}
    {% block extrascripts %}
    {% endblock extrascripts %}
    {% block calendarscript %}
    {% endblock calendarscript %}
    </body>
    
    <footer class="bg-dark">
    <div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <hr class="light">
            <h5 class="logo">Gibele</h5>
            <hr class="light">
            <li>©2020 Gibele Inc, All rights reserved.</li>
            <br>
            <li><a class="licolor" href="/legal/">Privacy Policy</a></li>
            <br>
            <li><a class="licolor" href="/legal/">Terms of Service</a></li>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5 class="logo">The Company</h5>
            <hr class="light">
    
                <a class="licolor" href="">Gibele for Business</a>
                <br>
                <br>
                <a class="licolor" href="">Gibele for Consumers</a>
                <br>
                <br>
                <a class="licolor" href="/">Contact Us</a>
                <br>
                <br>
                <a class="licolor" href="/about/">About Us</a>
            
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5 class="logo">Contact Information</h5>
            <hr class="light">
                <li>Toronto, Ontario</li>
                <br>
                <li>M1C4W7</li>
                <br>
                <a class="licolor" href="/">support@gibele.com</a>
                <br>
                <br>
                <li><p>647-828-0723</p></li>
        </div>
        
    </div>
    </div>
    </footer>

</html>