{% extends 'business/base.html' %}
{% load static %}
{% load hosts %}
{% block hidesearch %} d-none {% endblock %}
{% block content %}
    <section class="hero-home" style="background: linear-gradient(180deg, #ff5f6d 0%, rgba(255, 95, 109, 0) 100%);">
      <div class="container z-index-20">
        <div class="row">
          <div class="col-xl-12 mt-4">
            <div class="text-center text-white text-lg-left">
              {% comment %} <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">The best services on Gibele</p> {% endcomment %}
              <h1 class="header-font font-weight-bold text-shadow" id="demo">LIFE IS FOR SERVICES</h1>
            </div>
            <div class="search-bar bg-white bg-home">
              <form action="{% url 'business:bizsearch' %}" method="GET" width="100%" id="fullSearch">
                <div class="row marg-top padd1 paddquart padd15 form-group">
                    <div class="col-lg-4 d-flex align-items-center">
                        {{ search.Search }}
                    </div>
                    <div class="col-lg-3 d-flex align-items-center form-group">
                        {{ search.Location }}
                    </div>
                    <div class="col-lg-3 d-flex align-items-center form-group no-divider mt-lg-1">
                        <select id="id_cats" name="category" class="selectcolor selectpicker show-tick form-control"  data-size="5" data-dropdown-align-right="true" title="Categories">
                            <option class="selectcolor" value="">All Services</option>
                            {% for c in categories %}
                                
                                <optgroup label="{{ c.name }}">
                                    <option id="{{ c.slug }}" class="selectcolor" value="{{ c.id }}">All {{c.name}}</option>
                                    {% for sc in subcategories %}
                                        {% if sc.category.name == c.name %}
                                            <option id="{{ sc.slug }}" data-subtext="{{c.name}}" class="selectcolor" value="{{ sc.id }}">{{sc.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                            <optgroup label="Other">
                                <option id="{{ otherObj.slug }}" class="selectcolor" value="{{ otherObj.id }}">Other</option>
                            </optgroup>
                        </select>
                  </div>
                  {{ search.lat.as_hidden }}
                  {{ search.lon.as_hidden }}
                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-outline-primary btn-block h-100 searchfull">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container padding">
        <div class="row padding">
            <div class="col-md-12 col-sm-12 cardio">
                <div class="card text-center">
                    <object height="300px" width="100%" id="automotive-id" data="{% static 'css/svg-img/automotive.svg' %}" type="image/svg+xml"></object>
                    <div class="card-body">
                        <h4 class="card-title">Automotive Services</h4>
                        <p class="card-text">Our partners offer various automotive services - Schedule an oil change, detailing or repair service</p>
                        <a href="automotive-services/" id='autosearch' class="btn btn-info categoryselect">Discover Automotive Shops</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 cardio">
                <div class="card text-center">
                    <object height="300px" width="100%" id="barber-svg-id" data="{% static 'css/svg-img/barber.svg' %}" type="image/svg+xml"></object>
                    <div class="card-body">
                        <h4 class="card-title">Beauty and Wellness Services</h4>
                        <p class="card-text">View and Schedule an appointment with your favourite Barbers, Eyelash Technicians and Tattoo Artists</p>
                        <a href="personal-care/" id='beautysearch' class="btn btn-info categoryselect">View Wellness Professionals</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 cardio">
                <div class="card text-center">
                    <object height="300px" width="100%" id="home-svg-id" data="{% static 'css/svg-img/homes.svg' %}" type="image/svg+xml"></object>
                    <div class="card-body">
                        <h4 class="card-title">Home Services</h4>
                        <p class="card-text">If you are looking to renovate your home, look no further! Book an appointment with one of our partners to discuss your needs.</p>
                        <a href="home-services/" id='homesearch' class="btn btn-info categoryselect">Find Home Services Near You</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Next we will have a section to indicate how to sign up to get your business on Gibele-->
    <div class="container-fluid">
        <div class="row jumbotron text-center">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">Give your clients the best experience possible by having your services listed on Gibele!</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <a href="{% host_url 'bizadminmain' host 'bizadmin' %}"><button type="button" class="btn btn-outline-secondary btn-lg">Learn More</button></a>
            </div>
        </div>
    </div>

    {% comment %} <div class="container-fluid">
        <iframe src="https://hh5l.gibele.com:8000/" scrolling="yes" width="100%" height="700" frameborder="0"></iframe>
    </div> {% endcomment %}

    <script>
        $(document).ready(function(e){

            setTimeout(typeWriter, 1000)
            $('#fullSearch').submit(function(e){
                e.preventDefault();
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                    function showPosition(position) {
                        document.getElementById("id_lat").value = position.coords.latitude
                        document.getElementById("id_lon").value = position.coords.longitude
                        $('#fullSearch').unbind('submit').submit()
                    });
                }
            });
            $('.categoryselect').click(function(e){
                var targetLink = $(this).attr('href');
                e.preventDefault();
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                    function showPosition(position) {
                        document.getElementById("id_lat").value = position.coords.latitude
                        document.getElementById("id_lon").value = position.coords.longitude
                        window.open(targetLink, '_self');
                    });
                }
                else {
                    window.open(targetLink, '_self');
                }
                
            })
        });
        

        var i = 0;
        var txt = ['Search for any service', 'Find auto detailers', 'Search for hairstylists' , 'Get your nails done', 'Schedule house cleaning', 'Book your appointments today'];
        var speed = 100;
        var count = 0
        function typeWriter() {
            if (i < txt[count].length) {
                document.getElementById("id_Search").placeholder += txt[count].charAt(i);
                i++;
                if (i < txt[count].length) {
                    setTimeout(typeWriter, speed);
                }
                else {
                    setTimeout(typeWriter, 1000);
                }
                
            }
            else {
                document.getElementById("id_Search").placeholder = '';
                i = 0;
                if (count==5){
                    count = 0;
                }
                else {
                    count++;
                }
                setTimeout(typeWriter, 1000);
            }
        }
    </script>
{% endblock %}