{% extends 'business/base.html' %}
{% load static %}
{% block content %}
    <div class="container padding">
        <div class="row padding">
            <div class="col-md-12 col-sm-12 cardio">
                <div class="card text-center">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Automotive Services</h4>
                        <p class="card-text">Our partners offer various automotive services - Schedule an oil change, detailing or repair service</p>
                        <a href="automotive-services/" class="btn btn-outline-primary">Discover Automotive Shops</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 cardio">
                <div class="card text-center">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Beauty and Wellness Services</h4>
                        <p class="card-text">View and Schedule an appointment with your favourite Barbers, Eyelash Technicians and Tattoo Artists</p>
                        <a href="beauty-and-wellness-services/" class="btn btn-outline-primary">View Wellness Professionals</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 cardio">
                <div class="card text-center">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Business Services</h4>
                        <p class="card-text">Find your next real estate agent, financial advisor or even a home decorator. Schedule an appointment to discuss your needs</p>
                        <a href="business-services/" class="btn btn-outline-primary">See Consultant Profiles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Next we will have a section to indicate how to sign up to get your business on Gibele-->
    <div class="container-fluid">
        <div class="row jumbotron text-center">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">Give your clients the best experience possible by having your services listed on Gibele!</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Learn More</button></a>
            </div>
        </div>
    </div>
{% endblock %}