{% extends 'business/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="container text-center">
            <h1 class="text-center">Your Schedule</h1>
            <h2 class="mt-3">Your Upcoming Bookings</h2>

            <a class="btn btn-outline-primary">View Completed Bookings</a>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="container text-center">
                <h1 class="text-center">Account Settings</h1>
                {% if count == 1 %}
                    <a href="{% url 'business:manage_service_list' %}" class="form-control btn btn-outline-primary mt-1">Manage Your Services</a>
                {% else %}
                    <p>No Services Listed</p>
                    <a href="{% url 'business:manage_service_list'%}" class="form-control btn btn-outline-primary mt-1">Add Services</a>
                {% endif %}
                
                <h2 class="mt-3 text-center">Account Details</h2>
                <p class="mt-3">Business Name: {{ company.user.username }}</p>
                {% if company.user.first_name == None or company.user.last_name == None %}
                    <p>Add your services</p>
                {% else %}
                    <p>Full Name: {{company.user.first_name }} {{ company.user.last_name }}</p>
                {% endif %}
                <p>Email: {{company.user.email }}</p>
                <p>Phone: {{company.user.phone }}</p>
                <p>Address: {{ company.user.address }}, {{ company.user.city}}, {{ company.user.province}} {{company.user.postal}}</p>
                <a class="form-control btn btn-outline-primary">Save Changes</a>
            </div>
        </div>
    </div>

    </div>
{% endblock  %}