{% extends 'account/user_sidebar.html' %}
{% load crispy_forms_tags %}
{% block information %}
<section class="py-5">
      <div class="content">
        <h1 class="hero-heading mb-0">Personal info</h1>
        <p class="text-muted mb-5">Manage your Personal info and settings here.</p>
        <div class="row">
          <div class="col-lg-7">
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Personal Details</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 licolor collapsed" type="button" data-toggle="collapse" data-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Update</button>
                </div>
              </div>
              <p class="text-sm text-muted"><i class="fa fa-id-card fa-fw mr-2"></i>{{ user.first_name }} {{user.last_name }}<br><i class="fa fa-envelope-open fa-fw mr-2"></i>{{ user.email }} <br> <i class="fa fa-phone fa-fw mr-2"></i>{{ user.phone }}</p>
              <div class="collapse" id="personalDetails">
                <form method="POST" id="personalForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ personal_form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ personal_form.last_name|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                            {{ personal_form.email|as_crispy_field}}
                        </div>
                        <div class="col-md-12">
                            {{ personal_form.phone|as_crispy_field}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Update</button>
                    <input type="hidden" name="form_type" value="personalForm">
                </form>
              </div>
            </div>
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Address</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 licolor collapsed" type="button" data-toggle="collapse" data-target="#address" aria-expanded="false" aria-controls="address">Change</button>
                </div>
              </div>
              <div class="media text-sm text-muted"> <i class="fa fa-address-book fa-fw mr-2"></i>
                <div class="media-body mt-n1">{{ user.address }}<br>{{ user.city }}, CA, 902 10</div>
              </div>
              <div class="collapse" id="address">
                <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                        {{ address_form.address|as_crispy_field}}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-outline-primary">Save address</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ml-lg-auto">
            <div class="card border-0 shadow">
              <div class="card-header bg-primary-light py-4 border-0">
                <div class="media align-items-center">
                  <div class="media-body">
                    <h4 class="h6 subtitle text-sm text-primary">What info is shared with others?</h4>
                  </div>
                  <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-primary">
                    <use xlink:href="#identity-1"> </use>
                  </svg>
                </div>
              </div>
              <div class="card-body p-4">
                <p class="text-muted text-sm card-text">Directory only releases contact information for hosts and guests <strong>after a reservation is confirmed</strong>.</p>
                <p class="text-muted text-sm card-text">Amet nisi eiusmod minim commodo sit voluptate aute ut quis ea veniam sunt proident ex. <strong>Exercitation culpa laboris</strong> consequat fugiat non ipsum veniam Lorem aliqua deserunt tempor elit veniam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% comment %} <div class="table-responsive">
            <table id="account-table" class="table table-light table-hover mt-3" style="">
                <thead>
                <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col"><h1 class="text-center">Account Details</h1></th>
                    <th class="text-center" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center" scope="row">Full Name: </th>
                        <td class="text-center">{{user.first_name }} {{ user.last_name }}</td>
                        <td class="text-center">
                            <!-- Update book buttons -->
                            <button type="button" id="update-name" class="update-name btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:name' %}">
                                <span>Change</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">Email: </th>
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center">
                            <!-- Update email buttons -->
                            <button type="button" id="update-email" class="btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:email_update' %}">Change</button>
                            
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">Phone Number: </th>
                        <td class="text-center">{{ user.phone }}</td>
                        <td class="text-center">
                            <!-- Update book buttons -->
                            <button type="button" id="update-phone" class="btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:phone_update' %}">Change</button>
                            
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">Home Address: </th>
                        <td>
                            {% if request.user.address == None %}
                               <p class="text-center">You have not added a home address to your account.</p>
                                <small class="text-left">Your home address is only given to those who you have booked a mobile appointment with. This information is not shared publicly.</small>
                            {% else %}
                                <p class="text-center">{{ user.address}}</p>
                            {% endif %}
                            
                            
                        </td>
                        <td class="text-center">
                            <!-- Update name buttons -->
                            {% if request.user.address == None %}
                                <button type="button" class="bs-modal delete-service btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:name' %}">Add</button>
                            {% else %}
                                <button type="button" id="home-update" class="bs-modal delete-service btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:home_updated' %}">Change</button>
                            {% endif %}
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            </div> {% endcomment %}

{% endblock information %}

{% block extrascripts %}
 <script type="text/javascript">
    
    $(document).ready(function(){
        var $mypersonalForm = $('#personalForm')
        
        $mypersonalForm.submit(function(e){
            e.preventDefault();
            var $formData = $(this).serialize()
            var $thisURL = ''
        $.ajax({
            type:'POST',
            url: $thisURL,
            data: $formData,
            success:function(){

            }
            error:function(){
                console.log('hellp')
            }

        });
        });



        
    });
 </script>
{% endblock extrascripts %}
