{% extends 'business/base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
    <nav id="sidebar" class="active">

            <div class="sidebar-header">
                <h3>{{ request.user.first_name }} {{request.user.last_name}}</h3>
                <strong>GB</strong>
            </div>
            <ul class="list-unstyled components">

                <li>
                    <a href="#">
                        <i class="fas fa-calendar"></i>
                        Bookings
                    </a>
                    <a href="#" class="#">
                        <i class="fas fa-file-invoice-dollar"></i>
                        Receipts
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-unstyled active">
                        <i class="fas fa-city"></i>
                        Business Profile
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% if my_companies %}
                            <li>
                                <a href="{% url 'account:biz_list' %}">Your Business Pages</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ c.get_account_url }}">Add Business Page</a>
                        </li>
                        <li>
                            <a href="#">Gibele Subscriptions</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-newspaper"></i>
                        Reviews
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'account:account' %}">
                        <i class="fas fa-user-circle"></i>
                        {{request.user.first_name}} {{request.user.last_name}}
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    
                </li>
                <li>
                    
                </li>
            </ul>
        </nav>

    <div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="sidebarCollapse" class="btn btn-outline-primary">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            <h1 class="mt-3 text-center">Account Details</h1>
            <div class="table-responsive">
            <table id="account-table" class="table table-light table-hover" style="">
                <thead>
                <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">Account Details</th>
                    <th class="text-center" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center" scope="row">Full Name: </th>
                        <td class="text-center">{{user.first_name }} {{ user.last_name }}</td>
                        <td class="text-center">
                            <!-- Update book buttons -->
                            <button type="button" class="update-name btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:name' %}">
                                Changes
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">Email: </th>
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center">
                            <!-- Update book buttons -->
                            <button type="button" class="update-name btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:name' %}">Change</button>
                            
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">Phone Number: </th>
                        <td class="text-center">{{ user.phone }}</td>
                        <td class="text-center">
                            <!-- Update book buttons -->
                            <button type="button" class="update-name btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:name' %}">Change</button>
                            
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">Home Address: </th>
                        <td>
                            {% if request.user.address == None %}
                               <p class="text-center">You have not added a home address to your account.</p>
                                <small class="text-left">Your home address is only given to those who you have booked a mobile appointment with. This information is not shared publicly.</small>
                            {% else %}
                                <p class="text-center">{{ user.address}}</p>
                            {% endif %}
                            
                            
                        </td>
                        <td class="text-center">
                            <!-- Update name buttons -->
                            {% if request.user.address == None %}
                                <button type="button" class="bs-modal delete-service btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:name' %}">Add</button>
                            {% else %}
                                <button type="button" class="bs-modal delete-service btn btn-sm btn-outline-primary py-0 mb-1" data-form-url="{% url 'account:name' %}">Change</button>
                            {% endif %}
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock  %}

{% block extrascripts %}
    <script type="text/javascript">
        
      $(function () {
          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Account was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          function updateNameModalForm() {
            $(".update-name").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessage,
                  dataUrl: "account/",
                  dataElementId: "#account-table",
                  dataKey: "table",
                  addModalFormFunction: updateNameModalForm
                }
              });
            });
          }
          updateNameModalForm();

          // Read and Delete book buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
    </script>
    <script>
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
      });
    </script>
{% endblock extrascripts %}
