{% extends 'account/user_sidebar.html' %}
{% load crispy_forms_tags %}
{% block accountactive %}active{% endblock  %}
{% block information %}
<section class="py-5">
      <div class="content">
        <h1 class="hero-heading mb-0">Personal info</h1>
        <p class="text-muted mb-5">Manage your Personal info and settings here.</p>
        <div class="row">
          <div class="col-lg-7">
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Personal Details</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 licolor collapsed" type="button" data-toggle="collapse" data-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Update</button>
                </div>
              </div>
              <p class="text-sm text-muted"><i class="fa fa-id-card fa-fw mr-2 licolor"></i>{{ user.first_name }} {{user.last_name }}<br><i class="fa fa-envelope-open fa-fw mr-2 licolor"></i>{{ user.email }} {% if user.phone %}<br> <i class="fa fa-phone fa-fw mr-2 licolor"></i> {{ user.phone }}{% endif %}</p>
              <div class="collapse" id="personalDetails">
                <form method="POST" id="personalForm" data-url="{% url 'account:account'%}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6" id="fname">
                            {{ personal_form.first_name|as_crispy_field }}
                            
                        </div>
                        <div class="col-md-6" id="lname">
                            {{ personal_form.last_name|as_crispy_field }}
                        </div>
                        <div class="col-md-12" id="pemail">
                            {{ personal_form.email|as_crispy_field}}
                            <div class="invalid_feedback m-0 p-0" style="display:none"></div>
                        </div>
                        <div class="col-md-12" id="pphone">
                            {{ personal_form.phone|as_crispy_field}}
                            <div class="invalid_phone m-0 p-0" style="display:none; color:red;"></div>
                        </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-outline-primary">Update Personal Details</button>
                    </div>
                    <input type="hidden" name="form_type" value="personalForm">
                </form>
              </div>
            </div>
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Address</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 licolor collapsed" type="button" data-toggle="collapse" data-target="#address" aria-expanded="false" aria-controls="address"> {% if user.address %}Change{% else %}Add Address{% endif %} </button>
                </div>
              </div>
              {% if user.address %}
                <div class="media text-sm text-muted"> <i class="fa fa-address-book fa-fw mr-2 licolor"></i>
                  <div class="media-body mt-n1" id="user_information_addy">{{ user.address }}<br>{{ user.city }}, {{ user.province }}, {{user.postal}}</div>
                </div>
              {% endif %}
              <div class="collapse" id="address">
                <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 my-0">
                        {{ address_form.address|as_crispy_field}}
                    </div>
                    <div class="col-md-6 mx-0">
                        {{ address_form.province|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{ address_form.city|as_crispy_field}}
                    </div>
                    <div class="col-md-5">
                        {{ address_form.postal|as_crispy_field}}
                    </div>
                    
                  </div>
                  <button type="submit" class="btn btn-outline-primary">Save address</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ml-lg-auto">
            <div class="card border-0 shadow">
              <div class="card-header bg-primary-light py-4 border-0">
                <div class="media align-items-center">
                  <div class="media-body">
                    <h4 class="h6 subtitle text-sm licolor">What info is shared with others?</h4>
                  </div>
                </div>
              </div>
              <div class="card-body p-4">
                <p class="text-muted text-sm card-text">Gibele will only share the required personal contact information with the service provider <strong>after a booking has been confirmed</strong>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock information %}

{% block scripts %}
 <script type="text/javascript">
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    
    const emailField = document.querySelector("#id_email");
    const phoneField = document.querySelector("#id_phone");
    const feedBackArea = document.querySelector(".invalid_feedback")
    const feedBackreaPhone = document.querySelector(".invalid_phone")

    emailField.addEventListener('keyup', (e) =>{
        const emailVal = e.target.value;
        const phoneVal = '';
        emailField.classList.remove("is-invalid");
        feedBackArea.style.display="none";
        if (emailVal.length > 0) {
            fetch("/account/updatep/", {
                body: JSON.stringify({email: emailVal, phone:phoneVal}),
                method: 'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                }
            })
            .then((res) => res.json())
            .then((data) => {
                console.log("data", data);
                if (data.email_error){
                    emailField.classList.add("is-invalid");
                    feedBackArea.style.display="block";
                    feedBackArea.innerHTML=`<p>${data.email_error}</p>`

                }
                else{
                    emailField.classList.remove("is-invalid");
                    feedBackArea.style.display="none";
                }
            });
        }
    });

    phoneField.addEventListener('change', (e) =>{
        
        const phoneVal = e.target.value;
        const emailVal='';
        console.log(phoneVal);
        phoneField.classList.remove("is-invalid");
        feedBackreaPhone.style.display="none";
        if (phoneVal.length > 0) {
            fetch("/account/updatep/", {
                body: JSON.stringify({email: emailVal, phone:phoneVal}),
                method: 'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                }
            })
            .then((res) => res.json())
            .then((data) => {
                console.log("data", data);
                if (data.phone_error){
                    phoneField.classList.add("is-invalid");
                    feedBackreaPhone.style.display="block";
                    feedBackreaPhone.innerHTML=`<p>${data.phone_error}</p>`

                }
                else{
                    phoneField.classList.remove("is-invalid");
                    feedBackreaPhone.style.display="none";
                }
            });
        }
    });
 </script>
{% endblock scripts %}
