{% extends 'account/user_sidebar.html' %}
{% load static %}
{% load hosts %}
{% load business_tags %}
{% block revactive %}active{% endblock %}
{% block information %}
<section class="py-5">
      <div class="container text-center">
        <h1 class="hero-heading mb-4">The companies you have reviewed</h1>
        {% for review in reviews %}
            {% with company=review.company %}
            <div class="col-sm-12 mb-5 hover-animate">
              <div class="card h-100 border-0 shadow">
                <div class="card-body">
                <div class=" d-flex justify-content-between">
                      <div >
                        {% with users_like=company.users_like.all %}
                            {% if request.user in users_like %}
                            <a class="card-fav-icon position-relative z-40 like" href="#" id="{{ company.id }}" data-id="{{ company.id }}" data-action="unlike"> 
                            <svg class="svg-icon text-danger" style="opacity: 1 !important;">
                                <use xlink:href="#heart-liked"></use>
                            </svg>
                            </a>
                            {% else %}
                            <a class="card-fav-icon position-relative z-40 like" href="#" id="{{ company.id }}" data-id="{{ company.id }}" data-action="like"> 
                            <svg class="svg-icon text-white">
                                <use xlink:href="#heart-unliked"> </use>
                            </svg>
                            </a>
                            {% endif %}
                        {% endwith %}
                      </div>
                  </div>
                  <h3 class="text-shadow">{{ company }}</h3>
                  <p class="mb-0">Company Rating:<div>{% for x in '12345' %}<i class="fas fa-star {% if forloop.counter|avg_reviews:company.id %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}
                      ({{company.company_reviews.all|length}})</div></p>
                  <p class="text-sm text-muted mb-3">{{ company.description }}</p>
                </div>
                <div class="text-body px-1">
                    <h2>Your review</h2>
                    <p class="mb-0">Your Rating: <div>{% for x in '12345' %}<i class="fas fa-star {% if forloop.counter <= review.star %}text-warning{% else %}text-gray-300{% endif %}"></i>{% endfor %}</div></p>
                    <p>{{ review.review }}</p>
                </div>

              <div class="card-footer text-center">
                {% comment %} {% if company.id|changeonemonth:review.id %}
                    <a class="btn btn-warning" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Change Review</a>
                {% endif %} {% endcomment %}
                <a class="btn btn-info" href="{% host_url 'bookingurls' host 'bookingurl' slug=company.slug %}">Book an Appointment</a>
              </div>
              </div>
            </div>
            {% endwith %}
        {% empty %}
            <p class="text-muted mb-2">You have not written any reviews on any company yet.</p>
            <p class="text-muted mb-5">Book a service with any service provider then within one month of the booking, submit a review on the company. You may be eligible to receive reward points when Gibele's loyalty program is released in the near future!</p>
        {% endfor %}
        {% include 'account/pagination/pagination.html' with page=reviews %}
      </div>
    </section>
{% endblock %}