{% extends 'business/base.html' %}
{% block content %}
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog mt-5">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog mt-5" role="document">
          <div class="modal-content"></div>
      </div>
    </div>

    <div class="wrapper">
    <nav id="sidebar" class="">

            <div class="sidebar-header">
                <h3>{{ request.user.first_name }} {{request.user.last_name}}</h3>
                <strong>GB</strong>
            </div>
            <ul class="list-unstyled components">

                <li>
                    <a href="{% url 'account:booking_consumer' %}">
                        <i class="fas fa-calendar"></i>
                        Bookings
                    </a>
                    <a href="#" class="#">
                        <i class="fas fa-heart"></i>
                        Favourite
                    </a>
                    <a href="#">
                        <i class="fas fa-newspaper"></i>
                        Reviews
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'account:account' %}">
                        <i class="fas fa-user-circle"></i>
                        {{request.user.first_name}} {{request.user.last_name}}
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    
                </li>
                <li>
                    
                </li>
            </ul>
        </nav>

    <div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="sidebarCollapse" class="btn btn-outline-primary">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            {% block information %}
            {% endblock information %}
        </div>
    </div>
    </div>
    </div>
{% endblock  %}

{% block extrascripts %}
    <script>
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
      });
    </script>
{% endblock extrascripts %}