{% load countries %}
{% load static %}
{% for country in countriess %}
    {% if country == 'all' %}
        <hr>
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center p-2">
                <div>
                    <b><img class="country-select-flag" id="flag_id_country" style="width:16px; height:16px" src="{% static 'img/icons/world.png' %}"> All countries</b>
                </div>
                    <button type="button" class="btn btn-link btn-info"></button>
            </div>
        </div>
    {% else %}
        {% get_country country as ctry %}
        <hr>
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center p-2">
                <div>
                    {% with '/flags/'|add:country|lower|add:'.gif' as image_static %}
                        <b><img style="border-radius:0px" src="{% static image_static %}" alt=""> {{ ctry.name }}</b>
                    {% endwith %}
                    
                </div>
                <div class="dropdown">
                    <a class="three-dots-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:35px; height:35px;">
                        <i></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="">
                    
                        <a class="dropdown-item" type="button" data-type="pbr_edit">Edit</a>
                        <a class="dropdown-item text-danger" type="button" data-id="{{ pbz.id }}" data-type="pbr_delete">Remove</a>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endif %}
    
{% endfor %}
<hr>
