{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block linkscript %}{{ product_form.media }}{% endblock linkscript %}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ask a question</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="POST" action="{% host_url 'addquestionprod' product.id host 'prodadmin' %}" id="form-container" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form-TOTAL_FORMS" value="2" id="id_form-TOTAL_FORMS">
        <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
        <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
        <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
        <div class="row align-items-center">
            <div class="col-12 col-md-8">
            <label for="id_question" class="">
                Add your question
            </label>
                {{ question_form.question|as_crispy_field }}
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="requiredinput" type="checkbox">
                        <span class="form-check-sign"></span>
                        Required
                    </label>
                </div>
            </div>
            <div class="col-12">
                {{ question_form.placeholder|as_crispy_field }}
            </div>
            <div class="col-12 col-md-6">
                {{ question_form.retrievetype|as_crispy_field }}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Attach Question</button>
        </div>
    </form>
</div>