{% load hosts %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
<div class="tab-content">
    <div class="tab-pane active" id="tabAll">
        <div class="card shadow my-1" style="border-radius: 8px !important;">
            <div class="row">
                <div class="col-6">
                    <h4 class="card-header p-2">Category - All Products</h4>
                </div>
                <div class="col-6 text-right">
                    <div class="card-header p-2">
                            <button class="btn btn-info btn-sm mb-3 justify-content-center addnewproduct" type="button" data-toggle="modal" data-target="#modal-product" data-url="{% host_url 'createproducts' 0 host 'prodadmin' %}">Add Product <i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>       
        </div>
            <div class="allmyprods">
                    {% for s in company.products_offered.all %}
                        <div class="card shadow" style="border-radius: 8px !important;">
                            <div class="row">
                                <div class="col-12">
                                    {% comment %} <div class="card-header">{{ s.name }}</div> {% endcomment %}
                                    <div class="card-body">                      
                                        <div class="row p-2 justify-content-between text-left align-self-center">
                                            <div class="col-12">
                                                <h3 class="mb-1">{{ s.name }} - ${{ s.price }}</h3>
                                                {% if s.mainimage %}
                                                    <img src="{{ s.mainimage.url }}" width="150px" height="150px" class="rounded" style="object-fit: cover;">
                                                {% endif %}
                                                
                                            </div>
                                            <div class="col-8 p-0 mt-2 order-3 order-md-2">
                                            
                                                
                                                <div class="accordion" id="accordionExample">
                                                    <div class="card">
                                                        <div class="card-header py-0">
                                                            <h2 class="mb-0" id="headingOne">
                                                                <button class="btn btn-link text-left d-flex justify-content-between my-0 descr" type="button" data-toggle="collapse" data-target="#collapseFun{{s.id}}" aria-expanded="false" aria-controls="collapseFun{{s.id}}">
                                                                    Product Description
                                                                    <i class="fas fa-chevron-down text-line rotatemenow"></i>
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseFun{{s.id}}" class="collapse text-center" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                            <div class="col-12">
                                                                <ul style="list-style:none; text-align:left;">
                                                                    <li>
                                                                    {% autoescape off %}
                                                                        <div id="innerHTMLDescription" class="productdescription showentire mt-3 text-left ml-auto">
                                                                            {{ s.description }}
                                                                        </div>
                                                                    {% endautoescape %}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                {% if s.product_maindropdown.all.count > 0 or s.product_questions.all.count > 0 %}
                                                <div class="accordion" id="accordionExample">
                                                    <div class="card">
                                                        <div class="card-header py-0">
                                                            <h2 class="mb-0" id="headingOne">
                                                                <button class="btn btn-link text-left d-flex justify-content-between my-0 descr" type="button" data-toggle="collapse" data-target="#collapseReq{{s.id}}" aria-expanded="true" aria-controls="collapseReq{{s.id}}">
                                                                    Additional Requirements
                                                                    <i class="fas fa-chevron-down text-line rotatemenow"></i>
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseReq{{s.id}}" class="collapse show text-center" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <ul style="list-style:none; text-align:left;" id="dropdownslist">
                                                                        {% for maindropdown in s.product_maindropdown.all %}
                                                                        <li style="position:relative;">
                                                                            <div class="additional-options">
                                                                                <div class="row d-flex">
                                                                                    <span class="dropdown-loop-label">Dropdown</span>
                                                                                </div>
                                                                                <b style="color: #404145;font-size: 14px;line-height: 22px;">{{maindropdown.placeholder}}</b>
                                                                                <p class="text-sm" style="color: #7a7d85; font-size: 14px; line-height: 22px;">{% for options in maindropdown.main_dropdown.all %}{{ options.option }}, {% endfor %}</p>
                                                                            </div>
                                                                            {% comment %} <button tabindex="0" data-staff="{{ staff.id }}" data-weekday="{{ day.weekday }}" class="popover fit-popover fit-popover-bottom fit-popover-clickable popover-actions" role="button" data-toggle="popover" data-trigger="focus" title="Edit?" data-html='true' data-sanitize='false' style="z-index:1 !important;" data-content="Are you sure you want to delete? <button class='btn btn-sm btn-danger removebreak' data-breakid='{{ breakday.id }}' data-staff='{{ staff.id }}' >Delete</button><button class='btn btn-sm '>Edit</button>">
                                                                            <span class="fit-popover-content" ><div class="three-dots-link"><i></i></div></span>
                                                                            </button> <li class="option editdrop" id="{{maindropdown.id}}"><span>Edit</span></li>{% endcomment %}
                                                                            <div class="fit-popover fit-popover-bottom fit-popover-clickable popover-actions" title="" tabindex="0" data-toggle="popover" data-html='true' data-trigger='focus' data-placement="right" data-dropid="{{ maindropdown.id }}" data-content='<ul class="dropdown-list"><li class="option removedrop" id="{{maindropdown.id}}"><span>Remove</span></li></ul>'>
                                                                            <span class="fit-popover-content"><div class="three-dots-link"><i></i></div></span>
                                                                            </div>
                                                                        </li>
                                                                        {% endfor %}
                                                                        {% for questions in s.product_questions.all %}
                                                                        <li style="position:relative;">
                                                                            <div class="additional-options">
                                                                                <div class="row d-flex">
                                                                                    <span class="dropdown-loop-label">Question</span>
                                                                                </div>
                                                                                <b style="color: #404145;font-size: 14px;line-height: 22px;">{{questions.question}}</b>
                                                                            </div>
                                                                            <div class="fit-popover fit-popover-bottom fit-popover-clickable popover-actions" title="" tabindex="0" data-toggle="popover" data-html='true' data-trigger='focus' data-placement="right" data-dropid="{{ questions.id }}" data-content='<ul class="dropdown-list"><li class="option removeques" id="{{questions.id}}"><span>Remove</span></li></ul>'>
                                                                            <span class="fit-popover-content"><div class="three-dots-link"><i></i></div></span>
                                                                            </div>
                                                                        </li>

                                                                        {% endfor %}

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    

                                                </div>

                                                {% endif %}

                                                <div class="text-block">
                                                    <button class="btns btn-outline-info m-1 adddropdown" title="Add extra add ons and options to products" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'adddropdownprod' s.id host 'prodadmin' %}">+ Add Dropdown Options</button>
                                                    <button class="btns btn-outline-info m-1 addquestion" title="Ask additional questions before a product order is placed" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'addquestionprod' s.id host 'prodadmin' %}">+ Attach a Question</button>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-4 col-12 p-1 order-sm-2 text-md-right text-left">
                                                <div class="row">
                                                    <div class="col-6 col-md-12">
                                                        <button type="button" class="updatebtn btn btn-sm" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'updateproduct' s.id host 'prodadmin' %}"><i class="fas fa-pencil-alt"></i> Edit Product</button>
                                                        <button class="btn btn-danger btn-sm trashcan" data-url="{% host_url 'deleteproduct' s.id host 'prodadmin' %}"><i class="fas fa-trash"></i> Delete Product</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="card shadow" style="border-radius: 8px !important;">
                            <div class="card-header">No Products Added</div>
                        </div>
                    {% endfor %}
                </div>
                    {% comment %} <div class="card pt-2">
                        {% include 'bizadmin/dashboard/reviews/pagination.html' with page=services%}
                    </div> {% endcomment %}
                    
    </div>
    {% for category in company.product_category.all  %}

        <div class="tab-pane" id="tab{{ forloop.counter }}">
            <div class="card shadow my-1" style="border-radius: 8px !important;">
                <div class="row">
                    <div class="col-6 py-auto">
                        <h4 class="card-header p-2">Category - {{ category.name }}</h4>
                        
                    </div>
                    <div class="col-6 text-right">
                        <div class="card-header p-2">
                            <button class="btn btn-info btn-sm justify-content-center addnewservice" type="button" data-toggle="modal" data-target="#modal-product" data-url="{% host_url 'createproducts' category.id host 'prodadmin' %}">Add Product <i class="fas fa-plus"></i></button>
                            <button class="btn btn-link btn-danger btn-sm categorydelete" type="button" data-catename="{{ category.name }}" data-url="{% host_url 'category_delete_view' category.id host 'bizadmin' %}">Delete Category <i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                
            </div>
            {% for s in category.products.all %}
                <div class="card shadow" style="border-radius: 8px !important;">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                {% with hour=s.duration_hour min=s.duration_minute type=s.price_type %}                          
                                <div class="row p-2 justify-content-between text-left align-self-center">
                                    <div class="col-8 p-0">
                                    <p class="mb-1">{{ s.name }} - ${{s.price}}</p>
                                    <p class="text-muted">{{ s.description }}</p>
                                    </div>
                                    <div class="col-4 p-1 text-right">
                                    <div class="row">
                                    <div class="col-12">
                                    <button type="button" class="updatebtn btn btn-sm" data-toggle="modal" data-target="#modal-update" data-url="{% host_url 'updateproduct' s.id host 'prodadmin' %}"><i class="fas fa-pencil-alt"></i></button>
                                    <button class="btn btn-danger btn-sm trashcan" data-url="{% host_url 'deleteservice' s.id host 'bizadmin' %}"><i class="fas fa-trash"></i></button>
                                    </div>
                                    </div>
                                    </div>
                                </div>

                                {% endwith %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>