{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block linkscript %}{{ product_form.media }}{% endblock linkscript %}
<div class="modal-header {% if company.darkmode %}text-white{% endif %}">
    <h5 class="modal-title {% if company.darkmode %}text-white{% endif %}" id="exampleModalLabel">Add dropdown options for {{ product.name }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="POST" action="{% host_url 'adddropdownprod' product.id host 'prodadmin' %}" id="form-container" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form-TOTAL_FORMS" value="2" id="id_form-TOTAL_FORMS">
        <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
        <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
        <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
        <div class="row align-items-center">
            <div class="col-8">
                {{ placeholder_form.placeholder|as_crispy_field }}
            </div>
            <div class="col-4">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="requiredinput" type="checkbox">
                        <span class="form-check-sign"></span>
                        Required
                    </label>
                </div>
            </div>
        </div>
        
        <br>
        <div class="">
            <div class="row align-items-center">
                <div class="col-8">
                    <h5 class="modal-title {% if company.darkmode %}text-white{% endif %}" id="exampleModalLabel">Choices</h5>
                </div>
                <div class="col-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" name="multiplechoices" type="checkbox">
                            <span class="form-check-sign"></span>
                            Choose multiple options
                        </label>
                    </div>
                </div>
                <div class="col-6"><label for="">Option<span class="asteriskField">*</span></label></div>
                <div class="col-6"><label for="">Price<span class="asteriskField">*</span></label></div>
            </div>
            {% for option in option_form %}
            <div class="dropdownform row">
                <div class="col-6">
                    {{ option.option|as_crispy_field }}
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        </div>
                        <input type="number" name="{{ option.price.html_name }}" step="0.01" placeholder="Additional price of the option. (Enter zero if there is no additional cost)" class="numberinput form-control" id="{{option.price.auto_id}}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="btns btn-outline-info" type="button" id="add_more">+ Add New Option</button>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">Add</button>
        </div>
    </form>
</div>
<script>
    let birdForm = document.querySelectorAll(".dropdownform")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add_more")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()
        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')
        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>