{% extends 'welcomes/main.html' %}
{% block 'index_pricing' %}active{% endblock %}
{% load static %}
{% load hosts %}
{% block descriptiontag %}"ShopMe Pricing Summary Page"{% endblock  %}
{% block header %}
  <header class="header-2">
            <div class="page-header relative" style="height: 100px; background: #141727; background-image: linear-gradient(310deg,#141727,#3a416f);">
            {% comment %} <div class="position-absolute w-50 z-index-1 bottom-0">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
                </g>
                </svg>
            </div> {% endcomment %}
            </div>
        </header>
{% endblock header %}
{% block businesscontent %}
<section class="py-sm-4" id="pricing-soft-ui">
    <div class="bg-gradient-primary position-relative m-3 border-radius-xl">
      <div class="container pb-lg-8 pb-7 pt-5 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <span class="badge bg-gradient-dark mb-2">Pricing Beta</span>
            <h3 class="text-white">Let's make your business grow!</h3>
            <p class="text-white">Set up your ShopMe ecommerce page for free. Only a small percentage based fee is charged on each sale. Premium plans coming soon!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-lg-n8 mt-n6">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mx-auto p-md-0 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-left pt-5 pb-1">
                <h3 class="font-weight-bolder">
                  <small></small>Payment Processing Fees
                </h3>
                <h6 class="text-dark opacity-8 text mb-0">2.9% + 30¢ on each sale made</h6>
              </div>
              <div class="card-footer">
                <p>The payment processing fee is what <a class="btn btn-gradient-primary p-0 m-0 btn-link" href="https://stripe.com/en-ca/pricing">Stripe</a> charges to process payments through them.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 mx-auto p-md-0 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-left pt-5 pb-1">
                <h3 class="font-weight-bolder">
                  <small></small>Platform Fees
                </h3>
                <h6 class="text-dark opacity-8 text mb-0">1% + 10¢ on each sale made</h6>
                <small>Help us Beta test the software to enjoy this rate forever! (Regular rates start @3.9% + 30¢)</small>
              </div>
              <div class="card-footer">
                <p>Volume and value based processing fees will be offered in the future.</p>
                {% comment %} <b>NOTE: Beta users</b> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-sm-4" id="pricing-soft-ui">
    <div class="bg-gradient-success position-relative m-3 border-radius-xl">
      <div class="container pb-lg-8 pb-7 pt-5 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <h3 class="text-white">All Plans Include</h3>
            {% comment %} <p class="text-white">Get access to all of our premium offerings and priority support.</p> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="mt-lg-n8 mt-n6">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mx-auto p-md-1 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-center pt-5 pb-3">
                {% comment %} <h6 class="text-dark opacity-8 text mb-0 mt-2">Forever</h6> {% endcomment %}
                <span class="badge bg-gradient-primary mb-2">Free online store</span>
              </div>
              <div class="card-body mx-auto pt-0 px-2">
                <div class="justify-content-left d-flex px-2 py-1">
                  {% comment %} <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div> {% endcomment %}
                  <div class="">
                    <span class="text-sm text-muted text-left">List as many products on your ecommerce page. For free.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mx-auto p-md-1 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-center pt-5 pb-3">
                {% comment %} <h6 class="text-dark opacity-8 text mb-0 mt-2">Forever</h6> {% endcomment %}
                <span class="badge bg-gradient-primary mb-2">Accept online payments</span>
              </div>
              <div class="card-body mx-auto pt-0 px-2">
                <div class="justify-content-left d-flex px-2 py-1">
                  {% comment %} <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div> {% endcomment %}
                  <div class="">
                    <span class="text-sm text-muted text-left">Collect and deposit payments into your bank account.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mx-auto p-md-1 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-center pt-5 pb-3">
                {% comment %} <h6 class="text-dark opacity-8 text mb-0 mt-2">Forever</h6> {% endcomment %}
                <span class="badge bg-gradient-primary mb-2">Send Notifications</span>
              </div>
              <div class="card-body mx-auto pt-0 px-2">
                <div class="justify-content-left d-flex px-2 py-1">
                  {% comment %} <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div> {% endcomment %}
                  <div class="">
                    <span class="text-sm text-muted text-left">Send emails to customers at each order fullfillment stage.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mx-auto p-md-1 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-center pt-5 pb-3">
                {% comment %} <h6 class="text-dark opacity-8 text mb-0 mt-2">Forever</h6> {% endcomment %}
                <span class="badge bg-gradient-primary mb-2">Basic Analytics</span>
              </div>
              <div class="card-body mx-auto pt-0 px-2">
                <div class="justify-content-left d-flex px-2 py-1">
                  {% comment %} <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div> {% endcomment %}
                  <div class="">
                    <span class="text-sm text-muted text-left">View number of sales and total earnings made from your site.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-8 mx-auto">
          <h4 class="mb-1">Join the ShopMe Waitlist today!</h4>
          <a href="{% host_url 'bizadminsignup' host 'prodadmin' %}" class="btn btn-lg d-block bg-gradient-info mb-0 mx-auto">
            Join Waitlist
          </a>
        </div>
      </div>
    </div>
  </div>
    </div>
  </section>

{% endblock  %}