{% extends 'welcomes/main.html' %}
{% block 'index_pricing' %}active{% endblock %}
{% load static %}
{% load hosts %}

{% block header %}
  <header class="header-2">
            <div class="page-header relative" style="height: 100px; background: #141727; background-image: linear-gradient(310deg,#141727,#3a416f);">
            <div class="container">
                <div class="logo-image d-inline">
                <a href="{% host_url 'bizadminmain' host 'prodadmin' %}">
                    <img src="{% static "img/favicon/logo/BookMe-whitebrown.svg" %}" style="position: absolute;top: 1.5rem;left: 1rem;width: 8.625rem;height: 3rem; z-index:9;">
                </a>
            </div>
                
            </div>
            {% comment %} <div class="position-absolute w-50 z-index-1 bottom-0">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
                </g>
                </svg>
            </div> {% endcomment %}
            </div>
        </header>
{% endblock header %}
{% block businesscontent %}
<section class="py-sm-4" id="pricing-soft-ui">
    <div class="bg-gradient-primary position-relative m-3 border-radius-xl">
      <div class="container pb-lg-8 pb-7 pt-5 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <span class="badge bg-gradient-dark mb-2">Pricing Beta</span>
            <h3 class="text-white">Let's make your business grow!</h3>
            <p class="text-white">Get access to all of our premium offerings and priority support.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-lg-n8 mt-n6">
      <div class="container">
        <div class="row">
          {% comment %} <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 ms-auto">
            <div class="card border-radius-top-end-lg-0 border-radius-bottom-end-lg-0">
              <div class="card-header text-center pt-4 pb-3">
                <h6 class="text-dark opacity-8 mb-0">Freelancer</h6>
                <h1 class="font-weight-bolder">
                  <small>$</small>99
                </h1>
              </div>
              <div class="card-body mx-auto pt-0">
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Documentation</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Fully Coded</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Designer Files</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Lifetime Access</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">1 Project</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">1 Developer</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">6 Months Tech Support</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">6 Months Free Updates</span>
                  </div>
                </div>
              </div>
              <div class="card-footer pt-0">
                <a href="https://secure.avangate.com/order/checkout.php?PRODS=34081148&amp;OPTIONS34081148=FREELANCER&amp;CART=1&amp;CARD=2&amp;CLEAN_CART=1&amp;SHORT_FORM=1&amp;SRC=soft-ds-pro-presentation" class="btn w-100 bg-gradient-dark mb-0">
                  Buy now
                </a>
              </div>
            </div>
          </div> {% endcomment %}
          <div class="col-lg-5 mx-auto p-md-0 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-center pt-5 pb-3">
                <h6 class="text-dark opacity-8 text mb-0 mt-2">Forever</h6>
                <h1 class="font-weight-bolder">
                  <small></small>Free
                </h1>
              </div>
              <div class="card-body mx-auto pt-0">
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Your own online store</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Send text message updates</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Accept online payments</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Stripe processing fee (2.9% +30c)</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Platform processing fee (3% + 10c)</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Above-average analytics (shopping page visits, purchase conversion rates, etc)</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Create discount codes(Coming Soon)</span>
                  </div>
                </div>
              </div>
              <div class="card-footer pt-0">
                <a href="{% host_url 'bizadminsignup' host 'prodadmin' %}" class="btn btn-icon bg-gradient-info d-block mb-0 icon-move-right">Get Started
                </a>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 me-auto">
            <div class="card border-radius-top-start-lg-0 border-radius-bottom-start-lg-0">
              <div class="card-header text-center pt-4 pb-2">
                <h6 class="text-dark opacity-8 text mb-0">Enterprise</h6>
                <h1 class="font-weight-bolder">
                  <small>$</small>449
                </h1>
              </div>
              <div class="card-body mx-auto pt-0">
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Documentation</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Fully Coded</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Designer Files</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Lifetime Access</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Unlimited Projects</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">More than 10 Developers</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">18 Months Tech Support</span>
                  </div>
                </div>
                <div class="justify-content-left d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm" aria-hidden="true"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">18 Months Free Updates</span>
                  </div>
                </div>
              </div>
              <div class="card-footer pt-0">
                <a href=" https://secure.avangate.com/order/checkout.php?PRODS=34081148&amp;OPTIONS34081148=ENTERPRISE&amp;CART=1&amp;CARD=2&amp;CLEAN_CART=1&amp;SHORT_FORM=1&amp;SRC=soft-ds-pro-presentation" class="btn w-100 bg-gradient-dark mb-0">Buy now</a>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center mt-5 text-dark">
              <i class="fa fa-lock" aria-hidden="true"></i> Secured Payments by <b> Stripe </b> with:
              <br><br>
              <i class="fa fa-cc-paypal fa-2x" aria-hidden="true"></i> <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i> <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


{% comment %} <section class="pricing-comp-section">
<div class="container">
  <div class="row pt-6">
    <div class="col-md-6 pricing-comp-table">
      <h2 class="hero-heading text-black">Plan comparison</h2>
    </div>
    <div class="col-md-6 pricing-comp-table">
      <div class="row text-center">
        <div class="col-4 text-center">
          <h3 class="hero-heading pricing-comp-planitem text-center mt-6">Basic</h3>
          <a class="btn btn-info" href="{% host_url 'bizadminsignup' host 'prodadmin' %}">Get Started</a>
        </div>
        <div class="col-4">
          <h3 class="hero-heading pricing-comp-planitem text-center">Pro</h3>
          <a class="btn btn-secondary" href="{% host_url 'bizadminsignup' host 'prodadmin' %}">5 Day Free Trial</a>
        </div>
        <div class="col-4">
          <h3 class="hero-heading pricing-comp-planitem text-center d-none d-sm-block">Premium</h3>
          <h3 class="hero-heading pricing-comp-planitem text-center d-block d-sm-none">Prem</h3>
          <a class="btn btn-secondary" href="{% host_url 'bizadminsignup' host 'prodadmin' %}">5 Day Free Trial</a>
        </div>
      </div>
    </div>
    <div class="col-12 p-6 m-6" style="margin-top:40px;">
      <h4 class="pricing-comp-table-header hero-heading">Booking</h4>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Staff Members Included</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center text-muted">
              1 Staff Member
            </div>
            <div class="col-4 text-center">
              <p class="text-left text-muted">2 Staff Members included,</p>
              <p class="text-left text-muted">$10 for additional users for the first 8 staffers; 10+ is no additional cost</p>
            </div>
            <div class="col-4 text-center text-muted">
              Unlimited
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Unlimited Appointments</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Email Reminders</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center text-muted">
              Includes 200
            </div>
            <div class="col-4 text-center text-muted">
              Unlimited
            </div>
            <div class="col-4 text-center text-muted">
              Unlimited
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Text Reminders</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center text-muted">
              <i class="fas fa-times"></i>
            </div>
            <div class="col-4 text-center text-muted">
              1000 per staffer
            </div>
            <div class="col-4 text-center text-muted">
              Unlimited
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Website Integration</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Google Calendar and Outlook Integration</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
            <div class="col-4 text-center text-muted">
              <i class="fas fa-check"></i>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Custom link and themes for your booking page</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center">
              <i class="fas fa-check text-muted"></i>
            </div>
            <div class="col-4 text-center">
              <i class="fas fa-check text-muted"></i>
            </div>
            <div class="col-4 text-center">
              <i class="fas fa-check text-muted"></i>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row pricing-comp-table-row">
        <div class="col-md-6"><p class="hero-heading text-muted">Accept payments</p></div>
        <div class="col-md-6">
          <div class="row hero-heading">
            <div class="col-4 text-center text-muted">
              Coming soon with Square
            </div>
            <div class="col-4 text-center text-muted">
              Included with Stripe
            </div>
            <div class="col-4 text-center text-muted">
              Included with Stripe
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="pricing-comp-table-header hero-heading">Marketing</h4>
    </div>
  </div>
</div>
</section> {% endcomment %}

{% endblock  %}