{% extends 'bizadmin/index.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block businessadmin %}

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="" class="js-product-delete-form">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete Service</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make some changed to this service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="" class="js-product-update-form">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-service" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your services</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form method="POST" action="{% host_url 'creatingservice' host 'bizadmin' %}" class="js-product-create-form">
        {% csrf_token %}
        {{ service_form.name|as_crispy_field }}
        {{ service_form.description|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col mb-0">
                        {{ service_form.price_type|as_crispy_field }}
                    </div>
                    <div class="form-group col mb-0">
                        {{ service_form.price|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-0">
                        {{ service_form.duration_hour|as_crispy_field }}
                    </div>
                    <div class="form-group col mb-0"> 
                        {{ service_form.duration_minute|as_crispy_field }}
                    </div>
                </div>
                <a class="licolor" href="#simpleCollapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="simpleCollapse">Advanced Options</a>
                <div class="collapse" id="simpleCollapse">
                    {{ service_form.checkintime|as_crispy_field }}
                    <div id="padd">
                        {{ service_form.padding|as_crispy_field }}
                    </div>
                    <div id="show-padding" class="form-row">
                        <div class="form-group col mb-0"> 
                            {{ service_form.paddingtime_hour|as_crispy_field }}
                        </div>
                        <div class="form-group col mb-0"> 
                            {{ service_form.paddingtime_minute|as_crispy_field }}
                        </div>
                    </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Service</button>
      </div>
      </form>
    </div>
  </div>
</div>






<div class="container-fluid justify-content-center">
    <div class="col-md-12 mr-auto ml-auto">
        <h1 class="text-center">Add your company information</h1>
    
            <!-- MultiStep Form -->
<div class="row mb-3">
    <div class="col-md-12 col-md-offset-3">
        <form method="post" action="{% host_url 'completeprofile' host 'bizadmin' %}" id="msform" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Company Details</li>
                <li>Add Services</li>
                <li>Business Hours</li>
                <li>Booking Settings</li>
                <li>Confirm</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Company Details</h2>
                <h3 class="fs-subtitle">Tell us about your company</h3>
                <div class="row">
                    <div class="col-md-12">
                        {{ biz_form.business_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ biz_form.category|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ biz_form.subcategory|as_crispy_field }}
                    </div>
                    <div class="col-md-12">
                        {{ biz_form.description|as_crispy_field }}
                    </div>
                    <div class="col-md-12">
                        {{ biz_form.address|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ biz_form.postal|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ biz_form.state|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ biz_form.city|as_crispy_field }}
                    </div>
                </div>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Add Services</h2>
                <h3 class="fs-subtitle">Add services which which you offer to customers</h3>
                <div class="row justify-content-center">
                    <button id="createservice" class="btn btn-primary mb-3 js-create-product justify-content-center" type="button" data-toggle="modal" data-target="#modal-service">Add Service</button>
                </div>
                <div class="table-responsive">
                    <table id="service-table" class="table table-dark table-hover">
                        <thead>
                            <tr>
                            <th class="text-center" scope="col">#</th>
                            <th class="text-center" scope="col">Service</th>
                            <th class="text-center" scope="col">Price ($)</th>
                            <th class="text-center">Update/Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr>
                                    <td class="text-center" scope="row">{{ forloop.counter }}</td>
                                    <td class="text-center">{{ service.name }}</td>
                                    <td class="text-center">{{ service.price }}</td>
                                    <td class="text-center">
                                        <!-- Update Service buttons -->
                                        <button type="button" class="js-update-product btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modal-update">
                                            <span class="fa fa-pencil-alt"></span>
                                        </button>
                                        <!-- Delete Service buttons -->
                                        <button type="button" class="js-delete-product btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% empty %}
                                <td colspan="8" class="text-center">You do not have any services available</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Business Hours</h2>
                <h3 class="fs-subtitle">Add your business hours and any breaks in your schedule</h3>
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Sunday</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Monday</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Tuesday</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Wednesday</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Thursday</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Friday</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Saturday</label>
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Booking Settings</h2>
                <h3 class="fs-subtitle">Configure some settings to make your booking experience unique</h3>
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Booking Intervals</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Booking Page Subdomain</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Booking Buffer</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Returning Clients Only</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Cancellation Policy</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Customer Notes</label>
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Confirm and Submit</h2>
                <h3 class="fs-subtitle">Confirm everything that you have filled out then lets get booking!</h3>
                <input type="text" name="email" placeholder="Email"/>
                <input type="password" name="pass" placeholder="Password"/>
                <input type="password" name="cpass" placeholder="Confirm Password"/>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="submit" name="submit" class="submit action-button" value="Submit"/>
            </fieldset>
        </form>
        <!-- /.link to designify.me code snippets -->
    
</div>
<!-- /.MultiStep Form -->

        </div>
    </div>

</div>
<script>

</script>
<script>
    const sidebars = document.querySelector(".sidebar");
    sidebars.classList.add("d-none");

    const sidebartoggle = document.querySelector(".navbar-wrapper");
    sidebartoggle.classList.add("d-none");
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if(animating) return false;
        animating = true;
        
        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
        
        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
        
        //show the next fieldset
        next_fs.show(); 
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
        });
                next_fs.css({'left': left, 'opacity': opacity});
            }, 
            duration: 800, 
            complete: function(){
                current_fs.hide();
                animating = false;
            }, 
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;
        
        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();
        
        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
        
        //show the previous fieldset
        previous_fs.show(); 
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            }, 
            duration: 800, 
            complete: function(){
                current_fs.hide();
                animating = false;
            }, 
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });
</script>
<script type="text/javascript">
      {% comment %} $(function () {
          // Create service button opens modal with id="createservice"
          $("#createservice").modalForm({
            formURL: "{% url 'business:create_service' company.pk company.slug %}",
            modalID: "#create-modal"
          }); {% endcomment %}
  </script>
{% endblock %}
