{% extends 'productadmin/index.html' %}
{% load static %}
{% load countries %}
{% load hosts %}
{% load business_tags %}
{% load crispy_forms_tags %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/calendarmain.css"%}">
    <script src="{% static "js/calendarmain.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
{% endblock linkscript %}
{% block activeship%}active{%endblock%}
{% block businessadmin %}
        <!-- Main page content-->

{% include "productadmin/dashboard/shipping/partial/modals/modal_pricebasedrate_add.html" with form=pricebasedform %}

<div class="modal fade" id="myModals" tabindex="-1" role="dialog" aria-labelledby="myModals" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="pricebadedrate_editform" method="POST">
        {% csrf_token %}
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info pricebased_editformsubad">Edit</button>
        </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="myRegionModals" tabindex="-1" role="dialog" aria-labelledby="myRegionModals" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Regions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="regionmodal_editform" method="POST">
        {% csrf_token %}
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info pricebased_editformsubad">Edit Region</button>
        </div>
        </form>
    </div>
  </div>
</div>

<div class="content">
    <form method="POST" action="{% host_url 'createshippingzone' host 'prodadmin' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <header class="page-header page-header-compact page-header-light">
                <div class="container-fluid">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-12">
                                <h1 class="page-header-title">
                                    Add Shipping Zone
                                </h1>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </header>
            <hr class="mt-0 mb-4">
        </div>
        
        {% comment %} <div class="col-md-4 mt-3">
            <div class="" style="border-radius:5px;">
                <div class="card-body">
                    <div class="col-12">
                        <h4>Shipping origin</h4>
                        Used to calculate shipping rates at checkout.
                    </div>
                </div>
            
            </div>
        </div>

        <div class="col-md-8 mt-3">
            <div class="card" style="border-radius:5px;">
                <div class="row justify-content-between p-2">
                    <div class="card-header">
                    <h4>Shipping from</h4>
                    </div>
                    
                    <button class="btn btn-link btn-info">Change shipping origin</button>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        
                    </div>
                </div>
            
            </div>
        </div> 
        <div class="col-12"><hr class="mt-0 mb-4"></div>
        {% endcomment %}
        
        <div class="col-md-7 mt-3">
            <div class="card" style="border-radius:5px;">
                <div class="container-fluid">
                    <div class="row justify-content-between p-2">
                        <div class="card-header">
                            <h4>Zone Name</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 m-1 px-3">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <p class="text-muted px-3">Customers won't see this</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 mt-3">
            <div class="card" style="border-radius:5px;">
                <div class="container-fluid">
                    <div class="row justify-content-between p-2">
                        <div class="card-header">
                            <h4>Countries</h4>
                        </div>
                        <button type="button" data-toggle="modal" data-target="#myModalsCountry" class="btn btn-link btn-info">Add countries</a>

                    </div>
                    <div class="row p-3">
                        {% include "productadmin/dashboard/shipping/partial/modals/modal_countries_add.html" with form=form %}
                        <div class="col-12" id="country-list">
                            <div class="col-12"><p class="text-muted">Add or remove countries and regions in this shipping zone.<p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 mt-3">
            <div class="card" style="border-radius:5px;">
                <div class="container-fluid">
                    <div class="row justify-content-between p-2">
                        <div class="card-header">
                            <h4>Price based rates</h4>
                        </div>
                        <button type="button" data-toggle="modal" data-target="#myPriceBasedForm" class="btn btn-link btn-info">Add rate</a>

                    </div>
                    <div class="row">
                        <div class="col-12" id="pbrshipping-list">
                            <ul id="myUL" style="width:100%; padding:0px; list-style:none;">
                                <div class="col-12 m-1 px-3" style="height: 300px; max-height: 300px; overflow-y: scroll; background: rgba(146, 146, 146, 0.01);">
                                    {% for pbz in company.shipping_pricebased.all %}
                                        <div class="form-check my-0 purplehov">
                                                <li class=" align-items-center" style="height: 75px; width: 100%; line-height: 75px; border-top: 1px solid #dadbdd;">
                                                    <label class="form-check-label" style="height: 75px; width: 100%;">
                                                        <input class="form-check-input pricebasedlistid" name="pricebasedid" value="{{ pbz.id }}" type="checkbox" {% if pbz.id == my_id %}checked{% endif %}>
                                                        <span class="form-check-sign"></span>
                                                        <div class="row d-flex">
                                                            <div class="col-12 d-flex justify-content-between">
                                                                <div>
                                                                <p class="my-0"><b>{{ pbz.names }}: </b>{% if pbz.rate == 0.00 %}Free{% else %}${{ pbz.rate }}{% endif %} Shipping</p>
                                                                <p class="my-0"> <b>Applies to products: </b> 
                                                                    {% if not pbz.upper_price %}
                                                                        ${{ pbz.lower_price }} and up
                                                                    {% else %}
                                                                        ${{ pbz.lower_price }} - ${{ pbz.upper_price }}
                                                                    {% endif %}
                                                                </p>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <a class="three-dots-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:35px; height:35px;">
                                                                        <i></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="">
                                                                        <a class="dropdown-item pricebasedshippingedit" type="button" data-id="{{ pbz.id }}" data-type="pbr_edit">Edit</a>
                                                                        <a class="dropdown-item text-danger pricebasedshippingdelete" type="button" data-id="{{ pbz.id }}" data-type="pbr_delete">Delete</a>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                    <a hidden href="#">{{ s.name }}</a>    
                                                </li>
                                        </div>
                                    {% empty %}
                                        <div class="col-12"><p class="text-muted">Add shipping rates based on the price of a customer's order.<p></div>
                                    {% endfor %}
                                </div>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 mt-3">
            <div class="container-fluid">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <a href="{% host_url 'shipping' host 'prodadmin' %}" class="btn btn-link btn-danger">Cancel</a>
                    </div>
                    <div class="col-sm-6 text-sm-right text-left">
                        <button type="submit" class="btn btn-info">Add New Zone</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12"><hr class="mt-0 mb-4"></div>

    </div>
    </form>
</div>
<script>
    function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
        } else {
        li[i].style.display = "none";
        }
    }
    }

    $( document ).ready(function() {
        $(document).on('click', '#addcountry', function(e){
            var data = $('.immer:checkbox:checked').map(function(){
                return $(this).val();
            }).get();
            $.ajax({
                url: "{% host_url 'getCountriesList' host 'prodadmin' %}",
                type: 'GET',
                data: {'data':data},
                dataType: 'json',
                success: function (data) {
                    document.getElementById("country-list").innerHTML = data.html_content
                }
            });
        });
        $(document).on('click', '#removeallcountry', function(e){
            $('.immer').prop("checked",false)
            document.getElementById("country-list").innerHTML = '<div class="col-12"><p class="text-muted">Add or remove countries and regions in this shipping zone.<p></div>'
        });
        $('#pricebadedrate_form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: "{% host_url 'ratebasedprice_create' host 'prodadmin' %}",
                data: $('#pricebadedrate_form').serialize(),
                headers:{
                    "X-CSRFToken": csrftoken
                },
                success:function(data){
                    if(data.error){
                        $.notify({
                            // options
                            message: data.error
                        },{
                            // settings
                            type: 'danger'
                        });
                    }
                    else {
                        $.notify({
                            // options
                            message: 'Price based rate added'
                        },{
                            // settings
                            type: 'success'
                        });
                        $('#myPriceBasedForm').modal('hide')
                        document.getElementById("pbrshipping-list").innerHTML = data.html_content
                    }
                }
            });
        });
        $(document).on('click', '.editcountry', function(e){
            var data = $(this).attr('data-countrycode')
            $.ajax({
                url: "{% host_url 'getRegionList' host 'prodadmin' %}",
                type: 'GET',
                data: {'region':data},
                dataType: 'json',
                beforeSend: function () {
                    $("#myRegionModals").modal("show");
                },
                success: function (data) {
                    $('#myRegionModals').find('.modal-title').text(data.title)
                    $('#myRegionModals .modal-body').html(data.html_content)
                }
            });
        });
        $(document).on('click', '.pricebasedshippingdelete', function(e){
            console.log('heloo')
        });
        $(document).on('click', '.pricebasedshippingedit', function(e){
            var button = $(this)
            var pbr = button.attr('data-id')
            var data = { pbr_id : pbr }
            $.ajax({
                url: "{% host_url 'pbrshippingeditmodalview' host 'prodadmin' %}",
                type: 'GET',
                data: data,
                dataType: 'json',
                beforeSend: function () {
                    $("#myModals").modal("show");
                },
                success: function (data) {
                    $('#myModals').find('.modal-title').text(data.title)
                    $('#myModals .modal-body').html(data.html_form)
                }
            });
        });
        $('#regionmodal_editform').submit(function(e){
            e.preventDefault();
            console.log('helo')
            $.ajax({
                type:'POST',
                url: "{% host_url 'getRegionList' host 'prodadmin' %}",
                data: $('#regionmodal_editform').serialize(),
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success:function(data){
                    if(data.error){
                        $.notify({
                            // options
                            message: data.error
                        },{
                            // settings
                            type: 'danger'
                        });
                    }
                    else {
                        $.notify({
                            // options
                            message: 'Regions have been updated'
                        },{
                            // settings
                            type: 'success'
                        });
                        $('#myRegionModals').modal('hide')
                        {% comment %} document.getElementById("region-list").innerHTML = data.html_content {% endcomment %}
                    }
                }
            });
        })
        $('#pricebadedrate_editform').submit(function(e) {
            e.preventDefault();
            var data = $(this).serialize()
            console.log(data)
            $.ajax({
                type:'POST',
                url: "{% host_url 'pbrshippingeditmodalview' host 'prodadmin' %}",
                data: data,
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success:function(data){
                    if(data.error){
                        $.notify({
                            // options
                            message: data.error
                        },{
                            // settings
                            type: 'danger'
                        });
                    }
                    else {
                        $.notify({
                            // options
                            message: 'Price based rate edited'
                        },{
                            // settings
                            type: 'success'
                        });
                        $('#myModals').modal('hide')
                        document.getElementById("pbrshipping-list").innerHTML = data.html_content
                    }
                }
            });
        });
        $(document).on('click', '.editregions', function(e){
            e.preventDefault();
            var data = $(this).attr('data-id')
            console.log(data)
            {% comment %} $.ajax({
                type:'POST',
                url: "{% host_url 'pbrshippingeditmodalview' host 'prodadmin' %}",
                data: data,
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success:function(data){
                    if(data.error){
                        $.notify({
                            // options
                            message: data.error
                        },{
                            // settings
                            type: 'danger'
                        });
                    }
                    else {
                        $.notify({
                            // options
                            message: 'Price based rate edited'
                        },{
                            // settings
                            type: 'success'
                        });
                        $('#myModals').modal('hide')
                        document.getElementById("pbrshipping-list").innerHTML = data.html_content
                    }
                }
            }); {% endcomment %}
        });

    })
</script>
{% endblock %}