{% load static %}
{% load hosts %}
{% for req in requested %}
    <div class="card">
        <div class="row">
            <div class="col-12">
                {% if req.is_addusertolist %}
                    {% with user=req.user  %}
                        <div class="card-header"><h4>Add User</h4></div>
                        <div class="card-body d-lg-flex justify-content-between text-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="subtitle text-left"><strong>{{user.first_name}} {{ user.last_name }} </strong>{% if req.is_addusertolist %}wants to be added to your client list.{% endif %}</p>
                                </div>
                                <div class="col-12">
                                    <p class="text-left"><strong>Client Email: </strong>{{ user.email }}{% if user.phone %},<strong>Phone:</strong> {{ user.phone }}{% endif %}</p>
                                </div>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary btn-sm accept" data-url="{% host_url 'addRequested' req.id host 'bizadmin' %}">Accept Request</button>
                                <button type="button" class="btn btn-danger btn-sm decline" data-url="{% host_url 'deleteRequested' req.id host 'bizadmin' %}">Decline Request</button>
                            </div>
                                    
                            </div>
                        </div>
                        </div>
                    {% endwith %}
                {% else %}
                    {% with booking=req.booking_request %}
                        <div class="card-header"><h4>Respond to booking request</h4></div>
                        <div class="card-body d-lg-flex justify-content-between">
                            <div class="row">
                            <div class="col-12">
                                <div class="card-header">
                                    <ul class="list-unstyled text-left">
                                        {% with service=booking.service %}
                                            <li class="mb-1"><strong>Booking ID:</strong> {{ booking.slug }}</li>
                                            <li class="mb-1"><strong>Service:</strong> {{ service.name }}</li>
                                            <li class="mb-1"><strong>Staff:</strong> {{ booking.staffmem }}</li>
                                            <li class="mb-1"><strong>Cost:</strong> ${{ booking.price }}</li>
                                            <li class="mb-1">{{ req.booking_request.all }}<strong>Date:</strong> {{ booking.start|date:"D, M d, Y" }}</li>
                                            <li class="mb-1"><strong>Time:</strong> {{ booking.start|date:"g:i A e" }} - {{ booking.end|date:"g:i A e"}}</li>
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ booking.id }}" aria-expanded="true" aria-controls="collapseTwo">
                                            Click for more info
                                        </button>
                                        <div id="collapse{{ booking.id }}" class="collapse">
                                            {% if booking.user %}
                                                {% with cust=booking.user %}
                                                <li class="mb-1"><strong>Customer:</strong> {{ cust.first_name }} {{ cust.last_name }}</li>
                                                <li class="mb-1"><strong>Contact Info:</strong> {{ cust.email }} {{ cust.phone }}</li>
                                                {% endwith %}
                                            {% elif booking.guest %}
                                                {% with cust=booking.guest %}
                                                    <li class="mb-1"><strong>Customer:</strong> {{ cust.first_name }} {{ cust.last_name }}</li>
                                                    <li class="mb-1"><strong>Contact Info</strong></li>
                                                    <li><strong>Email: </strong>{{ cust.email}}</li>
                                                    <li><strong>Phone: </strong>{{ cust.phone }}</li>
                                                {% endwith %}
                                            {% endif %}
                                            
                                            <br>
                                            {% if booking.booking_forms.all %}
                                                <strong>Additional Info</strong>
                                                {% for x in booking.booking_forms.all %}
                                                    <li class="mb-1"><strong>{{ x.label }}:</strong> {{ x.text }}</li>
                                                {% endfor %}
                                                    {% comment %} <li class="mb-1"><strong>{{ extra.label }}:</strong> {{ extra.car_make }}</li>
                                                    <li class="mb-1"><strong>{{ extra.label }}:</strong> {{ extra.car_model }}</li>
                                                    <li class="mb-1"><strong>Vehicle Year:</strong> {{ extra.car_year }}</li> {% endcomment %}
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary btn-sm accept" data-url="{% host_url 'addRequested' req.id host 'bizadmin' %}">Accept</button>
                            <button type="button" class="btn btn-danger btn-sm decline" data-url="{% host_url 'deleteRequested' req.id host 'bizadmin' %}">Decline</button>
                            </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
                
            </div>
        </div>
    </div>
{% empty %}
    <div class="card">
        <div class="card-header">You have no requests yet.</div>
    </div>
{% endfor %}
{% include 'bizadmin/dashboard/reviews/pagination.html' with page=requested%}