{% extends 'bizadmin/index.html' %}
{% load static %}
{% load hosts %}
{% load business_tags %}
{% load crispy_forms_tags %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/calendarmain.css"%}">
    <script src="{% static "js/calendarmain.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock linkscript %}
{% block activecal%}active{%endblock%}
{% block businessadmin %}

<script>
        document.addEventListener('DOMContentLoaded', function(){
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                        return cookieValue;
                }
                function gcd (a, b) {
                    return (b == 0) ? a : gcd (b, a%b);
                }

                function changeBooking(id) {
                    Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-primary',
                            denyButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                        allowOutsideClick: false,
                        title: 'Reschedule service',
                        confirmButtonText: 'Reschedule',
                        showDenyButton: true,
                        denyButtonText: `Nevermind`,
                    });
                }

                function deleteBooking(id){
                    Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-primary',
                            denyButton: 'btn btn-danger',
                        },
                        buttonsStyling: false,
                        allowOutsideClick: false,
                        title: 'Are you sure you want to cancel this appointment?',
                        icon: 'warning',
                        confirmButtonText: 'Yes, Cancel',
                        showDenyButton: true,
                        denyButtonText: `No, I changed my mind`,
                    }).then(function(e){
                        const b_id = id
                        if (e.isConfirmed){
                            const csrftoken = getCookie('csrftoken');
                            
                            $.ajax({
                                type: 'POST',
                                url: '{% host_url "delete_booking" host "bizadmin" %}',
                                data:{booking_id:b_id},
                                headers:{
                                    "X-CSRFToken": csrftoken
                                },
                                success: function(data){
                                    var event = calendar.getEventById(b_id)
                                    event.remove()
                                    Swal.fire({
                                        customClass:{
                                            confirmButton: 'btn btn-primary',
                                            denyButton: 'btn btn-danger',
                                        },
                                        buttonsStyling: false,
                                        icon:'success',
                                        title:'This Booking has successfully been removed from your calendar.',
                                        html: 'We have informed your client about the cancellation.',
                                    });
                                },
                            });
                        }
                        else {
                            Swal.fire({
                                customClass:{
                                    confirmButton: 'btn btn-primary',
                                    denyButton: 'btn btn-danger',
                                },
                                buttonsStyling: false,
                                title:'We left your appointment alone.',
                            });
                        }
                    });
                }

                function showBookingDetail(data, id){
                    Swal.fire({
                        customClass:{
                            confirmButton: 'btn btn-primary',
                            denyButton: 'btn btn-danger',
                            cancelButton: 'btn',
                        },
                        buttonsStyling: false,
                        showDenyButton: true,
                        showConfirmButton: false,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        title: 'Appointment Details',
                        html: data.html_string,
                        confirmButtonText: 'Reschedule Appointment',
                        denyButtonText: `Cancel Booking`,
                        cancelButtonText: `Close`,
                        }).then(function(result){
                            if (result.isConfirmed){
                                changeBooking(id);
                            }
                            if (result.isDenied){
                                deleteBooking(id);
                            }
                        });
                }


                var w = screen.width;
                var h = screen.height;
                var r = gcd (w, h);
                var aspect = (w/r)/(h/r)/0.8

                if (w>768){
                    var rightitems = 'dayGridMonth,listWeek,listDay'
                    var initviewcal = 'dayGridMonth'
                }
                else{
                    var rightitems = 'listWeek,listDay'
                     var initviewcal = 'listWeek'
                }

                var leftitems = 'prev,next today'
                
               

                

                var asprat = aspect
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    eventDisplay: 'list-item',
                    buttonText: {
                        listWeek: 'Week',
                        listDay: 'Day',
                        dayGridMonth: 'Month'
                    },
                    selectable: true,
                aspectRatio: asprat,
                dayMaxEvents: 10,

                events: function(start, successCallback, failureCallback) {
                    
                    $.ajax({
                        url: '{% host_url "ajax_load_events" host "bizadmin" %}',
                        data: {start:start.startStr , end: start.endStr},
                        success: function(data){
                            var events = [];
                            $.map(data, function(r){
                                var servName = 'Click to view service'
                                $.ajax({
                                    url: '{% host_url "ajax_load_servName" host "bizadmin" %}',
                                    data: {service_id:r.service_id},
                                    async: false,
                                    success: function(dat){
                                        servName = dat.servName
                                    },
                                });
                                events.push({
                                    id: r.id,
                                    title: servName,
                                    start: r.start,
                                    end: r.end,
                                    className: 'event-green'
                                });
                            });
                            successCallback(events)
                        }
                    })
                },
                

                eventClick: function(info) {
                    const serv_id = info.event.id
                    $.ajax({
                        type: 'GET',
                        url: '{% host_url "getBookingId" host "bizadmin" %}',
                        data:{booking_id:serv_id},
                        success: function(data){
                            var name ='S'
                            showBookingDetail(data, serv_id)
                        },
                    })
                },
                noEventsClassNames: 'No bookings to display',
                initialView: initviewcal,
                headerToolbar: {
                    center: rightitems,
                    left: 'title',
                    right: leftitems
                },navLinks: true,
                navLinkDayClick: function(date, jsEvent) {
                    //When you click the day
                }
            });
            calendar.render()
        });
    </script>
        <!-- Main page content-->
        
        <div class="content">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                
                <div class="card mx-auto">
                    <div class="card-header">Schedule Manager</div>
                    <div class="card-body">
                        <button type="button" id="addbooking" class="btn btn-primary" data-toggle="modal" data-target="#add-booking" data-backdrop="static" data-keyboard="false" data-url="{% host_url 'add_booking' host 'bizadmin' %}">
                            Add A Booking
                        </button>
                    </div>

                    <div class="card-body">
                        <p>If you want to reschedule or delete a booking, go into the Agenda below, navigate to the date of the booking and click on the booking. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 ml-auto mr-auto">
                <div class="card card-calendar">
                    <div class="card-header">Viewing Stephen's Calendar</div>
                        <div class="card-body">
                            Staff:
                            <nav class="nav nav-borders mt-0">
                                {% for staff in company.staffmembers.all %}
                                    <a class="nav-link my-0 py-0 {% if forloop.counter == 1 %}activate{% endif %}" href="{% host_url 'profile' host 'bizadmin'%}">{{ staff.first_name }} {{ staff.last_name}}</a>
                                {% endfor %}
                            </nav>
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal fade" id="add-booking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content card">
                <div class="modal-header {% if company.darkmode %}text-white{% endif %}">
                    <h5 class="modal-title {% if company.darkmode %}text-white{% endif %}" id="exampleModalLabel">Add your booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form method="POST" action="{% host_url 'add_booking' host 'bizadmin' %}">
                    {% csrf_token %}
                    <div class="form-row" id="addBookingForm">
                        <nav class="nav nav-borders">
                            <a class="nav-link activate bookingform ml-0" href="#">Booking Details</a>
                            <a class="nav-link clientform" href="#">Client Info</a>
                            {% comment %} <a class="nav-link" href="#">Staff Members</a> {% endcomment %}
                        </nav>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ addbooking.service|as_crispy_field }}
                                </div>
                                <div class="col-md-12 form-row">
                                    <div class="col-6">
                                        {{ addbooking.duration_hour|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ addbooking.duration_minute|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    {{ addbooking.price|as_crispy_field }}
                                </div>
                                <div class="col-md-12 form-row">
                                    <div class="col-md-6">
                                        {{ addbooking.datepick|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ addbooking.timepick|as_crispy_field }}
                                    </div>
                                    
                                </div>
                            </div>
                        
                        </div>
                    </div>

                    <div class="form-row d-none" id="ClientInfoForm">
                        <nav class="nav nav-borders">
                            <a class="nav-link bookingform ml-0" href="#">Booking Details</a>
                            <a class="nav-link activate clientform" href="#">Client Info</a>
                            {% comment %} <a class="nav-link" href="#">Staff Members</a> {% endcomment %}
                        </nav>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ addbooking.clients|as_crispy_field }}
                                </div>
                                <hr class="text-white" style="color:white;">
                                <div class="col-md-12 form-row text-center justify-content-center">
                                    <button type="button" class="btn btn-primary btn-addclient">Add a new client</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row d-none" id="ClientDetailForm">
                        <nav class="nav nav-borders">
                            <a class="nav-link bookingform ml-0" href="#">Booking Details</a>
                            <a class="nav-link activate clientform" href="#">Client Info</a>
                            {% comment %} <a class="nav-link" href="#">Staff Members</a> {% endcomment %}
                        </nav>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    {{ addbooking.first_name|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ addbooking.last_name|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ addbooking.email|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ addbooking.phone|as_crispy_field }}
                                </div>
                                <div class="col-md-12 form-row text-center">
                                    <button type="button" class="btn btn-secondary btn-goback">Go Back</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-next">Continue</button>
                        <button type="submit" class="btn btn-primary d-none btnformsub">Add Booking</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
      </div>
      <script>
        $('#id_service').change(function(){
            service_id = $(this).val()
            $.ajax({
                url: '{% host_url "ajax_load_duration" host "bizadmin" %}',
                data: {
                    'service_id': service_id
                },
                success: function(data){
                    $('#id_duration_hour').selectpicker('val', data.hour)
                    $('#id_duration_minute').selectpicker('val', data.mins)
                    $('#id_duration_hour').selectpicker('refresh')
                    $('#id_duration_minute').selectpicker('refresh')
                    $('#id_price').val(data.price)
                }
            });
        });

        $('#id_clients').change(function(){
            client_id = $(this).val()
            $.ajax({
                url: '{% host_url "ajax_load_client" host "bizadmin" %}',
                data: {
                    'client_id': client_id
                },
                success: function(data){
                    $('#id_clients').selectpicker('val','')
                    $('#id_clients').selectpicker('refresh')
                    $('#id_first_name').val(data.first_name)
                    $('#id_last_name').val(data.last_name)
                    $('#id_email').val(data.email)
                    $('#id_phone').val(data.phone)
                    $('#ClientDetailForm').removeClass('d-none');
                    $('#ClientInfoForm').addClass('d-none');
                    $('.btn-next').addClass("d-none");
                    $('.btnformsub').removeClass('d-none');
                }
            });
        });

        $(document).on('click', '.btn-addclient', function () { 
            $('#ClientDetailForm').removeClass('d-none');
            $('#ClientInfoForm').addClass('d-none');
            $('.btn-next').addClass("d-none");
            $('.btnformsub').removeClass('d-none');
            $('#id_first_name').val('')
            $('#id_last_name').val('')
            $('#id_email').val('')
            $('#id_phone').val('')
        });

        $(document).on('click', '.btn-goback', function () { 
            $('#ClientInfoForm').removeClass('d-none');
            $('#addBookingForm').addClass('d-none');
            $('#ClientDetailForm').addClass('d-none');
            $('.btn-next').addClass("d-none");
            $('.btnformsub').removeClass('d-none');
        });

        $(document).on('click', '.clientform', function () { 
            $('#ClientInfoForm').removeClass('d-none');
            $('#addBookingForm').addClass('d-none');
            $('#ClientDetailForm').addClass('d-none');
            $('.btn-next').addClass("d-none");
            $('.btnformsub').removeClass('d-none');
        });
        {% comment %} From booking detail to client selection {% endcomment %}
        $(document).on('click', '.btn-next', function () { 
            $('#ClientInfoForm').removeClass('d-none');
            $('#addBookingForm').addClass('d-none');
            $('#ClientDetailForm').addClass('d-none');
            $('.btn-next').addClass("d-none");
            $('.btnformsub').removeClass('d-none');
        });
        {% comment %}  {% endcomment %}
        $(document).on('click', '.bookingform', function () { 
            $('#ClientInfoForm').addClass('d-none');
            $('#addBookingForm').removeClass('d-none');
            $('#ClientDetailForm').addClass('d-none');
            $('.btn-next').removeClass("d-none");
            $('.btnformsub').addClass('d-none');
        });
        {% if errorshow %}
            $('#add-booking').modal()
        {% endif %}

        $('.datepicker').datetimepicker({
            format: 'MM/DD/YYYY',
            icons: {
                time: "fas fa-clock",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'tim-icons fas fa-arrow-left ',
                next: 'tim-icons fas fa-arrow-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
        $('.timepicker').datetimepicker({
            format: 'LT',
            icons: {
                time: "fas fa-clock",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'tim-icons fas fa-arrow-left',
                next: 'tim-icons fas fa-arrow-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
        {% comment %} 
                events:[
                {% for booking in bookings %}
                    {
                        title: 'Client: {{ booking.user.first_name}} Service: {{ booking.service.name }}',
                        start: '{{ booking.start|date:"Y-m-d" }}'+'T'+'{{ booking.start|date:"H:i:s" }}',
                        end: '{{ booking.end|date:"Y-m-d" }}'+'T'+'{{ booking.end|date:"H:i:s" }}',
                        id: '{{ booking.id }}',
                        className: 'event-green',
                         {% if forloop.counter|divisibleby:"2" %}
                            className: 'event-green',
                        {% elif forloop.counter|divisibleby:"3" %}
                            className: 'event-orange',
                        {% else %}
                            className:'event-red',
                        {% endif %}
                    },
                {% endfor %}
                ], 
                {% endcomment %}

      </script>
{% endblock %}