{% extends 'bizadmin/index.html' %}
{% load static %}
{% load hosts %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/calendarmain.css"%}">
    <script src="{% static "js/calendarmain.js" %}"></script>
{% endblock linkscript %}
{% block activecal%}active{%endblock%}
{% block businessadmin %}
<script>
        document.addEventListener('DOMContentLoaded', function(){
            if (window.innerWidth >= 500 ) {
                var leftitems = 'prev,next today'
                var rightitems = 'dayGridMonth,dayGridWeek,dayGridDay'
                var initviewcal = 'dayGridWeek'
                var asprat = 1
            } else {
                var leftitems = 'prev,next'
                var rightitems = ''
                var initviewcal = 'dayGridDay'
                var asprat = 1/2
                console.log(window.innerWidth)
            }
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                selectable:true,
                aspectRatio: asprat,
                events:[
                {% for booking in bookings %}
                    {
                        title: '{{ booking.service.name }}',
                        start: '{{ booking.start|date:"Y-m-d" }}'+'T'+'{{ booking.start|date:"H:i:s" }}',
                        end: '{{ booking.end|date:"Y-m-d" }}'+'T'+'{{ booking.end|date:"H:i:s" }}',
                    },
                {% endfor %}
                ],

                initialView: initviewcal,
                headerToolbar: {
                    left: leftitems,
                    center: 'title',
                    right: rightitems
                }
            });
            calendar.render()
        });
    </script>
<div id="layoutSidenav_content">
    <main>
        <!-- Main page content-->
        <div class="content">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <header class="page-header page-header-compact page-header-light">
            <div class="container">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title d-flex">
                                Schedule
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <div class="card card-calendar">
              <div class="card-body">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</div>
{% endblock %}