{% extends 'bizadmin/index.html' %}
{% load static %}
{% load hosts %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/calendarmain.css"%}">
    <script src="{% static "js/calendarmain.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock linkscript %}
{% block activecal%}active{%endblock%}
{% block businessadmin %}

<script>
    $('.datetimepicker').datetimepicker({
        format: 'LT',
        icons: {
        time: "fas fa-clock",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'tim-icons icon-minimal-left',
        next: 'tim-icons icon-minimal-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
        }
    });
        document.addEventListener('DOMContentLoaded', function(){
                
                var leftitems = 'prev,next today'
                var rightitems = 'dayGridMonth,dayGridWeek,dayGridDay'
                var initviewcal = 'dayGridWeek'
                var asprat = 2
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    views: {
                        timeGrid: {
                        eventLimit: 2 // adjust to 6 only for timeGridWeek/timeGridDay
                        },
                    },
                    selectable: true,
                    select: function(info) {
                    // on select we show the Sweet Alert modal with an input
                    Swal.fire({
                        title: 'Add a booking',
                        html: '<div class="form-group">' +
                        '<input class="form-control text-default" placeholder="Event Title" id="input-field">' +
                        '</div>',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-primary',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false
                    }).then(function(result) {

                        var eventData;
                        event_title = $('#input-field').val();

                        if (event_title) {
                        eventData = {
                            title: event_title,
                            start: info.startStr,
                            end: info.endStr,
                            className: 'event-azure',
                        };
                            calendar.addEvent(eventData);
                        }
                    });
                },
                aspectRatio: asprat,
                events:[
                {% for booking in bookings %}
                    {
                        title: '{{ booking.service.name }}',
                        desc: '{{ booking.slug }}',
                        start: '{{ booking.start|date:"Y-m-d" }}'+'T'+'{{ booking.start|date:"H:i:s" }}',
                        end: '{{ booking.end|date:"Y-m-d" }}'+'T'+'{{ booking.end|date:"H:i:s" }}',
                        {% if forloop.counter|divisibleby:"2" %}
                            className: 'event-green',
                        {% elif forloop.counter|divisibleby:"3" %}
                            className: 'event-orange',
                        {% else %}
                            className:'event-red',
                        {% endif %}
                        
                    },
                {% endfor %}
                ],
                eventClick: function(info) {
                    alert('Event: ' + info.event.title);
                    Swal.fire({
                        title: info.event.title,
                        html: '<div class="form-group">' +
                        '<input class="form-control text-default" placeholder="Event Title" id="input-field">' +
                        '</div>',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-primary',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false
                    })
                },

                initialView: initviewcal,
                headerToolbar: {
                    center: rightitems,
                    left: 'title',
                    right: leftitems
                }
            });
            calendar.render()
        });
    </script>
        <!-- Main page content-->
        <div class="content">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-calendar">
              <div class="card-body">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}