<div class="card-light p-4">
    <div class="card-header white-content">
        <ul class="list-unstyled text-left">
            {% with service=booking.service %}
            <li class="mb-1"><strong>Date:</strong> {{ booking.start|date:"D, M d,Y" }}</li>
            <li class="mb-1"><strong>Time:</strong> {{ booking.start|date:"P" }}-{{ booking.end|date:"P"}}</li>
            {% with cust=user %}
            <li class="mb-1"><strong>Customer:</strong> {{ cust.first_name }} {{ cust.last_name }}</li>
            <li class="mb-1"><strong>Contact Info:</strong> {{ cust.email }} {{ cust.phone }}</li>
            {% endwith %}
            <br>
            {% if extra %}
                {% for x in extra %}
                    <li class="mb-1"><strong>{{ x.label }}:</strong> {{ x.text }}</li>
                {% endfor %}
                    {% comment %} <li class="mb-1"><strong>{{ extra.label }}:</strong> {{ extra.car_make }}</li>
                    <li class="mb-1"><strong>{{ extra.label }}:</strong> {{ extra.car_model }}</li>
                    <li class="mb-1"><strong>Vehicle Year:</strong> {{ extra.car_year }}</li> {% endcomment %}
                <br>
            {% endif %}
            <li class="mb-1"><strong>Booking ID:</strong> {{ booking.slug }}</li>
            <li class="mb-1"><strong>Service:</strong> {{ service.name }}</li>
            <li class="mb-1"><strong>Cost:</strong> ${{ booking.price }}</li>
            {% endwith %}
        </ul>
        
    </div>
</div>