{% for breakday in staff.staff_breaks.all %}
    {% if breakday.weekday == weekday %}
        <div class="list-group-item">
            <div class="row m-0 align-items-center">
        
                <input type="text" class="breaktimepicker form-control text-center mr-1 updatebreaktime" data-fromto="from" data-staff="{{ staff.id }}" data-breakid="{{ breakday.id }}" style="width:90px" value="{{ breakday.from_hour|time:"H:i A" }}"> to <input type="text" style="width:90px" data-fromto="to" class="breaktimepicker form-control text-center ml-1 updatebreaktime" data-staff="{{ staff.id }}" data-breakid="{{ breakday.id }}" value="{{ breakday.to_hour|time:"H:i A" }}"> 
                {% comment %} <button class="btn btn-icon btn-danger"></button> {% endcomment %}
                <a tabindex="0" id="grabbreak{{ breakday.id }}" data-staff="{{ staff.id }}" data-weekday="{{ day.weekday }}" class="popoverbreaks btn btn-icon btn-danger text-center breakdate" data-breakid="{{ breakday.id }}" role="button" data-toggle="popover" data-trigger="focus" title="Delete?" data-html='true' data-sanitize='false' style="z-index:1 !important;" data-content="Are you sure you want to delete? <button class='btn btn-sm btn-danger removebreak' data-breakid='{{ breakday.id }}' data-staff='{{ staff.id }}' >Delete</button><button class='btn btn-sm'>Cancel</button>"><i class="fas fa-trash" data-breakid="{{ breakday.id }}" data-staff="{{ staff.id }}"></i></a>
                
            </div>
        </div>
    {% endif %}
{% endfor %}