{% extends 'emailSents/account/baseEmail.html' %}

{% block emailcontent %}
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
	<tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td valign="top" class="mcnBoxedTextBlockInner">
                
				<!--[if gte mso 9]>
				<td align="center" valign="top" ">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                    <tbody><tr>
                        
                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                        
                            <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #FFFFFF;border: 1px solid #838383;">
                                <tbody>
                                    <tr>
                                    <td valign="top" class="mcnTextContent" style="padding: 18px;color: #616161;font-family: Helvetica;font-size: 14px;font-weight: normal;line-height: 150%;text-align: center;">
                                        <div style="text-align: left;"><br>
                                        <p>Appointment Request Sent!</p>
                                        <br>
                                        <span style="font-size:14px; color:#616161 !important;">Hello {{ acct.first_name }},</span><br>
                                        <span style="font-size:14px; color:#616161 !important;">You have sent an appointment request to {{ company.business_name }}. You will recieve a confirmation email once your request has been accepted.</span><br>
                                        &nbsp;
                                        <hr><br>
                                        <span style="font-size:14px; color:#616161 !important;">Requested Date: {{ booking.start|date:'D, N j, Y' }}, {{ booking.start|date:'g:i A e' }}</span><br>
                                        <span style="font-size:14px; color:#616161 !important;">Requested Service: {{ service.name }}</span><br>
                                        &nbsp;
                                        <hr><br>
                                        <span style="font-size:14px; color:#616161 !important;">Company Email: {{ company.email }}</span><br>
                                        <span style="font-size:14px; color:#616161 !important;">Company Phone Number: {{ company.phone }}</span><br>
                                        <span style="font-size:14px; color:#616161 !important;">Company Address: {{ company.address }}, {{ company.postal }}, {{ company.city }}, {{ company.state }}</span><br>
                                        <span style="font-size:14px; color:#616161 !important;">Booking ID: {{ booking.slug }}</span><br>

                                        {% if booking.paymentintent %}
                                            <span style="font-size:14px; color:#616161 !important;">Amount on hold: ${{ booking.price_paid }}</span><br>
                                            <p><strong>NOTE:</strong> If the service provider declines your appointment request, you will not be charged.</p>
                                        {% endif %}


                                        &nbsp;
                                        <hr><br>
                                        </div>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
				<!--[if gte mso 9]>
				</td>
				<![endif]-->
                
				<!--[if gte mso 9]>
                </tr>
                </table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="templateFooter"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EEEEEE;">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
{% endblock %}